<?php

$om = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $om->get('Magento\Customer\Model\Session');
if ($customerSession->isLoggedIn()) {
    ?>
    <span class="custLink_btn">
        <i class="fa fa-user"></i>
        My Account <i class="fa fa-angle-down"></i>
    </span>
    <div class="cust-search-cart pull-right">

    </div>

<?php } ?>