<?php

$om = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $om->get('Magento\Customer\Model\Session');
if (!($customerSession->isLoggedIn())) {
    ?>
<ul>
    <li>
        <a href="javascript:void(0)">Sign in as Wholesaler</a>
    </li>
</ul>
<?php } ?>