<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);

?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item" id="imageCol">
            <?php if ($block->hasProductUrl()):?>
                <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"
                   title="<?php //$block->escapeHtml($block->getProductName()) ?>"
                   tabindex="-1"
                   class="product-item-photo">
            <?php else:?>
                <span class="product-item-photo">
            <?php endif;?>
            
            <?php if (is_null($_item->getData('json'))):?>
                <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>

            <?php else:?>
                <div id="imageDiv"></div>
                <?php 
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                ?>
                <img src="<?= $storeManager->getStore()->getBaseUrl().json_decode($_item->getData('json'))->product ?>" alt='prodImg'>

            <?php endif;?>

            <!-- <img src="<?php ?>" alt="img"> -->

            <?php if ($block->hasProductUrl()):?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()):?>
                        <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?= $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>
                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?= /* @escapeNotVerified */ $message['type'] ?>"><div><?= $block->escapeHtml($message['text']) ?></div></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif;?>
            </div>
        </td>

        <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?>
                    </span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                        <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <?= $block->getUnitPriceHtml($_item) ?>
            </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
            <div class="field qty">
                <label class="label" for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                    <span><?= /* @escapeNotVerified */ __('Qty2') ?></span>
                </label>
                <div class="control qty">
                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                           name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                           data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                           value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?= $block->escapeHtml(__('Qty')) ?>"
                           class="input-text qty"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"/>
                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?= $block->getRowTotalHtml($_item) ?>
            <?php endif; ?>
        </td>


        <td class="col json" data-th="<?= $block->escapeHtml(__('Json')) ?>">
            <?php if (!is_null($_item->getData('json'))):?>
            <center>
                <button type="button" id="openModel" class="btn btn-primary">View Details</button>    
            </center>
            <?php endif; ?>
            
            <div id="myModel">

                <table id="detailsTable">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <?php
                        
                        if (!is_null($_item->getData('json'))){
                            jsonToHtmlfirst(json_decode($_item->getData('json')));
                        }
                    ?>
                </table>
                <div id="productImagePopup">
                    <?php if (!is_null($_item->getData('json'))):?>
                    <?php 
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                    ?>
                        <img src="<?php echo $storeManager->getStore()->getBaseUrl().json_decode($_item->getData('json'))->product ?>" alt="product image" width="300" height="300">
                    <?php endif; ?>
                    
                </div>
            </div>
            <script>
                require(
                    [
                        'jquery',
                        'Magento_Ui/js/modal/modal'
                    ],
                    function($,modal) {
                        var options = {
                            type: 'popup',
                            responsive: true,
                            innerScroll: true,
                            title: 'Details of products',
                            buttons: [{
                                text: $.mage.__('Continue'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                }
                            }]
                        };
                        var popup = modal(options, $('#myModel'));
                        $("#openModel").on("click",function(){
                            $('#myModel').modal('openModal');
                        });
                    }
                );
            </script>
        </td>
    </tr>

    <tr class="item-actions">
        <td colspan="100">
            <div class="actions-toolbar">
                <?= $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
    <?php 
        static function jsonToHtmlfirst($arr){
            foreach($arr as $key => $value){
                
                if(is_object($value) || is_array($value)){
                    jsonToHtmlfirst($value);
                }else{
                    if($value != '' && $key != 'product'){
                        echo '<tr>';
                        echo "<td>".$key."</td> <td> ".$value."</td></tr>";
                    }
                }
            }
        }
    ?>
</tbody>

<style type="text/css">
    #myModel{
        text-align: left; 
        width:90%; 
        padding-left: 5%;
    }
    #imageDiv{
        width: 200px;    
    }
    #imageCol{
        padding-right: 0%;
        width: 150px;
    }
    #detailsTable{
        width: 50%;
        float:right;
        font-family: arial, sans-serif;  
        border-collapse: collapse;
        margin-top: 30px;
    }
    #detailsTable td,#detailsTable th {  
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;  
    }
    #detailsTable tr:nth-child(even) { 
        background-color: #dddddd; 
    }
</style>