<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$basePath = $storeManager->getStore()->getBaseUrl();

$fileSystem = $objectManager->create('\Magento\Framework\Filesystem');

$mediaPath = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
        ->getStore()
        ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

// echo $mediaPath;die();
$key_form = $objectManager->get('\Magento\Framework\Data\Form\FormKey');
$form_Key = $key_form->getFormKey(); // this will give you from key

$imagepath = $this->getViewFileUrl('Json_Module::images');

?>







<input type="hidden" name="basePath" id="site_path" value="<?php echo $basePath; ?>" />
<input type="hidden" name="mediaPath" id="media_path" value="<?php echo $mediaPath; ?>" />
<input type="hidden" name="product_id" id="product_id" value="1" />
<input type="hidden" name="design_id" id="design_id" value="0" />

<!--         <div id="theInitialProgress" class="preloader">
            <div class="progressInner">
                <img width="70" height="70" src="<?php echo $basePath; ?>pub/media/tool-data/img/Idesignibuy_loader.gif">
                <p class="theInitialProgress-text">Please wait while shirt configurator is loading....</p>
            </div>
        </div> -->
<section class="tool-section fullHt" ng-app="Shirt" ng-controller="shirtController">

    <div class="left-panel-tool">
        <div class="bhoechie-tab-container clearfix fullHt">
            <div class="bhoechie-tab-menu content mCustomScrollbar">
                <div class="list-group">
                    <a href="javascript:void(0)" class="list-group-item" ng-click="categoryFabClick()">
                        <span class="icons-suit"><img src="<?php echo $mediaPath; ?>tool-data/img/i-con-3.png" alt="suit-icon"/></span>
                        <span>Fabric</span>
                    </a>
                    <!--design data style start-->
                    <a href="javascript:void(0)" class="list-group-item"  ng-repeat="designStyles in designData" ng-click="categoryClick($event, designStyles, $index)">
                        <span class="icons-suit">
                            <i ng-if="designStyles.name != 'Buttons' && designStyles.name != 'Threads'" class="{{designStyles.class}}"></i>
                            <img width="70" ng-if="designStyles.name == 'Buttons' || designStyles.name == 'Threads'"  ng-src="<?php echo $basePath; ?>{{designStyles.img}}">
                        </span>
                        <span>{{designStyles.name}}</span>
                    </a>
                    <!--design data style end-->
                    <!--accent data style start-->
                    <a href="javascript:void(0)" class="list-group-item"  ng-repeat="accentStyles in accentData" ng-click="categoryClick($event, accentStyles, $index)">
                        <span class="icons-suit">
                            <i class="{{accentStyles.class}}"></i>
                        </span>
                        <span>{{accentStyles.name}}</span>
                    </a>
                    <!--accent data style end-->
                    <a href="javascript:void(0)" class="list-group-item" ng-click="categoryFabClick()">
                        <span class="icons-suit">
                            <i class="icon-Add_Monogram"></i>
                        </span>
                        <span>Monogram</span>
                    </a>

                </div>
            </div>

            <div class="bhoechie-tab">
                <!-- fabric section start-->
                <div class="bhoechie-tab-content mCustomScrollbar">

                    <div class="tab-heads clearfix">Fabric
                        <span class="pull-right"><i class="fa fa-angle-left" onclick="removeLeftArrow()"></i></span>
                    </div>
                    <div class="filter-search">
                        <div class="input-group">
                            <input type="search" ng-model="test" id="txt_name" ng-keyup="filterByName(this)" class="form-control" placeholder="Filter fabrics to suit your requirements">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default search-button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>


                    <div class="drops-downs">
                        <ul class="clearfix">
                            <li>
                                <div class="custom-drops">
                                    <!--<label>Patterns</label>-->
                                    <select class="form-control" ng-model="usePatterns[0]">
                                        <option ng-selected="true">Patterns</option>
                                        <option ng-repeat="patterns in patternGroup">{{patterns}}</option>
                                    </select>
                                </div>
                            </li>

                            <li>
                                <div class="custom-drops">
                                    <select class="form-control" ng-model="useMaterials[0]">
                                        <option ng-selected="true">Materials</option>
                                        <option ng-repeat="materials in materialGroup">{{materials}}</option>
                                    </select>
                                </div>
                            </li>

                            <li>
                                <div class="custom-drops">
                                    <select class="form-control" ng-model="useColors[0]">
                                        <option ng-selected="true">Colors</option>
                                        <option ng-repeat="colors in colorGroup">{{colors}}</option>
                                    </select>
                                </div>
                            </li>

                            <li>
                                <div class="custom-drops">
                                    <select class="form-control" ng-model="useCollections[0]">
                                        <option ng-selected="true">Collections</option>
                                        <option ng-repeat="collection in collectionGroup">{{collection}}</option>
                                    </select>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="fabric-grid">
                        <ul class="fabric-list-cont clearfix">
<!-- ng-if="fabricMsg == '' && fabric.parent == 'fabric'" -->
                            <fabricview class="fabric-list clearfix"  ng-if="fabric.parent == 'fabric'" ng-repeat="fabric in fabrics| filter:test"  index="{{$index}}" activeStyle="0" id="{{fabric.id}}" fabricName="{{fabric.name}}" patternName="{{fabric.pattern_parent}}" patternName="{{fabric.material_parent}}" compo="{{fabric.composition}}" data-zoom-image="{{fabric.thumb}}">
                            </fabricview>


                            <li ng-if="fabricMsg != ''">
                                <p style="padding: 10px;">{{fabricMsg}}</p>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- fabric section end-->

                <!-- design style section-->
                <div class="bhoechie-tab-content mCustomScrollbar" ng-repeat="designStyles in designData" id="designSection">
                    <div class="tab-heads clearfix">{{designStyles.name}} <span class="pull-right"><i class="fa fa-angle-left" onclick="removeLeftArrow()"></i></span></div>
                    <div class="selection-lists mCustomScrollbar">
                        <ul>
                            <li class="optiontrigger clearfix"  ng-class="{true: 'activeDesign', false: ''}[style.id == 1]" id="{{style.id}}" style_id="{{style.style_id}}" ng-repeat="style in designStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="designClick($event, style, $index, style.class);" texture="{{style.texture}}">
                                <span class="inl-left">

                                    <i ng-if="style.parent != 'buttons' && style.parent != 'threads'" class="{{style.class}}"></i>
                                    <img width="70" height="70" ng-if="style.parent == 'buttons' || style.parent == 'threads'" ng-src="<?php echo $basePath; ?>{{style.img}}">

                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" id="{{style.id}}" name="featured">
                                    <label for="{{style.id}}">{{style.name}}</label>
                                    <p class="price-cont"><span class="design-price">{{style.price}}</span><span>$</span></p>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- design style section end-->

                <!-- accent sub style section start-->
                <div class="bhoechie-tab-content mCustomScrollbar" ng-repeat="accentStyles in accentData" id="accent{{accentStyles.id}}">
                    <div class="tab-heads clearfix">{{accentStyles.name}} <span class="pull-right"><i class="fa fa-angle-left" onclick="removeLeftArrow()"></i></span></div>
                    <div class="selection-lists mCustomScrollbar">
                        <ul>
                            <li class="optiontrigger clearfix"  ng-class="{true: 'activeDesign', false: ''}[style.id == 1]" id="{{style.id}}"  ng-repeat="style in accentStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="accentClick($event, style, $index, style.class);">
                                <span class="inl-left">

                                    <i class="{{style.class}}"></i>

                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" id="{{style.id}}" name="featured">
                                    <label for="{{style.id}}">{{style.name}}</label>
                                    <p class="price-cont"><span class="design-price">{{style.price}}</span><span>$</span></p>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="fabric-grid collarfabrics"  ng-if="actCat == 'Collar Style Contrast'">
                        <ul class="fabric-list-cont clearfix">
                            <collaraccentview class="fabric-list clearfix" ng-repeat="fabric in fabrics"  index="{{$index}}" activeStyle="0" id="acc-{{fabric.id}}" fabricName="{{fabric.name}}" patternName="{{fabric.pattern_parent}}" materialName="{{fabric.material_parent}}" compo="{{fabric.composition}}" data-zoom-image="{{fabric.thumb}}">
                            </collaraccentview>
                        </ul>
                    </div>
                    <div class="fabric-grid cuffsfabrics"  ng-if="actCat == 'Cuffs Contrast'">
                        <ul class="fabric-list-cont clearfix">
                            <cuffsaccentview class="fabric-list clearfix" ng-repeat="fabric in fabrics"  index="{{$index}}" activeStyle="0" id="acc-{{fabric.id}}" fabricName="{{fabric.name}}" patternName="{{fabric.pattern_parent}}" materialName="{{fabric.material_parent}}" compo="{{fabric.composition}}" data-zoom-image="{{fabric.thumb}}">
                            </cuffsaccentview>
                        </ul>
                    </div>
                    <div class="fabric-grid placketfabrics"  ng-if="actCat == 'Front Placket Contrast'">
                        <ul class="fabric-list-cont clearfix">
                            <placketaccentview class="fabric-list clearfix" ng-repeat="fabric in fabrics"  index="{{$index}}" activeStyle="0" id="acc-{{fabric.id}}" fabricName="{{fabric.name}}" patternName="{{fabric.pattern_parent}}" materialName="{{fabric.material_parent}}" compo="{{fabric.composition}}" data-zoom-image="{{fabric.thumb}}">
                            </placketaccentview>
                        </ul>
                    </div>
                </div>
                <!-- accent sub style section end-->

                <!-- monogram section start-->
                <div class="bhoechie-tab-content mCustomScrollbar" ng-repeat="accentStyles in accentData" id="accent{{accentStyles.id}}">
                    <div class="tab-heads clearfix">Monogram <span class="pull-right">
                            <i class="fa fa-angle-left" onclick="removeLeftArrow()"></i></span>
                    </div>

                    <div class="filter-search">
                        <label>Monogram Text:</label>
                        <div class="input-group text-input-holder">
                            <input type="text" maxlength="5" ng-keyup="onTextKeyUp()" placeholder="Enter your text here" class="form-control text-front">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default search-button" ng-click="clearText()"><i class="fa fa-remove"></i></button>
                            </div>

                        </div>
                    </div>
                    <div class="filter-search">
                        <label>Monogram Placement:</label>
                        <div class="input-group" id="textBoxList">
                            <p ng-repeat="monop in position">
                                <input id="radio-{{monop.name}}" class="radio-custom" name="radio-group" type="radio" onchange="changeTextBox(this)" pos="{{monop.pos}}" fontfamily="{{monop.fontfamily}}" fontsize="{{monop.fontsize}}" fontcolor="{{monop.fontcolor}}" value="front" fontbordercolor="{{monop.fontbordercolor}}" fontborder="{{monop.fontborder}}" org-x="{{monop.orgx}}" org-y="{{monop.orgy}}" x="{{monop.x}}" y="{{monop.y}}" targetrotation="{{monop.targetrotation}}" index="{{monop.index}}">
                                <label for="radio-{{monop.name}}" class="radio-custom-label ng-binding">{{monop.pos}}</label>
                            </p>
                        </div>
                    </div>
                    <div class="filter-search">
                        <label>Monogram Fonts:</label>
                        <div class="drops-downs">
                            <div class="custom-drops">
                                <select class="form-control" id="font-list">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="filter-search">
                        <label>Monogram Colors:</label>
                        <div class="form-group text-color">
                            <div class="color-pickers color-box" id="text-color-box"><a href="javascript:void(0)"><img width="70" src="<?php echo $mediaPath ?>tool-data/img/color-picker.png" alt="color picker"></a></div>
                        </div>
                    </div>
                </div>
                <!-- monogram section end-->

                <!--  seletced styles section -->
                <div class="back-fixed bhoechie-tab-content mCustomScrollbar" >
                    <div class="tab-heads clearfix">Selected Styles <span class="pull-right"><i class="fa fa-angle-left" onclick="removeLeftArrowSel()"></i></span></div>
                    <div class="selection-lists mCustomScrollbar">
                        <ul>
                            <li class="optiontrigger clearfix ng-scope"  id="Fabric">
                                <span class="inl-left">

                                    <img width="70" height="70" src="" class="ng-scope">
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Fabric 028</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="CollarStyle">
                                <span class="inl-left">
                                    <i  class="icon-rounded_collar"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Rounded Collar</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="Cuffs">
                                <span class="inl-left">
                                    <i  class="icon-one_button_cut3"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">1 Button Cut</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="Sleeves">
                                <span class="inl-left">
                                    <i  class="icon-Full_Sleeve"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Long</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="Fit">
                                <span class="inl-left">
                                    <i  class="icon-Slim_Fit"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Waisted</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="buttons">
                                <span class="inl-left">
                                    <img width="70" height="70" src="<?php echo $mediaPath; ?>tool-data/buttons/Beige.png" class="ng-scope">
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Beige</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">10.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="threads">
                                <span class="inl-left">
                                    <img width="70" height="70" src="<?php echo $mediaPath; ?>threads/thumb_01.png" class="ng-scope">
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Beige</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">10.00</span><span>$</span></p>
                                </span>
                            </li>

                            <li class="optiontrigger clearfix ng-scope"  id="Pocket">
                                <span class="inl-left">
                                    <i  class="icon-No_pocket_Icon"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Left flaps</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>

                            <li class="optiontrigger clearfix ng-scope"  id="Plackets">
                                <span class="inl-left">
                                    <i class="icon-Standard_Placket"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Standard</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="Pleats">
                                <span class="inl-left">
                                    <i  class="icon-No_Pleats1"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">No Pleats</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope"  id="Bottom">
                                <span class="inl-left">
                                    <i  class="icon-Tailed"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">Tail</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope" innerInd="23" outerInd="24" id="CollarStyleContrast">
                                <span class="inl-left">
                                    <i  class="icon-By_Default"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">By Default</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope" innerIndLeft="29" innerIndRight="30" outerIndLeft="27" outerIndRight="28" id="CuffsContrast">
                                <span class="inl-left">
                                    <i  class="icon-By_Default2"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">By Default</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                            <li class="optiontrigger clearfix ng-scope" innerInd="6" outerInd="8" id="FrontPlacketContrast">
                                <span class="inl-left">
                                    <i  class="icon-Default"></i>
                                </span>
                                <span class="custom_radio inl-right">
                                    <input type="radio" name="featured">
                                    <label class="ng-binding">By Default</label>
                                    <p class="price-cont"><span class="sel-style-price ng-binding">5.00</span><span>$</span></p>
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- end -->
            </div>
        </div>
    </div>

    <div class="tool-work-area fullHt">
        <!--<div class="tool-work-area">-->
        <div class="suit-preloader" style="position:absolute;text-align: center;width: 100%;top:0px">
            <div class="suit-preloader-inner">
                <img width="50" height="50" src="<?php echo $mediaPath; ?>tool-data/img/Idesignibuy_loader.gif">
            </div>
        </div>

        <div class="tool-customization-area">
            <img id="zoomLensView" data-zoom-image="<?php echo $basePath; ?>zoom.png" src="<?php echo $mediaPath; ?>tool-data/img/customized-images/1529481526.png" style="position: absolute"/>

            <div id="canvasHolder">
                <div class="drag-to-rotate">
                    <a href="javascript:void(0);" class="drag-rotate">Drag To Rotate</a>
                </div>
            </div>
        </div>
    </div>
    <div class="view-menus"><i class="fa fa-bars"></i></div>
    <div class="right-panel">
        <!--<ul class="view-thumb">
            <li><a href="javascript:void(0)" view = "front" class="active" ng-click="changeView($event)" title="Front View"><img src="<?php //echo $basePath;  ?>tool-data/img/Front.png" alt="thumb"/></a></li>
            <li><a href="javascript:void(0)" view = "back" ng-click="changeView($event)" title="Back View"><img src="<?php //echo $basePath;  ?>tool-data/img/Back.png" alt="thumb"/></a></li>
           <li><a href="javascript:void(0)" view = "cuffs" ng-click="changeView($event)" title="Cuff View"><img src="<?php //echo $basePath;  ?>tool-data/img/Cuffs.png" alt="thumb"/></a></li>
            <li><a href="javascript:void(0)" view = "collar" ng-click="changeView($event)" title="Collar View"><img src="<?php //echo $basePath;  ?>tool-data/img/Collar.png" alt="thumb"/></a></li>
        </ul>-->
        <ul class="rotad-thumb" style="padding:40px 0;">

            <li ng-click="toggleLensZoomTrue()" class="zoom-controls" ng-if="isZoomIn" ><a href="javascript:void(0)" title="Zoom Lens"><i class="fa fa-search-plus"></i> </a></li>
            <li ng-click="toggleLensZoomFalse()" class="zoom-controls"  ng-if="!isZoomIn"><a href="javascript:void(0)" title="Zoom Lens"><i class="fa fa-search-minus"></i> </a></li>
            <li><a href="javascript:void(0)" class="zoom-controlsFull" ng-click="showZoom()" title="Zoom"><i class="fa fa-arrows-alt"></i> </a></li>
            <li onclick="addToCart()"><a href="javascript:void(0)" title="Add design to cart"><i class="fa fa-shopping-cart"></i> </a></li>
            <li onclick="shareDesign()"><a href="javascript:void(0)" title="Share your design"><i class="fa fa-share-alt"></i> </a></li>
            <li><p><span id="finalPrice">70</span> <span>$</span></p></li>
        </ul>
    </div>

    <div class="fabric-detailed-block">
        <div class="closing-block cl" ng-click="hideFabricZoom()"><i class="fa fa-close"></i></div>
        <div class="fabric-details clearfix">
            <div class="fab-details">
                <h3 id="fabricName">Philip Black</h3>
                <p id="fabDescrip">The fabrics in the Philip series have rather thick threads. The material is thus both elegant and durable.</p>
            </div>
            <div class="fab-details-sub">
                <p><b>Pattern:</b> <span id="patternName"> Micro Design </span> </p>
                <p>
                    <b>Material:</b>
                    <span id="materialName">
                        Luxury Wool
                    </span>
                </p>
                <p><b>Composition:</b> <span id="compo">50% wool, 50% polyester</span> </p>
            </div>
        </div>
    </div>
    <div class="fullview-container mCustomScrollbar ">
        <div class="closing-block cl" ng-click="hideFabricZoom()" style="position:fixed"><i class="fa fa-close"></i></div>
        <div id="canvasHolderZoom" >
            <div class="drag-to-rotateZoom">
                <a href="javascript:void(0);" class="drag-rotateZoom">Drag To Rotate</a>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="share-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title tool_label_Share_design" id="myModalLabel">Share design</h4>
            </div>
            <div class="modal-body cust-mbody social-shares">
                <ul class="clearfix yl-radio">
                    <li>
                        <input name="radio" id="facebook-share-btn" type="radio" value="facebook" checked="">
                        <label for="facebook-share-btn">Facebook</label>
                    </li>
                    <li>
                        <input name="radio" id="twitter-share-btn" type="radio" value="twitter">
                        <label for="twitter-share-btn">Twitter</label>
                    </li>
                    <li>
                        <input name="radio" id="instagram-share-btn" type="radio" value="instagram">
                        <label for="instagram-share-btn">Instagram</label>
                    </li>
                    <li>
                        <input name="radio" id="gplus-share-btn" type="radio" value="google">
                        <label for="gplus-share-btn">Google+</label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer cust-mfooter">
                <button type="button" class="btn tool_label_cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn tool_label_share" onclick="shareCustomizedDesign()">Share</button>
            </div>
        </div>
    </div>
</div>


<canvas id="canvas" style="display: none" width="1024" height="1024"></canvas>

<script type="text/javascript" src="<?php echo $mediaPath; ?>tool-data/js/pipl-library/jquery.js"></script>


<script type="text/javascript">
                    jQuery.noConflict();
                    require(['three'], function(THREE) {

                        window.THREE = THREE;
                        return THREE;
                    });
</script>


<script>
    function removejscssfile(filename, filetype) {
        var targetelement = (filetype == "js") ? "script" : (filetype == "css") ? "link" : "none" //determine element type to create nodelist from
        var targetattr = (filetype == "js") ? "src" : (filetype == "css") ? "href" : "none" //determine corresponding attribute to test for
        var allsuspects = document.getElementsByTagName(targetelement)
        for (var i = allsuspects.length; i >= 0; i--) { //search backwards within nodelist for matching elements to remove
            if (allsuspects[i] && allsuspects[i].getAttribute(targetattr) != null && allsuspects[i].getAttribute(targetattr).indexOf(filename) != -1)
                allsuspects[i].parentNode.removeChild(allsuspects[i]) //remove element by calling parentNode.removeChild()
        }
    }


    function loadJsFiles() {

        var arrJsFiles = [
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/BinaryLoader.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/Detector.js',
//            '<?php // echo $mediaPath;  ?>tool-data/js/pipl-library/dynamic_texture.js',

            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/jquery.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/jquery.elevatezoom.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/jquery-ui.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/bootstrap.min.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/sweetalert.min.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/fabric-1.7.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/wow.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/spectrum.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/device.min.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/jquery.mCustomScrollbar.concat.min.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/angular.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/angular.min.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/angular-route.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/angular-animate.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_app.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_controller.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_directive.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_factory.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_measurement.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_shirt.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_text.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-js/pipl_share.js',
            '<?php echo $mediaPath; ?>tool-data/js/pipl-library/custom.js'



        ];
        jQuery(arrJsFiles).each(function(indx, ele) {
            var strToappend = '<script type="text/javascript" src="' + ele + '"><' + '/script>';
            jQuery("body").append(strToappend);
        });
    }

    jQuery(document).ready(function() {

        setTimeout(function() {
            require(['three'], function(THREE) {

                loadJsFiles();
            });

        }, 500);
    });
</script>  





   <!--  <script type="text/javascript">
        //require([
            // 'jquery',
            // 'three',
            // 'BinaryLoader',
            // 'Detector',
            // 'dynamic_texture',
            // 'pipl_shirt',
            // 'pipl_text'
            // 'pipl_share',
            // 'jquery',
            // 'jquery.elevatezoom',
            // 'jquery-ui',
            // 'bootstrap.min',
            // 'sweetalert.min',
            // 'fabric-1.7',
            // 'wow',
            // 'spectrum',
            // 'device.min',
            // 'jquery.mCustomScrollbar.concat.min',
            // 'custom',
            // 'angular',
            // 'angular-route',
            // 'angular-animate',
            // 'pipl_app',
            // 'pipl_directive',
            // 'pipl_controller',
            // 'pipl_factory',
            // 'pipl_measurement'
        ]);
    </script> -->