<?php 
$_item = $block->getItem();

$item_id = $_item->getId();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);


$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);

if($_item->getData('json')!=""){
    $data_array = json_decode($_item->getData('json'));
}else{
    $data_array = array();
}



?>

        <?php if(!is_null($_item->getData('json')) && !array_key_exists("rtw_measurement",$data_array))
        {
        ?>
          <center>
              <button type="button" id="openModel<?php echo $item_id; ?>" data-id="<?php echo $item_id; ?>" data-baseUrl='<?php echo $baseUrl; ?>' class="btn myModel btn-primary">View Details</button>
          </center>


      <?php } ?>

          <?php if (!is_null($_item->getData('json')) && array_key_exists("rtw_measurement",$data_array)):?>
              <button type="button" id="openModel<?php echo $item_id; ?>" data-id="<?php echo $item_id; ?>" data-baseUrl='<?php echo $baseUrl; ?>' class="btn myModelrtw btn-primary">View Details</button>
          <?php endif; ?>



