@font-face {
  font-family: 'icomoon';
  src:  url('../fonts-ico/icomoon.eot?aoeawz');
  src:  url('../fonts-ico/icomoon.eot?aoeawz#iefix') format('embedded-opentype'),
    url('../fonts-ico/icomoon.ttf?aoeawz') format('truetype'),
    url('../fonts-ico/icomoon.woff?aoeawz') format('woff'),
    url('../fonts-ico/icomoon.svg?aoeawz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows:before {
  content: "\e900";
}
.icon-arrows-1:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e902";
}
.icon-clothes:before {
  content: "\e903";
}
.icon-fabric:before {
  content: "\e904";
}
.icon-send:before {
  content: "\e905";
}
.icon-shopping-bag:before {
  content: "\e906";
}
.icon-Rating:before {
  content: "\e907";
}
.icon-tool:before {
  content: "\e908";
}

