@font-face {
  font-family: 'shirt';
  src:  url('fonts/shirt.eot?11mb39');
  src:  url('fonts/shirt.eot?11mb39#iefix') format('embedded-opentype'),
    url('fonts/shirt.ttf?11mb39') format('truetype'),
    url('fonts/shirt.woff?11mb39') format('woff'),
    url('fonts/shirt.svg?11mb39#shirt') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shirt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Rollup:before {
  content: "\e900";
  color: #636363;
}
.icon-Add_Monogram:before {
  content: "\e901";
}
.icon-Oruter:before {
  content: "\e902";
  color: #636363;
}
.icon-Inner:before {
  content: "\e903";
  color: #636363;
}
.icon-Collar_Contrast_Main_Icon:before {
  content: "\e904";
  color: #636363;
}
.icon-All:before {
  content: "\e905";
  color: #636363;
}
.icon-By_Default:before {
  content: "\e906";
  color: #636363;
}
.icon-Cuff_Contrast_Main_Icon:before {
  content: "\e907";
  color: #636363;
}
.icon-All2:before {
  content: "\e908";
  color: #636363;
}
.icon-Outer:before {
  content: "\e909";
  color: #636363;
}
.icon-Inner2:before {
  content: "\e90a";
  color: #636363;
}
.icon-By_Default2:before {
  content: "\e90b";
  color: #636363;
}
.icon-No:before {
  content: "\e90c";
  color: #636363;
}
.icon-Main_Icon:before {
  content: "\e90d";
  color: #636363;
}
.icon-Yes:before {
  content: "\e90e";
  color: #636363;
}
.icon-outer:before {
  content: "\e90f";
  color: #636363;
}
.icon-inner:before {
  content: "\e910";
  color: #636363;
}
.icon-Default:before {
  content: "\e911";
  color: #636363;
}
.icon-Front_Placket_Contrast_Main_Icon:before {
  content: "\e912";
  color: #636363;
}
.icon-All3:before {
  content: "\e913";
  color: #636363;
}
.icon-Main_Icon2:before {
  content: "\e914";
  color: #636363;
}
.icon-With_Elbow_Patch:before {
  content: "\e915";
  color: #636363;
}
.icon-Without_Elbow_Patch:before {
  content: "\e916";
  color: #636363;
}
.icon-All4:before {
  content: "\e917";
  color: #636363;
}
.icon-Only_placket:before {
  content: "\e918";
  color: #636363;
}
.icon-Cuff_only:before {
  content: "\e919";
  color: #636363;
}
.icon-By_Default3:before {
  content: "\e91a";
  color: #636363;
}
.icon-Thread_Main_Icon:before {
  content: "\e91b";
  color: #636363;
}
.icon-down:before {
  content: "\e91c";
  color: #636363;
}
.icon-up:before {
  content: "\e91d";
  color: #636363;
}
.icon-minus-01:before {
  content: "\e91e";
  color: #636363;
}
.icon-Jeans:before {
  content: "\e91f";
  color: #636363;
}
.icon-Hide_Tie:before {
  content: "\e920";
  color: #636363;
}
.icon-Show_Tie:before {
  content: "\e921";
  color: #636363;
}
.icon-Casual_View:before {
  content: "\e922";
  color: #636363;
}
.icon-Formal_Pant:before {
  content: "\e923";
  color: #636363;
}
.icon-Zoom_In:before {
  content: "\e924";
  color: #636363;
}
.icon-Back:before {
  content: "\e925";
  color: #636363;
}
.icon-Plus:before {
  content: "\e926";
  color: #636363;
}
.icon-Fabric:before {
  content: "\e927";
  color: #636363;
}
.icon-Okeo-tek:before {
  content: "\e928";
  color: #636363;
}
.icon-Wrinkle_free_merged:before {
  content: "\e929";
  color: #636363;
}
.icon-Easy_care:before {
  content: "\e92a";
  color: #636363;
}
.icon-ply:before {
  content: "\e92b";
  color: #636363;
}
.icon-Winter:before {
  content: "\e92c";
  color: #636363;
}
.icon-Limited-Edition:before {
  content: "\e92d";
  color: #636363;
}
.icon-Info:before {
  content: "\e92e";
  color: #636363;
}
.icon-Basic:before {
  content: "\e92f";
  color: #636363;
}
.icon-Faves:before {
  content: "\e930";
  color: #636363;
}
.icon-Filter:before {
  content: "\e931";
  color: #636363;
}
.icon-Premium:before {
  content: "\e932";
  color: #636363;
}
.icon-All_Fabrics:before {
  content: "\e933";
  color: #636363;
}
.icon-New:before {
  content: "\e934";
  color: #636363;
}
.icon-Accent:before {
  content: "\e935";
  color: #636363;
}
.icon-Style:before {
  content: "\e936";
  color: #636363;
}
.icon-Fabric2:before {
  content: "\e937";
  color: #636363;
}
.icon-Sleeve_Main_Icon:before {
  content: "\e938";
  color: #636363;
}
.icon-Full_Sleeve:before {
  content: "\e939";
  color: #636363;
}
.icon-Half_Sleeves:before {
  content: "\e93a";
  color: #636363;
}
.icon-Side_Darts4:before {
  content: "\e93b";
  color: #636363;
}
.icon-Side_Folds3:before {
  content: "\e93c";
  color: #636363;
}
.icon-No_Pleats1:before {
  content: "\e93d";
  color: #636363;
}
.icon-Pleats_Main_Icon:before {
  content: "\e93e";
  color: #636363;
}
.icon-Box_Pleats2:before {
  content: "\e93f";
  color: #636363;
}
.icon-Bottom_Main_Icon:before {
  content: "\e940";
  color: #636363;
}
.icon-Squared:before {
  content: "\e941";
  color: #636363;
}
.icon-Tailed:before {
  content: "\e942";
  color: #636363;
}
.icon-Hidden_Button_Placket:before {
  content: "\e943";
  color: #636363;
}
.icon-French_Placket:before {
  content: "\e944";
  color: #636363;
}
.icon-Standard_Placket:before {
  content: "\e945";
  color: #636363;
}
.icon-Placket_Main_Icon:before {
  content: "\e946";
  color: #636363;
}
.icon-Loose_Fit:before {
  content: "\e947";
  color: #636363;
}
.icon-Fit_Main_Icon:before {
  content: "\e948";
  color: #636363;
}
.icon-Slim_Fit:before {
  content: "\e949";
  color: #636363;
}
.icon-rounded_collar:before {
  content: "\e94a";
  color: #636363;
}
.icon-Wide_Cutaway:before {
  content: "\e94b";
  color: #636363;
}
.icon-Wing_Collar:before {
  content: "\e94c";
  color: #636363;
}
.icon-Standup_Collar:before {
  content: "\e94d";
  color: #636363;
}
.icon-Short_Classic:before {
  content: "\e94e";
  color: #636363;
}
.icon-Pinned_Collar:before {
  content: "\e94f";
  color: #636363;
}
.icon-Long_Collar:before {
  content: "\e950";
  color: #636363;
}
.icon-Collar_Main_Icon:before {
  content: "\e951";
  color: #636363;
}
.icon-Kent_Collar:before {
  content: "\e952";
  color: #636363;
}
.icon-Cutaway:before {
  content: "\e953";
  color: #636363;
}
.icon-button_down:before {
  content: "\e954";
  color: #636363;
}
.icon-French_Double_Cut:before {
  content: "\e955";
  color: #636363;
}
.icon-French_Cut:before {
  content: "\e956";
  color: #636363;
}
.icon-Narrow_cuff11:before {
  content: "\e957";
  color: #636363;
}
.icon-double_rounded_french1:before {
  content: "\e958";
  color: #636363;
}
.icon-rounded_french6:before {
  content: "\e959";
  color: #636363;
}
.icon-squared_french9:before {
  content: "\e95a";
  color: #636363;
}
.icon-double_squared_french2:before {
  content: "\e95b";
  color: #636363;
}
.icon-Cuff_Main_Icon:before {
  content: "\e95c";
  color: #636363;
}
.icon-one_button_straight7:before {
  content: "\e95d";
  color: #636363;
}
.icon-two_button_straight8:before {
  content: "\e95e";
  color: #636363;
}
.icon-one_button_cut3:before {
  content: "\e95f";
  color: #636363;
}
.icon-two_button_cut10:before {
  content: "\e960";
  color: #636363;
}
.icon-one_button_rounded4:before {
  content: "\e961";
  color: #636363;
}
.icon-two_button_rounded5:before {
  content: "\e962";
  color: #636363;
}
.icon-flap_pocket_x2:before {
  content: "\e963";
  color: #636363;
}
.icon-left_flap_pocket:before {
  content: "\e964";
  color: #636363;
}
.icon-right_flap_pocket:before {
  content: "\e965";
  color: #636363;
}
.icon-No_pocket_Icon:before {
  content: "\e966";
  color: #636363;
}
.icon-Withoutflap_Pocket_Right:before {
  content: "\e967";
  color: #636363;
}
.icon-Withoutflap_Pocket_Left:before {
  content: "\e968";
  color: #636363;
}
.icon-Withoutflap_Pocket_x2:before {
  content: "\e969";
  color: #636363;
}
