@font-face {
  font-family: 'icon-womens_DB';
  src:  url('fonts/icon-womens_DB.eot?60cez3');
  src:  url('fonts/icon-womens_DB.eot?60cez3#iefix') format('embedded-opentype'),
    url('fonts/icon-womens_DB.ttf?60cez3') format('truetype'),
    url('fonts/icon-womens_DB.woff?60cez3') format('woff'),
    url('fonts/icon-womens_DB.svg?60cez3#icon-womens_DB') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-womens_DB' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-womens_db_jacket-01:before {
  content: "\e900";
  color: #636363;
}
.icon-Womens_de_vest:before {
  content: "\e901";
  color: #636363;
}
.icon-no_filter:before {
  content: "\e9000";
  color: #636363;
}
