@charset "utf-8";
@media screen and (min-width : 1400px) {
	.right-acordian-navigation {
		width:450px;
	}
	.socks-style-ul ul li {
		width: 88px;
	}
	.tool-work-area {
	}
	.tool-customization-area img {
		height:100%;
	}
	.tool-sec {
		right: 450px;
	}
	.right-sub-nav {
		right: 450px;
	}
}
@media screen and (max-width : 1280px) {
}
@media screen and (min-width : 992px) and (max-width : 1199px) {
	.right-acordian-navigation {
		width:350px;
	}
	.tool-work-area {
		right:350px;
		left:20px;
	}
	.cart-action-details {
	}
	.tool-sec {
		right: 350px;
	}
}
@media screen and (min-width : 768px) and (max-width : 991px) {
	/*.tool-work-area {
		left: 0;
		right: 300px;
		width: auto !important;
	}*/
	.tool-work-area {
	  height: 100% !important;
	  width: 100% !important;
	}
	.tool-customization-area canvas {
		width: 100%  !important;
		height:  auto !important;
	}
}
@media screen and (max-width : 767px) {
	.right-acordian-navigation {
		width: 100%;
		right: -100%;
		padding-bottom: 70px;
	}
	.right-pannels-open .custom-control{
		right:0;
	}
	.custom-control {
	    width: 100%;
	    right:-100%;
	        transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
	}
    .right-acordian-navigation {
        bottom: 0;
        overflow: auto;
        position: fixed;
        display: block;
		z-index:501;
    }
    .right-acordian-navigation .fullHt {
        min-height: auto !important;
    }
    .logo {
        left: 10px;
    }
    .logo a img {
        width: 130px;
    }
	body {
		overflow: hidden;
	}
	.right-sub-nav {
		display: none;
	}
	.tool-work-area {
		width: 100% !important;
		right: 0;
		left: 0;
	}
	.tool-sec {
		right: 0;
	}
	.responsive-buttonse {
		display: block;
		z-index:502;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	.right-acordian-navigation {
		right: -100%;
	}
	.tool-customization-area canvas {
		width: 75%  !important;
		height:  auto !important;
	}
	.right-pannels-open .right-acordian-navigation {
		right: 0px;
	}
	.right-pannels-open .responsive-buttonse {
		right: 0px;
	}
	.stc-wrapte {
		overflow: auto;
    	white-space: nowrap;
	}
	.socks-style-ul ul li {
		float: left !important;
		width: 33.33% !important;
		margin:0 !important;
	}
	.logo {
		left: 30px;
	}
	.scrolls {
		display: block;
	}
	.right-sub-nav {
		visibility: hidden;
		opacity: 0;
	}
	.right-pannels-open .right-sub-nav {
		visibility: visible;
		opacity: 1;
	}
	.tool-customization-area {
	  height: auto;
	  left: 0;
	  margin: 0 auto;
	  right: 0;
	  text-align: center;
	  top: 50%;
	  /* transform: translateY(-50%); */
	  width: auto;
	  margin-top: -50%;
	}
	.right-acordian-navigation .custom-control {
	  /* display: none; */
	}
	.cart-action-details {
	  padding: 5px 15px;
	}
	.cart-info-details h1 {
	  font-size: 20px !important;
	}
	.cart-info-details h2 {
	  font-size: 16px !important;
	}
	a.drag-rotate {
	  font-size: 12px;
	  padding: 8px 16px;
	}
	#clipDataHolder li{
		border:none;
	}
	#clipDataHolder li svg {
	    width: 100%;
	    border: 1px solid #afafaf;
	}
}
@media screen and (max-width : 480px) {
	.progressInner {
		font-size:16px;
		padding: 0px 25px;
	}
	body {
		font-size: 14px;
	}
	.cart-info-details h1 {
		font-size: 24px;
	}
	.tool-customization-area canvas {
		width: 100% !important;
	}
	.cart-info-details h2 {
		font-size: 20px;
	}
	.heading-text {
		padding: 10px 15px;
	}
        .logo a img {
            width: 100px;
        }
}
@media screen and (max-width : 400px) {
	.responsive-buttonse {
		opacity: 0.5;
	}
	.responsive-buttonse:hover {
		opacity: 1;
	}
	.right-pannels-open .responsive-buttonse {
		right: 0;
	}
}
.bag-tooltip{
	position:relative;
}
.bag-tooltip:after{
	content:attr(data-title);
	position:absolute;
	bottom:0;
	left:50%;
	min-width:110px;
	margin-left:-55px;
	background:#c51230;
	color:#fff;
	font-size:14px;
	padding:7px;
	text-transform:uppercase;
	margin-bottom:10px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	opacity:0;
	transition:0.30s;
	-ms-transition:0.40s;
	-moz-transition:0.40s;
	-webkit-transition:0.40s;
	visibility:hidden;
	font-weight:700;
	box-shadow:3px 3px 0 #b71c1c;
	-moz-box-shadow:3px 3px 0 #b71c1c;
	-webkit-box-shadow:3px 3px 0 #b71c1c;
}
.bag-tooltip:before{
	border-top:10px solid #c51230;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	content:"";
	position:absolute;
	bottom:0;
	margin-top:-10px;
	left:50%;
	margin-left:-5px;
	opacity:0;
	transition:0.30s;
	-ms-transition:0.40s;
	-moz-transition:0.40s;
	-webkit-transition:0.40s;
	visibility:hidden;
	z-index:10;
}
.bag-tooltip:hover:before,
.bag-tooltip:hover:after{
	opacity:1;
	visibility:visible;
	bottom:100%;
}

.custom_radio{
	margin:10px 0;
}
.custom_radio label {
	font-weight:300;
	margin-bottom:15px;
	font-size:15px;
}
.custom_radio input[type="radio"]{
  display: none;
}
.custom_radio input[type="radio"] + label{
  position: relative;
  display: block;
  padding-left: 1.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom_radio input[type="radio"] + label:before,
.custom_radio input[type="radio"] + label:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.custom_radio input[type="radio"] + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #777;
}
.custom_radio input[type="radio"] + label:hover:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c51230;
}
.custom_radio input[type="radio"]:checked + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #c51230;
}


.custom_radio input[type="checkbox"]{
  display: none;
}
.custom_radio input[type="checkbox"] + label{
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom_radio input[type="checkbox"] + label:before,
.custom_radio input[type="checkbox"] + label:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 0%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.custom_radio input[type="checkbox"] + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #eee;
}
.custom_radio input[type="checkbox"] + label:hover:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c51230;
}
.custom_radio input[type="checkbox"]:checked + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #c51230;
}


#ballsWaveG{
	position:relative;
	width:125px;
	height:29px;
	margin:auto;
}

.ballsWaveG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:16px;
	height:16px;
	animation-name:ballsWaveG;
		-o-animation-name:ballsWaveG;
		-ms-animation-name:ballsWaveG;
		-webkit-animation-name:ballsWaveG;
		-moz-animation-name:ballsWaveG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:8px;
		-o-border-radius:8px;
		-ms-border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
}

#ballsWaveG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#ballsWaveG_2{
	left:16px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#ballsWaveG_3{
	left:31px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#ballsWaveG_4{
	left:47px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#ballsWaveG_5{
	left:62px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#ballsWaveG_6{
	left:78px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#ballsWaveG_7{
	left:94px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#ballsWaveG_8{
	left:109px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}