body {
    font-family: 'Montserrat', sans-serif;
    height: auto !important;
    font-weight:300;
    font-size:16px;

}
/*.activeClass{

    border: 1px solid #c51230;
}*/
#socks-style .activeClass img {
    border: 2px solid #c51230;
}
a:focus, .btn:focus {
    outline: none;
    outline-offset: 0px;
}
ul {
    padding:0px;
    margin:0px;
}
a:hover, a:focus {
    text-decoration: none;
}
header:after,
header:before{
    display:table;
    content:"";
}
header:after{
    clear:both;
}
header{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:500;

}
header ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
header ul li{
    display:inline-block;
    position:relative;
}
.loader {
    display: block;
    margin: auto;
    padding: 0;
    position: relative;
    text-align: center;
    top: 265px;
    width: 100%;
    z-index: 1;
}

header ul li a{
    padding:10px 15px;
    display:block;
    line-height:30px;
    color:#777;
    font-size:14px;
    text-transform:uppercase;
    font-weight:500;

    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
header ul li a:hover, header ul li a:focus, header ul li.active a:focus {
    color:#c51230;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
    text-decoration:none;
}
header ul li a span{
    display:inline-block;
    vertical-align:middle;
}
header ul li a span img{
    width:25px;
}
header .pull-right li a span{
    margin:0;
}
header .pull-right li a{
    border-right:none;
    border-left:1px solid #ddd;
}
.logo {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 500;
}
.logo{
    float: left;
}
.logo a {
    display: block;
}
.logo a img {
    width: 150px;
}

.stc-wrapte {
    overflow: auto;
    white-space: nowrap;
}
.responsive-buttonse {
    position: fixed;
    top: 5px;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 5px 0 0 5px;
    background: #C51230;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    z-index: 102;
    display: none;
    cursor: pointer;
    border: 2px solid #ededed;
    border-right: none;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.responsive-buttonse span {
    position: absolute;
    left: 25%;
    top: 50%;
    height: 2px;
    width: 50%;
    background: #fff;
    display: block;
    margin-top:-1px; 
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.responsive-buttonse span:after, .responsive-buttonse span:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.responsive-buttonse span:after {
    top: -8px;
}
.responsive-buttonse span:before {
    bottom: -8px;
}
.right-pannels-this.responsive-buttonse span {
    width: 0px;
}
.right-pannels-this.responsive-buttonse span:after {
    transform: rotate(-45deg);-o-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
    top: 0;
    width: 20px;
}
.right-pannels-this.responsive-buttonse span:before {
    transform: rotate(45deg);-o-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);
    bottom: 0;
    width: 20px;
}
/*-----------TOOL----------*/
/*--------------------------------WORK AREA--------------------------------*/
.tool-sec {
    position:fixed;
    left: 0;
    right: 350px;
    background: #F8F6F7;
    background: url(../img/bg/bg_image.jpg);
    background-size: cover;
    background-position: center center /*background: #F8F6F7;*/;
}
.right-acordian-navigation {
    position:absolute;
    right:0;
    top:0;
    width:350px;
    padding-bottom: 65px;
    box-shadow:0 0 10px #777;
    background: #F8F6F7;
    z-index: 101;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.tool-customization-area {
    text-align:center;
    /*  padding:50px 0 0;*/
    height:100%;
}
.tool-customization-area img {
    height:100%;
    position:relative;
    z-index:10;
}
.cart-info-details{
    color: #fff;
}
.cart-info-details h1 {
    font-size:28px;
    color:#fff;
    margin:0;
    font-weight:300;
    text-transform:uppercase;
}
.cart-action-details {
    text-align:left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
}
.cart-info-details h1 span {
    font-weight:bold;
    color:#fff;
}
.cart-info-details h6 {
    margin:5px 0;
    font-size:14px;
    font-weight: 400;
}
.cart-info-details h2 {
    margin:0;
    font-size:24px;
}
/*.tool-work-area {
    position:relative;
    border-radius:15px;
    height:100%;
    margin: 0px auto 0;
}*/
.tool-work-area {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    /* transform: translateY(-300px); */
}
.right-sub-nav {
    position:fixed;
    right:350px;
    top:0;
    padding:15px 30px 15px 15px;
    z-index:2;
    width:250px;
    text-align:right;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.right-sub-nav ul li {
    display:block;
    list-style-type:none;
}
.right-sub-nav ul li a {
    color:#fff;
    font-weight: 500;
    font-size:15px;
    display:block;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding:3px 0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.right-sub-nav ul li a i {
    transform:rotate(90deg);
    display:inline-block;
    opacity:0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.right-sub-nav ul li a.active i {
    opacity:1;
}
.right-sub-nav ul li a:hover, .right-sub-nav ul li a.active {
    color:#c51230;
}
.inter-information-div {
    padding:15px 15px 15px;
    border-bottom:1px solid #888888;
}
.inter-information-div > label, .inter-information-div > .socks-style-ul > .form-group > label, .inter-information-div > .socks-style-ul > .optnal-cusrtr > .form-group > label , .imageContainer label {
    display:block;
    font-weight:500;
    margin:15px 0;
    font-size:14px;
}
.inter-information-div > label > strong, .inter-information-div > .socks-style-ul > .form-group > label > strong, .inter-information-div > .socks-style-ul > .optnal-cusrtr > .form-group > label > strong , .imageContainer strong {
    background: #C51230;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}
.socks-style-ul {
    margin-bottom: 20px;
    position: relative;
}
.socks-style-ul ul li {
    list-style-type:none;
    display:inline-block;
}
.socks-style-ul ul li , .socks-style-ul ul li .fabric-view  {
    display:block;
    height:95px;
    width:95px;
    cursor: pointer;
    padding:0px;
    float: left;
    position: relative;

    padding: 2px;
    margin: 2px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}

#clipDataHolder li {
    display:block;
    height:81px;
    width:70px;
    cursor: pointer;
    padding:0px;
    float: left;
    position: relative;
    border:1px solid #afafaf;
    padding: 2px;
    margin: 2px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;

}

#clipDataHolder li svg {
    width:65px;
}
.socks-style-ul ul li .fabric-view {

    height:100%;
    width:100%;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border:1px solid #afafaf;
}
.socks-style-ul ul li .fabric-view:hover, .socks-style-ul ul li .fabric-view:focus /*.socks-style-ul ul li.active a*/{
    border:1px solid #c51230;
}
.socks-style-ul ul li.activeClass .fabric-view {
    border:2px solid #c51230;
}
.socks-style-ul ul li img {
    height:100%;
    width:100%;
    border:1px solid #eee;
}
.socks-style-ul .socks-tooltip {
    text-align:center;
}
.socks-style-ul .socks-tooltip::after {
    min-width:80px;
    margin-left:-40px;
}
.scrolls {
    position: absolute;
    right: 0;
    top: -30px;
    opacity: 0.2;
    display: none;
}
.inter-information-div .form-control {
    height: 45px;
    border-radius: 0px;
    border-color: #afafaf;
}
.cust-selects-after {
    position:relative;
}
.cust-selects-after select {
    -moz-appearance:none;
}
.cust-selects-after:before {
    height: 100%;
    width: 40px;
    content: '';
    background: #afafaf;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}
.cust-selects-after:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 20px;
}
.inter-information-div textarea {
    min-height:100px;
    border-radius:0px;
    border:1px solid #999;
    resize:vertical;
    box-shadow:none;
    background:#fff;
}
.add-to-cart-btn {
    border-radius:0px;
    height:45px;
    padding:0 40px;
    background:#fff;
    border:1px solid #c51230;
    color:#c51230;
    font-size:18px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.add-to-cart-btn:hover {
    background:#c51230;
    color:#fff;
}
.heading-text {
    background: #c51230;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
    letter-spacing: 1px;
    padding: 13px 15px;
    text-align: center;
    text-transform: uppercase;
}
.color-pickers img {
    width: 50px;
    transform: scale(1);-o-transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);
    border-radius: 15px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.color-pickers img:hover {
    transform: scale(1.1);-o-transform: scale(1.1);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);
    box-shadow: 0 0 5px #000;
}
/*--------------------------------FOOTER NAV--------------------------------*/
.tool-footer{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0;
    box-shadow:0 4px 25px rgba(0, 0, 0, 0.2);
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */

}
.tool-footer .tool-nav li a {
    padding:10px 20px;
    font-size:16px;
    font-weight:500;
    background:transparent;
    display:block;
    color:#000;
    border-color:#ddd;
    box-shadow:0 0 3px rgba(255,255,255,1) inset;
    -webkit-box-shadow:0 0 3px rgba(255,255,255,1) inset;
    -moz-box-shadow:0 0 3px rgba(255,255,255,1) inset;
}
.tool-footer .tool-nav li a i {
    color:#c51230;
}
.tool-footer .tool-nav li a:hover{
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
}
.tool-footer .tool-nav li:last-child a{
    border-right:1px solid #ddd;
}
.tool-footer .tool-nav ul li{
    display:inline-block;
}
.tool-footer .tool-nav ul{
    text-align:center;
}

.upload-holder {
    padding: 20px;
    background: #fff;
    border:3px dashed #999;
    box-shadow: 0 0 3px #777;
}
.upfi-d {
    position: relative;
}
.upfi-d svg {
    display: block;
    text-align: center;
    margin: 0 auto 10px;
}
.opt-storfe {
    height: 110px;
    border:2px dashed #eee;
    padding: 10px;
    position: relative;
}
.delete-uploaded-img {
    position: absolute;
    right: 0;
    top: 0;
}
/****************Rotate Arrow - 16.09.2017***************/
.tool-customization-area {
    position: relative;
}
.arrow-holder {
    font-size: 30px;
}
.rotate-arrow {
    bottom: -80px;
    left: 50%;
    padding: 0 0 0 90px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
}
.arrow-holder {
    height: 80px;
    width: 80px;
    margin:0px auto;
}
.arrow-holder img {
    width:100%;   
}
.arrow-holder a {
    color: #c51230;
    font-size: 30px;
}
.rotate-arrow h5 {
    color: #c51230;
    font-size: 18px;
}
/*********19.09.2017**********/
.texture {
    padding: 15px;
}
#canvasHolder {
    position: absolute;
    top: 50%;
    margin-top: -50%;
}
.drag-to-rotate {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
a.drag-rotate {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    color: #292929;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 8px 30px;
    border:1px solid rgba(0,0,0,0.8);
}

/**************custome tool tip**************/
.h-tool-tip::after {
    background-color: #e5e5e5;
    border: 1px solid #292929;
    border-radius: 5px;
    color: #292929;
    content: "image";
    font-weight: 500;
    left: 50%;
    min-width: 75px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50% , -50%);
}
.h-tool-tip::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #292929;
    bottom: 29px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.optnal-cusrtr .form-group {
    width: 50%;
    float: left;
}
.inter-information-div select {
    cursor: pointer;
}
.imageContainer{
    position: relative;
}

.jacket-preloader-inner {
    margin: 0 auto;
    position: relative;
    top: 37%;
}
/*upload image */
#browse-image-drag{
    min-height: 120px;
    /*width:110px;*/
    /*margin:15px 0px;*/ 
}
.delete-uploaded-img {
    cursor : pointer !important;
}
#imageContainer , #imageContainer{
    position: absolute;
}

#imageContainerNote {
    position: absolute;
}

#socks-style li {
    height: 100px;
    width: 100px;
}

#textBoxList , #imageBoxList {
    text-transform: uppercase;
}

.cart-btn {
    background-color: #f2f2f2;
    height: 90px;
    min-height: 100px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.delete-uploaded-img , .image-position-holder {
    display: none;
}
#clipDataHolder {
    overflow-y: auto;
    height: 254px;
}

.actClip {
    border: 2px solid #d3b566 !important;
}

div.dropdown-menuColor-third {
    /*background: #fff none repeat scroll 0 0;*/
    padding: 10px;
    /*position: absolute;*/
    right: 0px;
    top: 0px;
    /*width: 240px;*/
    z-index: 111;
}

.dropdown-menuColor-third h4 {
    font-size: 18px;
    margin-bottom: 20px;
    /*text-align: center;*/
}
.badgeeditor__badge {
    background: rgba(166, 168, 171, 0.898) none repeat scroll 0 0;
    margin-bottom: 15px;
    padding: 15px 38px;
}
.badgeeditor__color {
    background: rgba(166, 168, 171, 0.898) none repeat scroll 0 0;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    transition: all 0.25s ease 0s;
    width: 33.33%;
}
.badgeeditor__color span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    /*border-radius: 30px;*/
    display: block;
    /*height: 23px;*/
    /*margin: 12px auto 0;*/
    text-indent: -9999em;
    transition: all 0.25s ease 0s;
    /*width: 23px;*/
}

.colour-picker__item {
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block !important;
    height: 35px;
    margin: 2px;
    vertical-align: top;
    width: 63px;
}
.active-iconSecond::before {
    color: #fff;
    content: "ï˜";
    font-family: "FontAwesome";
    font-size: 11px;
    left: 25px;
    position: relative;
    text-align: center;
    top: 4px;
    z-index: 1;
}

.active-iconSecond::after {
    background: white none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 33px;
    left: 21px;
    position: relative;
    top: -3px;
    width: 32px;
}

.badgeeditor__color.is-active {
    background: rgba(199, 32, 50, 0.53) none repeat scroll 0 0;
}
.delete-uploaded-img-graphics {
    cursor: pointer;
}

#font_size_handle , #font_left_handle , #font_top_handle , #image_left_handle , #image_top_handle , #image_width_handle , #image_height_handle {
    width: 1.6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    border: 1px solid gray;
    font-size: 15px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white !important;
    cursor: pointer;
}
.text-50 label {
    width: 50%;
    float: left;
}
.text-50 .font-slide {
    width: 50%;
    float: right;
    margin-top: 27px;
}
#isEmbroidery {
    cursor: pointer;
}

#monogramSyms li {
    height: auto;
    width:auto;
}
.embroPreview {
    overflow: auto;
}

.custom-control {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    z-index: 300;
    background: #eee;
    padding: 10px;
}
.custom-control a {
    height: 40px;
    float: left;
    width: 50%;
    border:2px solid #C51230;
    color: #C51230;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}
/*-------------New CSS 19.06.2018----------*/
.size-listing-block {
    max-height: 200px;
    overflow: auto;
}
.h-size-holder {
    border-bottom: 1px solid #e5e5e5;
    border-left: 2px solid transparent;
    padding: 10px;
}
.h-size-holder > p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.h-size-holder:hover, .h-size-holder.active {
    background-color: #e5e5e5;
    border-left-color: #c51230;
}
.size-dinamic-listing-block .h-size-holder {
    border-bottom: 1px solid #e5e5e5;
    border-left: 0px solid transparent;
    display: flex;
    padding: 10px;
}
.size-dinamic-listing-block .h-size-holder:hover {
    background-color: transparent;
}
.cust-select-number {
    position: relative;
}
.cust-select-number-after, .cust-select-number-before {
    color: #353535;
    content: "";
    cursor: pointer;
    display: block;
    font-family: fontawesome;
    height: 22.5px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 30px;
    z-index: 1;
}
.cust-select-number-after {
    bottom: 0;
    line-height: 22.5px;
}
.cust-select-number-before {
    line-height: 15px;
    top: 0;
}
.size-dinamic-listing-block .h-size-holder label {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    max-width: 50%;
    width: 50%;
}
.h-qty-holder {
    background-color: #ffffff;
}
.h-quantity-item {
    background-color: #999999;
    color: #353535;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.h-quantity-item h3 {
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    width: 50%;
}
.h-quantity-item > p {
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    text-align: right;
    width: 50%;
}
.h-qt-table {
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    padding: 10px 5px;
}
.h-qt-table:hover, .h-qt-table.active{
    background-color: #e5e5e5;
    font-weight: 600;
}
.h-qt-table > p{
    margin: 0px;
}
.h-qt-table.no-hover:hover {
    background-color: transparent;
}
#addValue.form-control {
    width: 150px;
}
/*----------- mailer-box --------------*/
.my-wrapper .mailer-content{
    font-size: 12px;
    font-weight: 200;
    color: #191919;
    line-height: 1.5em;
}
.my-wrapper .mailer-meta .item {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 30px;
}
.my-wrapper .mailer-meta .label{
    font-size:14px;
    color:#333;
    font-weight:bold;
}
.my-wrapper .mailer-meta .quantity input.product-quantity-input {
    border: 1px solid #afafaf;
    height: 40px;
    width: 80px;
    text-align: right;
    color: #474E66;
    -moz-appearance: textfield;
    appearance: none;
    height: 40px;
    border-radius: 0px;
}
.checkout-btn{
    margin:20px 0 100px;
}
.checkout-btn .btn-custom{
    width: 100%;
    height: 40px;
    line-height: 26px;
    color: #c51230;
    border: 2px solid #C51230;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;
}


/*............................................share & add-to-cart start...........................................................*/

.add-to-cart-opt {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 99;
}

.share-opt {
    position: absolute;
    /*right: 94px;*/
    right: 30px;
    bottom: 40px;
    z-index: 99;
}
.add-to-cart-opt a, .share-opt a {
    color: #fff;
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    background: #c51230;
    border:2px solid #ddd;
    line-height: 46px;
    text-align: center;
    transition: all 300ms ease-in 0s;-webkit-transition: all 300ms ease-in 0s;-moz-transition: all 300ms ease-in 0s;-o-transition: all 300ms ease-in 0s;-ms-transition: all 300ms ease-in 0s;
}
.add-to-cart-opt a:hover, .share-opt a:hover {
    transform: scale(1.2);-webkit-transform: scale(1.2);-o-transform: scale(1.2);-ms-transform: scale(1.2);-moz-transform: scale(1.2);
    font-size:25px;
}

#share-popup .modal-content .modal-header{
    color: #225e9a;
    /*background: #c51230;*/
}
.yl-radio > li {
    list-style-type: none;
}
#share-popup .modal-content .close {
    font-size: 24px;
    font-weight: 600;
    opacity: .5;
    color: #c51230;
}
#share-popup .modal-content .close:hover{
    opacity: 1;
    color: #c51230;
}

#share-popup .modal-content .modal-header{
    border-bottom: 1px dashed #225e9a;
}
#share-popup .modal-content .modal-footer{
    border-top: 1px dashed #225e9a;
}
#share-popup .modal-content label {
    font-weight: 600;
    margin-left: 10px;
}

#share-popup .modal-content .btn.tool_label_cancel {
    background: #de3451;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s linear; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
#share-popup .modal-content .btn.tool_label_cancel:hover{
    color: #000;
}
#share-popup .modal-content .btn.tool_label_share {
    background: #225e9a;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s linear; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear;
}
#share-popup .modal-content .btn.tool_label_share:hover{
    color: #000;
}
/*............................................share & add-to-cart end...............................................................*/

.custom_radio input {
    cursor:pointer;
}
/*------------ SS 25-06-2018 ---------------*/
.logo-post ul.nav li {
    width: 50% !important;
    height: auto;
    text-align: center;
    float:left;
    margin:0;
}
.logo-post ul.nav {
    margin: 0 auto;
    border-bottom: 0px;
    padding: 0 50px;
    background: #c51230;
    padding: 0 15px;
    color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
    box-shadow: 0px 3px 5px 0px rgba(194,194,194,1);
}

.logo-post ul.nav > li > a:focus, .logo-post ul.nav > li > a:hover {
    background: transparent;
    outline: 0;
}

.logo-post ul.nav>li.active>a, 
.logo-post ul.nav>li.active>a:focus, 
.logo-post ul.nav>li.active>a:hover,
.logo-post ul.nav>li.active>a:active {
    background: transparent;
    color: #FFF;
    cursor: default;
    border: 0;
}
.logo-post ul.nav>li>a {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    border: 0px;
    font-weight: 500;
    padding: 12px 15px 14px 15px;
}
.logo-post ul.nav>li >a:hover {
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
}
.logo-post ul.nav>li.active>a:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: white;
}
.logo-post .tab-content.white-bg-tabs {
    padding: 15px;
}
.logo-post .tab-content.white-bg-tabs .tab-pane {
    margin: 0 auto;
    background: white;
    padding: 10px;
    text-align: center;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #ddd;
}



/*Preloader R8*/
.suit-preloader{
    left:0 !important;
}
.suit-preloader-inner {
    margin: 0 auto;
    position: absolute !important;
    top: 50% !important;
    display: inline-block;
    left: 50%;
    margin-top: -25px !important;
    margin-left: -25px !important;
}