

/* body {
                font-family: Monospace;
                background-color: white;
               
                margin: 0px;
                overflow: hidden;
                cursor: pointer;
            }
*/
/*#textureHolder img {
    height: 100px;
    width:150px;
    padding:2px;

}
ul li{
    display: inline-block;
}
.activeClass{

    border: 1px solid black
}
#objHolder
{
    position: absolute;
    left: 1.5px;
}

#objHolder img:hover {

    opacity: 0.5;

}
#objHolder img{

    display: inline-block;



}

#leftPanel{
    z-index:10;

}
#rightPanel{
    z-index:9;
    left:-200px;

}

.loader {
    display: block;
    margin: auto;
    padding: 0;
    position: relative;
    text-align: center;
    top: 265px;
    width: 100%;
    z-index: 1;
}


.i::before {
    animation: 5s cubic-bezier(0.955, -0.01, 1, 1) 0s normal none infinite running stretch;
    background: transparent none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    opacity: 1;
    position: absolute;
    transform-origin: 0 0 0;
    width: 5px;
    z-index: -1;
}

.i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 5s cubic-bezier(0.955, -0.01, 1, 1) 0s normal none infinite running tilt;
    background: #d23635 none repeat scroll 0 0;
    border-color: #1b54a5;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    transform-origin: 100% 100% 0;
    width: 10px;
}*/


body {
    background:#000;
    color:#fff;
    padding:0;
    margin:0;
    overflow:hidden;
    font-family:georgia;
    text-align:center;
    cursor: pointer;
}
h1 { }
a { color:skyblue; text-decoration:none }
canvas { pointer-events:none; z-index:20; position:relative; }

#d { position:absolute; width: 100%; text-align:center; margin:1em 0 -4.5em 0; z-index:1000; }

.bwrap { margin:0.5em 0 0 0 }
button { font-family:georgia; border:0; background:#000; color:#fff; padding:0.2em 0.5em; cursor:pointer; border-radius:3px; }
button:hover { background:#338 }
#buttons_cars button { color:#fa0 }

#car_info { text-align:center; }
#car_name { font-size:1em }
#car_author { font-size:1em }

#oldie { background:rgb(50,0,0) !important; color:#fff !important; margin-top:7em!important }
#options{width: 250px;height: 300px;position: absolute; top: 50px;background: #fff;color: black;right:0; text-align: left;padding:15px;}
#options ul {list-style: none;padding: 0;margin: 0}

#leftPanel{
 z-index:15;
 left: 5px;
 
}
 #rightPanel{
z-index:9;
left:-200px;
 
}
#options{
    position: absolute;
    bottom:200px;
    height:280px;
    width:180px;
    border:2px solid black;
}
