
body {
    font-family: 'Montserrat', sans-serif;
    height: auto !important;
    font-weight:300;
    font-size:16px;

}
/*.activeClass{

    border: 1px solid #c51230;
}*/
#socks-style .activeClass img, .gen-type .active {
    border: 3px solid #c51230;
}
a:focus, .btn:focus {
    outline: none;
    outline-offset: 0px;
}
ul {
    padding:0px;
    margin:0px;
}
a:hover, a:focus {
    text-decoration: none;
}
header:after,
header:before{
    display:table;
    content:"";
}
header:after{
    clear:both;
}
header{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:500;

}
header ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}
header ul li{
    display:inline-block;
    position:relative;
}
.loader {
    display: block;
    margin: auto;
    padding: 0;
    position: relative;
    text-align: center;
    top: 265px;
    width: 100%;
    z-index: 1;
}

header ul li a{
    padding:10px 15px;
    display:block;
    line-height:30px;
    color:#777;
    font-size:14px;
    text-transform:uppercase;
    font-weight:500;

    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
header ul li a:hover, header ul li a:focus, header ul li.active a:focus {
    color:#c51230;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
    text-decoration:none;
}
header ul li a span{
    display:inline-block;
    vertical-align:middle;
}
header ul li a span img{
    width:25px;
}
header .pull-right li a span{
    margin:0;
}
header .pull-right li a{
    border-right:none;
    border-left:1px solid #ddd;
}
.logo {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 500;
}
.logo a {
    display: block;
}
.logo a img {
    /*width: 150px;*/
}

.stc-wrapte {
    overflow: auto;
    white-space: nowrap;
}
.responsive-buttonse {
    position: fixed;
    top: 30px;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 5px 0 0 5px;
    background: #C51230;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    z-index: 102;
    display: none;
    cursor: pointer;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.responsive-buttonse span {
    position: absolute;
    left: 25%;
    top: 50%;
    height: 2px;
    width: 50%;
    background: #fff;
    display: block;
    margin-top:-1px; 
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.responsive-buttonse span:after, .responsive-buttonse span:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.responsive-buttonse span:after {
    top: -8px;
}
.responsive-buttonse span:before {
    bottom: -8px;
}
.right-pannels-this.responsive-buttonse span {
    width: 0px;
}
.right-pannels-this.responsive-buttonse span:after {
    transform: rotate(-45deg);-o-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
    top: 0;
    width: 20px;
}
.right-pannels-this.responsive-buttonse span:before {
    transform: rotate(45deg);-o-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);
    bottom: 0;
    width: 20px;
}
/*-----------TOOL----------*/
/*--------------------------------WORK AREA--------------------------------*/
.tool-sec {
    position:fixed;
    left: 0;
    right: 350px;
    background: url('../img/bg/bg_image.jpg');
    background-size: cover;
    background-position: center center
    /*background: #F8F6F7;*/
}
.right-acordian-navigation {
    position:absolute;
    right:0;
    top:0;
    width:350px;
    box-shadow:0 0 10px #777;
    background: #F8F6F7;
    z-index: 101;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.tool-customization-area {
    text-align:center;
    /*	padding:50px 0 0;*/
    height:100%;
}
.tool-customization-area img {
    height:100%;
    position:relative;
    z-index:10;
}
.cart-info-details h1 {
    font-size:28px;
    color:white;
    margin:0;
    font-weight:300;
    text-transform:uppercase;
}
.cart-action-details {
    text-align:left;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
}
.cart-info-details h1 span {
    font-weight:bold;
    color:white;
}
.cart-info-details h6 {
    margin:5px 0;
    font-size:14px;
    font-weight: 400;
}
.cart-info-details h2 {
    margin:0;
    font-size:24px;
}
.tool-work-area {
    position:relative;
    border-radius:15px;
    height:100%;
    margin: 0px auto 0;
}
.right-sub-nav {
    position:fixed;
    right:350px;
    top:0;
    padding:15px 30px 15px 15px;
    z-index:2;
    width:250px;
    text-align:right;
    transition: all 300ms linear 0s;-o-transition: all 300ms linear 0s;-moz-transition: all 300ms linear 0s;-webkit-transition: all 300ms linear 0s;
}
.right-sub-nav ul li {
    display:block;
    list-style-type:none;
}
.right-sub-nav ul li a {
    color:#ffffff;
    font-weight: 500;
    font-size:15px;
    display:block;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding:3px 0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.right-sub-nav ul li a i {
    transform:rotate(90deg);
    display:inline-block;
    opacity:0;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.right-sub-nav ul li a.active i {
    opacity:1;
}
.right-sub-nav ul li a:hover, .right-sub-nav ul li a.active {
    color:#c51230;
}
.navigation-info {
  border-bottom: 50px none;
}
.inter-information-div {
    padding:15px 15px 15px;
    border-bottom:1px solid #888888;
}
.inter-information-div > label, .inter-information-div > .socks-style-ul > .form-group > label, .inter-information-div > .socks-style-ul > .optnal-cusrtr > .form-group > label , .imageContainer label {
    display:block;
    font-weight:500;
    margin:15px 0;
    font-size:14px;
}
.inter-information-div > label > strong, .inter-information-div > .socks-style-ul > .form-group > label > strong, .inter-information-div > .socks-style-ul > .optnal-cusrtr > .form-group > label > strong , .imageContainer strong {
    background: #C51230;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
}
.socks-style-ul {
    margin-bottom: 20px;
    position: relative;
}
.socks-style-ul ul li {
    list-style-type:none;
    display:inline-block;
}
.socks-style-ul ul li , .socks-style-ul ul li .fabric-view  {
    display:block;
    height:100px;
    width:100px;
    cursor: pointer;
    padding:0px;
    float: left;
    position: relative;
    padding: 2px;
    margin: 2px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}

#clipDataHolder li {
    display:block;
    height:81px;
    width:70px;
    cursor: pointer;
    padding:0px;
    float: left;
    position: relative;
    border:1px solid #afafaf;
    padding: 2px;
    margin: 2px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;

}

#clipDataHolder li svg {
    width:65px;
}
.socks-style-ul ul li .fabric-view {
    height:100px;
    width:100px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    border:1px solid #afafaf;
}
.socks-style-ul ul li .fabric-view:hover, .socks-style-ul ul li .fabric-view:focus /*.socks-style-ul ul li.active a*/{
    border:1px solid #c51230;
}
.socks-style-ul ul li.activeClass .fabric-view {
    border:2px solid #c51230;
}
.socks-style-ul ul li img {
    height:100%;
    width:100%;
    border:1px solid #eee;
}
.socks-style-ul .socks-tooltip {
    text-align:center;
}
.socks-style-ul .socks-tooltip::after {
    min-width:80px;
    margin-left:-40px;
}
.scrolls {
    position: absolute;
    right: 0;
    top: -30px;
    opacity: 0.2;
    display: none;
}
.inter-information-div .form-control {
    height: 45px;
    border-radius: 0px;
    border-color: #afafaf;
}
.cust-selects-after {
    position:relative;
}
.cust-selects-after select {
    -moz-appearance:none;
}
.cust-selects-after:before {
    height: 100%;
    width: 40px;
    content: '';
    background: #afafaf;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}
.cust-selects-after:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 20px;
}
.inter-information-div textarea {
    min-height:100px;
    border-radius:0px;
    border:1px solid #999;
    resize:vertical;
    box-shadow:none;
    background:#fff;
}
.add-to-cart-btn {
    border-radius:0px;
    height:45px;
    padding:0 40px;
    background:#fff;
    border:1px solid #c51230;
    color:#c51230;
    font-size:18px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.add-to-cart-btn:hover {
    background:#c51230;
    color:#fff;
}
.heading-text {
    background: #c51230;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
    letter-spacing: 1px;
    padding: 13px 15px;
    text-align: center;
    text-transform: uppercase;
}
.color-pickers img {
    width: 50px;
    transform: scale(1);-o-transform: scale(1);-webkit-transform: scale(1);-moz-transform: scale(1);
    border-radius: 15px;
    transition:all 300ms linear 0s;-o-transition:all 300ms linear 0s;-moz-transition:all 300ms linear 0s;-webkit-transition:all 300ms linear 0s;
}
.color-pickers img:hover {
    transform: scale(1.1);-o-transform: scale(1.1);-webkit-transform: scale(1.1);-moz-transform: scale(1.1);
    box-shadow: 0 0 5px #000;
}
/*--------------------------------FOOTER NAV--------------------------------*/
.tool-footer{
    position:fixed;
    left:0px;
    right:0px;
    bottom:0;
    box-shadow:0 4px 25px rgba(0, 0, 0, 0.2);
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */

}
.tool-footer .tool-nav li a {
    padding:10px 20px;
    font-size:16px;
    font-weight:500;
    background:transparent;
    display:block;
    color:#000;
    border-color:#ddd;
    box-shadow:0 0 3px rgba(255,255,255,1) inset;
    -webkit-box-shadow:0 0 3px rgba(255,255,255,1) inset;
    -moz-box-shadow:0 0 3px rgba(255,255,255,1) inset;
}
.tool-footer .tool-nav li a i {
    color:#c51230;
}
.tool-footer .tool-nav li a:hover{
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
}
.tool-footer .tool-nav li:last-child a{
    border-right:1px solid #ddd;
}
.tool-footer .tool-nav ul li{
    display:inline-block;
}
.tool-footer .tool-nav ul{
    text-align:center;
}

.upload-holder {
    padding: 20px;
    background: #fff;
    border:3px dashed #999;
    box-shadow: 0 0 3px #777;
}
.upfi-d {
    position: relative;
}
.upfi-d svg {
    display: block;
    text-align: center;
    margin: 0 auto 10px;
}
.opt-storfe {
    height: 110px;
    border:2px dashed #eee;
    padding: 10px;
    position: relative;
}
.delete-uploaded-img {
    position: absolute;
    right: 0;
    top: 0;
}
/****************Rotate Arrow - 16.09.2017***************/
.tool-customization-area {
    position: relative;
}
.arrow-holder {
    font-size: 30px;
}
.rotate-arrow {
    bottom: -80px;
    left: 50%;
    padding: 0 0 0 90px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
}
.arrow-holder {
    height: 80px;
    width: 80px;
    margin:0px auto;
}
.arrow-holder img {
    width:100%;   
}
.arrow-holder a {
    color: #c51230;
    font-size: 30px;
}
.rotate-arrow h5 {
    color: #c51230;
    font-size: 18px;
}
/*********19.09.2017**********/
.texture {
    padding: 15px;
}
#canvasHolder {
    position: relative;
}
.drag-to-rotate {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
a.drag-rotate {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    color: #292929;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 8px 30px;
    border:1px solid rgba(0,0,0,0.8);
}

/**************custome tool tip**************/
.h-tool-tip::after {
    background-color: #e5e5e5;
    border: 1px solid #292929;
    border-radius: 5px;
    color: #292929;
    content: "image";
    font-weight: 500;
    left: 50%;
    min-width: 75px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50% , -50%);
}
.h-tool-tip::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #292929;
    bottom: 29px;
    content: "";
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.optnal-cusrtr .form-group {
    width: 50%;
    float: left;
}
.inter-information-div select {
    cursor: pointer;
}
.imageContainer{
    position: relative;
}

.jacket-preloader-inner {
    margin: 0 auto;
    position: relative;
    top: 37%;
}
/*upload image */
#browse-image-drag{
    min-height: 120px;
    /*width:110px;*/
    /*margin:15px 0px;*/ 
}
.delete-uploaded-img {
    cursor : pointer !important;
}
#imageContainer , #imageContainer{
    position: absolute;
}

#imageContainerNote {
    position: absolute;
}

#socks-style li {
    height: 115px;
    width: 90px;
}

#textBoxList , #imageBoxList {
    text-transform: uppercase;
}

.cart-btn {
    background-color: #f2f2f2;
    height: 90px;
    min-height: 100px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.delete-uploaded-img , .image-position-holder {
    display: none;
}
#clipDataHolder {
    overflow-y: auto;
    height: 200px;
}

.actClip {
    border: 2px solid #d3b566 !important;
}

div.dropdown-menuColor-third {
    /*background: #fff none repeat scroll 0 0;*/
    padding: 10px;
    /*position: absolute;*/
    right: 0px;
    top: 0px;
    /*width: 240px;*/
    z-index: 111;
}

.dropdown-menuColor-third h4 {
    font-size: 18px;
    margin-bottom: 20px;
    /*text-align: center;*/
}
.badgeeditor__badge {
    background: rgba(166, 168, 171, 0.898) none repeat scroll 0 0;
    margin-bottom: 15px;
    padding: 15px 38px;
}
.badgeeditor__color {
    background: rgba(166, 168, 171, 0.898) none repeat scroll 0 0;
    float: left;
    height: 48px;
    line-height: 48px;
    margin-bottom: 20px;
    transition: all 0.25s ease 0s;
    width: 33.33%;
}
.badgeeditor__color span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    /*border-radius: 30px;*/
    display: block;
    /*height: 23px;*/
    /*margin: 12px auto 0;*/
    text-indent: -9999em;
    transition: all 0.25s ease 0s;
    /*width: 23px;*/
}

.colour-picker__item {
    border: 1px solid #000;
    cursor: pointer;
    display: inline-block !important;
    height: 35px;
    margin: 2px;
    vertical-align: top;
    width: 63px;
}
.active-iconSecond::before {
    color: #fff;
    content: "";
    font-family: "FontAwesome";
    font-size: 11px;
    left: 25px;
    position: relative;
    text-align: center;
    top: 4px;
    z-index: 1;
}

.active-iconSecond::after {
    background: white none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 33px;
    left: 21px;
    position: relative;
    top: -3px;
    width: 32px;
}

.badgeeditor__color.is-active {
    background: rgba(199, 32, 50, 0.53) none repeat scroll 0 0;
}
.delete-uploaded-img-graphics {
    cursor: pointer;
}

#font_size_handle , #font_left_handle , #font_top_handle , #image_left_handle , #image_top_handle , #image_width_handle , #image_height_handle {
    width: 1.6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
    border: 1px solid gray;
    font-size: 15px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: white !important;
    cursor: pointer;
}
.text-50 label {
    width: 50%;
    float: left;
}
.text-50 .font-slide {
    width: 50%;
    float: right;
    margin-top: 27px;
}
#isEmbroidery {
    cursor: pointer;
}

#monogramSyms li {
    height: auto;
    width:auto;
}
.embroPreview {
    overflow: auto;
}
.product-info h6 , .product-info h2 {
    color:#ffffff;
}
.custom-control {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    z-index: 300;
    background: #eee;
    padding: 10px;
}
.custom-control a {
    height: 40px;
    float: left;
    width: 50%;
    border:2px solid #C51230;
    color: #C51230;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

.custom-control a:hover {
    color:black;
}

.add-to-cart-opt {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 99;
}
.add-to-cart-opt a {
    color: #fff;
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    background: #c51230;
    border:2px solid #ddd;
    line-height: 46px;
    text-align: center;
    transition: all 300ms ease-in 0s;-webkit-transition: all 300ms ease-in 0s;-moz-transition: all 300ms ease-in 0s;-o-transition: all 300ms ease-in 0s;-ms-transition: all 300ms ease-in 0s;
}
.add-to-cart-opt a:hover {
    transform: scale(1.2);-webkit-transform: scale(1.2);-o-transform: scale(1.2);-ms-transform: scale(1.2);-moz-transform: scale(1.2);
    font-size:25px;
}
.navigation-info:last-child {
  padding-bottom: 50px;
}
.right-acordian-navigation .inter-information-div label{
	font-size: 16px;
}

/*---------------- All Pops -------------------*/
