
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon.woff") format("woff"),
        url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}/*

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("./Flaticon.svg#Flaticon") format("svg");
    }
}*/

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;

    font-style: normal;
    margin-left: 0px;
}

.flaticon-champagne:before { content: "\f100"; }
.flaticon-chocolate:before { content: "\f101"; }
.flaticon-contrast:before { content: "\f102"; }
.flaticon-cutlery:before { content: "\f103"; }
.flaticon-cutlery-1:before { content: "\f104"; }
.flaticon-dinner:before { content: "\f105"; }
.flaticon-fabric:before { content: "\f106"; }
.flaticon-layers:before { content: "\f107"; }
.flaticon-ruler:before { content: "\f108"; }




.modal-header {
    min-height: 45.43px !important;
}
.theView {
    display: none;
    left: 0;
    /*position: absolute;*/
    /*right: 50%;*/
    top: 0;
    width: 400px;
}
.theView.active {
    display: inline-block;
}

.theViewM {
    display: none;
    left: 0;
    /*position: absolute;*/
    /*right: 50%;*/
    top: 0;
    width: 400px;
}
.theViewM.active {
    display: inline-block;
}

#zoomOfTool .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
#zoomOfTool , #measurement {
    z-index: 9999 !important;
}
#zoom_cancle a.close {
    color: #666;
    cursor: pointer;
    font-family: "nc-nav";
    font-size: 60px;
    position: fixed;
    right: 15px;
    text-decoration: none;
    top: 15px;
    z-index: 99999;
}
.zoomOut {
    left: 109px !important;
    position: absolute;
    right: 0;
    top: -114px;
    width: 85% !important;
    transition: all 0.5s ease-in-out;
}



@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}


fabricview , fabricviewaccent {
    cursor: pointer;
}


.buttonPos{

    margin-left: 716px;
    margin-top: 427px;

}
.buttonStyl{

    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;

}
.view-thumb .active {
    border: none;
    background: #D09B3C;
    box-shadow: 0px 0px 1px goldenrod;
}
.buttonStyl:hover {
    border: none;
    background: #D09B3C;
    box-shadow: 0px 0px 1px goldenrod;
}
.style-view img{
    height: 50px;
    margin-left: -4px;

}
.start-view{

    margin-left: 10px;
    font-size: 17px;
    font-style: normal;
    font-color: black;
    color: black;

}


/*.activeDesign:before{
    background: #d09b3c;
    height: 2px;
    width: 100%;
    content: '';
    position:absolute;
    bottom: 0;
    left: 0;
}*/

.innerImg{

}
/*.tab-content{
    max-height: 558px !important;
    overflow:auto;
}*/
/*.sub-menu-cat{
    display: inline-flex;
}*/

.style-view > img {
    display: inline-block;
    margin-right: 15px;
}
.animate-show {
    line-height:20px;
    opacity:1;
    padding:10px;
    border:1px solid black;
    background:white;
}


.sidebar-options .fabvie {
    width: 50%; 
}
.fabvie {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    float: left;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px;
    padding: 5px 10px;
    text-align: center;
    /*width: 50%;*/
}

.info {
    margin-top: 10px;
}

#measurementFabric .fabvie {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font-size: 12px;
    font-weight: 300;
    padding: 5px 15px 5px 5px;
    text-align: center;
    float: none;
}
#stylePartOfTool .collapse {
    display: none;
}

#stylePartOfTool .nav {
    border-bottom: 1px dashed #dfdfdf;
}

#stylePartOfTool .collapse.in {
    display: block;
}

/*.leftTool-nav {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}*/

.view-thumb {
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    width: 240px;
    z-index:100;
}

.buttonStyl { display: inline-block;}

.buttonStyl {
    border-radius: 50px;
    display: inline-block;
    height: 34px;
    margin: 0 5px;
    width: 34px;
}

.myStyle{
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}
.cssload-container {
    position: relative;
    width: 100%;
    height: 224px;
    overflow: hidden;
}

.cssload-container .cssload-item {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
    cursor: pointer;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgb(205,155,29);
    background-image: linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -o-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -ms-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -webkit-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -moz-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: cssload-tilt 2.3s ease-in-out infinite alternate;
    -o-animation: cssload-tilt 2.3s ease-in-out infinite alternate;
    -ms-animation: cssload-tilt 2.3s ease-in-out infinite alternate;
    -webkit-animation: cssload-tilt 2.3s ease-in-out infinite alternate;
    -moz-animation: cssload-tilt 2.3s ease-in-out infinite alternate;
}

.cssload-container .cssload-item:after {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -19px;
    background-color: rgb(255,255,255);
    border-radius: 50%;
    background-color: rgb(205,155,29);
    background-image: linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -o-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -ms-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -webkit-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    background-image: -moz-linear-gradient(rgb(205,155,29), rgb(237,203,98));
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.25);
    content: '';
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: cssload-ding 2.3s ease-in-out infinite alternate, cssload-tilt 2.3s ease-in-out infinite alternate;
    -o-animation: cssload-ding 2.3s ease-in-out infinite alternate, cssload-tilt 2.3s ease-in-out infinite alternate;
    -ms-animation: cssload-ding 2.3s ease-in-out infinite alternate, cssload-tilt 2.3s ease-in-out infinite alternate;
    -webkit-animation: cssload-ding 2.3s ease-in-out infinite alternate, cssload-tilt 2.3s ease-in-out infinite alternate;
    -moz-animation: cssload-ding 2.3s ease-in-out infinite alternate, cssload-tilt 2.3s ease-in-out infinite alternate;
}







@keyframes cssload-tilt {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(-45deg);
    }
}

@-o-keyframes cssload-tilt {
    from {
        -o-transform: rotate(45deg);
    }
    to {
        -o-transform: rotate(-45deg);
    }
}

@-ms-keyframes cssload-tilt {
    from {
        -ms-transform: rotate(45deg);
    }
    to {
        -ms-transform: rotate(-45deg);
    }
}

@-webkit-keyframes cssload-tilt {
    from {
        -webkit-transform: rotate(45deg);
    }
    to {
        -webkit-transform: rotate(-45deg);
    }
}

@-moz-keyframes cssload-tilt {
    from {
        -moz-transform: rotate(45deg);
    }
    to {
        -moz-transform: rotate(-45deg);
    }
}

@keyframes cssload-ding {
    from {
        left: 0%;
    }
    to {
        left: calc(100% - 49px / 5);
    }
}

@-o-keyframes cssload-ding {
    from {
        left: 0%;
    }
    to {
        left: calc(100% - 49px / 5);
    }
}

@-ms-keyframes cssload-ding {
    from {
        left: 0%;
    }
    to {
        left: calc(100% - 49px / 5);
    }
}

@-webkit-keyframes cssload-ding {
    from {
        left: 0%;
    }
    to {
        left: calc(100% - 49px / 5);
    }
}

@-moz-keyframes cssload-ding {
    from {
        left: 0%;
    }
    to {
        left: calc(100% - 49px / 5);
    }
}

footer {
    z-index: 999;
}
.option_icon_left i {

    font-size: 35px;
    display: inline-block;
    line-height: 60px;
    min-width: 60px;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.leftMainNav .active {
    border-bottom: 1px solid #D09B3C !important;
}
.leftMainNav ul li {
    border-bottom: 1px solid #e3e3e3;
}

.modal-footer button {
    background: #d09b3c none repeat scroll 0 0;
    border: 1px solid #d09b3c;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
}
/*.navigate-menu li{
    display: inline-block !important;
}*/
.mainToolareaM {
    z-index: 1;
}
.measuerright {
    z-index: 0;
}
.box_option.active {
    left: 65px !important;
}
.srch-mono-blk {
    position: relative;
}
.srch-mono-blk .form-control {
    width: 63%;
}

.srch-mono-blk span {
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: 16px;
    top: 4px;
    width: 30px;
    cursor:pointer;
}
.srch-mono-blk span::before, .srch-mono-blk span::after {
    background: #000000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 2px;
    top: -2px;
    right:0px;
}
.srch-mono-blk span::before {
    transform: rotate(-45deg);
}
.srch-mono-blk span::after {
    transform: rotate(45deg);
}
/*--------------Monogram CSS------*/
.box_option.sidebarlength.ng-scope{
    /*padding: 0px 20px;*/
}

.cust-font-radio {
    float: left;
    vertical-align: middle;
    width: 50%;
}
.font-img img {
    border-radius: 0 !important;
}
.font-select span{
    vertical-align: middle;
}
/*.removemin {
    right: 18px !important;
}*/
.removemin {
    right: 4px;
    top:0px;
}
/*custom check box css*/
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    line-height: 11px !important;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: rebeccapurple;
    color: #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
} 
.myClass{
    width: auto !important;
}
.highPos {
    left: 356px !important;
    top: 190px !important;
}
.mediumPos {
    left: 356px !important;
    top: 239px !important;
}
.lowPos {
    top: 317px !important;
    left: 356px !important;
}
.cuffPos {
    left: 63% !important;
    top: 60% !important;
    z-index: 9999999;
}
/*.highPosForFold {


    left: 378px !important;
    top: 300px !important;
    //display: block !important;
}
.MediumForFold {
    //display: none !important;
}
.LowForFold {
    //display: none !important;
}
.CuffForFold {
    //display: none !important;
}*/
.monoFont .mCS_img_loaded {
    width: 40px;
}
.ws-MONOGRAM.clearfix, .ws-monofont.clearfix, .ws-position.clearfix {
    padding-top: 20px;
}
.ws-monofont.clearfix > h6, .ws-MONOGRAM.clearfix > h6, .ws-position.clearfix > h6 {
    font-size: 14px;
}
.h-border-style img{
    border-radius: 0px;
    border:none;
}
.navigate-menu ul li{
    // display: flex !important;
}
.info.fabric-detail div {
    float: left;
    text-align: left;
    width: 50%;
}
.info.fabric-detail div.faric-name {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
.info.fabric-detail div.fab-type, .info.fabric-detail div.faric-price {
    color: #bbb;
    font-size: 11px;
}
.info.fabric-detail div.faric-price {
    width: 100%;
}
.info.fabric-detail div.fab-type {
    text-align: center !important;
}

//scansize

.scnsize {
    background-color: #e0e3ec;
    min-height: 293px;
    padding: 10px;
}
.scnsize h3 {
    color: #676767;
    text-align: center;
}
.scnsize p {
    color: #676767;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.scnsize p i {
    color: #676767;
}
.measurement {
    border: 1px solid #939393;
    padding: 10px;
}
.scnsize p img {
    display: inline-block;
}
.measurement .form-control {
    border: 1px solid #051a31;
    height: 28px;
}
.size th {
    text-align: center;
}
.size td {
    text-align: center;
}
.mins {
    line-height: 28px;
}
.size-opt {
    cursor: pointer;
}



//
.view-thumb a {
    display:inline-block !important;
    cursor:pointer;
}
.hidelastafter::after {
    content: none !important;
}

.size-opt {
    cursor: pointer;
}
.scnsize {
    background-color: #e0e3ec;
    min-height: 293px;
    padding: 10px;
}
.scnsize h3 {
    color: #676767;
    text-align: center;
}
.scnsize p {
    color: #676767;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.scnsize p i {
    color: #676767;
}
.measurement {
    border: 1px solid #939393;
    padding: 10px;
}
.scnsize p img {
    display: inline-block;
}
.measurement .form-control {
    border: 1px solid #051a31;
    height: 28px;
}
.size th {
    text-align: center;
}
.size td {
    text-align: center;
}
.mins {
    line-height: 28px;
}

#monoColorHolder li {
    cursor: pointer;
}

#div8 li.active a , #div9 li.active a , #div9 li.activeDesign a {
    border-bottom: 1px solid #d09b3c;
}

#div8 li a , #div9 li a {
    border-bottom: 1px solid #ccc;
}
/*************Viewport Shirt fool View**********************/
#viewport {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
#viewport .shirt_part {
    position: absolute;
    width: 100%;
}
.rightTool-nav {
    position: relative;
    z-index: 100;
}

header {
    border-top: 1px solid #fafafa;
    position: relative;
    z-index: 999;
}
.ToolSection {
    padding: 10px 0;
}
.min .box_option {
    padding: 0px;
}

#div .slde-fabin {
    height: 600px;
    max-height: 600px;
    overflow: auto;
}
.sidebar-options div.box_option li {
    width: 45%;
   
}
.page-wrapper #maincontent {
    margin-top: 0 !important; 
}