@font-face {
  font-family: 'icon-noFilter';
  src:  url('fonts/icon-noFilter.eot?y2wnum');
  src:  url('fonts/icon-noFilter.eot?y2wnum#iefix') format('embedded-opentype'),
    url('fonts/icon-noFilter.ttf?y2wnum') format('truetype'),
    url('fonts/icon-noFilter.woff?y2wnum') format('woff'),
    url('fonts/icon-noFilter.svg?y2wnum#icon-noFilter') format('svg');
  font-weight: normal;
  font-style: normal;
}
.filter-button2 {

    cursor: pointer;
    display: table;
    font-size: 35px;
    height: 40px;
    right: 35px;
    line-height: 63px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;

}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-noFilter' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-no_filter-icon:before {
  content: "\2671";
  color: #636363;
}
