/********************************************************************************
* This script is brought to you by Vasplus Programming Blog
* Website: www.vasplus.info
* Email: info@vasplus.info
*********************************************************************************/
.zoomOverlay{
    background-color: #cccccc;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 550;
}
.vpb_image_design {
    border-radius: 0;
    height: 90px;
    margin-left: 2px;
    width: 105px;
    position: absolute;
}
.preloader {
    /*left: 0;*/

    text-align: center;
    top: 0;
    /*    width: 100%;
        z-index: 99999;*/
}
#theInitialProgress{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 150000;
    background: rgba(253,253,253,1);
    font-family:Arial, sans-serif;
    left: 0px;
}
#theInitialProgressArtwork{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 150000;
    background: rgba(253,253,253,0.8);
    font-family:Arial, sans-serif;
}
#theInitialProgressSize {
    background: rgba(253, 253, 253, 0.8) none repeat scroll 0 0;
    display: block;
    font-family: Arial,sans-serif;
    height: 100%;
    position: absolute;
    width:100%;
    z-index: 150000;
}
#theInitialProgressImage {
    background: rgba(253, 253, 253, 0.8) none repeat scroll 0 0;
    display: block;
    font-family: Arial,sans-serif;
    height: 100%;
    position: absolute;
    width:100%;
    z-index: 150000;
}

#progressInnerImage{
    padding-top:72px;
    top:37%;
}

.progressInnerSize{
    padding-top:128px;
    top:37%;
}



.progressInner{
    top: 31%;
    position: relative;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    color: #666;

    padding-top: 25px;}
/*
Loaders
*/
.spinner {
    margin: 0 auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: rgb(211,180,101);
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*suit inner preloader*/

.suit-preloader-inner {
    margin: 0 auto;
    position: relative;
    top: 37%;
}

.suit-preloader {
    /*background: rgba(253, 253, 253, 0.8) none repeat scroll 0 0;*/
    display: none;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 10%;
    width: 85%;
    z-index: 149999;
}

/*end*/
