/*shirt Icon*/
@font-face {
  font-family: 'i-cloth';
  src:  url('../fonts/i-cloth.eot?895cpv');
  src:  url('../fonts/i-cloth.eot?895cpv#iefix') format('embedded-opentype'),
    url('../fonts/i-cloth.ttf?895cpv') format('truetype'),
    url('../fonts/i-cloth.woff?895cpv') format('woff'),
    url('../fonts/i-cloth.svg?895cpv#i-cloth') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico"], [class*=" ico"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'i-cloth' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icobottom:before {
  content: "\e300";
}
.icochestpocket:before {
  content: "\e301";
}
.icocollar-style:before {
  content: "\e302";
}
.icoCuffs-Style:before {
  content: "\e303";
}
.icocutaway-collar:before {
  content: "\e304";
}
.icofit:before {
  content: "\e305";
}
.icokent-collar:before {
  content: "\e306";
}
.icolong-collar:before {
  content: "\e307";
}
.icoplacket:before {
  content: "\e308";
}
.icoplacket-1:before {
  content: "\e309";
}
.icosleeves:before {
  content: "\e30a";
}
.icowide-cutaway:before {
  content: "\e30b";
}

