@font-face {
  font-family: 'shirt';
  src:  url('../fonts/shirt.eot?5rycfx');
  src:  url('../fonts/shirt.eot?5rycfx#iefix') format('embedded-opentype'),
    url('../fonts/shirt.ttf?5rycfx') format('truetype'),
    url('../fonts/shirt.woff?5rycfx') format('woff'),
    url('../fonts/shirt.svg?5rycfx#shirt') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icos-"], [class*=" icos-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shirt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icos-all:before {
  content: "\e200";
}
.icos-back:before {
  content: "\e201";
}
.icos-box-pleats:before {
  content: "\e202";
}
.icos-button-down:before {
  content: "\e203";
}
.icos-By-Default:before {
  content: "\e204";
}
.icos-casual:before {
  content: "\e205";
}
.icos-collar:before {
  content: "\e206";
}
.icos-cuff-all:before {
  content: "\e207";
}
.icos-cuff-by-default:before {
  content: "\e908";
}
.icos-cuff-inner-fabric:before {
  content: "\e909";
}
.icos-cuff-outer-fabric:before {
  content: "\e20a";
}
.icos-cutway-collor:before {
  content: "\e20b";
}
.icos-double-btn-cut:before {
  content: "\e20c";
}
.icos-double-cuff:before {
  content: "\e20d";
}
.icos-double-rounded-french:before {
  content: "\e20e";
}
.icos-double-square-french:before {
  content: "\e20f";
}
.icos-Elbow-custom-colour:before {
  content: "\e210";
}
.icos-Elbow-without:before {
  content: "\e211";
}
.icos-fabric:before {
  content: "\e212";
}
.icos-flap-pocket:before {
  content: "\e213";
}
.icos-flapx2:before {
  content: "\e214";
}
.icos-french-placket:before {
  content: "\e215";
}
.icos-hidden-button:before {
  content: "\e216";
}
.icos-Inner-fabric:before {
  content: "\e217";
}
.icos-kent-collor:before {
  content: "\e218";
}
.icos-long-collor:before {
  content: "\e219";
}
.icos-long-sleeves:before {
  content: "\e21a";
}
.icos-loose:before {
  content: "\e21b";
}
.icos-no-flap:before {
  content: "\e21c";
}
.icos-no-pleats:before {
  content: "\e21d";
}
.icos-no-pocket:before {
  content: "\e21e";
}
.icos-one-cut-cuff:before {
  content: "\e21f";
}
.icos-pinned-collor:before {
  content: "\e220";
}
.icos-rounded-btn-double:before {
  content: "\e221";
}
.icos-rounded-btn-single:before {
  content: "\e222";
}
.icos-rounded-collor:before {
  content: "\e223";
}
.icos-rounded-french:before {
  content: "\e224";
}
.icos-selected:before {
  content: "\e225";
}
.icos-short-classic:before {
  content: "\e226";
}
.icos-short-sleeves:before {
  content: "\e227";
}
.icos-side-folds:before {
  content: "\e228";
}
.icos-single-cuff:before {
  content: "\e229";
}
.icos-square-french:before {
  content: "\e22a";
}
.icos-square:before {
  content: "\e22b";
}
.icos-standard-placket:before {
  content: "\e22c";
}
.icos-standup-collor:before {
  content: "\e22d";
}
.icos-tail:before {
  content: "\e22e";
}
.icos-waisted:before {
  content: "\e22f";
}
.icos-wide-collor:before {
  content: "\e230";
}
.icos-wing-collor:before {
  content: "\e231";
}
.icos-withoutflap:before {
  content: "\e232";
}
.icos-zoom:before {
  content: "\e233";
}
