@font-face {
  font-family: 'icomoon';
  src:  url('../fonts-tool/icomoon.eot?l77lo');
  src:  url('../fonts-tool/icomoon.eot?l77lo#iefix') format('embedded-opentype'),
    url('../fonts-tool/icomoon.ttf?l77lo') format('truetype'),
    url('../fonts-tool/icomoon.woff?l77lo') format('woff'),
    url('../fonts-tool/icomoon.svg?l77lo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-0:before {
  content: "\e900";
}
.icon-piece-suit:before {
  content: "\e901";
}
.icon-2:before {
  content: "\e902";
}
.icon-patched:before {
  content: "\e903";
}
.icon-piece-suit2:before {
  content: "\e904";
}
.icon-3:before {
  content: "\e905";
}
.icon-4:before {
  content: "\e906";
}
.icon-avatar:before {
  content: "\e907";
}
.icon-back-no-pocket:before {
  content: "\e908";
}
.icon-box-pleats:before {
  content: "\e909";
}
.icon-brest-pocket:before {
  content: "\e90a";
}
.icon-button-down:before {
  content: "\e90b";
}
.icon-button:before {
  content: "\e90c";
}
.icon-centeredsvg:before {
  content: "\e90d";
}
.icon-classico:before {
  content: "\e90e";
}
.icon-clothes:before {
  content: "\e90f";
}
.icon-cutway-collor:before {
  content: "\e910";
}
.icon-diagnoal:before {
  content: "\e911";
}
.icon-diagnoaledge:before {
  content: "\e912";
}
.icon-displaced:before {
  content: "\e913";
}
.icon-double-btn-cut:before {
  content: "\e914";
}
.icon-double-cuff:before {
  content: "\e915";
}
.icon-double-flap:before {
  content: "\e916";
}
.icon-double-pleated:before {
  content: "\e917";
}
.icon-double-rounded-french:before {
  content: "\e918";
}
.icon-double-square-french:before {
  content: "\e919";
}
.icon-double-welted-pocket-with-button:before {
  content: "\e91a";
}
.icon-double-welted-x3-suit:before {
  content: "\e91b";
}
.icon-double-welted2pocket-with-button:before {
  content: "\e91c";
}
.icon-double-welted-suit:before {
  content: "\e91d";
}
.icon-doublebrasted:before {
  content: "\e91e";
}
.icon-doublebreasted2btn:before {
  content: "\e91f";
}
.icon-doublebreasted4btn:before {
  content: "\e920";
}
.icon-doublebreasted6btn:before {
  content: "\e921";
}
.icon-down-arrow:before {
  content: "\e922";
}
.icon-download:before {
  content: "\e923";
}
.icon-edge-vest:before {
  content: "\e924";
}
.icon-fabric:before {
  content: "\e925";
}
.icon-flap-pocket:before {
  content: "\e926";
}
.icon-flap:before {
  content: "\e927";
}
.icon-flapx2:before {
  content: "\e928";
}
.icon-french-placket:before {
  content: "\e929";
}
.icon-hidden-button:before {
  content: "\e92a";
}
.icon-jeans-pocket:before {
  content: "\e92b";
}
.icon-kent-collor:before {
  content: "\e92c";
}
.icon-lapel-vest:before {
  content: "\e92d";
}
.icon-long-collor:before {
  content: "\e92e";
}
.icon-long-sleeves:before {
  content: "\e92f";
}
.icon-loose:before {
  content: "\e930";
}
.icon-mandarian:before {
  content: "\e931";
}
.icon-No-button:before {
  content: "\e932";
}
.icon-no-flap:before {
  content: "\e933";
}
.icon-no-holes:before {
  content: "\e934";
}
.icon-no-jacket:before {
  content: "\e935";
}
.icon-no-laple:before {
  content: "\e936";
}
.icon-no-pleats:before {
  content: "\e937";
}
.icon-no-pleats-shirts:before {
  content: "\e938";
}
.icon-no-pocket-laple:before {
  content: "\e939";
}
.icon-no-pocket:before {
  content: "\e93a";
}
.icon-no-pocket-suit:before {
  content: "\e93b";
}
.icon-normal:before {
  content: "\e93c";
}
.icon-notch:before {
  content: "\e93d";
}
.icon-notchlaple:before {
  content: "\e93e";
}
.icon-off-centered:before {
  content: "\e93f";
}
.icon-one-cut-cuff:before {
  content: "\e940";
}
.icon-patched2:before {
  content: "\e941";
}
.icon-patchedsuit:before {
  content: "\e942";
}
.icon-peak-laple:before {
  content: "\e943";
}
.icon-peak:before {
  content: "\e944";
}
.icon-pinned-collor:before {
  content: "\e945";
}
.icon-pleated:before {
  content: "\e946";
}
.icon-plus:before {
  content: "\e947";
}
.icon-pocket:before {
  content: "\e948";
}
.icon-regular:before {
  content: "\e949";
}
.icon-rounded-btn-double:before {
  content: "\e94a";
}
.icon-rounded-btn-single:before {
  content: "\e94b";
}
.icon-rounded-collor:before {
  content: "\e94c";
}
.icon-rounded-french:before {
  content: "\e94d";
}
.icon-rounded-pockets:before {
  content: "\e94e";
}
.icon-roundedge:before {
  content: "\e94f";
}
.icon-shawl-laple:before {
  content: "\e950";
}
.icon-shirt-button-with-two-holes:before {
  content: "\e951";
}
.icon-shopping-bag:before {
  content: "\e952";
}
.icon-short-classic:before {
  content: "\e953";
}
.icon-short-sleeves:before {
  content: "\e954";
}
.icon-shwal:before {
  content: "\e955";
}
.icon-side-folds:before {
  content: "\e956";
}
.icon-side-vent:before {
  content: "\e957";
}
.icon-singal-vent:before {
  content: "\e958";
}
.icon-single-brasted:before {
  content: "\e959";
}
.icon-single-breasted1-btn:before {
  content: "\e95a";
}
.icon-single-breasted2btn:before {
  content: "\e95b";
}
.icon-single-breasted3btn:before {
  content: "\e95c";
}
.icon-single-cuff:before {
  content: "\e95d";
}
.icon-slim:before {
  content: "\e95e";
}
.icon-slim-jacket:before {
  content: "\e95f";
}
.icon-slim-lapel:before {
  content: "\e960";
}
.icon-square-french:before {
  content: "\e961";
}
.icon-square:before {
  content: "\e962";
}
.icon-standard-placket:before {
  content: "\e963";
}
.icon-standard:before {
  content: "\e964";
}
.icon-standup-collor:before {
  content: "\e965";
}
.icon-straightedge:before {
  content: "\e966";
}
.icon-substract:before {
  content: "\e967";
}
.icon-tail:before {
  content: "\e968";
}
.icon-thread:before {
  content: "\e969";
}
.icon-tool:before {
  content: "\e96a";
}
.icon-upload:before {
  content: "\e96b";
}
.icon-user:before {
  content: "\e96c";
}
.icon-ventless:before {
  content: "\e96d";
}
.icon-vertical:before {
  content: "\e96e";
}
.icon-waisted:before {
  content: "\e96f";
}
.icon-wide-collor:before {
  content: "\e970";
}
.icon-wide:before {
  content: "\e971";
}
.icon-wing-collor:before {
  content: "\e972";
}
.icon-with-buttons-holes:before {
  content: "\e973";
}
.icon-with-flapsuit:before {
  content: "\e974";
}
.icon-with-flapx3suit:before {
  content: "\e975";
}
.icon-withoutflap:before {
  content: "\e976";
}
.icon-withpantcuffs:before {
  content: "\e977";
}
.icon-clothes2:before {
  content: "\e978";
}
.icon-send:before {
  content: "\e979";
}
.icon-star-black-fivepointed-shape:before {
  content: "\e97b";
}
.icon-tool2:before {
  content: "\e97a";
}
.icon-signs:before {
  content: "\e97c";
}
.icon-substract2:before {
  content: "\e97d";
}

