@font-face {
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
}
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
    font-family: Flaticon;
    font-style: normal;
    margin-left: 0;
}
.flaticon-champagne::before {
    content: "";
}
.flaticon-chocolate::before {
    content: "";
}
.flaticon-contrast::before {
    content: "";
}
.flaticon-cutlery::before {
    content: "";
}
.flaticon-cutlery-1::before {
    content: "";
}
.flaticon-dinner::before {
    content: "";
}
.flaticon-fabric::before {
    content: "";
}
.flaticon-layers::before {
    content: "";
}
.flaticon-ruler::before {
    content: "";
}
.modal-header {
    min-height: 45.43px !important;
}
.theView {
    display: none;
    left: 0;
    top: 0;
    width: 400px;
}
.theView.active {
    display: inline-block;
}
.theViewM {
    display: none;
    left: 0;
    top: 0;
    width: 400px;
}
.theViewM.active {
    display: inline-block;
}
/*#zoomOfTool .modal-dialog {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}*/
.modal-content {
    border-radius: 0;
    height: auto;
    min-height: 100%;
}
#zoomOfTool, #measurement {
    z-index: 9999 !important;
}
#zoom_cancle a.close {
    color: #666;
    cursor: pointer;
    font-family: "nc-nav";
    font-size: 60px;
    position: fixed;
    right: 15px;
    text-decoration: none;
    top: 15px;
    z-index: 99999;
}
.zoomOut {
    left: 109px !important;
    position: absolute;
    right: 0;
    top: -114px;
    transition: all 0.5s ease-in-out 0s;
    width: 85% !important;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}
@keyframes slide {
    100% {
        left: 0;
    }
}

fabricview , fabricviewaccent {
    cursor: pointer;
}
.buttonPos {
    margin-left: 716px;
    margin-top: 427px;
}
.buttonStyl {
    background-color: #bbb;
    border: medium none;
    border-radius: 6px;
    color: #fff;
    font-family: "Oswald";
    font-size: 20px;
    padding: 0.5em;
    text-decoration: none;
}
.view-thumb .active {
    /*background: #d09b3c none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0 1px goldenrod;*/
    border: none;
    background: #D09B3C;
    box-shadow: 0px 0px 1px goldenrod;
}
.buttonStyl:hover {
    background: #d09b3c none repeat scroll 0 0;
    border: medium none;
    box-shadow: 0 0 1px goldenrod;
}
.style-view img {
    height: 50px;
    margin-left: -4px;
}
.start-view {
    color: black;
    font-size: 17px;
    font-style: normal;
    margin-left: 10px;
}
.activeDesign {
    border-bottom: 1px solid #d09b3c !important;
    position: relative;
}
.innerImg {
}
.style-view > img {
    display: inline-block;
    margin-right: 15px;
}
.animate-show {
    background: white none repeat scroll 0 0;
    border: 1px solid black;
    line-height: 20px;
    opacity: 1;
    padding: 10px;
}
.fabvie {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    float: left;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px;
    padding: 5px;
    text-align: center;
}
.fabvie .start-view {
    margin: 0;
}
.info {
    margin-top: 10px;
}
#measurementFabric .fabvie {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    float: none;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 15px 5px 5px;
    text-align: center;
}
#stylePartOfTool .collapse {
    display: none;
}
#stylePartOfTool .nav {
    border-bottom: 1px dashed #dfdfdf;
}
#stylePartOfTool .collapse.in {
    display: block;
}
.buttonStyl {
    /*bottom: 20px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    width: 170px;*/
    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}
.buttonStyl {
    display: inline-block;
}
.buttonStyl {
    border-radius: 50px;
    display: inline-block;
    height: 34px;
    margin: 0 5px;
    width: 34px;
}
.myStyle {
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.cssload-container {
    height: 224px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.cssload-container .cssload-item {
    animation: 2.3s ease-in-out 0s alternate none infinite running cssload-tilt;
    background-color: rgb(205, 155, 29);
    background-image: linear-gradient(rgb(205, 155, 29), rgb(237, 203, 98));
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    cursor: pointer;
    height: 49px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 49px;
}
.cssload-container .cssload-item::after {
    animation: 2.3s ease-in-out 0s alternate none infinite running cssload-ding, 2.3s ease-in-out 0s alternate none infinite running cssload-tilt;
    background-color: rgb(205, 155, 29);
    background-image: linear-gradient(rgb(205, 155, 29), rgb(237, 203, 98));
    border-radius: 50%;
    bottom: -19px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    content: "";
    height: 10px;
    position: absolute;
    width: 10px;
}
@keyframes cssload-tilt {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes cssload-tilt {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes cssload-ding {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 49px / 5);
    }
}
@keyframes cssload-ding {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 49px / 5);
    }
}
footer {
    z-index: 999;
}
/*.option_icon_left i {
    display: inline-block;
    font-size: 35px;
    line-height: 60px;
    min-width: 60px;
    position: relative;
    text-align: center;
    vertical-align: top;
}*/
.leftMainNav .active {
    border-bottom: 1px solid #d09b3c !important;
}
.leftMainNav ul li {
    border-bottom: 1px solid #e3e3e3;
}
.modal-footer button {
    background: #d09b3c none repeat scroll 0 0;
    border: 1px solid #d09b3c;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px;
}
.mainToolareaM {
    z-index: 1;
}
.measuerright {
    z-index: 0;
}


/*//scansize*/

.scnsize {
    background-color: #e0e3ec;
    min-height: 293px;
    padding: 10px;
}
.scnsize h3 {
    color: #676767;
    text-align: center;
}
.scnsize p {
    color: #676767;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.scnsize p i {
    color: #676767;
}
.measurement {
    border: 1px solid #939393;
    padding: 10px;
}
.scnsize p img {
    display: inline-block;
}
.measurement .form-control {
    border: 1px solid #051a31;
    height: 28px;
}
.size th {
    text-align: center;
}
.size td {
    text-align: center;
}
.mins {
    line-height: 28px;
}
.size-opt {
    cursor: pointer;
}



/*//*/
.view-thumb a {
    display:inline-block !important;
    cursor:pointer;
}
.hidelastafter::after {
    content: none !important;
}

.size-opt {
    cursor: pointer;
}
.scnsize {
    background-color: #e0e3ec;
    min-height: 293px;
    padding: 10px;
}
.scnsize h3 {
    color: #676767;
    text-align: center;
}
.scnsize p {
    color: #676767;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.scnsize p i {
    color: #676767;
}
.measurement {
    border: 1px solid #939393;
    padding: 10px;
}
.scnsize p img {
    display: inline-block;
}
.measurement .form-control {
    border: 1px solid #051a31;
    height: 28px;
}
.size th {
    text-align: center;
}
.size td {
    text-align: center;
}
.mins {
    line-height: 28px;
}
.zoomContainer {
    z-index: 999;
}
header {
    position:relative;
    z-index:999;
}
.ToolSection {
    padding:10px 0;
}
.sidebar-options ul li {
    border-bottom:1px solid #eee;
}
.sidebar-options ul li a {
    position:relative;
}
.mCSB_inside > .mCSB_container {
    margin-right:0px;
}
.Accent .removemin {
    right:20px;
    top:0px;
}
.style .removemin {
    right:4px;
    top:0px;
}
.slde-in .mCSB_scrollTools {
    opacity:0.30;
}
.leftMainNav::after {
    right:0px;
}
.leftMainNav {
    padding-right:0px;
}
.box_option.active {
    left:61px;
}
.sidebar-options div.box_option li {
    padding:0 5px;
    width:45%;
}
.sidebar-options div.box_option li {
    height: 150px !important;
}
.sidebar-options div#divaccent_6 li {
    height: 165px !important;
}
.sidebar-options div.box_option li.optiontrigger .start-view{
    height: 65px !important;
    margin:0;
}
.sidebar-options div.box_option li a{
    height:80px !important;
}
.sidebar-options div.box_option li img.innerImg,
.sidebar-options div.box_option li.optiontrigger .start-view img{
    top:0 !important;
}
.leftMainNav ul li.active a {
    font-size:11px;
}
.fabcolelbow , #div5 .lining {
    height: 600px; overflow: auto;
}
#div5 .lining li {
    margin-bottom: 10px;
}
.Accent.min .option_title {
    display: none;
}
#lapelSize .price-info {
    margin-top: 20px;
}
/*-------- SS 10-5-18 --------*/
#zoomOfTool.modal .prev-holder img{
    width: 600px;
}

/*17 may 2018*/

.mainToolarea{
    width: 100% !important;
    height: 100%;
    margin: 0px auto;
}

.h-display {
    font-size: 13px;
    position: absolute;
    top: 75%;
    left: 0;
    display: none;
    transition: all 0.3s linear;
}
.filter-icon:hover .h-display{
    display: block;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.progressInner > img{
    display: inline-block;
}

#mainImageHolder img {
    height: auto;
    /*width: 50%!important;*/
    top: -154px !important;
    width: 70% !important;
}
.activeUp {
    margin-top: -338px !important;
    transition: all 0.5s ease-in-out 0s;
}
