/* CSS Document */
@charset "utf-8";
@media screen and (min-width : 1400px) {
}
@media screen and (max-width : 1024px) {
}

@media screen and (min-width : 992px) and (max-width : 1024px) {
}

@media screen and (min-width : 768px) and (max-width : 1024px) {

}

@media screen and (max-width : 767px) {
.sidebar-options {
  width: 320px !important;
}
.box_option {
  top: 0px;
}
p.title {
  font-size: 15px !important;
  padding: 10px !important;
  background-color:#e5e5e5;
  margin:0px;
}
.slde-inoption {
  height: 100vh !important;
  max-height: 100% !important;
}
.slde-inoption .mCSB_scrollTools {
  right: -5px !important;
}
.LeftpanemOpen .leftpanelsection{
  left:300px !important;	
}
.leftpanelsection{
  left:-100% !important;	
}
}

@media screen and (min-width : 480px) and (max-width : 767px) {

}

@media screen and (max-width : 480px) {
  .LeftpanemOpen .leftpanelsection {
        left: 100% !important;
        width: 100%;
    }

} 