<?php
/**
 * Copyright © 2013-2017 GiaPhuGroup Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 */
// @codingStandardsIgnoreFile

/**
 * @var \PHPCuong\Newsletter\Block\Subscribe $block
 * @see \PHPCuong\Newsletter\Block\Subscribe
 */
?>
<style>
    .popup-newsletter .block.newsletter {
        width: 100%;
    }
    .newsletter-content {
        display: none;
    }
    .newsletter-content .messages {
        display: none;
    }
    .newsletter-content h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: initial;
        margin: 15px 0px;
    }
    .newsletter-content.block.newsletter .actions {
        display: block;
        margin-top: 10px;
        width: 100%;
    }
    .newsletter-content .actions .action.subscribe.primary {
        border-radius: 3px;
        width: 100%;
        display: block;
    }
</style>

<div align="center" class="block newsletter newsletter-content" id="popupChanged-newsletter">
    <div class="messages">
        <div class="message message-error error">
            <div></div>
        </div>
    </div>
    <div class="intro">
        <p><?php echo __('Want to be the first to hear latest news and find out about our exclusive promotions.'); ?></p>
        <h5 class="modal-title"><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:'); ?></h5>
    </div>
    <div class="content">
        <form class="form subscribe"
              novalidate
              action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl(); ?>"
              method="post"
              data-mage-init='{"validation": {"errorClass": "mage-error"}}'
              id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:'); ?></span></label>
                <div class="control form-group cust-input">
                    <span class="cust-icon"><i class="fa fa-envelope"></i></span>
                    <input class="form-control" name="email" type="email" id="newsletter"
                           placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address'); ?>"
                           data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary btn cust-btn" title="<?php /* @escapeNotVerified */ echo __('Subscribe'); ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('Subscribe'); ?></span>
                </button>
            </div>
            <div class="user-msg">
                The code will be sent to your email id <span>The offer excludes Made-To-Measure</span>
            </div>
        </form>
    </div>
</div>


<script type="text/x-magento-init">
    {
        "#popup-newsletter": {
            "PHPCuong_Newsletter/js/process-popup-newsletter": {
                "popupTitle": "<?php /* @escapeNotVerified */ echo __('Newsletter'); ?>",
                "checkCustomerUrl": "<?php /* @escapeNotVerified */ echo $block->getCheckCustomerUrl(); ?>"
            }
        }
    }
</script>
