<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<section class="cms-banner" style="background-image: url(<?php echo $this->getViewFileUrl('images/cms-contact.png'); ?>);">
    <div class="cms-caption">
        <div class="common-heading">
            <span>Contact Us</span>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="<?php echo $baseUrl ?>">Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
</section>
<section class="contact-map">
    <!-- <div class="map-blk">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7566.570917653717!2d73.9211176265942!3d18.515998023123963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c18d3fd3454d%3A0x38ae6b1008a0d0c4!2sMagarpatta+City%2C+Hadapsar%2C+Pune%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1541057954550" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div> -->
    <div class="container">
	    <div class="contact-form-blk clearfix">
	        <div class="left-info">
	            <div class="common-heading">
	                <span>Contact Address</span>
	            </div>
	            <div class="left-desp">
	                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam</p>
	            </div>
	            <div class="cont-info-details">
	                <div class="media">
	                    <div class="media-left">
	                        <i class="fa fa-map-marker"></i>
	                    </div>
	                    <div class="media-body">
	                        <p>Head Office Hong Kong </p> <p>Room 20A Kiu Fu Commercial Building</p> <p> 300 Lockhart Road</p> <p>Wan Chai, Hong Kong</p>
	                    </div>
	                </div>
	                <div class="media">
	                    <div class="media-left">
	                        <i class="fa fa-phone"></i>
	                    </div>
	                    <div class="media-body">
	                        <p><a href="tel:+4402312457">+44 (0) 2352634 000</a></p>
	                    </div>
	                </div>
	                <div class="media">
	                    <div class="media-left">
	                        <i class="fa fa-envelope"></i>
	                    </div>
	                    <div class="media-body">
	                        <p><a href="mailto:info@thetailoringco.co">info@thetailoringco.co</a></p>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="right-form">
	            <div class="common-heading">
	                <span>Get In Touch</span>
	            </div>		
	            <div class="cont-form left-desp">
	                <form class="form contact" action="<?= $block->escapeUrl($block->getFormAction()) ?>" id="contact-form" method="post"
	                      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
	                      data-mage-init='{"validation":{}}'>
	                    <fieldset class="fieldset">                                                
	                        <div class="form-group field name required">                            
	                            <div class="cust-inp control">
	                                <input name="name" placeholder="Name *" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text form-control" type="text" data-validate="{required:true, 'validate-alpha':true}"/>
	                            </div>
	                        </div>
	                        <div class="form-group field email required">                            
	                            <div class="cust-inp control">
	                                <input name="email" placeholder="Email *" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text form-control" type="email" data-validate="{required:true, 'validate-email':true}"/>
	                            </div>
	                        </div>
	                        <div class="form-group field telephone">                            
	                            <div class="cust-inp control">
	                                <input name="telephone" placeholder="Telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text form-control" type="text" data-validate="{'validate-number':true}" />
	                            </div>
	                        </div>
	                        <div class="form-group field comment required">                            
	                            <div class="cust-inp control">
	                                <textarea name="comment" placeholder="What’s on your mind? *" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text form-control" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
	                            </div>
	                        </div>
	                        <?= $block->getChildHtml('form.additional.info') ?>
	                    </fieldset>
	                    <div class="form-group actions-toolbar">
	                        <div class="primary">
	                            <input type="hidden" name="hideit" id="hideit" value="" />
	                            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="form-control action submit primary">
	                                <span><?= $block->escapeHtml(__('Submit')) ?></span>
	                            </button>
	                        </div>
	                    </div>
	                </form>                
	            </div>		
	        </div>
	    </div>
	</div>
</section>
