<?php
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotLoggedIn();
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotWholesaler();

/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Edit $block */
$blockObject = $block->getLayout()->createBlock('Wholesaler\Mgmt\Block\Measurement\Index');
$params = $blockObject->getRequest()->getParams();
$cust_id = $params['id'];

$data = $block->getBodyMeasurements($cust_id);
$measurementArray = json_decode($data['json'],true);
if($measurementArray['convert_type']=="inch"){
  $inch_check ="checked='checked'";
  $msg ="(In Inch)"; 
  $cm_check ="";
}else{
  $msg ="(In Cm)"; 
   $cm_check ="checked='checked'";
 }
?>


<div class="block block-dashboard-info">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Measurement Details ')) ?></strong>
        <strong class="scan_msg"><?php echo @$msg; ?></strong>
    </div>

    <form class="form form-edit-measurement" action="<?= $block->escapeUrl($block->getUrl('manage_wholesaler/measurement/saveMeasurement')) ?>" method="post" id="body-measurement-form" enctype="multipart/form-data" autocomplete="off" data-mage-init='{"validation":{}}'>
    <div>
      <label class="radio">
          <input type="radio" name="convert_type" id="radioStdCm" ng-model="unitName" value="cm" onchange="changeUnit('cm');" <?php echo @$cm_check; ?>>
          Cm </label>
      <label class="radio">
          <input type="radio" name="convert_type" id="radioStdInch" ng-model="unitName" value="inch" <?php echo @$inch_check; ?> onchange="changeUnit('inch');">
          Inch </label>

    </div>            


    <div class="product data items" role="tablist" id="tabs" data-mage-init='{"tabs":{"openedState":"active"}}'>
        <div class="data item title" aria-labeledby="tab-label-reviews-title" data-role="collapsible" id="tabs1" role="tab" data-collapsible="true" aria-controls="reviews" aria-selected="false" aria-expanded="true" tabindex="1">
            <a class="data switch" tabindex="1" data-toggle="switch" href="#shirt_fieldset" id="tab-label-reviews-title">
                Shirt Measurements
            </a>
        </div>
        <div class="data item title" aria-labeledby="tab-label-reviews-title" data-role="collapsible" id="tabs2" role="tab" data-collapsible="true" aria-controls="reviews" aria-selected="false" aria-expanded="true" tabindex="2">
            <a class="data switch" tabindex="2" data-toggle="switch" href="#suit_fieldset" id="tab-label-reviews-title2">
                Suit Measurements
            </a>
        </div>
        <div class="data item title" aria-labeledby="tab-label-reviews-title" data-role="collapsible" id="tabs3" role="tab" data-collapsible="true" aria-controls="reviews" aria-selected="false" aria-expanded="true" tabindex="2">
            <a class="data switch" tabindex="2" data-toggle="switch" href="#pant_fieldset" id="tab-label-reviews-title2">
                Pant Measurements
            </a>
        </div>
        <div class="data item title" aria-labeledby="tab-label-reviews-title" data-role="collapsible" id="tabs4" role="tab" data-collapsible="true" aria-controls="reviews" aria-selected="false" aria-expanded="true" tabindex="2">
            <a class="data switch" tabindex="2" data-toggle="switch" href="#waist_fieldset" id="tab-label-reviews-title2">
                Waist coat Measurements
            </a>
        </div>



        <div class="data item content" id="shirt_fieldset" data-role="content" aria-labelledby="tab-label-reviews" role="tabpanel">

        <fieldset class="fieldset" style="width:50%; float:left;">

            <div class="field">
                <label for="sh_collar" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Collar') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_collar"
                           name="sh_collar"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"                           
                           value="<?php echo @$measurementArray['sh_collar']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="sh_shoulder" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Shoulder') ?></span>
                </label>

                <div class="control">
                    <input type="text" id="sh_shoulder"
                           name="sh_shoulder"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_shoulder']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="sh_backlength" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Back Length') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_backlength"
                           name="sh_backlength"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_backlength']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="sh_chest" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Chest') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_chest"
                           name="sh_chest"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_chest']; ?>">  
                </div>
            </div>
            <div class="field">
                <label for="sh_sleeve" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Sleeve') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_sleeve"
                           name="sh_sleeve"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_sleeve']; ?>">
                </div>
            </div>
        </fieldset>    
        <fieldset class="fieldset" style="width:50%; float:left;">
            <div class="field">
                <label for="sh_stomach" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Stomach') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_stomach"
                           name="sh_stomach"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_stomach']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="sh_seat" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Seat') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_seat"
                           name="sh_seat"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_seat']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="sh_bicepwidth" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Bicep Width') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_bicepwidth"
                           name="sh_bicepwidth"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_bicepwidth']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="sh_wristwidth" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Wrist Width') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="sh_wristwidth"
                           name="sh_wristwidth"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['sh_wristwidth']; ?>">
                </div>
            </div>
        </fieldset>
        </div>

        <div class="data item content" id="suit_fieldset" data-role="content" aria-labelledby="tab-label-reviews" role="tabpanel">
        <fieldset class="fieldset" style="width:50%; float:left;">

            <div class="field">
                <label for="su_front_jacket_length" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Front Jacket Length') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_front_jacket_length"
                           name="su_front_jacket_length"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_front_jacket_length']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="su_shoulder" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Shoulder') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_shoulder"
                           name="su_shoulder"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_shoulder']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="su_back_jacket_length" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Back Jacket Length') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_back_jacket_length"
                           name="su_back_jacket_length"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_back_jacket_length']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="su_chest" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Chest') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_chest"
                           name="su_chest"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_chest']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="su_sleevelength" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Sleeve Length') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_sleevelength"
                           name="su_sleevelength"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_sleevelength']; ?>">
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset" style="width:50%; float:left;">
            <div class="field">
                <label for="su_stomach" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Stomach') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_stomach"
                           name="su_stomach"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_stomach']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="su_seat" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Seat') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_seat"
                           name="su_seat"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_seat']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="su_bicep_width" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Bicep Width') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_bicep_width"
                           name="su_bicep_width"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_bicep_width']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="su_wrist_width" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Wrist Width') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="su_wrist_width"
                           name="su_wrist_width"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['su_wrist_width']; ?>">
                </div>
            </div>
        </fieldset>
        </div>

        <div class="data item content" id="pant_fieldset" data-role="content" aria-labelledby="tab-label-reviews" role="tabpanel">
        <fieldset class="fieldset" style="width:50%; float:left;">
            <div class="field">
                <label for="pa_trouser_waist" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Trouser Waist') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="pa_trouser_waist"
                           name="pa_trouser_waist"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['pa_trouser_waist']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="pa_seat" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Seat') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="pa_seat"
                           name="pa_seat"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['pa_seat']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="pa_outseam" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Outseam') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="pa_outseam"
                           name="pa_outseam"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['pa_outseam']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="pa_thigh" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Thigh') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="pa_thigh"
                           name="pa_thigh"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['pa_thigh']; ?>">
                </div>
            </div>
        </fieldset>
        <fieldset class="fieldset" style="width:50%; float:left;">
            <div class="field">
                <label for="pa_knee" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Knee') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="pa_knee"
                           name="pa_knee"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['pa_knee']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="pa_ankle" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Ankle') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="pa_ankle"
                           name="pa_ankle"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['pa_ankle']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="pa_crotch" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Crotch') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="pa_crotch"
                           name="pa_crotch"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['pa_crotch']; ?>">
                </div>
            </div>
        </fieldset>
        </div>

        <div class="data item content" id="waist_fieldset" data-role="content" aria-labelledby="tab-label-reviews" role="tabpanel">
        <fieldset class="fieldset" style="width:50%; float:left;">
            <div class="field">
                <label for="wc_chest" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Chest') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="wc_chest"
                           name="wc_chest"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['wc_chest']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="wc_backlength" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Back Length') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="wc_backlength"
                           name="wc_backlength"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['wc_backlength']; ?>">
                </div>
            </div>
            <div class="field">
                <label for="wc_waist" class="label">
                    <span><?php /* @escapeNotVerified */ echo __('Waist') ?></span>
                </label>
                <div class="control">
                    <input type="text" id="wc_waist"
                           name="wc_waist"
                           class="scan_number input-text validate-number validate-greater-than-zero"
                           style="width:80%;"
                           value="<?php echo @$measurementArray['wc_waist']; ?>">
                </div>
            </div>
        </fieldset>
        </div>

    </div>
    <fieldset class="fieldset" style="width:100%;">

        <div class="field ">
            <div class="control">
                <input type="hidden" id="customer_id"
                       name="customer_id"
                       class="input-text validate-number validate-greater-than-zero"
                       style="width:80%;"
                       value="<?= $params['id'] ?>">
            </div>
        </div>

        <div class="actions-toolbar">          
            <div class="primary">
                <button type="submit" class="action submit save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
            </div>
        </div>
    </fieldset>    

  </form>
</div>

<script type="text/javascript">
require([
    'jquery',
    'mage/mage'
], function($){
 
   var dataForm = $('#body-measurement-form');
   dataForm.mage('validation', {});
 
});
</script>
<script>
    function changeUnit(unitVal) 
        {
            if (unitVal == "cm") {
                convertVal = 2.54;
                msg="(In cm)";
                jQuery(".scan_number").each(function (e) {
                    if (jQuery(this).val() != "") {
                        var res = parseFloat(parseFloat(jQuery(this).val()) * convertVal).toFixed(1);
                        jQuery(this).val(res);
                    }
                });
            } else {
                convertVal = 0.393701;
                msg="(In Inch)";
                jQuery(".scan_number").each(function (e) {
                    if (jQuery(this).val() != "") {
                        var res = parseFloat(parseFloat(jQuery(this).val()) * convertVal).toFixed(2);
                        jQuery(this).val(res);
                    }
                });
            }
            jQuery(".scan_msg").html(msg);

        } 

</script>


<style type="text/css">
.radio{
  padding-left:40px;
}

</style>