<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);



$item = $block->getItem();
$itemId = $item->getId();

$product = $item->getProduct();
$prod_id = $product->getId();

$data = json_decode($item->getData('json'), true);

if ($data && isset($data['type'])) {
    if ($data['type'] == 'Shirt') {
        $designUrl = $baseUrl . "men-shirt/index/index/wishlist_item_id/" . $itemId;
    } else if ($data['type'] == 'Suit') {
        $designUrl = $baseUrl . "men-suit/index/index/wishlist_item_id/" . $itemId;
    } else if ($data['type'] == 'WomenShirt') {
        $designUrl = $baseUrl . "women-shirt/index/index/wishlist_item_id/" . $itemId;
    } else if ($data['type'] == 'WomenSuit') {
        $designUrl = $baseUrl . "women-suit/index/index/wishlist_item_id/" . $itemId;
    }
}

?>

<?php if ($product->isVisibleInSiteVisibility()): ?>

    <?php if (is_null($data) || array_key_exists('rtw_measurement', $data)) { ?>

	    <a class="action edit" href="<?= $block->escapeUrl($block->getItemConfigureUrl($item)) ?>">
	        <span><?= $block->escapeHtml(__('Edit')) ?></span>
	    </a>

    <?php } else { ?>

	    <a class="action edit" href="<?= /* @escapeNotVerified */ $designUrl ?>">
	        <span><?= $block->escapeHtml(__('Edit')) ?></span>
	    </a>

    <?php } ?>


<?php endif ?>

<?php 

	$wishlist_item_id = $item->getId();
    if ($item->getData('json') != "") {
        $data_array = json_decode($item->getData('json'));
    } else {
        $data_array = array();
    }


    if (!is_null($item->getData('json')) && !array_key_exists("rtw_measurement", $data_array)) { ?>
    <button type="button" id="openModel<?php echo $wishlist_item_id; ?>" data-id="<?php echo $wishlist_item_id; ?>" class="btn myModel btn-primary addMeasurementButton">View Details</button>

<?php }else if(is_null($item->getData('json'))){

	}else { ?>
    <button type="button" data-id="<?php echo $wishlist_item_id; ?>" class="btn addMeasurementButton view_measurement btn-primary">View Details</button>

<?php } ?>


