<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Image $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);


if(is_null($item->getData('json')) || $item->getData('json')=='null'){ ?>
	<a class="product-item-photo" tabindex="-1" href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
	    <?= $block->getImage($product, 'wishlist_thumbnail')->toHtml() ?>
	</a>

<?php }else{
	$data = json_decode($item->getJson(),true);

	if (isset($data['type'])) {
	    if ($data['type'] == 'Shirt') {
	        $designUrl = $baseUrl . "men-shirt/";
	        $img = "<img src=".$storeManager->getStore()->getBaseUrl() . $data['product']."  alt=prodImg>";
	    } else if ($data['type'] == 'Suit') {
	        $designUrl = $baseUrl . "men-suit/";
	        $img = "<img src=".$storeManager->getStore()->getBaseUrl() . $data['product']."  alt=prodImg>";
	    } else if ($data['type'] == 'WomenShirt') {
	        $designUrl = $baseUrl . "women-shirt/";
	        $img = "<img src=".$storeManager->getStore()->getBaseUrl() . $data['product']."  alt=prodImg>";
	    } else if ($data['type'] == 'WomenSuit') {
	        $designUrl = $baseUrl . "women-suit/";
	        $img = "<img src=".$storeManager->getStore()->getBaseUrl() . $data['product']."  alt=prodImg>";
	    }
	}else{
	    $designUrl = $block->escapeUrl($block->getProductUrl($item));
	    $img = $block->getImage($product, 'wishlist_thumbnail')->toHtml();
	}


    ?>

	<a class="product-item-photo" tabindex="-1" href="<?php echo $designUrl; ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>">
		<?php echo $img; ?>
	</a>


<?php } ?>

