<?php

?>

<div id="myModel" style="display:none;">     
    <div id="productImage">
    </div>  

    <div class="style-table-sec">       
        <table id="styleTable">
        </table>
    </div>

    <div class="measurement-table-sec">
        <table id="measurementTable">
        </table>
    </div>
</div>

<div id="myMeasurementModel" style="display:none;">     
    <div class="measurement-table-sec">
        <table id="rtwmeasurementTable">
        </table>
    </div>
</div>

<script>
    require(
            [
                'jquery',
                'Magento_Ui/js/modal/modal'
            ],
            function ($, modal) {

                $(".myModel").on("click", function () {
                    var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Details of products',
                        buttons: [{
                                text: $.mage.__('Continue'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                }
                            }]
                    };
                    var id = '';
                    var baseurl = BASE_URL;
                    var popup = modal(options, $('#myModel'));

                    $('#styleTable').html('');
                    $('#measurementTable').html('');
                    $('#productImage').html('');

                    id = $(this).attr('data-id');


                    $('#myModel').modal('openModal');

                    $.ajax({
                        type: 'POST',
                        url: baseurl + "c_customer/Designdata/Designdata/",
                        data: {id: id, reqType: 'wishlist'},
                        showLoader: true,
                        success: function (data) {

                            var img = '';
                            img = "<img src='" + data.img + "' width='250' height='250'>";
                            var mTableTh = "<tr><th colspan='2'>Measurement Details </th></tr>"
                            var mTable = '';

                            var sTableTh = "<tr><th colspan='2'>Style Details </th></tr>"
                            var sTable = '';

                            $("#styleTable").html(sTableTh + data.styles);
                            $("#measurementTable").html(mTableTh + data.measurement);
                            $("#productImage").html(img);

                        }

                    });
                });

                $(".view_measurement").on("click", function () {
                    var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Details of products',
                        buttons: [{
                                text: $.mage.__('Continue'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                }
                            }]
                    };
                    var id = '';
                    var baseurl = BASE_URL;
                    var popup = modal(options, $('#myMeasurementModel'));

                    $('#measurementTable').html('');
                    id = $(this).attr('data-id');

                    $('#myMeasurementModel').modal('openModal');

                    $.ajax({
                        type: 'POST',
                        url: baseurl + "c_customer/Designdata/Designdata/",
                        data: {id: id, reqType: 'wishlist_rtw'},
                        showLoader: true,
                        success: function (data) {

                           $("#rtwmeasurementTable").html(data.measurement);
                        }

                    });
                });


            });

</script>


<style type="text/css">
    #myModel {
        margin:0px -15px;
    }

    #productImage, .style-table-sec, #myModel .measurement-table-sec {
        width: 33.33%;
        float:left;
        padding: 0% 15px;
    }
    #myMeasurementModel .measurement-table-sec {
        padding: 0% 150px;
    }
    #imageDiv{
        width: 150px;
    }
    #imageCol{
        padding-right: 0%;
        width: 150px;
    }
    #productImage img{
        padding-top:20px;
    }
    #measurementTable td,#measurementTable th,#styleTable td,#styleTable th,#rtwmeasurementTable td,#rtwmeasurementTable th {  
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;  
    }
    #measurementTable tr:nth-child(even),#styleTable tr:nth-child(even) ,#rtwmeasurementTable tr:nth-child(even){ 
        background-color: #dddddd; 
    }
    .modal-popup .modal-inner-wrap {
        margin: 4rem auto !important;
    }
    .modal-slide
    {
        overflow: auto !important;
    }
    .modal-inner-wrap
    {
        z-index: 99999999999999999 !important;
    }
    .modal-popup .modal-header {
        padding-bottom: 0.2rem !important;
        padding-top: 2rem !important;
        border-bottom :none !important;
    }
    .modal-footer {
        padding-bottom: 2rem !important;
        padding-top: 2rem !important;
    }
    .details{
        text-align: right !important;
    }
    .modal-header{
        background: #fff !important;
    }
</style>