<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */

if($block->isWholesaler() == "TRUE"){

$measurementArray = $block->getCurrentCustomerBodyMeasurements();
$data = json_decode($measurementArray['json'],true);

if($data != NULL){

    foreach ($data as $key => $value) {
        if($value == '')
        $data[$key] = '-';    
        
      }

    if($data['convert_type']=="cm")
      $msg ="(In Cm)"; 
    else
      $msg ="(In Inch)"; 
    

}


?>
<div class="block block-dashboard-info">
    <div class="block-title">
       <strong><?= $block->escapeHtml(__('Body Measurement Information')) ?></strong>
        <strong class="scan_msg"><?php echo @$msg; ?></strong>
    </div>

    <div class="block-content">

        <div class="box box-newsletter">
            <?php 
                if($data!= '')
                 {
                ?>

                <div class="container">
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">

                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Measurements for Shirt</a>
                        </h4>
                      </div>

                      <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <table border="1">
                                <tr>
                                    <th>Collar</th>
                                    <td><?php echo @$data['sh_collar']; ?>
                                    <th>Shoulder</th>
                                    <td><?php echo @$data['sh_shoulder']; ?>
                                </tr>
                                <tr>
                                    <th>Back Length</th>
                                    <td><?php echo @$data['sh_backlength']; ?>
                                    <th>Chest</th>
                                    <td><?php echo @$data['sh_chest']; ?>
                                </tr>
                                <tr>
                                    <th>Sleeve</th>
                                    <td><?php echo @$data['sh_sleeve']; ?>
                                    <th>Stomach</th>
                                    <td><?php echo @$data['sh_stomach']; ?>
                                </tr>
                                <tr>
                                    <th>Seat</th>
                                    <td><?php echo @$data['sh_seat']; ?>
                                    <th>Bicep Width </th>
                                    <td><?php echo @$data['sh_bicepwidth']; ?>
                                </tr>
                                <tr>
                                    <th>Wrist Width</th>
                                    <td><?php echo @$data['sh_wristwidth']; ?>
                                </tr>
                            </table>

                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse2">Measurements for Suit</a>
                        </h4>
                      </div>
                      <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">

                            <table border="1">
                                <tr>
                                    <th>Front Jacket Length </th>
                                    <td><?php echo @$data['su_front_jacket_length']; ?>
                                    <th>Shoulder</th>
                                    <td><?php echo @$data['su_shoulder']; ?>
                                </tr>
                                <tr>
                                    <th>Back Jacket Length </th>
                                    <td><?php echo @$data['su_back_jacket_length']; ?>
                                    <th>Chest</th>
                                    <td><?php echo @$data['su_chest']; ?>
                                </tr>
                                <tr>
                                    <th>Sleeve Length</th>
                                    <td><?php echo @$data['su_sleevelength']; ?>
                                    <th>Stomach</th>
                                    <td><?php echo @$data['su_stomach']; ?>
                                </tr>
                                <tr>
                                    <th>Seat</th>
                                    <td><?php echo @$data['su_seat']; ?>
                                    <th>Bicep Width </th>
                                    <td><?php echo @$data['su_bicep_width']; ?>
                                </tr>
                                <tr>
                                    <th>Wrist Width</th>
                                    <td><?php echo @$data['su_wrist_width']; ?>
                                </tr>
                            </table>
                            
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse3">Measurements for Pant</a>
                        </h4>
                      </div>
                      <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">

                            <table border="1">
                                <tr>
                                    <th>Trouser Waist</th>
                                    <td><?php echo @$data['pa_trouser_waist']; ?>
                                    <th>Outseam</th>
                                    <td><?php echo @$data['pa_outseam']; ?>
                                </tr>
                                <tr>
                                    <th>Thigh</th>
                                    <td><?php echo @$data['pa_thigh']; ?>
                                    <th>Knee</th>
                                    <td><?php echo @$data['pa_knee']; ?>
                                </tr>
                                <tr>
                                    <th>Ankle</th>
                                    <td><?php echo @$data['pa_ankle']; ?>
                                    <th>Crotch</th>
                                    <td><?php echo @$data['pa_crotch']; ?>
                                </tr>
                                <tr>
                                    <th>Seat</th>
                                    <td><?php echo @$data['pa_seat']; ?>
                                </tr>
                            </table>
                            
                        </div>
                      </div>
                    </div>

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse4">Measurements for Waistcoat</a>
                        </h4>
                      </div>
                      <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table border="1">
                                <tr>
                                    <th>Chest</th>
                                    <td><?php echo @$data['wc_chest']; ?>
                                    <th>Back Length</th>
                                    <td><?php echo @$data['wc_backlength']; ?>
                                </tr>
                                <tr>
                                    <th>Waist</th>
                                    <td><?php echo @$data['wc_waist']; ?>
                                </tr>
                            </table>
                            
                        </div>
                      </div>
                    </div>


                  </div> 
                </div>

            <?php }

        ?>

                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getCurrentCustomerBodyMeasurementsEditUrl()) ?>"><span><?= $block->escapeHtml(__('Edit Measurements')) ?></span></a>

                    <?php if($data!= ''){ ?>

                    <a class="action delete" href="#" role="delete-measurement" data-measurement="<?= $block->escapeHtmlAttr($block->getCurrentCustomerMeasurementId()) ?>"><span><?= $block->escapeHtml(__('Delete')) ?></span></a>

                    <?php } ?>

                </div>
        </div>

    </div>
</div>

<?php } ?>

<script type="text/x-magento-init">
    {
        ".page-main": {
            "measurement": {
                "deleteMeasurement": "a[role='delete-measurement']",
                "deleteUrlPrefix": "<?= $block->escapeJs($block->escapeUrl($block->getCurrentCustomerDeleteMeasurementUrl())) ?>m_id/"
            }
        }
    }
</script>
<style type="text/css">
.panel-default{
    width:50%;
}

</style>
