<?php

        $om = \Magento\Framework\App\ObjectManager::getInstance();
        $customerSession = $om->get('Magento\Customer\Model\Session');
        if (!($customerSession->isLoggedIn())) {

?>
<li>
<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sign in
	<span class="caret"></span>
</button>
<ul class="dropdown-menu">
     <?= $block->getChildHtml() ?>
</ul>
</li>





<?php } ?>

<style>
.header.links{

    position: relative;
 
}
.dropdown-toggle{
	background-color: #fff;
	color: #555;
	border: none;
	padding-top: 0;
}

.dropdown-toggle:hover
{
	background-color: #fff;
	color: #555;
	border: none;
	padding-top: 0;
}
</style>