<?php
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotLoggedIn();
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotWholesaler();


$invoiceCollection = $block->getInvoiceCollection();
$pagenum = $this->getPagenum();
$limit = $this->getLimit();
if($limit==NULL)
{
   $limit = 10;
}

if ($invoiceCollection && count($invoiceCollection)){ ?>

    <a href="javascript:void(0)" class="action primary exportBtn pull-right" id="export_invoice" style="text-align: center;">
        <span><i class="fa fa-upload"></i> <?= /* @escapeNotVerified */ __('Export') ?></span>
    </a>

 <?php  } ?>


    <?php
    $applyedFilter = $block->getApplyedFilters();
    ?>
    <form method="POST" name="order_filter" id="order-filter" action="<?= /* @escapeNotVerified */ $block->getFormAction() ?>">

        <table class="data table">
            <tr>        
                <td>
                    <div class="field overview required" data-role="filter-form" id="invoice_date_range">
                        <span class="field-row col-sm-6">
                            <label for="date_from">
                                <span><?= /* @escapeNotVerified */ __('Invoice Date From') ?>:</span>
                            </label>
                            <input class="input-text date date-field"
                                   type="text"
                                   id="date_from"
                                   name="date_from"
                                   value="<?= /* @escapeNotVerified */!empty($applyedFilter['date_from']) ? $applyedFilter['date_from'] : "" ?>"
                                   />
                            <span id="date_from_advice"></span>
                        </span>
                        <span class="field-row col-sm-6">
                            <label for="date_to">
                                <span><?= /* @escapeNotVerified */ __('Invoice Date To') ?>:</span>
                            </label>
                            <input class="input-text date date-field"
                                   type="text"
                                   id="date_to"
                                   name="date_to"
                                   value="<?= /* @escapeNotVerified */!empty($applyedFilter['date_to']) ? $applyedFilter['date_to'] : "" ?>"
                                   />
                            <span id="date_to_advice"></span>
                        </span>  
                    </div>
                </td>
                <td>
                    <div class="field overview required" data-role="filter-form" id="order_date_range">
                        <span class="field-row col-sm-6">
                            <label for="order_date_from">
                                <span><?= /* @escapeNotVerified */ __('Order Date From') ?>:</span>
                            </label>
                            <input class="input-text date date-field"
                                   type="text"
                                   id="order_date_from"
                                   name="order_date_from"
                                   value="<?= /* @escapeNotVerified */!empty($applyedFilter['order_date_from']) ? $applyedFilter['order_date_from'] : "" ?>"
                                   />
                            <span id="date_from_advice"></span>
                        </span>
                        <span class="field-row col-sm-6">
                            <label for="order_date_to">
                                <span><?= /* @escapeNotVerified */ __('Order Date To') ?>:</span>
                            </label>
                            <input class="input-text date date-field"
                                   type="text"
                                   id="order_date_to"
                                   name="order_date_to"
                                   value="<?= /* @escapeNotVerified */!empty($applyedFilter['order_date_to']) ? $applyedFilter['order_date_to'] : "" ?>"
                                   />
                            <span id="date_to_advice"></span>
                        </span>  
                    </div>
                </td>
                <td class="col-sm-2">
                    <label for="key_word"><?= /* @escapeNotVerified */ __('Keyword Search') ?>:</label>                          
                    <input type="text" value="<?= /* @escapeNotVerified */!empty($applyedFilter['key_word']) ? $applyedFilter['key_word'] : "" ?>" name="key_word" id="key_word" class="input-text search">
                    <div class="actions">
                        <button type="submit"
                                value="submit"
                                name="submit"
                                placeholder="Customer Name"
                                title="<?= $block->escapeHtml(__('Search')) ?>"
                                class="action search-btn">
                            <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                        </button>
                        <?php if (!is_null($applyedFilter)) : ?>
                            <button type="submit" 
                                    value="1"
                                    name="reset"
                                    title="<?= $block->escapeHtml(__('Reset Filter')) ?>"
                                    class="action reset">
                                <span><?= /* @escapeNotVerified */ __('Reset Filter') ?></span>
                            </button>
                        <?php endif; ?>
                    </div>

                </td>       
            </tr>  
        </table>
    </form>
    <?php if (!is_null($applyedFilter)) : ?>
        <ul class="keywordFound clearfix">
            <li><label>Filter By :</label></li>
            <li>
                <?php foreach ($applyedFilter as $key => $value): ?>
                    <?php if (!empty($value)): ?>
                        <span class="label label-warning"><?= /* @escapeNotVerified */ __($value) ?></span>
                    <?php endif; ?>
                <?php endforeach; ?>
            </li>
        </ul>
    <?php endif; ?>



<?php if ($invoiceCollection && count($invoiceCollection)){ ?>
    <div class="table-wrapper invoice-history">
        <table class="data table table-order-items history" id="my-invoice-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Invoices') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= /* @escapeNotVerified */ __('Invoice #') ?></th>
                    <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Invoice Date') ?></th>
                    <th scope="col" class="col orderId"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                    <th scope="col" class="col orderDate"><?= /* @escapeNotVerified */ __('Order Date') ?></th>
                    <th scope="col" class="col customerName"><?= /* @escapeNotVerified */ __('Bill-to Name') ?></th>
                    <th scope="col" class="col status"><?= /* @escapeNotVerified */ __('Status') ?></th>
                    <th scope="col" class="col clientName"><?= /* @escapeNotVerified */ __('Client Name') ?></th>
                    <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Grand Total(Base)') ?></th>
                    <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Grand Total(Purchased)') ?></th>
                    <th scope="col" class="col actions"><?= /* @escapeNotVerified */ __('Action') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($invoiceCollection as $invoice): ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtml(__('Invoice #')) ?>" class="col id"><?= /* @escapeNotVerified */ $invoice->getIncrementId() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Invoice Date')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->formatDate($invoice->getCreatedAt()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col orderId"><?= $block->getOrderIncrementId($invoice->getIncrementId()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Order Date')) ?>" class="col orderDate"><?= $block->formatDate($block->getOrderDate($invoice->getIncrementId())) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Bill-to Name')) ?>" class="col customerName"><?= $block->getCustomerName($invoice->getIncrementId()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status">Paid</td>
                        <td data-th="<?= $block->escapeHtml(__('Client Name')) ?>" class="col clientName"><?= /* @escapeNotVerified */ $block->getClientName($invoice->getIncrementId()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Grand Total(Base)')) ?>" class="col shipping"><?= $invoice->getBaseGrandTotal() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Grand Total(Purchased)')) ?>" class="col shipping"><?= $invoice->getGrandTotal() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($invoice->getOrderId()) ?>" class="action view">
                                <span><?= /* @escapeNotVerified */ __('View Invoice') ?></span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php 
}else
  $block->getNotAvailable();

?>
<?php if ($block->getPagerHtml()): ?>
    <div class="order-invoice-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>

<script>

    require([
        "jquery",
        "mage/calendar"
    ], function ($) {
        $("#invoice_date_range").dateRange({
            buttonText: "<?php echo __('Select Date') ?>",
            dateFormat: "yy-mm-dd",
            from: {
                id: "date_from"
            },
            to: {
                id: "date_to"
            }
        });
        $("#order_date_range").dateRange({
            buttonText: "<?php echo __('Select Date') ?>",
            dateFormat: "yy-mm-dd",
            from: {
                id: "order_date_from"
            },
            to: {
                id: "order_date_to"
            }
        });

        $("#export_invoice").on('click',function(){
            var invoice_date_from = $('#date_from').val();
            var invoice_date_to = $('#date_to').val();
            var order_date_from = $('#order_date_from').val();
            var order_date_to = $('#order_date_to').val();
            var order_keyword = $('#key_word').val();
            console.log(invoice_date_from,invoice_date_to,order_date_from,order_date_to,order_keyword);
            $.ajax ({
               type:'POST',
               url: BASE_URL + "manage_wholesaler/finance/export/",
               data: { date_from : invoice_date_from, date_to:invoice_date_to,order_date_from : order_date_from, order_date_to:order_date_to,key_word:order_keyword, submit:'submit'},
               success: function(data) {
                    location.href = BASE_URL + "manage_wholesaler/finance/export/";

              }
            });
                    
        });



    });

</script>