<section class="cms-banner" style="background-image: url(<?php // echo $this->getViewFileUrl('images/cms-contact.png'); ?>);">
    <div class="cms-caption">
        <div class="common-heading">
            <span>Contact Us</span>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="<?php // echo $baseUrl ?>">Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
</section>