@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hg23a5');
  src:  url('fonts/icomoon.eot?hg23a5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hg23a5') format('truetype'),
    url('fonts/icomoon.woff?hg23a5') format('woff'),
    url('fonts/icomoon.svg?hg23a5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-v1:before {
  content: "\e995";
  color: #636363;
}
.icon-icon-141:before {
  content: "\e900";
  color: #636363;
}
.icon-icon-142:before {
  content: "\e901";
  color: #636363;
}
.icon-icon-143:before {
  content: "\e902";
  color: #636363;
}
.icon-icon-144:before {
  content: "\e903";
  color: #636363;
}
.icon-icon-145:before {
  content: "\e904";
  color: #636363;
}
.icon-icon-146:before {
  content: "\e905";
  color: #636363;
}
.icon-icon-147:before {
  content: "\e906";
  color: #636363;
}
.icon-icon-148:before {
  content: "\e907";
  color: #636363;
}
.icon-icon-138:before {
  content: "\e908";
  color: #636363;
}
.icon-icon-139:before {
  content: "\e909";
  color: #636363;
}
.icon-icon-140:before {
  content: "\e90a";
  color: #636363;
}
.icon-icon-134:before {
  content: "\e90b";
  color: #636363;
}
.icon-icon-135:before {
  content: "\e90c";
  color: #636363;
}
.icon-icon-136:before {
  content: "\e90d";
  color: #636363;
}
.icon-icon-137:before {
  content: "\e90e";
  color: #636363;
}
.icon-icon-129:before {
  content: "\e90f";
  color: #636363;
}
.icon-icon-130:before {
  content: "\e910";
  color: #636363;
}
.icon-icon-131:before {
  content: "\e911";
  color: #636363;
}
.icon-icon-132:before {
  content: "\e912";
  color: #636363;
}
.icon-icon-133:before {
  content: "\e913";
  color: #636363;
}
.icon-icon-122:before {
  content: "\e914";
  color: #636363;
}
.icon-icon-123:before {
  content: "\e915";
  color: #636363;
}
.icon-icon-124:before {
  content: "\e916";
  color: #636363;
}
.icon-icon-125:before {
  content: "\e917";
  color: #636363;
}
.icon-icon-126:before {
  content: "\e918";
  color: #636363;
}
.icon-icon-127:before {
  content: "\e919";
  color: #636363;
}
.icon-icon-128:before {
  content: "\e91a";
  color: #000;
}
.icon-icon-119:before {
  content: "\e91b";
  color: #636363;
}
.icon-icon-120:before {
  content: "\e91c";
  color: #636363;
}
.icon-icon-121:before {
  content: "\e91d";
  color: #636363;
}
.icon-icon-111:before {
  content: "\e91e";
  color: #636363;
}
.icon-icon-112:before {
  content: "\e91f";
  color: #636363;
}
.icon-icon-113:before {
  content: "\e920";
  color: #636363;
}
.icon-icon-114:before {
  content: "\e921";
  color: #636363;
}
.icon-icon-115:before {
  content: "\e922";
  color: #636363;
}
.icon-icon-116:before {
  content: "\e923";
  color: #636363;
}
.icon-icon-117:before {
  content: "\e924";
  color: #636363;
}
.icon-icon-118:before {
  content: "\e925";
  color: #636363;
}
.icon-icon-108:before {
  content: "\e926";
  color: #636363;
}
.icon-icon-109:before {
  content: "\e927";
  color: #636363;
}
.icon-icon-110:before {
  content: "\e928";
  color: #636363;
}
.icon-icon-97:before {
  content: "\e929";
  color: #636363;
}
.icon-icon-98:before {
  content: "\e92a";
  color: #636363;
}
.icon-icon-99:before {
  content: "\e92b";
  color: #636363;
}
.icon-icon-100:before {
  content: "\e92c";
  color: #636363;
}
.icon-icon-101:before {
  content: "\e92d";
  color: #636363;
}
.icon-icon-102:before {
  content: "\e92e";
  color: #636363;
}
.icon-icon-103:before {
  content: "\e92f";
  color: #636363;
}
.icon-icon-104:before {
  content: "\e930";
  color: #636363;
}
.icon-icon-105:before {
  content: "\e931";
  color: #636363;
}
.icon-icon-106:before {
  content: "\e932";
  color: #636363;
}
.icon-icon-107:before {
  content: "\e933";
  color: #636363;
}
.icon-icon-92:before {
  content: "\e934";
  color: #636363;
}
.icon-icon-93:before {
  content: "\e935";
  color: #636363;
}
.icon-icon-94:before {
  content: "\e936";
  color: #636363;
}
.icon-icon-95:before {
  content: "\e937";
  color: #636363;
}
.icon-icon-96:before {
  content: "\e938";
  color: #636363;
}
.icon-icon-89:before {
  content: "\e939";
  color: #636363;
}
.icon-icon-90:before {
  content: "\e93a";
  color: #636363;
}
.icon-icon-91:before {
  content: "\e93b";
  color: #636363;
}
.icon-icon-86:before {
  content: "\e93c";
  color: #636363;
}
.icon-icon-87:before {
  content: "\e93d";
  color: #636363;
}
.icon-icon-88:before {
  content: "\e93e";
  color: #636363;
}
.icon-icon-83:before {
  content: "\e93f";
  color: #636363;
}
.icon-icon-84:before {
  content: "\e940";
  color: #636363;
}
.icon-icon-85:before {
  content: "\e941";
  color: #636363;
}
.icon-icon-80:before {
  content: "\e942";
  color: #636363;
}
.icon-icon-81:before {
  content: "\e943";
  color: #636363;
}
.icon-icon-82:before {
  content: "\e944";
  color: #636363;
}
.icon-icon-76:before {
  content: "\e945";
  color: #636363;
}
.icon-icon-77:before {
  content: "\e946";
  color: #636363;
}
.icon-icon-78:before {
  content: "\e947";
  color: #636363;
}
.icon-icon-79:before {
  content: "\e948";
  color: #636363;
}
.icon-icon-72:before {
  content: "\e949";
  color: #636363;
}
.icon-icon-73:before {
  content: "\e94a";
  color: #636363;
}
.icon-icon-74:before {
  content: "\e94b";
  color: #636363;
}
.icon-icon-75:before {
  content: "\e94c";
  color: #636363;
}
.icon-icon-68:before {
  content: "\e94d";
  color: #636363;
}
.icon-icon-69:before {
  content: "\e94e";
  color: #636363;
}
.icon-icon-70:before {
  content: "\e94f";
  color: #636363;
}
.icon-icon-71:before {
  content: "\e950";
  color: #636363;
}
.icon-icon-61:before {
  content: "\e951";
  color: #636363;
}
.icon-icon-62:before {
  content: "\e952";
  color: #636363;
}
.icon-icon-63:before {
  content: "\e953";
  color: #636363;
}
.icon-icon-64:before {
  content: "\e954";
  color: #636363;
}
.icon-icon-65:before {
  content: "\e955";
  color: #636363;
}
.icon-icon-66:before {
  content: "\e956";
  color: #636363;
}
.icon-icon-67:before {
  content: "\e957";
  color: #636363;
}
.icon-icon-50:before {
  content: "\e958";
  color: #636363;
}
.icon-icon-51:before {
  content: "\e959";
  color: #636363;
}
.icon-icon-52:before {
  content: "\e95a";
  color: #636363;
}
.icon-icon-53:before {
  content: "\e95b";
  color: #636363;
}
.icon-icon-54:before {
  content: "\e95c";
  color: #636363;
}
.icon-icon-55:before {
  content: "\e95d";
  color: #636363;
}
.icon-icon-56:before {
  content: "\e95e";
  color: #636363;
}
.icon-icon-57:before {
  content: "\e95f";
  color: #636363;
}
.icon-icon-58:before {
  content: "\e960";
  color: #636363;
}
.icon-icon-59:before {
  content: "\e961";
  color: #636363;
}
.icon-icon-60:before {
  content: "\e962";
  color: #636363;
}
.icon-icon-43:before {
  content: "\e963";
  color: #636363;
}
.icon-icon-44:before {
  content: "\e964";
  color: #636363;
}
.icon-icon-45:before {
  content: "\e965";
  color: #636363;
}
.icon-icon-46:before {
  content: "\e966";
  color: #636363;
}
.icon-icon-47:before {
  content: "\e967";
  color: #636363;
}
.icon-icon-48:before {
  content: "\e968";
  color: #636363;
}
.icon-icon-49:before {
  content: "\e969";
  color: #636363;
}
.icon-icon-39:before {
  content: "\e96a";
  color: #636363;
}
.icon-icon-40:before {
  content: "\e96b";
  color: #636363;
}
.icon-icon-41:before {
  content: "\e96c";
  color: #636363;
}
.icon-icon-42:before {
  content: "\e96d";
  color: #636363;
}
.icon-icon-312:before {
  content: "\e96e";
  color: #636363;
}
.icon-icon-32:before {
  content: "\e96f";
  color: #636363;
}
.icon-icon-33:before {
  content: "\e970";
  color: #636363;
}
.icon-icon-34:before {
  content: "\e971";
  color: #636363;
}
.icon-icon-35:before {
  content: "\e972";
  color: #636363;
}
.icon-icon-36:before {
  content: "\e973";
  color: #636363;
}
.icon-icon-37:before {
  content: "\e974";
  color: #636363;
}
.icon-icon-38:before {
  content: "\e975";
  color: #636363;
}
.icon-icon-27:before {
  content: "\e976";
  color: #636363;
}
.icon-icon-28:before {
  content: "\e977";
  color: #636363;
}
.icon-icon-29:before {
  content: "\e978";
  color: #636363;
}
.icon-icon-30:before {
  content: "\e979";
  color: #636363;
}
.icon-icon-31:before {
  content: "\e97a";
  color: #636363;
}
.icon-icon-24:before {
  content: "\e97b";
  color: #636363;
}
.icon-icon-25:before {
  content: "\e97c";
  color: #636363;
}
.icon-icon-26:before {
  content: "\e97d";
  color: #636363;
}
.icon-icon-23:before {
  content: "\e97e";
  color: #636363;
}
.icon-icon-22:before {
  content: "\e97f";
  color: #636363;
}
.icon-icon-21:before {
  content: "\e980";
  color: #636363;
}
.icon-icon-20:before {
  content: "\e981";
  color: #636363;
}
.icon-icon-19:before {
  content: "\e982";
  color: #636363;
}
.icon-icon-18:before {
  content: "\e983";
  color: #636363;
}
.icon-icon-16:before {
  content: "\e984";
  color: #636363;
}
.icon-icon-17:before {
  content: "\e985";
  color: #636363;
}
.icon-icon-11:before {
  content: "\e986";
  color: #636363;
}
.icon-icon-12:before {
  content: "\e987";
  color: #636363;
}
.icon-icon-13:before {
  content: "\e988";
  color: #636363;
}
.icon-icon-14:before {
  content: "\e989";
  color: #636363;
}
.icon-icon-15:before {
  content: "\e98a";
  color: #636363;
}
.icon-icon-9:before {
  content: "\e98b";
  color: #636363;
}
.icon-icon-10:before {
  content: "\e98c";
  color: #636363;
}
.icon-icon-7:before {
  content: "\e98d";
  color: #636363;
}
.icon-icon-8:before {
  content: "\e98e";
  color: #636363;
}
.icon-icon-6:before {
  content: "\e98f";
  color: #636363;
}
.icon-icon-1:before {
  content: "\e990";
  color: #636363;
}
.icon-icon-2:before {
  content: "\e991";
  color: #636363;
}
.icon-icon-3:before {
  content: "\e992";
  color: #636363;
}
.icon-icon-4:before {
  content: "\e993";
  color: #636363;
}
.icon-icon-5:before {
  content: "\e994";
  color: #636363;
}
