<?php
$json_data = json_decode($block->getData('json_data'),true);


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$directory = $objectManager->get('\Magento\Framework\Filesystem\DirectoryList');

$myRootBasePath = $directory->getRoot(); // to get base root path: \var\www\...

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$basePath = $storeManager->getStore()->getBaseUrl();  // get base url...
$mediaPath = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);  // get media url...

$key_form = $objectManager->get('\Magento\Framework\Data\Form\FormKey');

$form_Key = $key_form->getFormKey(); // this will give form key

$productId = 1;
//$_product = $objectManager->create('\Magento\Catalog\Model\Product')->load($productId);
//$productPrice = $_product->getFinalPrice();
$productPrice = 100;

$current_currency_symbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currency = $current_currency_symbol->getStore()->getCurrentCurrencyCode();

$currencySymbol = $currency;

$blockScan= $block->getLayout()->createBlock('Shirt\Tool\Block\Shirt');
if($blockScan->isWholesaler() == 0){
    $measurements = $blockScan->getBodyMeasurements();
    $measurementArray = json_decode($measurements['json'],true);
}


?>

<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/bootstrap.min.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/jquery-ui.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/font-awesome.min.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/owl.carousel.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/owl.theme.css" rel="stylesheet"/>

<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/jquery.mCustomScrollbar.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/main.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/suit-main.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/No_Filter.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/icon-library-v1-suit.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/preloader.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/suit-responsive.css" rel="stylesheet"/>
<link href="<?php echo $mediaPath; ?>suit-tool/tool_data/css/suit-responsive-1.css" rel="stylesheet"/>


<main ng-app="Suit" ng-controller="suitController">

    <!--main outer loader start-->
    <div id="theInitialProgress" class="preloader">
        <div class="progressInner">
            <img width="70" height="70" src="<?php echo $mediaPath; ?>suit-tool/tool_data/img/Idesignibuy_loader.gif">
            <p class="loaderText">Please wait while suit configurator is loading....</p>
        </div>
    </div>
    <!--end-->

    <input type="hidden" id="key_id" value="<?php // echo $form_key;    ?>">
    <input type="hidden" id="basePath" value="<?php echo $basePath; ?>">
    <input type="hidden" id="mediaPath" value="<?php echo $mediaPath; ?>">
    <input type="hidden" id="productId" value="<?php echo $this->getProductId(); ?>">
    <input type="hidden" id="currSymbol" value="<?php echo $currencySymbol; ?>">
    <!-- <input type="hidden" id="json_data" value="<?php echo $json_data; ?>"> -->
    <textarea id="json_data" style="display:none;"><?php echo $json_data; ?></textarea>


    <header class="toolheader">
        <nav class="tool-navbar">
            <div class="topmenu clearfix">
<!--                 <div class="tool-logo">
                    <a id="linkStyle" class=" showsingal" href="<?php //echo $basePath; ?>">
                        <img src="<?php //echo $block->getLogoSrc(); ?>" alt="<?php //echo $block->getLogoAlt() ?>">
                    </a>
                </div> -->
                <ul>
                    <li> <a  id="linkStyle" class=" showsingal" href="<?php echo $basePath; ?>">Home</a> </li>
                    <li class="active"> <a  id="linkStyle" class=" showsingal" target="1">Style</a> </li>
                    <li> <a  id="linkFabric" class=" showsingal " target="4">Fabric</a> </li>
                    <li> <a  id="linkAccent" class=" showsingal" target="5">Accent</a> </li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="ToolSection  clearfix" id="main-container"  >
        <a href="javascript:void(0)" class="left_menu-btn ws-left-menu-btn" onclick="leftMenuBtn(this)">
            <span></span>
        </a>
        <a href="javascript:void(0)" class="rightPanel"> <i class="fa fa-bars"></i> </a>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-4 left-slide">

                    <div class="leftpanelsection clearfix">
                        <div class="leftMainNav">
                            <ul class="leftNavCat">
                                <li class="active" type="jacket" ng-click="leftNav($event, $index)">
                                    <a  id="linkJacket" class="showsingal  " target="1">
                                        <i class="icon-v2-Main_Style_Icon"></i>
                                        <span> Jacket </span></a>
                                </li>
                                <li type="pant" ng-click="leftNav($event, $index)">
                                    <a  id="linkPant"  class="showsingal " target="2">
                                        <i class="icon-v2-Pant"></i>
                                        <span> Pant </span>
                                    </a>
                                </li>
                                <li type="vest" ng-click="leftNav($event, $index)">
                                    <a  id="linkVest"  class="showsingal" target="3">
                                        <i class="icon-v2-Vest"></i>
                                        <span> Vest </span>
                                    </a>
                                </li>
<!--                                <li type="topcoat" ng-click="leftNav($event, $index)">
                                    <a  id="linkTopcoat"  class="showsingal" target="6">
                                        <i class="icon-v2-Top_Coat_Main_Icon"></i>
                                        <span> TopCoat </span>
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                        <!--                            <div class="leftMainNav" id="leftMainNav_fabricCat">
                                                        <ul>
    
                                                            <li ng-repeat="fabCat in fabricData.category[4]"  ng-click="leftNavFabCat($event, fabCat.name)">
                                                                <a class="showsingalf" target="1">
                                                                    <i class="{{fabCat.class}} "></i>
                                                                    <span> {{fabCat.name}} </span></a>
                                                            </li>
                                                            <li ng-click="leftNavFabCatFilter($event)">
                                                                <a class="showsingalf" target="1">
                                                                    <i class="icon-icon-23"></i>
                                                                    <span> Filter </span></a>
                                                            </li>
                                                            <li ng-click="leftNavFabCatMulti($event)">
                                                                <a class="showsingalf" target="1">
                                                                    <i class="icon-icon-26"></i>
                                                                    <span> Multi </span></a>
                                                            </li>
                                                            <li ng-click="leftNavFabCatInfo($event)">
                                                                <a class="showsingalf" target="1">
                                                                    <i class="icon-icon-27"></i>
                                                                    <span> Info </span></a>
                                                            </li>
    
                                                        </ul>
                                                    </div>-->
                        <div class="sidebar-options sidebar-length" id="divOptionFilter">
                            <h4>Add Filter</h4>
                            <span class="back-btn" ng-click="leftNavFabCatFilterClose($event)"><i class="fa fa-arrow-circle-o-left"></i></span>
                            <div class="filter-search">
                                <div class="input-group">
                                    <input id="txt_name" type="search" ng-model="test" placeholder="Search..." class="form-control ng-pristine ng-untouched ng-valid" ng-model="test" ng-keyup="resetCheckBoxFilter($event)">
                                    <div class="input-group-btn">
                                        <button ng-click="applyFilter()" class="btn btn-default search-button" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!--new filter-->
                           <!-- <div id="accordian">
                                <div ng-repeat="fabCat in fabricData.category">
                                    <h3>
                                        <a href="javascript:void(0)">{{fabCat[0].parent}}</a>
                                    </h3>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'material'">
                                        <li ng-repeat="materials in fabrics " ng-show="materials.type == selectedLeftMenu" ng-if="materials">
                                           <input class="styled-checkbox" id="{{materials.id}}"  type="checkbox" value="value1" ng-model="useMaterials[materials.material_parent]">
                                            <label for="{{materials.material_parent}}" class="{{materials.material_parent}}" > {{materials.material_parent}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'pattern'">
                                        <li ng-repeat="patterns in fabrics" ng-show="patterns.type == selectedLeftMenu" ng-if="patterns">
                                            <input class="styled-checkbox" id="{{patterns.id}}"  type="checkbox" value="value1" ng-model="usePatterns[patterns.pattern_parent]">
                                            <label for="{{patterns.pattern_parent}}" class="{{patterns.pattern_parent}}" > {{patterns.pattern_parent}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'seasons'">
                                        <li ng-repeat="season in fabrics" ng-show="season.type == selectedLeftMenu" ng-if="season">
                                            <input class="styled-checkbox" id="{{season.id}}"  type="checkbox" value="value1" ng-model="useSeasons[season.season_parent]">
                                            <label for="{{season.season_parent}}" class="{{season.season_parent}}" > {{season.season_parent}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'color'">
                                        <li ng-repeat="colors in fabrics" ng-show="colors.type == selectedLeftMenu" ng-if="colors">
                                            <input class="styled-checkbox" id="{{colors.id}}"  type="checkbox" value="value1" ng-model="useColors[colors.color_parent]">
                                            <label for="{{colors.color_parent}}" class="{{colors.color_parent}}" > {{colors.color_parent}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'category'">
                                        <li ng-repeat="category in fabrics" ng-show="category.type == selectedLeftMenu" ng-if="category">
                                            <input class="styled-checkbox" id="{{category.id}}"  type="checkbox" value="value1" ng-model="useCategory[category.category_parent]">
                                            <label for="{{category.category_parent}}" class="{{category.category_parent}}" > {{category.category_parent}} </label>
                                        </li>
                                    </ul>
                                </div>

                            </div>-->
                            <!--new filter end-->
                             <!--new filter-->
                            <div id="accordian">
                                <div ng-repeat="fabCat in fabricData.category">
                                    <h3>
                                        <a href="javascript:void(0)">{{fabCat[0].parent}}</a>
                                    </h3>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'material'">
                                        <li ng-repeat="materials in materialGroup">
                                            <input class="styled-checkbox" id="{{materials}}"  type="checkbox" value="value1" ng-model="useMaterials[materials]">
                                            <label for="{{materials}}" class="{{materials}}" > {{materials}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'pattern'">
                                        <li ng-repeat="patterns in patternGroup" >
                                            <input class="styled-checkbox" id="{{patterns}}"  type="checkbox" value="value1" ng-model="usePatterns[patterns]">
                                            <label for="{{patterns}}" class="{{patterns}}" > {{patterns}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'seasons'">
                                        <li ng-repeat="season in seasonGroup" ng-if="season">
                                            <input class="styled-checkbox" id="{{season}}"  type="checkbox" value="value1" ng-model="useSeasons[season]">
                                            <label for="{{season}}" class="{{season}}" > {{season}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'color'">
                                        <li ng-repeat="colors in colorGroup" ng-if="colors">
                                            <input class="styled-checkbox" id="{{colors}}"  type="checkbox" value="value1" ng-model="useColors[colors]">
                                            <label for="{{colors}}" class="{{colors}}" > {{colors}} </label>
                                        </li>
                                    </ul>
                                    <ul class="fabricFilterCat" ng-if="fabCat[0].parent == 'category'">
                                        <li ng-repeat="category in categoryGroup">
                                            <input class="styled-checkbox" id="{{category}}"  type="checkbox" value="value1" ng-model="useCategory[category]">
                                            <label for="{{category}}" class="{{category}}" > {{category}} </label>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <!--new filter end-->
                           

                            <div class="rt-btn btn_filter"> <a ng-click="applyFilter()" href="javascript:void(0)"> Apply Filter <i aria-hidden="true" class="fa fa-angle-double-right"> </i> </a> </div>
                        </div>
                        <div class="sidebar-options sidebar-length" id="divOptionMulti">
                            <h4>Select Fabric for each piece</h4>
                            <div class="box_options">

                                <div class="box_option">
                                    <div class="slde-inoption">
                                        <ul>
                                            <p class="title">Fabrics</p>
                                            <li class="optiontrigger same" ng-click="changeSameDifferentFabric('same')">
                                                <a class="showsingalf" target="1">
                                                    <span class="option_icon"> <i class="icon-icon-25"></i></span>
                                                    <span> Same Fabric </span>
                                                    <p class="price-info"><span><?php echo $currencySymbol; ?></span> </span><span class="price">0.00</span></p>
                                                </a>
                                            </li>
                                            <li class="optiontrigger different" ng-click="changeSameDifferentFabric('different')">
                                                <a class="showsingalf" target="2">
                                                    <span class="option_icon"> <i class="icon-icon-25"></i></span>
                                                    <span> Different Fabric  </span>
                                                    <p class="price-info"><span><?php echo $currencySymbol; ?></span> </span><span class="price">0.00</span></p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-options sidebar-length" id="divOptionInfo">
                            <h4>Info</h4>
                            <div>
                                <ul>
                                    <li>
                                        <div class="infor_holder">
                                            <h5><span><i class="icon-icon-20"></i></span> <span>Faves</span></h5>
                                            <div class="info_disp">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="infor_holder">
                                            <h5><span><i class="icon-icon-22"></i></span> <span>Winter</span></h5>
                                            <div class="info_disp">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="infor_holder">
                                            <h5><span><i class="icon-icon-21"></i></span> <span>Premium</span></h5>
                                            <div class="info_disp">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="infor_holder">
                                            <h5><span><i class="icon-icon-19"></i></span> <span>New</span></h5>
                                            <div class="info_disp">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-options sidebar-length style" id="div1">
                            <!--<div class="slde-in mCustomScrollbar"  data-mcs-theme="dark">-->
                            <ul>
                                <li class="" ng-repeat="designStyles in designData" ng-click="categoryClick($event, designStyles, $index)">
                                    <a class="show-singal" target="{{designStyles.id}}">


                                        <span class="option_icon_left">

                                            <i class="{{designStyles.class}}"></i>
                                        </span>
                                        <span class="option_title">{{designStyles.name}} </span>
                                        <span class="shorttext" style="display:none">{{designStyles.name}}</span>
                                    </a>
                                </li>
                            </ul>
                            <!--</div>-->

                            <div class="box_options" style="z-index: 1">
                                <div class="box_option sidebarlength"  ng-repeat="designStyles in designData" id="divs_{{designStyles.id}}" >
                                    <div class="slde-inoption">  <!-- mCustomScrollbar"  data-mcs-theme="dark" -->
                                        <ul class="clearfix">
                                            <p class="title">{{designStyles.name}}</p>
                                            <a href="javascript:void(0)" class="removemin" ng-click="removemin($event)">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                            <li class="optiontrigger"  id="{{style.id}}" style_id="{{style.style_id}}" ng-repeat=" style in designStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="designClick($event, style, $index, style.class);" stylname="{{style.name | spaceless}}" parent="{{style.parent | spaceless}}">
                                                <a href="javascript:void(0)">
                                                    <span class="option_icon"> <i class="{{style.class}}"></i></span>
                                                    <span>{{style.name}} </span>
                                                    <p class="price-info"><span><?php echo $currencySymbol; ?> </span><span class="price">{{style.price ?style.price:"0.0"}} </span></p>
                                                </a>
                                            </li>
                                        </ul>
                                        <p ng-if="designStyles.name == 'Lapel Style'" class="title">{{designStyles.name}} Size</p>
                                        <ul ng-if="designStyles.name == 'Lapel Style'" id="lapelSize">
                                            <a href="javascript:void(0)" class="removemin" ng-click="removemin($event)"> <i class="fa fa-angle-left"></i></a>
                                            <li class="optiontrigger" id="{{size.id}}" ng-repeat=" size in designStyles.size" index="{{$index}}" name="style" ng-disabled="" ng-click="designClick($event, size, $index);" stylSize="{{size.name}}" parent="{{size.parent}}">
                                                <a href="javascript:void(0)">
                                                    <span class="option_icon"> <i class="{{size.class}}"></i></span>
                                                    <span>{{size.name}} </span></a>
                                                <p class="price-info"><span><?php echo $currencySymbol; ?> </span><span class="price">{{size.price ?size.price:"0.0"}} </span></p>
                                            </li>

                                        </ul>

                                        <p ng-if="designStyles.name == 'Tuxedo'" class="title">{{designStyles.name}} Color</p>
                                        <ul ng-if="designStyles.name == 'Tuxedo'" id="tuxedoColor">
                                            <a href="javascript:void(0)" class="removemin" ng-click="removemin($event)"> <i class="fa fa-angle-left"></i></a>
                                            <li class="optiontrigger" id="{{color.id}}" ng-repeat=" color in designStyles.color" index="{{$index}}" name="style" ng-disabled="" ng-click="changeTuxedo(color);" stylSize="{{color.name}}" parent="{{color.parent}}">
                                                <a href="javascript:void(0)">
                                                    <div class="tuxedoColorBox"></div>
                                                    <span class="option_icon_{{color.name}}"> <i class=""></i></span>
                                                    <span>{{color.name}} </span></a>
                                                <p class="price-info"><span><?php echo $currencySymbol; ?> </span><span class="price">{{color.price ?color.price:"0.0"}} </span></p>
                                            </li>
                                            
                                        </ul>

                                        <div ng-if="designStyles.name == 'sleeve buttons'" class="sleeveButtonsRadio">
                                            <label class="sleeveCheck">
                                                <input type="radio" name="sleeve" checked="" value="Real Button Holes"> Functional Button Holes
                                            </label>
                                            <label class="sleeveCheck">
                                                <input type="radio" name="sleeve" value="Imitation Button Holes"> Imitation Button Holes
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="sidebar-options sidebar-length-pant style" id="div2" style="display: none">
                            <div class="slde-in"> <!-- mCustomScrollbar"  data-mcs-theme="dark" -->
                                <ul >
                                    <li class="" ng-repeat="designStyles in pantData" ng-click="categoryClick($event, designStyles, $index)">
                                        <a class="show-singal-pant" target="{{designStyles.id}}">
                                            <span class="option_icon_left">
                                                <i class="{{designStyles.class}}"></i>
                                            </span>
                                            <span class="option_title">{{designStyles.name}} </span>
                                            <span class="shorttext" style="display:none">{{designStyles.name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="box_options" style="z-index: 99">
                                <div class="box_option sidebarlength-pant"  ng-repeat="designStyles in pantData" id="divpant_{{designStyles.id}}" >
                                    <div class="slde-inoption"> <!-- mCustomScrollbar"  data-mcs-theme="dark" -->
                                        <ul class="clearfix">
                                            <p class="title">{{designStyles.name}}</p>
                                            <a href="javascript:void(0)" class="removemin" ng-click="removemin($event)"> <i class="fa fa-angle-left"></i></a>
                                            <li class="optiontrigger" id="{{style.id}}" ng-repeat=" style in designStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="designClick($event, style, $index);" stylname="{{style.name | spaceless}}" parent="{{style.parent | spaceless}}">
                                                <a href="javascript:void(0)">
                                                    <span class="option_icon"><i class="{{style.class}}"></i></span>
                                                    <span>{{style.name}} </span>
                                                    <p class="price-info"><span><?php echo $currencySymbol; ?> </span><span class="price">{{style.price ?style.price:"0.0"}} </span></p>
                                                </a>
                                            </li>
                                        </ul>
                                        <div id="pantCuffSize" class="pantCuffCheck" ng-if="designStyles.name == 'Cuffs'">
                                            <label class="pantCheck">
                                                <input type="radio" class="pantCuff" name="cuff" value="3cm" checked> 3cm Cuff
                                            </label>
                                            <label class="pantCheck">
                                                <input type="radio" class="pantCuff" name="cuff" value="4.5cm"> 4.5cm Cuff
                                            </label>
                                            <label class="pantCheck">
                                                <input type="radio" class="pantCuff" name="cuff" value="6cm"> 6cm Cuff
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-options sidebar-length style min" id="div3">
                            <!--<div class="slde-in mCustomScrollbar"  data-mcs-theme="dark">-->
                            <ul >
                                <li ng-repeat="designStyles in vestData" ng-click="categoryClick($event, designStyles, $index)" >
                                    <a class="show-singal" target="{{designStyles.id}}">
                                        <span class="option_icon_left">
                                            <i class="{{designStyles.class}}"></i>
                                        </span>
                                        <span class="option_title">{{designStyles.name}} </span>
                                        <span class="shorttext" style="display:none">{{designStyles.name}}</span>
                                    </a>
                                </li>
                            </ul>
                            <!--</div>-->

                            <div class="box_options">
                                <div class="box_option sidebarlength"  ng-repeat="designStyles in vestData" id="divvest_{{designStyles.id}}" >
                                    <div class="slde-inoption" > <!-- mCustomScrollbar"  data-mcs-theme="dark" -->
                                        <ul>
                                            <p class="title">{{designStyles.name}}</p>
                                            <a href="javascript:void(0)" class="removemin" ng-click="removemin($event)"> <i class="fa fa-angle-left"></i></a>
                                            <li class="optiontrigger" style_id="{{style.style_id}}" id="{{style.id}}" ng-repeat=" style in designStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="designClick($event, style, $index);" stylname="{{style.name | spaceless}}" parent="{{style.parent | spaceless}}"><a href="javascript:void(0)">

                                                    <span class="option_icon"><i class="{{style.class}}"></i></span>

                                                    <span>{{style.name}} </span>
                                                    <p class="price-info"><span><?php echo $currencySymbol; ?> </span><span class="price">{{style.price ?style.price:"0.0"}} </span></p>
                                                </a></li>
                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="sidebar-options sidebar-length style min" id="div6">
                            <!--<div class="slde-in mCustomScrollbar"  data-mcs-theme="dark">-->
                            <ul>
                                <li ng-repeat="designStyles in topCoat" ng-click="categoryClick($event, designStyles, $index)">
                                    <a class="show-singal" target="{{designStyles.id}}">
                                        <span class="option_icon_left">
                                            <i class="{{designStyles.class}}"></i>
                                        </span>
                                        <span class="option_title">{{designStyles.name}} </span>
                                        <span class="shorttext" style="display:none">{{designStyles.name}}</span>
                                    </a>
                                </li>
                            </ul>
                            <!--</div>-->

                            <div class="box_options fullHt">
                                <div class="box_option sidebarlength"  ng-repeat="designStyles in topCoat" id="divvest_{{designStyles.id}}" >
                                    <!--<div class="slde-inoption mCustomScrollbar" data-mcs-theme="dark" >-->
                                    <ul>
                                        <p class="title">{{designStyles.name}}</p>
                                        <a href="javascript:void(0)" class="removemin" ng-click="removemin($event)"> <i class="fa fa-angle-left"></i></a>
                                        <li class="optiontrigger" style_id="{{style.style_id}}" id="{{style.id}}" ng-repeat="style in designStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="designClick($event, style, $index);" ><a href="javascript:void(0)">

                                                <span class="option_icon"><i class="{{style.class}}"></i></span>

                                                <span>{{style.name}} </span>
                                                <p class="price-info"><span><?php echo $currencySymbol; ?> </span><span class="price">{{style.price ?style.price:"0.0"}} </span></p>
                                            </a>
                                        </li>
                                    </ul>

                                    <!--</div>-->

                                </div>
                            </div>
                        </div>


                        <div class="sidebar-options sidebar-length box_options_parts clearfix" id="divOptionDifferentParts" style="display:none">
                            <label class="left check_button" rel="man_jacket">
                                <span class="check_radio">
                                    <input  ng-change="changePart($event)" type="radio" checked="checked" ng-model="partOption" name="radio"  value="jacket" >
                                </span>
                                <!--<span class="checkmark"></span>-->
                                <span class="title">Jacket</span>
                            </label>
                            <label class="left check_button checked" rel="man_pants">
                                <span class="check_radio">
                                    <input ng-change="changePart($event)" type="radio" ng-model="partOption" value='pant'>
                                </span>
                                <!--<span class="checkmark"></span>-->
                                <span class="title">Pant </span>
                            </label>
                            <label class="left check_button" rel="man_waistcoat" >
                                <span class="check_radio">
                                    <input ng-change="changePart($event)" type="radio" ng-model="partOption" value='vest'>
                                </span>
                                <!--<span class="checkmark"></span>-->
                                <span class="title">Vest</span>
                            </label>
                        </div>

                        <!--                            <div class="sidebar-options sidebar-length Fabric " id="div4">
                                                        <h4 id="fabircCatName">All Fabrics</h4>
                                                        <div class="slde-fabin">
                                                            <div class="fabric-bx clearfix" >
                                                                <fabricview ng-repeat="fabric in fabricData.fabric" ng-click="fabricClick($event, fabric)"   index="{{$index}}" activeStyle="0" id="{{fabric.id}}" fabricName="{{fabric.name}}" prodType="{{fabric.fabric}}"></fabricview>
                                                            </div>
                                                        </div>
                                                    </div>-->

                        <div class="sidebar-options sidebar-length Fabric " id="div4">
                            <h4 id="fabircCatName">All Fabrics</h4>

                            <div class="filter-button" ng-click="leftNavFabCatFilter($event)">
                                <span class="icon-v2-Filter" >
                                <!--    <span class="h-display" > Filter </span>-->

                                </span>

                            </div>
                            <!-- Clear Filter start -->
                            <div id="clearfilterfab" class="filter-button2 abspos" ng-click="clearFilter($event)">
                                <span class="icon-no_filter-icon filter-icon" title="Clear Filter"> </span>
                            </div>
                            <!-- Clear Filter end -->
                            <!-- <span ng-click="leftNavFabCatFilter($event)">
                                <a class="showsingalf" target="1">
                                    <i class="icon-icon-23" id="filter-button"></i>
                                    <span> Filter </span></a>
                                 </span>-->
                            <div class="slde-fabin">
                                <div class="fabricGene clearfix" >
                                    <!--                                        <li class="fabricGenerater fabric-bx clearfix"  ng-repeat="fabric in filteredFabrics| filter:test" ng-click="fabricClick($event, fabric)"   index="{{$index}}" activeStyle="0" id="{{fabric.id}}" fabricName="{{fabric.name}}" prodType="{{fabric.fabric}}" data-zoom-image="{{fabric.real_img}}" data-crump-img="{{fabric.crump_img}}">
    
                                                                            </li>new filter-->
                                    <fabricview ng-repeat="fabric in filteredFabrics| filter:test" ng-show="fabric.type == selectedLeftMenu" ng-click="fabricClick($event, fabric)"  fabtypes = "{{fabric.type}}" index="{{$index}}" activeStyle="0" id="{{fabric.id}}" fabricName="{{fabric.name}}" prodType="{{fabric.fabric}}"></fabricview>
                                </div>
                                <div style="display: none" id="nullTxt">
                                    <p>Fabrics of this name are not available.</p>
                                </div>
                            </div>
                        </div>


                        <div class="sidebar-options sidebar-length Accent" id="div5">

                            <div class="slde-in">
                                <ul>
                                    <li class="" ng-repeat="designStyles in suitAccentData" ng-click="categoryClick($event, designStyles, $index)">
                                        <a class="show-singal" target="{{designStyles.id}}">
                                            <span class="option_icon_left">
                                                <i class="{{designStyles.class}}"></i>
                                            </span>
                                            <span class="option_title">{{designStyles.name}} </span>
                                            <span class="shorttext" style="display:none">{{designStyles.name}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="box_options">
                                <div class="box_option sidebarlength" ng-repeat="designStyles in suitAccentData" id="divaccent_{{designStyles.id}}" >
                                    <div class="slde-inoption">
                                        <ul>
                                            <p class="title">{{designStyles.name}}</p>
                                            <a href="javascript:void(0)" class="removemin" ng-click="removemin($event)"> <i class="fa fa-angle-left"></i></a>
                                            <!--<div class="lining" ng-if="designStyles.name == 'Lining'">
                                                <p></p>
                                                <li class="optiontrigger" style_id="{{style.style_id}}" id="{{style.id}}" ng-repeat=" style in designStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="accentClick($event, style, $index);" >

                                                    <!--<div class="fabvie">--/>
                                                    <div class="start-view">
                                                        <img data-zoom-image="{{style.large_img}}" ng-src="{{style.img}}" err-src="<?php echo $mediaPath; ?>suit-tool/default_tool_img/blank.png" alt="{{style.name}}" width="100">
                                                    </div>
                                                    <div class="info fabric-detail clearfix">
                                                        <div class="faric-name ng-binding">{{style.name}}</div>
                                                        <div class="fab-type ng-binding">Wool</div>
                                                        <div class="faric-price ng-binding">
                                                            <span class=""><?php// echo $currencySymbol; ?></span>
                                                            <span class="price ng-binding">{{style.price ?style.price:"0.0"}}</span>
                                                        </div>
                                                    </div>
                                                    <!--</div>
                                                </li>

                                            </div>-->
                                            <li class="optiontrigger" style_id="{{style.style_id}}" id="{{style.id}}" ng-repeat=" style in designStyles.style" index="{{$index}}" name="style" ng-disabled="" ng-click="accentClick($event, style, $index);" stylname="{{style.name | spaceless}}" parent="{{style.parent | spaceless}}">
                                                <a href="javascript:void(0)">
                                                    <img ng-if="style.class == ''" class="innerImg" ng-src="{{style.img}}" err-src="<?php echo $mediaPath; ?>suit-tool/default_tool_img/blank.png" alt="toolimg">
                                                    <span class="option_icon"><i class="{{style.class}}"></i></span>

                                                </a>
                                                <span>{{style.name}} </span>
                                                <p class="price-info"><span><?php echo $currencySymbol; ?> </span><span class="price">{{style.price ?style.price:"0.0"}} </span></p>
                                            </li>

                                        </ul>

                                        <ul ng-show="actCatName == 'BackCollar'" class="BackCollar">
                                            <p class="title">Select Fabric</p>
                                            <div class="fabric-bx clearfix fabcolelbow">
                                                <fabricviewaccent ng-repeat="fabric in backColElboFabricData" ng-show="fabric.type == selectedLeftMenu" ng-click="changebackcolfab($event, fabric)"   index="{{$index}}" activeStyle="0" id="{{fabric.id}}" fabricName="{{fabric.name}}" ></fabricviewaccent>
                                            </div>
                                        </ul>

                                        <ul ng-show="actCatName == 'ElbowPatch'" class="ElbowPatch">
                                            <p class="title">Select Fabric</p>
                                            <div class="fabric-bx clearfix fabcolelbow">
                                                <fabricviewaccent ng-repeat="fabric in backColElboFabricData" ng-show="fabric.type == selectedLeftMenu" ng-click="changebackcolfab($event, fabric)"   index="{{$index}}" activeStyle="0" id="{{fabric.id}}" fabricName="{{fabric.name}}" ></fabricviewaccent>
                                            </div>
                                        </ul>

                                        <ul ng-show="actCatName == 'Lining'" class="Lining">
                                            <p class="title">Select Fabric</p>
                                            <div class="fabric-bx clearfix fabcolelbow">
                                                <fabricviewaccent ng-repeat="fabric in liningFabric" ng-click="changeLining($event, fabric)"   index="{{$index}}" activeStyle="0" id="{{fabric.id}}" fabricName="{{fabric.name}}" ></fabricviewaccent>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8  col-xs-12 rtldf" ng-class=" isActive ? 'activeUp' : 'activeDown'">
                    <!--inner loader start--->
                    <div class="suit-preloader">
                        <div class="suit-preloader-inner">
                            <img width="50" height="50" src="<?php echo $mediaPath; ?>suit-tool/tool_data/img/Idesignibuy_loader.gif">
                        </div>
                    </div>
                    <!--end-->
                    <div class="mainToolarea" style="margin-left: -2%;">
                        <div id="mainImageHolder" ng-click="addClassOfZoom"  >
                            <div ng-repeat="view in views" id="{{view.name}}" class="theView" ng-class="{'active': ($index + 1) === activeView}">
                                <img alt="" id="{{viewImg.id}}" rel="{{viewImg.rel}}" name="{{viewImg.name}}" label="{{viewImg.parent}}" type="{{viewImg.type}}" style="left:{{viewImg.xPos}}px; top:{{viewImg.yPos}}px;" ng-class="myClassForZoom" class="{{viewImg.classname}}" ng-repeat="viewImg in view.viewimages" ng-src="{{viewImg.img}}" err-src="<?php echo $mediaPath; ?>suit-tool/default_tool_img/blank.png" activeStyle="{{viewImg.activeStyle}}" activeStyleIndex="{{viewImg.activeStyleIndex}}" price="{{viewImg.price}}" icon="{{viewImg.icon}}"> {{viewImg}}</img>
                            </div>
                        </div>
                    </div>
                    <div class="view-thumb">
                        <button class="buttonStyl active" title="Front" ng-click="changeView($event, 1)" id="Front"></button>
                        <button class="buttonStyl" title="Back" ng-click="changeView($event, 2)" id="Back"></button>
                        <button class="buttonStyl" title="Inside" ng-click="changeView($event, 3)" id="Inside"></button>
                    </div>
                </div>
                <div class="fabricInfo" ng-show="IsImage">
                    <a title="cancel" data-placement="top" class="cl" ng-click="hideFabricDiv()">X</a>

                    <span id="displayLargeImg"></span>
                    <div class="fabricDetails">
                        <p><label>Name :</label> <span class="fabricName">Upper Side</span></p>
                        <p><label>Type :</label><span class="fabricType">Wool</span></p>
                        <p><label>Price :</label><span><?php echo $currencySymbol; ?></span><span class="fabricPrice">200</span></p>
                    </div>
                </div>
                <div class="navigate-menu">
                    <ul>
                        <!--<li><button data-toggle="modal" data-target="#measurement"> Add Body Type</button>  </li>-->
                        <li id="zoomButton" ng-show="IsZoom" ng-click="takeScreenShot()">
                            <a title="Zoom In" href="javascript:void(0)" data-toggle="modal"  class="ct-tooltip tool_preview_tip">
                                <i class="icon-v2-Zoom_In" aria-hidden="true"></i>
                            </a>
                        </li>
                        <!--<li id="zoomOutButton" ng-show = "IsVisible" ng-click="addClassOfZoom()"><a title="Zoom Out" href="javascript:void(0)"> <i class=" icon-v2-Zoom_out " aria-hidden="true"></i> </a></li>-->

                        <li onClick="zoomButtonHide()" ng-click="isActive = !isActive" ng-show="!isActive" id="arrowUP"><a title="Up" href="javascript:void(0)"> <i class="icon-v2-Up" aria-hidden="true"></i> </a></li>

                        <li onClick="zoomButtonShow()" ng-click="isActive = !isActive" ng-show="isActive" id="arrowDown"><a title="Down" href="javascript:void(0)"> <i  class="icon-v2-bottom-01" aria-hidden="true" ></i></i> </a></li>
                        <!--Tie-->
                        <!-- <li id="tie1" ng-click="tieVisibletrue()" ng-show="!IsTie">
                            <a title="Show Tie" href="javascript:void(0)" style="font-size: 26px">
                                <i aria-hidden="true" class="icon-Show_Tie-icon"></i>
                            </a>
                        </li>
                        <li  id="tie" ng-click="tieVisiblefalse(this)" ng-show="IsTie">
                            <a style="font-size: 26px" title="Hide Tie" href="javascript:void(0)">
                                <i aria-hidden="true" class=" icon-Hide_Tie-icon"></i>
                            </a>
                        </li> -->
                        <!--Bow-->
                        <!-- <li id="bow1" ng-click="bowVisibletrue()" ng-show="!IsBow">
                            <a title="Show Bow" href="javascript:void(0)" style="font-size: 26px">
                                <i aria-hidden="true" class="icon-Show_Bow-icon"></i>
                            </a>
                        </li>
                        <li  id="bow" ng-click="bowVisiblefalse(this)" ng-show="IsBow">
                            <a style="font-size: 26px" title="Hide Bow" href="javascript:void(0)">
                                <i aria-hidden="true" class="icon-Hide_Bow-icon"></i>
                            </a>
                        </li> -->
                        <!--For Formal Pant   -->
<!--                        <li id="jeans" ng-click="pantVisibletrue()" ng-show="IsPant">
                            <a title="Formal Pant" href="javascript:void(0)" style="font-size: 26px">
                                <i aria-hidden="true" class="icon-Formal_Pant-icon"></i>
                            </a>
                        </li>-->
                        <!--For Jeans  -->
<!--                        <li  id="jeans" ng-click="pantVisiblefalse(this)" ng-show="!IsPant">
                            <a style="font-size: 26px" title="Show Jeans" href="javascript:void(0)">
                                <i aria-hidden="true" class="icon-Jeans-icon"></i>
                            </a>
                        </li>-->

                        <li id="jacketShow" class="jH" ng-click="jacketVisibletrue()" ng-show="IsJacket">
                            <a title="Hide Jacket" class="jhStyle" href="javascript:void(0)" style="font-size: 26px">
                                <i aria-hidden="true" class="icon-v2-Hide_Jacket"></i> </a>
                        </li>
                        <li  id="jacketHide" class="jH" ng-click="jacketVisiblefalse(this)" ng-show="!IsJacket">
                            <a style="font-size: 26px" class="jhStyle" title="Show Jacket" href="javascript:void(0)">
                                <i aria-hidden="true" class="icon-v2-Show_Jacket"></i>
                            </a>
                        </li>
                        <li class="jV" id="showVest" ng-click="vestVisibletrue()" ng-show="IsVest">
                            <a title="Show Vest" class="vhStyle" href="javascript:void(0)" style="font-size: 26px">
                                <i aria-hidden="true" class="icon-v2-Vest"></i> </a><!-- class="icon-v2-Main_Icons"-->
                        </li>
                        <li class="jV" id="vestHide" ng-click="vestVisiblefalse(this)" ng-show="!IsVest">
                            <a style="font-size: 26px" class="vhStyle" title="Hide Vest" href="javascript:void(0)">
                                <i aria-hidden="true" class="icon-v2-No_vest"></i><!-- class="icon-v2-Piece-suit"-->
                            </a>
                        </li>
                        <li class="jV" id="showMannequin" ng-click="mannequinVisibletrue()" ng-show="IsMannequin">
                            <a title="Show Mannequin" class="vhStyle adjImageSize" href="javascript:void(0)" style="font-size: 26px">
                                <i aria-hidden="true" class="icon-v2-Manequinn_Show"></i> </a><!-- class="icon-v2-Main_Icons"-->
                        </li>
                        <li class="jV" id="mannequinHide" ng-click="mannequinVisiblefalse(this)" ng-show="!IsMannequin">
                            <a style="font-size: 26px" class="vhStyle adjImageSize" title="Hide Mannequin" href="javascript:void(0)">
                                <i aria-hidden="true" class="icon-v2-Manequinn_Hide"></i><!-- class="icon-v2-Piece-suit"-->
                            </a>
                        </li>

                        <!--                            <li class="jV" id="showVest" ng-click="vestVisibletrue()" ng-show="IsVest">
                                                        <a title="Show Vest" href="javascript:void(0)" style="font-size: 26px">
                                                            <i aria-hidden="true" class="icon-v2-Main_Icons"></i> </a> class="icon-v2-Main_Icons"
                                                    </li>
                                                    <li class="jV" id="vestHide" ng-click="vestVisiblefalse(this)" ng-show="!IsVest">
                                                        <a style="font-size: 26px" title="Hide Vest" href="javascript:void(0)">
                                                            <i aria-hidden="true" class="icon-v2-Piece-suit"></i> class="icon-v2-Piece-suit"
                                                        </a>
                                                    </li>-->

                        <li class="TC" id="showTopCoat" ng-click="TopCoatVisibletrue()" ng-show="IsTopCoat">
                            <a title="Show TopCoat" href="javascript:void(0)" style="font-size: 26px">
                                <i aria-hidden="true" class="icon-v2-Top_Coat_Main_Icon"></i> </a>
                        </li>
                        <li class="TC" id="hideTopCoat" ng-click="TopCoatVisiblefalse(this)" ng-show="!IsTopCoat">
                            <a style="font-size: 26px" title="Hide TopCoat" href="javascript:void(0)">
                                <i aria-hidden="true" class="icon-v2-hide_topcoat-01"></i>
                            </a>
                        </li>
                        <!--                            <li id="fabricSlid" ng-click="showFabricDiv()" >
                                                        <a title="Fabric" href="javascript:void(0)">
                                                            <i class="icon-icon-111" aria-hidden="true"></i>
                                                        </a>
                                                    </li>-->
                    </ul>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 right-slide">
                    <div class="rightTool-nav">
                        <!--
                                                    <div class="rt-txt1">
                                                        <h2>FREE SHIPPING</h2>
                                                        <p>Receive By November 2nd</p>
                                                    </div>-->
                        <div class="rt-txt2">
                            <h1>Custom <span> Suit </span></h1>
                        </div>
                        <div class="rt-price"> <span><?php echo $currencySymbol; ?></span> <span orgBasePrice="<?php echo $productPrice; ?>" id="basePrice"><?php echo $productPrice; ?></span></div>
                        <div class="rt-btn"> <a href="javascript:void(0)" onClick="addToCart()"> Add To Cart <i class="fa fa-angle-double-right" aria-hidden="true"> </i> </a> 
                        </div>
                        <br>

                        <?php if($blockScan->isWholesaler() == 1){ ?>
                            <div class="rt-btn"> <a href="javascript:void(0)" onClick="saveDesignData()"> Save Design </a> 
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Zoom PopUP start -->
    <div class="modal fade " id="zoomOfTool"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">

                <div id="zoomClose" class="modal-header">
                    <button onClick="closeButton()" type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div id="prev-holder" class="prev-holder">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn pattern-btn save-btn tool_btn_submit" onClick="closeButton()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Zoom PopUP end -->


    <!-----add measurement start-->
    <div class="modal fade" id="addMeasurement" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:9999;">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body row" style="margin-right:0px;margin-left: 0px;">
                    <div class="measurement col-xs-12">
                        <div class="row">
                            <div class="col-xs-6 offset-bottom-15 size-opt" ng-click="showScanSize();">
                                <div class="scnsize">
                                    <h3> Scan Size </h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                    <p> <a href="javascript:void(0);"> <i class="fa fa-arrow-circle-down fa-2x"> </i></a></p>
                                    <p><img src="<?php echo $mediaPath; ?>suit-tool/tool_data/img/measurement-sc.png" class="img-responsive"></p>
                                </div>
                            </div>
                            <div class="col-xs-6 offset-bottom-15 size-opt" ng-click="showStdSize();">
                                <div class="scnsize">
                                    <h3>Standard Size</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                                    <p> <a href="javascript:void(0);"> <i class="fa fa-arrow-circle-down fa-2x"> </i></a></p>
                                    <p><img src="<?php echo $mediaPath; ?>suit-tool/tool_data/img/SML.png" class="img-responsive"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="measurement col-xs-12"  ng-show="scanSizeFlg" id="scanSizeFlgContainer">
                        <div class="">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                                    <div class="col-xs-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="unitScanOptions" value="cm" ng-model="unitScanName" value="cm" ng-change="changeScanUnit(unitScanName);">
                                            Cm </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="unitScanOptions" value="in" ng-model="unitScanName" value="inch" ng-change="changeScanUnit(unitScanName);"   checked="checked">
                                            Inch </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                                    <div class="col-xs-10">  <label class="control-label"> Enter your measurements in the corresponding boxes </label> </div>
                                </div>
                                <hr>


                                <div class="col-xs-6" id="jacketScanSizes">
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label" style="font-weight:bold">Jacket</label>

                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Chest</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="chest" parent="Jacket" name="chest" class="form-control scan_input scan_number"  placeholder="chest" value="<?php echo @$measurementArray['su_chest']; ?>" required>
                                            <span id="reqNeck"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Stomach</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="stomach" parent="Jacket" name="stomach" class="form-control scan_input scan_number"  placeholder="stomach" value="<?php echo @$measurementArray['su_stomach']; ?>" required>
                                            <span id="reqStomach"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Sleeve Length</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="sleeve_length" parent="Jacket" name="sleeve_length" class="form-control scan_input scan_number"  placeholder="sleeve_length" value="<?php echo @$measurementArray['su_sleevelength']; ?>" required>
                                            <span id="reqSleeve"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Shoulder</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="shoulder" parent="Jacket" name="shoulder" class="form-control scan_input scan_number"  placeholder="shoulder" value="<?php echo @$measurementArray['su_shoulder']; ?>" required>
                                            <span id="reqShoulder"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Front Jacket Length</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="frontJacketLength" parent="Jacket" name="frontJacketLength" class="form-control scan_input scan_number"  placeholder="frontJacketLength" value="<?php echo @$measurementArray['su_front_jacket_length']; ?>" required>
                                            <span id="reqFrontJKLength"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Back Jacket Length</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="backJacketLength" parent="Jacket" name="backJacketLength" class="form-control scan_input scan_number"  placeholder="backJacketLength" value="<?php echo @$measurementArray['su_back_jacket_length']; ?>" required>
                                            <span id="reqBackJKLength"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Bicep Width</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="bicepWidth" parent="Jacket" name="bicepWidth" class="form-control scan_input scan_number"  placeholder="bicepWidth" value="<?php echo @$measurementArray['su_bicep_width']; ?>" required>
                                            <span id="reqBicep"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Wrist Width</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="wristWidth" parent="Jacket" name="wristWidth" class="form-control scan_input scan_number"  placeholder="wristWidth" value="<?php echo @$measurementArray['su_wrist_width']; ?>" required>
                                            <span id="reqWrist"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Seat</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="seat" parent="Jacket" name="seat" class="form-control scan_input scan_number"  placeholder="seat" value="<?php echo @$measurementArray['su_seat']; ?>" required>
                                            <span id="reqSeat"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" id="pantScanSizes">
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label" style="font-weight:bold">Pant</label>
                                        <span></span>

                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">Trouser Waist</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="trouser_waist" name="trouser_waist" parent="Pant" class="form-control scan_input scan_number"  placeholder="trouser_waist" value="<?php echo @$measurementArray['pa_trouser_waist']; ?>">
                                            <span id="reqPwaist"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-xs-5 control-label">Seat</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="trouser_seat" name="trouser_seat" parent="Pant" class="form-control scan_input scan_number"  placeholder="trouser_seat" value="<?php echo @$measurementArray['pa_seat']; ?>">
                                            <span id="reqPhip"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-xs-5 control-label">Outseam</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="outseam" name="outseam" parent="Pant" class="form-control scan_input scan_number"  placeholder="outseam" value="<?php echo @$measurementArray['pa_outseam']; ?>">
                                            <span id="reqOutseam"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-xs-5 control-label">Thigh</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="thigh" name="thigh" parent="Pant" class="form-control scan_input scan_number"  placeholder="Thigh" value="<?php echo @$measurementArray['pa_thigh']; ?>">
                                            <span id="reqThigh"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-xs-5 control-label">Knee</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="knee" name="knee" parent="Pant" class="form-control scan_input scan_number"  placeholder="knee" value="<?php echo @$measurementArray['pa_knee']; ?>">
                                            <span id="reqKnee"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-xs-5 control-label">Ankle</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="ankle" name="ankle" parent="Pant" class="form-control scan_input scan_number"  placeholder="ankle" value="<?php echo @$measurementArray['pa_ankle']; ?>">
                                            <span id="reqPlength"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-xs-5 control-label">Crotch</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="crotch" name="crotch" parent="Pant" class="form-control scan_input scan_number"  placeholder="crotch" value="<?php echo @$measurementArray['pa_crotch']; ?>">
                                            <span id="reqCrotch"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                </div>
                                <div class="col-xs-6" id="vestScanSizes">
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label" style="font-weight:bold">Vest</label>
                                        <span></span>

                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">chest circumf</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="chest_circumf" name="chest_circumf" parent="Vest" class="form-control scan_input scan_number"  placeholder="chest_circumf" value="<?php echo @$measurementArray['wc_chest']; ?>">
                                            <span id="reqChest_cir"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">back length</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="back_length" name="back_length" parent="Vest" class="form-control scan_input scan_number"  placeholder="back_length" value="<?php echo @$measurementArray['wc_backlength']; ?>">
                                            <span id="reqBackLength"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                    <div class="form-group">

                                        <label for="inputEmail3" class="col-xs-5 control-label">waist</label>
                                        <div class="col-xs-6">
                                            <input type="text" id="waist" name="waist" parent="Vest" class="form-control scan_input scan_number"  placeholder="waist" value="<?php echo @$measurementArray['wc_waist']; ?>">
                                            <span id="reqVwaist"></span>
                                        </div>
                                        <div class="col-xs-7"> </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="inputPassword3" class="col-xs-5 control-label">  Quantity </label>

                                        <div class="col-xs-4">
                                            <div class="custom-dropper">
                                                <select class="form-control scanQty">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                    <option value="11">11</option>
                                                    <option value="12">12</option>
                                                    <option value="13">13</option>
                                                    <option value="14">14</option>
                                                    <option value="15">15</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <hr>
                                        <a href="javascript:void(0);" class="btn btn-success pull-right " onclick="saveScanSizeData();">Add To Cart</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="measurement col-xs-12" ng-show="stdSizeFlg" id="stdSizeFlgContainer">
                        <div class="">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                                    <div class="col-xs-10">
                                        <label class="radio-inline">
                                            <input type="radio" name="unitStdRadioOptions" ng-model="unitName" value="cm" ng-change="changeUnit(unitName);">
                                            Cm </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="unitStdRadioOptions" ng-model="unitName" value="in" checked="checked" ng-change="changeUnit(unitName);">
                                            Inch </label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="table-responsive ">
                                        <table class="table table-bordered size">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight:bold">Jacket</th>
                                                </tr>
                                                <tr>
                                                    <th>SIZE</th>
                                                    <th ng-repeat="size in jacketSizes">{{size.size_name}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Chest</td>
                                                    <td ng-repeat="size in jacketSizes" >{{size.chest * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Stomach</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Stomach * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Sleeve Length</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Sleeve_Length * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Shoulder</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Shoulder * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Front Jacket Length</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Front_Jacket_Length * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Back Jacket Length</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Back_Jacket_Length * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Bicep Width</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Bicep_Width * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Wrist Width</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Wrist_Width * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Seat</td>
                                                    <td ng-repeat="size in jacketSizes">{{size.Seat * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td style="font-weight:bold">Pant</td>
                                                </tr>
                                                <tr>
                                                    <th>SIZE</th>
                                                    <th ng-repeat="size in pantSizes">{{size.size_name}}</th>
                                                </tr>
                                                <tr>
                                                    <td>Trouser waist</td>
                                                    <td ng-repeat="size in pantSizes" >{{size.Trouser_waist * unitVal| number:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Seat</td>
                                                    <td ng-repeat="size in pantSizes">{{size.Seat * unitVal| number:2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Outseam</td>
                                                    <td ng-repeat="size in pantSizes">{{size.Outseam * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Thigh</td>
                                                    <td ng-repeat="size in pantSizes">{{size.Thigh * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Knee</td>
                                                    <td ng-repeat="size in pantSizes">{{size.Knee * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Ankle</td>
                                                    <td ng-repeat="size in pantSizes">{{size.Ankle * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>Crotch</td>
                                                    <td ng-repeat="size in pantSizes">{{size.Crotch * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td style="font-weight:bold">Vest</td>
                                                </tr>
                                                <tr>
                                                    <th>SIZE</th>
                                                    <th ng-repeat="size in vestSizes">{{size.size_name}}</th>
                                                </tr>
                                                <tr>
                                                    <td>chest circumf</td>
                                                    <td ng-repeat="size in vestSizes">{{size.chest_circumf * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>back length</td>
                                                    <td ng-repeat="size in vestSizes">{{size.back_length * unitVal| number:2}}</td>

                                                </tr>
                                                <tr>
                                                    <td>waist</td>
                                                    <td ng-repeat="size in vestSizes">{{size.waist * unitVal| number:2}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div id="fit-holder">
                                        <div class="row">
                                            <label for="inputPassword3" class="col-xs-3 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i>  Select Your Fit </label>
                                            <div class="col-xs-3">
                                                <div class="custom-dropper">
                                                    <select class="form-control fit-select-box fit-select-box-default"  >

                                                        <!--<option value="-">Select</option> onChange="changeFit()"-->
                                                        <option ng-repeat="size in jacketSizes" value="{{size.size_name}}">{{size.size_name}}</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <label for="inputPassword3" class="col-xs-2 control-label">  Quantity </label>

                                            <div class="col-xs-2">
                                                <div class="custom-dropper">
                                                    <select class="form-control stdQty">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                    </select>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <hr>
                                            <a href="javascript:void(0);" class="btn btn-success pull-right " onclick="saveStdSizeData();" >Add To Cart</a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn pattern-btn save-btn">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--------measurement end---->
</main>

<!---toool ja files start---->
<script>
    var basePath = "<?php echo $basePath; ?>";</script>

<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/jquery.js"></script>

<!--<script src="<?php //echo $mediaPath; ?>suit-tool/tool_data/js/library/jquery-1.10.2.min.js"></script>-->

<!--<script src="<?php // echo $mediaPath; ?>mediasuit-tool/tool_data/js/library/jquery.js"></script>-->

<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/bootstrap.min.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/jquery-ui.js"></script>

<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/owl.carousel.min.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/scrollIt.min.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/skrollr.min.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/jquery.mCustomScrollbar.js"></script>

<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/angular.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/angular-route.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/angular-animate.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/html2canvas.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/jquery.elevatezoom.js"></script>

<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/pipl-suit/app.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/pipl-suit/factory.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/pipl-suit/suit-controller.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/pipl-suit/tool_custom.js"></script>
<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/pipl-suit/custom-directive.js"></script>

<script src="<?php echo $mediaPath; ?>suit-tool/tool_data/js/library/custom.js"></script>
<!---toool ja files end---->


