.testimonials-list .testimonial {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-top: 40px;
    position: relative;
}

.testimonials-list .testimonials {
    margin: 0 10px 0 10px;
}

.testimonials-list .testimonial:first-child {
    margin-top: 0px;
}

.testimonials-list .more-button {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 1px;
    font-size: 18px;
    text-align: center;
}

.testimonials-list .more-button a {
    color: #fff;
    background: #479ccf;
    border: 1px solid #3793cb;
    text-shadow: 0 1px 0 #3188bc;
    text-decoration: none;
    padding: 11px 30px;
    transition: background 0.2s linear 0;
}

.testimonials-list .more-button a:focus,
.testimonials-list .more-button a:hover  {
    background: #5ba7d4;
    color: #fff;
}

.testimonials-list .more-button a:focus {
    background: #5ba7d4;
    color: #fff;
    box-shadow: inset 0 0 8px #3188bc;
}

.testimonials-list .more-button .disabled {
    opacity: 0.5;
    cursor: wait;
}

.testimonials-list .page-title button {
    float: right;
}

.testimonials-list .page-title h1 {
    float: left;
    border-bottom: none;
}

.testimonials-list .page-title:after {
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    line-height: 0;
    height: 0;
    overflow: hidden;
}

.testimonials-list .testimonial-image {
    float: left;
}

.testimonials-list .testimonial .message-wrapper {
    clear: both;
}

.testimonials-list .testimonial .content-wrapper {
    float: left;
    width: 100%;
}

.testimonials-list .testimonial .testimonial-message {
    font-style: italic;
    position: relative;
    padding: 15px;
    margin: 0 0 0 30px;
    border: 1px solid #CFCFCF;
    border-bottom: 2px solid #CFCFCF;
    color: #333;
    background: #fff;
}

.testimonials-list .testimonial .testimonial-message:before {
    content: "";
    position: absolute;
    top: 15px;
    bottom: auto;
    left: -23px;
    border-width: 10px 23px 10px 0;
    border-style: solid;
    border-color: transparent #CFCFCF;
    display: block;
    width: 0;
}

.testimonials-list .testimonial .testimonial-message:after {
    content: "";
    position: absolute;
    top: 16px;
    bottom: auto;
    left: -21px;
    border-width: 9px 21px 9px 0;
    border-style: solid;
    border-color: transparent #fff;
    display: block;
    width: 0;
}

.testimonials-list .testimonial .testimonial-date {
    float: right;
    font-size: 12px;
}

.testimonials-list .testimonial .socialInfo {
    font-size: 12px;
    padding-top: 5px;
}

.testimonials-list .testimonial .author-info {
    font-weight: bold;
    font-style: italic;
}

.testimonials-list .testimonial .socialInfo a {
    white-space: nowrap;
}

.testimonials-list .testimonial .socialInfo img {
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
}

/** widgets styles */
.block-testimonials .block-content .testimonial-container {
    min-height: 130px;
}

.block-testimonials .block-content .content .content-wrapper {
    height: 85px;
    min-height: 85px;
    display: block;
    overflow: hidden;
}

.block-testimonials .block-content .read-more,
.block-testimonials .block-content .read-less {
    padding-top: 10px;
    display: inline-block;
}

.block-testimonials .block-content .review {
    text-align: center;
}

.block-testimonials .block-content .review .score {
    font-weight: bold;
    font-size: 40px;
    color: #e26703;
}

.block-testimonials .block-content .content .testimonial-message {
    clear: both;
}

.block-testimonials .block-content .content .name {
    float: right;
    margin-top: 10px;
    font-style: italic;
}

.block-testimonials.empty-design .actions-toolbar,
.block-testimonials.empty-design .block-title {
    display: none;
}

.block-testimonials.empty-design,
.block-testimonials.empty-design .block-content {
    background: none;
    border: none;
}

.block-testimonials.empty-design .block-content .content {
    padding: 0;
}

.std .testimonialForm li {
    list-style: none;
}

.testimonials-list .testimonial { zoom: 1; }
.testimonials-list .testimonial:after { content: '.'; clear: both; height: 0; font-size: 0; display: block; visibility: hidden; }

@media (max-width: 480px) {
    .testimonials-list .testimonial .testimonial-date {
        float: left;
        margin-bottom: 10px;
        clear: both;
    }

    .testimonials-list .testimonial-image {
        float: none;
        text-align: center;
        width: 100% !important;
    }

    .testimonials-list .container {
        margin-left: 0 !important;
        margin-top: 20px;
    }

    .testimonials-list .testimonial .testimonial-message {
        margin: 0;
    }

    .testimonials-list .testimonial .testimonial-message:before {
        content: "";
        position: absolute;
        top: -23px;
        bottom: auto;
        left: 47%;
        border-width: 0 10px 23px 10px;
        border-style: solid;
        border-color: transparent transparent #CFCFCF transparent;
        display: block;
        width: 0;
        height: 0;
    }

    .testimonials-list .testimonial .testimonial-message:after {
        content: "";
        position: absolute;
        top: -21px;
        bottom: auto;
        left: 47%;
        border-width: 0 9px 23px 10px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        display: block;
        width: 0;
        height: 0;
    }

    .testimonials-list .testimonial:first-child {
        margin-top: 40px;
    }
}