<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */
$_item = $block->getItem();

?>
<tr id="order-item-row-<?= /* @escapeNotVerified */ $_item->getId() ?>">
    <td class="col name" data-th="<?= $block->escapeHtml(__('Product Name')) ?>">
        <strong class="product name product-item-name"><?= $block->escapeHtml($_item->getName()) ?></strong>
        <?php if ($_options = $block->getItemOptions()): ?>
        <dl class="item-options">
        <?php foreach ($_options as $_option) : ?>
            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
            <?php if (!$block->getPrintStatus()): ?>
                <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                <dd>
                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                        <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                    <?php else: ?>
                        <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                    <?php endif; ?>
                </dd>
            <?php else: ?>
                <dd>
                    <?= nl2br($block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                </dd>
            <?php endif; ?>
        <?php endforeach; ?>
        </dl>
        <?php endif; ?>
        <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addtInfoBlock) :?>
            <?= $addtInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="col sku" data-th="<?= $block->escapeHtml(__('SKU')) ?>"><?= /* @escapeNotVerified */ $block->prepareSku($block->getSku()) ?></td>
    <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
        <?= $block->getItemPriceHtml() ?>
    </td>
    <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <ul class="items-qty">
        <?php if ($block->getItem()->getQtyOrdered() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Ordered') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyOrdered()*1 ?></span>
            </li>
        <?php endif; ?>
        <?php if ($block->getItem()->getQtyShipped() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Shipped') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyShipped()*1 ?></span>
            </li>
        <?php endif; ?>
        <?php if ($block->getItem()->getQtyCanceled() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Canceled') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyCanceled()*1 ?></span>
            </li>
        <?php endif; ?>
        <?php if ($block->getItem()->getQtyRefunded() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Refunded') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyRefunded()*1 ?></span>
            </li>
        <?php endif; ?>
        </ul>
    </td>
    <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
        <?= $block->getItemRowTotalHtml() ?>
    </td>
    
    <?php
        if($_item->getJson()){
    ?>
        <td class="col details" data-th="<?= $block->escapeHtml(__('Details')) ?>">
        
           <center> 
                <button type="button" id="openModel" class="btn btn-primary">View Details</button>    
            </center>
          
            
            <div id="myModel">

                <table id="detailsTable">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <?php
                        function jsonToHtml($arr){
                    
                            if(is_string($arr) && is_array(json_decode($arr, true))){
                                $arr = json_decode($arr);
                            }
                            
                            foreach($arr as $key => $value){
                                if(is_array($key) || is_object($key)){
                                    jsonToHtml($key);
                                }elseif (is_array($value) || is_object($value)) {
                                    jsonToHtml($value); 
                                }else{
                                    if($value != '' && $key != 'product'){
                                        echo '<tr>';
                                        echo "<td>".$key."</td> <td> ".$value."</td></tr>";
                                    }
                                }

                            }
                        }
                

                        $d = $_item->getJson();
                        jsonToHtml($d);
                    ?>
                </table>


                <div id="productImagePopup">
                    <?php
                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

                    ?>
                        <img src="<?php echo $storeManager->getStore()->getBaseUrl().json_decode($_item->getData('json'))->product; ?>" alt="product image" >
                    
                </div>
            </div>

            <script>
                require(
                    [
                        'jquery',
                        'Magento_Ui/js/modal/modal'
                    ],
                    function($,modal) {
                        var options = {
                            type: 'popup',
                            responsive: true,
                            innerScroll: true,
                            title: 'Details of products',
                            buttons: [{
                                text: $.mage.__('Continue'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                }
                            }]
                        };
                        var popup = modal(options, $('#myModel'));
                        $("#openModel").on("click",function(){
                            $('#myModel').modal('openModal');
                        });
                    }
                );
            </script>
            <?php
                 ?>
          
    </td>

            
    <?php
        }
    ?>

    

</tr>

<style type="text/css">
#myModel{
    text-align: left;
    width:90%;
    padding-left: 5%;
}
#detailsTable{
    width: 50%;
    float:right;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-top: 30px;
}
#detailsTable td,#detailsTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
#detailsTable tr:nth-child(even) {
    background-color: #dddddd;
}
#productImagePopup img{
    height: 400px;
    width: 40%;
}
</style>


