<?php $isEnable = $block->getConfig('faqtab/general/enable') ?>
<?php $showGroup = $block->getConfig('faqtab/general/showgroup') ?>
<?php $showGroupTitle = $block->getConfig('faqtab/general/showgrouptitle') ?>
<?php $faqGroupCollection = $block->getFaqGroupCollection() ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>
<section class="cms-banner" style="background-image: url(<?php echo $this->getViewFileUrl('images/cms-faqs.png'); ?>);">
    <div class="cms-caption">
        <div class="common-heading">
            <span>FAQ</span>
        </div>
    </div>
    <ol class="breadcrumb">
        <li><a href="<?php echo $baseUrl ?>">Home</a></li>
        <li class="active">FAQ</li>
    </ol>
</section>
<section class="faq-section">
    <div class="faqs-blk">
        <div class="common-heading">
            <span>Frequently Asked Questions :</span>
        </div>
        <?php if ($faqGroupCollection->getSize()) : ?>
            <?php if ($isEnable) : ?>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">            
                    <div class="panel panel-default">               
                        <?php foreach ($faqGroupCollection as $group) : ?>
                            <?php $faqCollection = $block->getFaqCollection($group->getId()); ?>
                            <?php if ($faqCollection->getSize()) : ?>
                                <?php if ($showGroupTitle) : ?>
                                    <div class="group-title" id="group<?php /* @noEscape */ echo $group->getFaqgroupId(); ?>">
                                        <i></i><?php /* @noEscape */ echo $group->getGroupName(); ?>
                                    </div>
                                <?php endif; ?>
                                <div class="faq-accordion">
                                    <?php foreach ($faqCollection as $faq) : ?> 
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#col<?php /* @noEscape */ echo $faq->getId(); ?>" aria-expanded="true" aria-controls="collapseOne">
                                                <?php /* @noEscape */ echo $faq->getTitle(); ?>
                                                <span class="plus-minus"><i class="fa fa-plus"></i></span>
                                            </a>
                                        </div>

                                        <div id="col<?php /* @noEscape */ echo $faq->getId(); ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p><?php /* @noEscape */ echo $block->filterOutputHtml($faq->getContent()); ?></p>                                        
                                            </div>
                                        </div>                        
                                    <?php endforeach; ?>
                                </div>                   
                            <?php endif; ?>
                        <?php endforeach; ?>            
                    </div>
                </div> 
            <?php endif; ?>
        <?php else : ?>
            <div>
                <h1><?php /* @noEscape */ echo __('No FAQ Group available'); ?></h1>
            </div>
        <?php endif; ?>
    </div>
</section>
