<?php
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotLoggedIn();
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotWholesaler();

$pagenum = $this->getPagenum();
$limit = $this->getLimit();

if($limit==NULL)
{
    $limit = 5;
}
else
{
	$limit = $this->getLimit();
}

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$designCollection = $this->getDesignCollection(); 
$p_type = $block->getProductType();

?>
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3">
                <select name="frame_name" id="type_name" title="<?php echo __('Option Name') ?>" class="input-text" data-validate="{required:true}">
                    <option value=""><?php echo __('Filter by Type.') ?></option>
                    <option value="MenShirt" <?php if($p_type=='Shirt') echo 'selected="selected"';?>><?php echo __('Men Shirt') ?></option>    
                    <option value="MenSuit" <?php if($p_type=='Suit') echo 'selected="selected"';?>><?php echo __('Men Suit') ?></option>    
                    <option value="WomenShirt" <?php if($p_type=='WomenShirt') echo 'selected="selected"';?>><?php echo __('Women Shirt') ?></option>
                    <option value="WomenSuit" <?php if($p_type=='WomenSuit') echo 'selected="selected"';?>><?php echo __('Women Suit') ?></option>     
                </select>
            </div>
        </div> 
    </div>
</div>


<?php if ($designCollection && count($designCollection)){?>
<div class="row customRow">
    <div class="col-sm-12 table-wrapper orders-history">
        <?php foreach ($designCollection as $design){
            $json = json_decode($design->getJson(),true);
            $design_id = $design->getDesignId();
            $type = $json['type'];
            $editUrl = $baseUrl.$block->getEditUrl($type);
            // if($p_type == $type){

        ?>
        <div class="design-display">
            <div class="design-image">
                <img src="<?= $baseUrl . $json['product'] ?>" alt='prodImg' width="200" height="250">
            </div>
            <div class="design-buttons">
                <button type="button"  data-id="<?php echo $design_id; ?>" class="action myModel primary">View Details</button>

				<form class="form form-tool" action="<?= $editUrl ?>" method="post">

				<input type="hidden" name="json_data" value="<?php echo base64_encode(json_encode($json)); ?>">

				<button type="submit" class="action save primary">Edit</button>
                
                </form>

                <a class="action delete primary" href="#" role="delete-design" data-design="<?= $block->escapeHtmlAttr($design_id) ?>"><span><?= $block->escapeHtml(__('Delete')) ?></span></a>
            </div>
        </div>
        <?php 
            // } 

        } ?>
    </div>
</div>

<?php } else{ ?>

        <h5 style="color: red;padding-top: 10px;"><?php echo $block->getMessages(); ?> </h5>
   <?php } ?>

<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>

<?php endif ?>

 
<div id="myModel" class="customManageDesign">
              
    <table id="styleTable">
                 
    </table>

    <div id="productImage" >
                     
    </div>

</div>

<script>
                    require(
                        [
                            'jquery',
                            'Magento_Ui/js/modal/modal'
                        ],
                        function($,modal) {                            
                        var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Details of products',
                        buttons: [{
                            text: $.mage.__('Continue'),
                            class: '',
                            click: function () {
                                this.closeModal();
                            }
                        }]
                    };
                    var id = '';
                    var baseurl = BASE_URL;
                    var popup = modal(options, $('#myModel'));
                    $(".myModel").on("click",function(){

                        id = $(this).attr('data-id');
                        
                        $('#myModel').modal('openModal');

                        $.ajax ({
                            type:'POST',
                            url: baseurl+ "c_customer/Designdata/Designdata/",
                            data: { id : id,reqType :'design' },
                            showLoader: true,
                            success: function(data) {
                           console.log(data);

                            var img='';
                            img="<img src='"+data.img+"' width='250' height='250'>";

                            var sTableTh = "<tr><th colspan='2' style='text-align:center'>Style Details </th></tr>"

                            $("#styleTable").html(sTableTh+data.styles);
                            $("#productImage").html(img);

                            }
                        });
                    });

                $("#type_name").change(function () {
                 $val = $("#type_name").val();
                 if($val == 'MenShirt'){
                  var url = BASE_URL+'manage_wholesaler/customer/design/type/Shirt';
                 }
                 else if($val == 'WomenShirt'){
                  var url = BASE_URL+'manage_wholesaler/customer/design/type/WomenShirt';
                 }
                 else if($val == 'MenSuit'){
                  var url = BASE_URL+'manage_wholesaler/customer/design/type/Suit';
                 }
                 else if($val == 'WomenSuit'){
                  var url = BASE_URL+'manage_wholesaler/customer/design/type/WomenSuit';
                 }
                 else if($val == ''){
                  var url = BASE_URL+'manage_wholesaler/customer/design/type/All';
                 }
                    window.location = url;
                });
    

            });
</script>

<script type="text/x-magento-init">
    {
        ".page-main": {
            "design": {
                "deleteDesign": "a[role='delete-design']",
                "deleteUrlPrefix": "<?= $block->escapeJs($block->escapeUrl($block->getDeleteDesignUrl())) ?>m_id/"
            }
        }
    }
</script>


<style type="text/css">
	.toolbar{
		width: 100%;
		float: left;
	}

	.form-tool{
		display: inline;
	}
	.design-display{
		width:32%;
		float:left; 
		border: 1px solid #e5e5e5;
		padding: 5px 5px;
		border-radius: 10px 10px 20px 20px;
		margin: 5px;
		text-align:center;
	}
	.design-display:hover{
	box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.3);
	border: 1px solid #bbb;
	}

    #myModel{
        text-align: left; 
        width:100%; 
        padding-left: 5%;
    }
    #imageDiv{
        width: 100px;    
    }
    #imageCol{
        padding-right: 0%;
        width: 100px;
    }
    #styleTable{
        width: 50%;
        float:right;
        font-family: arial, sans-serif;  
        border-collapse: collapse;
        /*margin-top: 80px;*/
        margin-right:10px;
    }
    #styleTable td,#styleTable th {  
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;  
    }
    #styleTable tr:nth-child(even) { 
        background-color: #dddddd; 
    }
    .modal-popup .modal-inner-wrap {
       /*margin: 14rem auto !important;*/
    }
   .modal-slide
    {
       overflow: auto !important;
    }
   .modal-inner-wrap
    {
   	   z-index: 99999999999999999 !important;
    }
    .modal-content
    {
    	padding:15px!important;
    }
   .modal-popup .modal-header {
    padding-bottom: 0.2rem !important;
    padding-top: 2rem !important;
    border-bottom :none !important;
   }
   .modal-footer {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
	}
	.details{
		text-align: right !important;
	}
	.modal-header{
		background: #fff !important;
	}
</style>