<?php
$customerCollection = $this->getCustomerCollection(); 
$count = $customerCollection->count();
// var_dump($count);die;
$pagenum = $this->getPagenum();
$limit = $this->getLimit();

if($limit==NULL)
{
    $limit = 5;
}
else
{
$limit = $this->getLimit();

}
if($pagenum == 1 || $pagenum == NULL){
    $cnt=1;

}else{
    $cnt= ($limit*($pagenum-1))+1;
}
    $applyedFilter = $block->getApplyedFilters();

// $cnt=1;
?>
<div class="actions-toolbar">
<!--     <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Customers..">
 -->
    <div class="primary" style="float:left; padding-bottom:20px;">
        <form method="POST" name="order_filter" id="order-filter" action="<?= /* @escapeNotVerified */ $block->getFormAction() ?>">
            <label for="order-status"><?= /* @escapeNotVerified */ __('Keyword Search') ?>:</label>       
            <input type="text" id="text_search" placeholder="Customer Name" value="<?= /* @escapeNotVerified */($applyedFilter['key_word']!='' && $applyedFilter['key_word']!= NULL) ? $applyedFilter['key_word'] : "" ?>" name="key_word" class="input-text search">
            <div class="">
                <button type="submit"
                        value="submit"
                        name="submit"
                        title="<?= $block->escapeHtml(__('Search')) ?>"
                        class="btn_search"
                        style="padding: 3px 0px !important;width: 100px !important;">
                    <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </button>
                <?php if (!is_null($applyedFilter)) : ?>
                    <button type="submit" 
                            value="1"
                            name="reset"
                            title="<?= $block->escapeHtml(__('Reset Filter')) ?>"
                            class="action reset"
                            style="padding: 3px 0px !important;width: 130px !important;">
                        <span><?= /* @escapeNotVerified */ __('Reset Filter') ?></span>
                    </button>
                <?php endif; ?>
            </div>
        </form>
    </div>

    <div class="primary" style="float:right; padding-bottom:20px;">
        <button type="button" role="add-customer" title="<?= $block->escapeHtmlAttr(__('Add New Customer')) ?>" class="action primary add"><span><?= $block->escapeHtml(__('Add New Customer')) ?></span></button>
    </div>

</div>
<?php if ($customerCollection && count($customerCollection)):?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Customer management') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= /* @escapeNotVerified */ __('Serial Number') ?></th>
                    <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Customer Number') ?></th>
                    <?= /* @noEscape */ $block->getChildHtml('extra.column.header') ?>
                    <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Client Name') ?></th>
                    <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Country') ?></th>
                    <th scope="col" class="col actions"><?= /* @escapeNotVerified */ __('Operations') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($customerCollection as $customer): 
                $billingAddress = $customer->getDefaultBillingAddress();
                if($billingAddress!=NULL){
                $countryId = $billingAddress->getCountryId(); 
                $country = $billingAddress->getCountryId(); 
                }else{
                $country = "-";
                }
                ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtml(__('Serial Number')) ?>" class="col id"><?= $cnt++ ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Customer Number')) ?>" class="col date"><?= $customer->getId() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Client Name')) ?>" class="col shipping"><?= $customer->getFirstname()." ".$customer->getLastname() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Country')) ?>" class="col total"><?= $country ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Operations')) ?>" class="col actions item">
                            <a href="<?= $block->escapeUrl($block->getUrl('manage_wholesaler/account/info/')).'id/'.$customer->getId() ?>" class="action view">
                                <span><?= __('View Details') ?></span>
                            </a>
                            <a class="action delete" href="#" role="delete-customer" data-customer="<?= $block->escapeHtmlAttr($customer->getId()) ?>"><span><?= $block->escapeHtml(__('Delete')) ?></span></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>

<?php endif ?>

<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>


<script type="text/x-magento-init">
    {
        ".page-main": {
            "customer": {
                "deleteCustomer": "a[role='delete-customer']",
                "deleteUrlPrefix": "<?= $block->escapeJs($block->escapeUrl($block->getDeleteCustomerUrl())) ?>id/",
                "addCustomer": "button[role='add-customer']",
                "addCustomerLocation": "<?= $block->escapeJs($block->escapeUrl($block->getAddCustomerUrl())) ?>"
            }
        }
    }
</script>
