<?php

if($this->isWholesaler()=='1'){


?>

<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */
echo __('* Required Fields') ?>">
<!--     <legend class="legend">
        <span>
        <?php 
            /* @escapeNotVerified */ 
            echo __('Other Information') 
        ?>
        </span>
    </legend>  -->
 
<!--     <p>
        <?php if ($logo = $block->getProfileUrl()): ?>
            <img src="<?php echo $logo ?>" alt="logo" width="150px" height="150px"/>
        <?php endif; ?>
    </p> -->
 
<!--      <p>
        <div class="field wholesaler_profile ">
            <label for="wholesaler_profile" class="label"><span><?php /* @escapeNotVerified */
                    echo __('Change Profile Picture') ?></span></label>
            <div class="control">
                <input type="file" name="wholesaler_profile" id="wholesaler_profile" title="<?php /* @escapeNotVerified */
                echo __('Change Profile Picture') ?>" class="input-text" data-validate="{required:false}">
            </div>
        </div>
    </p> -->

    <input type="hidden" name="wholesaler_store_id" id="wholesaler_store_id" value="<?php echo $block->getStoreId(); ?>">

    <p>
        <div class="field required">
            <label for="mobile" class="label"><span><?php /* @escapeNotVerified */
                    echo __('Phone Number') ?></span></label>
            <div class="control">
                <input type="text" name="mobile" id="mobile" title="<?php /* @escapeNotVerified */
                echo __('Phone Number') ?>" value="<?php echo $block->getPhoneNumber(); ?>" class="input-text validate-length maximum-length-10 minimum-length-10 validate-digits" data-validate="{required:true}">
            </div>
        </div>
    </p>
    <p>
        <div class="field wholesaler_store_name ">
            <label for="wholesaler_store_name" class="label"><span><?php /* @escapeNotVerified */
                    echo __('Store Name') ?></span></label>
            <div class="control">
                <input type="text" name="wholesaler_store_name" id="wholesaler_store_name" title="<?php /* @escapeNotVerified */
                echo __('Store Name') ?>" value="<?php echo $block->getStoreName(); ?>" class="input-text" data-validate="{required:true}">
            </div>
        </div>
    </p>

     <p>
        <div class="field gst_number ">
            <label for="gst_number" class="label"><span><?php /* @escapeNotVerified */
                    echo __('GST Number') ?></span></label>
            <div class="control">
                <input type="text" name="gst_number" id="gst_number" title="<?php /* @escapeNotVerified */
                echo __('GST Number') ?>" value="<?php echo $block->getGstNumber(); ?>" class="input-text" data-validate="{required:false}">
            </div>
        </div>
    </p>

    <p>
        <?php if ($logo = $block->getLogoUrl()): ?>
            <img src="<?php echo $logo ?>" alt="logo" width="150px" height="150px"/>
        <?php endif; ?>
    </p>
     <p>
        <div class="field wholesaler_logo ">
            <label for="wholesaler_logo" class="label"><span><?php /* @escapeNotVerified */
                    echo __('Change Store logo') ?></span></label>
            <div class="control">
                <input type="file" name="wholesaler_logo" id="wholesaler_logo" title="<?php /* @escapeNotVerified */
                echo __('Change Store logo') ?>" class="input-text" data-validate="{required:false}">
            </div>
        </div>
    </p>

</fieldset>

<?php } ?>
