<?php
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotLoggedIn();
$this->helper('Wholesaler\Mgmt\Helper\CustomerSession')->redirectIfNotWholesaler();


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
$customerCollection = $this->getCustomerCollection();
$pagenum = $this->getPagenum();
$limit = $this->getLimit();
if($limit==NULL){
$limit = 10;
}else{
$limit = $this->getLimit();
}
$applyedFilter = $block->getApplyedFilters();
?>
<div class="actions-toolbar">
    <!--     <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Customers..">
    -->
    <div class="primary" style="float:left; padding-bottom:20px;">
        <form method="POST" name="order_filter" id="order-filter" action="<?= /* @escapeNotVerified */ $block->getFormAction() ?>">
            <label for="order-status"><?= /* @escapeNotVerified */ __('Keyword Search') ?>:</label>
            <input type="text" id="text_search" placeholder="Customer Name" value="<?= /* @escapeNotVerified */($applyedFilter['key_word']!='' && $applyedFilter['key_word']!= NULL) ? $applyedFilter['key_word'] : "" ?>" name="key_word" class="input-text search">
            <div class="ct-filter-btn clearfix">
                <button type="submit"
                value="submit"
                name="submit"
                title="<?= $block->escapeHtml(__('Search')) ?>"
                class="btn_search"
                style="padding: 3px 0px !important;width: 100px !important;">
                <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                </button>
                <?php if (!is_null($applyedFilter['key_word'])) : ?>
                <button type="submit"
                value="1"
                name="reset"
                title="<?= $block->escapeHtml(__('Reset Filter')) ?>"
                class="action reset"
                style="padding: 3px 0px !important;width: 130px !important;">
                <span><?= /* @escapeNotVerified */ __('Reset Filter') ?></span>
                </button>
                <?php endif; ?>
            </div>
        </form>
    </div>
    <div class="primary" style="float:right; padding-bottom:20px;">
        <button type="button" role="add-customer" title="<?= $block->escapeHtmlAttr(__('Add New Customer')) ?>" class="action primary add"><span><?= $block->escapeHtml(__('Add New Customer')) ?></span></button>
    </div>
</div>
<?php if ($customerCollection && count($customerCollection)){?>
<div class="table-wrapper orders-history">
    <table class="data table table-order-items history" id="my-orders-table">
        <caption class="table-caption"><?= /* @escapeNotVerified */ __('Customer management') ?></caption>
        <thead>
            <tr>
                <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Customer Number') ?></th>
                <?= /* @noEscape */ $block->getChildHtml('extra.column.header') ?>
                <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Client Name') ?></th>
                <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Country') ?></th>
                <th scope="col" class="col actions"><?= /* @escapeNotVerified */ __('Operations') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($customerCollection as $customer):
            $name = $customer->getFirstname()." ".$customer->getLastname(); 

            $billingAddress = $customer->getDefaultBillingAddress();
            if($billingAddress!=NULL){
            $countryId = $billingAddress->getCountryId();
            $country = $billingAddress->getCountryId();
            }else{
            $country = "-";
            }
            ?>
            <tr>
                <td data-th="<?= $block->escapeHtml(__('Customer Number')) ?>" class="col date"><?= $customer->getId() ?></td>
                <td data-th="<?= $block->escapeHtml(__('Client Name')) ?>" class="col shipping"><?= $customer->getFirstname()." ".$customer->getLastname() ?></td>
                <td data-th="<?= $block->escapeHtml(__('Country')) ?>" class="col total"><?= $country ?></td>
                <td data-th="<?= $block->escapeHtml(__('Operations')) ?>" class="col actions item">
                    <a href="#" class="click-me" data-dir="<?php echo $customer->getId();?>" data-name="<?php echo $name; ?>">
                        <span><?= __('Select') ?></span>
                    </a>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php 
}
 ?>


<?php if ($block->getPagerHtml()): ?>
<div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>
<div id="tool_modal">
    <input class="id-record-inp" type ="hidden" id="record_id" value ="">
    <div class="image_div_section clearfix" id="image_div" style="display:none;">
        <div class="primary choose-op">
            <a class="action check_type choose-categories" onclick="showOPtions()" data-type="shirt">
                <img src="<?php echo $this->getViewFileUrl('Wholesaler_Mgmt::images/Shirt2.jpg'); ?>" class="tool_img">                  
                <span class="cat-name">Shirt</span> 
            </a>         
            <!-- <button class="check_type" onclick="showOPtions()" data-type="shirt">Shirt</button> -->
        </div>
        <div class="primary choose-op">
            <a class="action check_type choose-categories" onclick="showOPtions()" data-type="suit">
                <img src="<?php echo $this->getViewFileUrl('Wholesaler_Mgmt::images/Suit.jpg'); ?>" class="tool_img">                
                <span class="cat-name">Suit</span>
            </a>
            <!-- <button class="check_type" onclick="showOPtions()" data-type="suit">Suit</button> -->
        </div>
    </div>
    <div class="selection_div_section" id="selection_div" style="display:none;">
        <div class="shirt_selection" style="text-align: center;">
            <div class="active-performance clearfix">
                <div class="click-action">
                    <div class="perform-act">
                    	<ul class="holdingLi clearfix">
                    		<li class="clickingHead">Alter for</li>
                    		<li class="clickingButton"><a class="action primary alter actions-bttn" id="target_design_men" href="" target="_self"><?= __('Men') ?></a></li>
                    		<li class="clickingButton"><a class="action primary alter actions-bttn" id="target_design_women" href="" target="_self"><?= __('Women') ?></a></li>
                    	</ul>
                    </div>
                </div>
                <div class="click-action">
                    <div class="perform-act">
                    	<ul class="holdingLi clearfix">
                    		<li class="clickingHead">Design For</li>
                    		<li class="clickingButton"><a class="action primary scratch actions-bttn" href="" id="target_redirect_men" target="_self"><?= __('Men') ?></a></li>
                    		<li class="clickingButton"><a class="action primary scratch actions-bttn" href="" id="target_redirect_women" target="_self"><?= __('Women') ?></a></li>
                    	</ul>
                    </div>
                </div>
                <div class="click-action">
                    <div class="perform-act">
                    	<ul class="holdingLi clearfix">
                    		<li class="clickingHead">Order</li>
                    		<li class="clickingButton"><a class="action primary alter actions-bttn" href="#" id="order_reorder" target="_self"><?= __('Reorder') ?></a></li>
                    		<li class="clickingButton"><button class="action primary back actions-bttn" onclick="getBack()" data-type="shirt">Back</button></li>                    		
                    	</ul>                        
                    </div>
                </div>
            </div>

       </div>
    </div>
</div>
<script>
require([
'jquery'
], function($){
})
</script>
<script>
    require(
    [
    'jquery',
    'Magento_Ui/js/modal/modal'
    ],
    function($,modal) {
        $(document).ready(function() {

            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'What you want to buy now..?',
                buttons: [{
                text: $.mage.__('Close'),
                class: '',
                click: function () {
                this.closeModal();
                }
                }]
            };
            var baseurl = BASE_URL;
            var popup = modal(options, $('#tool_modal'));
            $(".click-me").on('click',function(){
                var record_id = $(this).attr('data-dir');
                var name = $(this).attr('data-name');

                var x = document.getElementById("image_div");
                var y = document.getElementById("selection_div");
                if (x.style.display === "none") {
                    x.style.display = "block";
                    y.style.display = "none";
                }
                $("#record_id").val(record_id);
                $("#tool_modal").modal("openModal");
                $.ajax ({
                    type:'POST',
                    url: BASE_URL+ "manage_wholesaler/quickorder/customerdata/",
                    data: { cust_id : record_id},
                    success: function(data) {
                    }
                });


            $("#order_reorder").on('click',function(){
                $.ajax ({
                   type:'GET',
                   url: baseurl+ "sales/order/history/",
                   data: { date_from : '',date_to:'',order_status:'',key_word:name,submit:'submit'},
                   success: function(data) {
                        location.href = baseurl+ "sales/order/history/";

                  }
                });
                        
            });
        });




            $(".check_type").on('click',function(){
                var dataType = $(this).attr('data-type');
                if(dataType == 'shirt')
                {
                    $("#target_redirect_men").attr("href", baseurl+ "men-shirt");
                    $("#target_redirect_women").attr("href", baseurl+ "women-shirt");
                    $("#target_design_men").attr("href", baseurl+ "manage_wholesaler/customer/design/type/Shirt");
                    $("#target_design_women").attr("href", baseurl+ "manage_wholesaler/customer/design/type/WomenShirt");
                }
                else{
                    $("#target_redirect_men").attr("href", baseurl+ "men-suit");
                    $("#target_redirect_women").attr("href", baseurl+ "women-suit");
                    $("#target_design_men").attr("href", baseurl+ "manage_wholesaler/customer/design/type/Suit");
                    $("#target_design_women").attr("href", baseurl+ "manage_wholesaler/customer/design/type/WomenSuit");
                }
            });
         });
       }
    );
</script>
<script type="text/x-magento-init">
{
".page-main": {
"customer": {
"addCustomer": "button[role='add-customer']",
"addCustomerLocation": "<?= $block->escapeJs($block->escapeUrl($block->getAddCustomerUrl())) ?>"
}
}
}
</script>
<script>
function showOPtions()
{
var x = document.getElementById("selection_div");
var y = document.getElementById("image_div");
if (x.style.display === "none") {
x.style.display = "block";
y.style.display = "none";
} else {
x.style.display = "none";
}
}
function getBack()
{
var x = document.getElementById("image_div");
var y = document.getElementById("selection_div");
if (x.style.display === "none") {
x.style.display = "block";
y.style.display = "none";
} else {
x.style.display = "none";
}
}


// if(jQuery('.modal-inner-wrap').find('image_div_section') {
//         jQuery('.modal-inner-wrap').css('width');
//     });

// if ($('.modal-inner-wrap').hasClass('image_div_section')){
//     $('.modal-inner-wrap')css('width' '50%');
//   } 


</script>
<style type="text/css">
.modal-popup .modal-inner-wrap {
margin: 14rem auto !important;
}
.modal-slide
{
overflow: auto !important;
}
.modal-inner-wrap
{
z-index: 99999999999999999 !important;
}
.page-header
{
z-index: 1 !important;
}
.modal-popup .modal-header {
padding-bottom: 0.2rem !important;
padding-top: 2rem !important;
border-bottom :none !important;
}
.modal-footer {
padding-bottom: 2rem !important;
padding-top: 2rem !important;
}
.details{
text-align: right !important;
}
.modal-header{
background: #fff !important;
}
</style>