<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
$blockObject= $block->getLayout()->createBlock('Wholesaler\Mgmt\Block\Form\Edit');

$params = $blockObject->getParentId(); 
$val ="";
if($params!=NULL){
		$val = $params;
}else {
	$val = 0;
}

?>

    <div class="field parent_wholesaler required">
        <div class="control">
            <input type="hidden" name="parent_wholesaler" id="parent_wholesaler" title="<?php /* @escapeNotVerified */echo __('My Attribute') ?>" class="input-hidden" value="<?=   $val ?>">
        </div>
    </div>
