<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$directory = $objectManager->get('\Magento\Framework\Filesystem\DirectoryList');
$myRootBasePath = $directory->getRoot();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$basePath = $storeManager->getStore()->getBaseUrl();

$storeName = $storeManager->getStore()->getCode();

if (strpos($basePath, $storeName) !== false) {
    $basePath = explode($storeName, $basePath. '/')[0];
}

$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');

$category_name = null;
$final_last_order_data = null;

$product_type_id = $product->getProductType();
if($product_type_id!=''){
    $product_type_attributeId = $product->getResource()->getAttribute('product_type');
    if ($product_type_attributeId->usesSource()) {
        $cat_val = $product_type_attributeId->getSource()->getOptionText($product_type_id);
        if($cat_val=='Shirt' || $cat_val=='shirt' || $cat_val=='Suit' || $cat_val=='suit'){
            $category_name = $cat_val;
        }
    }
}

$product_gender_id = $product->getProductTypeGender();

if($product_gender_id!=''){
  $product_gender_attributeId = $product->getResource()->getAttribute('product_type_gender');
  if ($product_gender_attributeId->usesSource()) {
        $gender_name = $product_gender_attributeId->getSource()->getOptionText($product_gender_id);
  }
}


// $categories = $product->getCategoryIds(); /*will return category ids array*/
// foreach($categories as $category){
//     $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
//     if($cat->getName()=="Shirt" || $cat->getName()=="shirt" || $cat->getName()=="Suit" || $cat->getName()== "suit"){
//         $category_name = $cat->getName();
//     }else if($cat->getName()=="Women" || $cat->getName()=="Men" || $cat->getName()=="women" || $cat->getName()=="men"){
//         $main_category_name = $cat->getName();
//     }else{
//         $category_name = null;
//         $main_category_name = null;
//     }
// }

if($category_name!= null){

    $blockStandard= $block->getLayout()->createBlock('Wholesaler\Mgmt\Block\Measurement\Standard');
    $standard_data = $blockStandard->getStandardMeasurementCollection($category_name); 


    $blockScan= $block->getLayout()->createBlock('Shirt\Tool\Block\Shirt');

    $lastorderData = $blockScan->getLastOrder();
    if(!empty($lastorderData)){
      if(($category_name=='Shirt'||$category_name=='shirt') && ($gender_name=='Men'||$gender_name=='men') && isset($lastorderData['Shirt']) && $lastorderData['Shirt']!=''){
          $final_last_order_data = json_encode($lastorderData['Shirt']);
        } 

      else if(($category_name=='Shirt'||$category_name=='shirt') && ($gender_name=='Women'||$gender_name=='women') && isset($lastorderData['WomenShirt']) && $lastorderData['WomenShirt']!=''){
          $final_last_order_data = json_encode($lastorderData['WomenShirt']);
        } 

      else if(($category_name=='Suit'||$category_name=='suit') && ($gender_name=='Men'||$gender_name=='men') && isset($lastorderData['Suit']) && $lastorderData['Suit']!=''){
          $final_last_order_data = json_encode($lastorderData['Suit']);
        } 

      else if(($category_name=='Suit'||$category_name=='suit') && ($gender_name=='Women'||$gender_name=='women') && isset($lastorderData['WomenSuit']) && $lastorderData['WomenSuit']!=''){
          $final_last_order_data = json_encode($lastorderData['WomenSuit']);
        } 
      else{
          $final_last_order_data = '';
        }

    }

    if($final_last_order_data!=''){

        $checkbox = "<input type='checkbox' name='lastorderdata' id='lastorderdata'> Use last measurements  <br>
            <input type='hidden' class='lastData' value='".$final_last_order_data."'>";
    }


    $Measure_data = $blockScan->getBodyMeasurements();
    $measurementArray = json_decode($Measure_data['json'],true);
    echo "<input type='hidden' class='custMsmtData' value='".json_encode($measurementArray)."'>";

    if($measurementArray['convert_type']=="inch"){
      $convert_inch = "checked='checked'";
    }else{
      $convert_cm = "checked='checked'";
    }

    $blockObject= $block->getLayout()->createBlock('Magento\Catalog\Block\Product\View');
    $params = $blockObject->getRequest()->getParams(); 

    if(isset($params['product_id'])){
      $config_id = $params['id'];

      $blockMeasurement = $block->getLayout()->createBlock('Custom\Customer\Block\Design');
      $measurement_data = json_encode($blockMeasurement->getUpdatedMeasurement($config_id));

    }
    // $button = '';
    // if(!isset($params['product_id'])){
      $button = '<button type="button" id="openModel" class="action myModel primary">Add Measurements</button>';
    // }


}else{
  $button = "";
}
?>

<main ng-app="Shirt" ng-controller="shirtController">

<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<div class="product-add-form">
  <form data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>"
        action="<?= /* @NoEscape */ $block->getSubmitUrl($_product) ?>" method="post"
        id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
      <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $_product->getId() ?>" />
      <input type="hidden" name="selected_configurable_option" value="" />
      <input type="hidden" name="related_product" id="related-products-field" value="" />
      <input type="hidden" name="measurement_hidden" id="measurement_details" value='<?php echo @$measurement_data;?>' />
      <?= $block->getBlockHtml('formkey') ?>
      <?= $block->getChildHtml('form_top') ?>

        <?php if (!$block->hasOptions()):?>
            <?= $block->getChildHtml('product_info_form_content') ?>
        <?php else:?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                <?= $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?= $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
      <?= $block->getChildHtml('form_bottom') ?>

        <?php echo $button; ?>
  </form>
</div>


<?php if($category_name!= null){ ?>


<!-- add measurement start-->
<div id="addMeasurement" style="display:none;">
  <div class="measurement col-xs-12">
      <div class="row">
          <div class="col-xs-12 col-sm-6  offset-bottom-15 size-opt" onclick="showScanSize();">
              <div class="scnsize">
                  <h3> Scan Size</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <p> <a href="javascript:void(0);"> <i class="fa fa-arrow-circle-down fa-2x"> </i></a></p>
                  <p><img src="<?= $basePath ?>pub/media/shirt-tool/tool_data/img/measurement-sc.png" class="img-responsive" /></p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 offset-bottom-15 size-opt" onclick="showStdSize();">
              <div class="scnsize">
                  <h3>Standard Size</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <p> <a href="javascript:void(0);"> <i class="fa fa-arrow-circle-down fa-2x"> </i></a></p>
                  <p><img src="<?= $basePath ?>pub/media/shirt-tool/tool_data/img/SML.png" class="img-responsive">
                  </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6  offset-bottom-15 size-opt">
              <?php echo @$checkbox; ?>
          </div>
      </div>
  </div>

  <div class="measurement col-xs-12" id="scanSizeFlgContainer" style="display:none;">
          <form class="form-horizontal">
              <div class="form-group">
                  <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                  <div class="col-xs-8 col-sm-3">
                      <label class="radio-inline">
                          <input type="radio" name="unitScanOptions" id="radioScanCm" ng-model="unitScanName" value="cm" onchange="changeScanUnit('cm');" <?php echo @$convert_cm; ?>>
                          Cm </label>
                      <label class="radio-inline">
                          <input type="radio" name="unitScanOptions" id="radioScanInch" value="inch" ng-model="unitScanName" onchange="changeScanUnit('inch');" <?php echo @$convert_inch; ?>>
                          Inch </label>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                      <?php if($category_name == "Suit") { ?>
                      <div>
                          <div class="row">
                              <label for="select_product" class="col-xs-12 col-sm-5 control-label">
                                  <i class="fa fa-arrow-circle-right text-success"> </i>  Select Your Product 
                              </label>
                              <div class="col-xs-12 col-sm-7" id="select_product">
                                  <div class="col-xs-12 col-sm-12" id="jacketScanSizes">
                                      <label class="checkbox-inline">
                                          <input type="checkbox" value="product_suit" id="product_suit" checked="checked" name="product_suit">Suit
                                      </label>
                                      <label class="checkbox-inline">
                                          <input type="checkbox" value="product_pant" id="product_pant" checked="checked" name="product_pant">Pant
                                      </label>
                                      <label class="checkbox-inline">
                                          <input type="checkbox" value="product_waist" id="product_waist" checked="checked" name="product_waist">Waist
                                      </label>
                                      <!-- <label class="checkbox-inline">
                                          <input type="checkbox" value="product_all" id="product_all" name="product_all">All
                                      </label> -->
                                  </div>
                              </div>
                          </div>
                      </div>
                      <?php } ?>
                  </div>
              </div>

          <?php if($category_name == "Shirt") { ?>                  


              <div class="form-group">
                  <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                  <div class="col-xs-10">  <label class="control-label"> Enter Shirt Measurements</label> </div>
              </div>
              <hr>

              <div class="col-xs-12 col-sm-6" id="jacketScanSizes">
                  <div class="form-group">

                      <label for="sh_collar" class="col-xs-5 control-label">Collar</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_collar" parent="Shirt" name="sh_collar" class="form-control scan_input scan_number"  value="<?php echo @$measurementArray['sh_collar']; ?>" placeholder="Collar">
                          <span class="sh_collar"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>

                  <div class="form-group">
                      <label for="sh_shoulder" class="col-xs-5 control-label">Shoulder</label>

                      <div class="col-xs-6">
                          <input type="text" id="sh_shoulder" parent="Shirt" name="sh_shoulder" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['sh_shoulder']; ?>" placeholder="Shoulder">
                          <span class="sh_shoulder"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
                  <div class="form-group">
                      <label for="sh_backlength" class="col-xs-5 control-label">Back length</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_backlength" name="sh_backlength" parent="Shirt" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['sh_backlength']; ?>" placeholder="Back length">
                          <span class="sh_backlength"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
                  <div class="form-group">
                      <label for="sh_chest" class="col-xs-5 control-label">Chest</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_chest" parent="Shirt" name="sh_chest" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['sh_chest']; ?>" placeholder="Chest">
                          <span class="sh_chest"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
                  <div class="form-group">
                      <label for="sh_sleeve" class="col-xs-5 control-label">Sleeve</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_sleeve" name="sh_sleeve" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Sleeve" value="<?php echo @$measurementArray['sh_sleeve']; ?>">
                          <span class="sh_sleeve"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
              </div>    
              <div class="col-xs-12 col-sm-6" id="jacketScanSizes">
                  <div class="form-group">
                      <label for="sh_stomach" class="col-xs-5 control-label">Stomach</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_stomach" name="sh_stomach" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Stomach" value="<?php echo @$measurementArray['sh_stomach']; ?>">
                          <span class="sh_stomach"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
                  <div class="form-group">
                      <label for="sh_seat" class="col-xs-5 control-label">Seat</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_seat" name="sh_seat" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Seat" value="<?php echo @$measurementArray['sh_seat']; ?>">
                          <span class="sh_seat"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
                  <div class="form-group">
                      <label for="sh_bicepwidth" class="col-xs-5 control-label">Bicep Width</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_bicepwidth" name="sh_bicepwidth" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Bicep Width" value="<?php echo @$measurementArray['sh_bicepwidth']; ?>">
                          <span class="sh_bicepwidth"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
                  <div class="form-group">
                      <label for="sh_wristwidth" class="col-xs-5 control-label">Wrist Width</label>
                      <div class="col-xs-6">
                          <input type="text" id="sh_wristwidth" name="sh_wristwidth" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Wrist Width" value="<?php echo @$measurementArray['sh_wristwidth']; ?>">
                          <span class="sh_wristwidth"></span>
                      </div>
                      <div class="col-xs-7"> </div>
                  </div>
              </div>

        <?php } else if($category_name == "Suit") { ?>                  

              
              <hr>
              <div id="suitScan">
                <div class="form-group">
                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                    <div class="col-xs-10">  <label class="control-label"> Enter Suit Measurements</label> </div>
                </div>

             

              
                <div class="col-xs-12 col-sm-6" id="jacketScanSizes">
                    <div class="form-group">

                        <label for="su_chest" class="col-xs-5 control-label">Chest</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_chest" parent="Shirt" name="su_chest" class="form-control scan_input scan_number"  value="<?php echo @$measurementArray['su_chest']; ?>" placeholder="Chest">
                            <span class="su_chest"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>

                    <div class="form-group">
                        <label for="su_stomach" class="col-xs-5 control-label">Stomach</label>

                        <div class="col-xs-6">
                            <input type="text" id="su_stomach" parent="Shirt" name="su_stomach" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['su_stomach']; ?>" placeholder="Stomach">
                            <span class="su_stomach"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="su_sleevelength" class="col-xs-5 control-label">Sleeve length</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_sleevelength" name="su_sleevelength" parent="Shirt" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['su_sleevelength']; ?>" placeholder="Sleeve length">
                            <span class="su_sleevelength"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="su_shoulder" class="col-xs-5 control-label">Shoulder</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_shoulder" parent="Shirt" name="su_shoulder" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['su_shoulder']; ?>" placeholder="Shoulder">
                            <span class="su_shoulder"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="su_front_jacket_length" class="col-xs-5 control-label">Front Jacket Length</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_front_jacket_length" name="su_front_jacket_length" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Front Jacket Length" value="<?php echo @$measurementArray['su_front_jacket_length']; ?>">
                            <span class="su_front_jacket_length"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                </div>    
                <div class="col-xs-12 col-sm-6" id="jacketScanSizes">
                    <div class="form-group">
                        <label for="su_back_jacket_length" class="col-xs-5 control-label">Back jacket length</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_back_jacket_length" name="su_back_jacket_length" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Back jacket length" value="<?php echo @$measurementArray['su_back_jacket_length']; ?>">
                            <span class="su_back_jacket_length"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="su_bicep_width" class="col-xs-5 control-label">Bicep Width</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_bicep_width" name="su_bicep_width" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Bicep Width" value="<?php echo @$measurementArray['su_bicep_width']; ?>">
                            <span class="su_bicep_width"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="su_wrist_width" class="col-xs-5 control-label">Wrist Width</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_wrist_width" name="su_wrist_width" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Wrist Width" value="<?php echo @$measurementArray['su_wrist_width']; ?>">
                            <span class="su_wrist_width"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="su_seat" class="col-xs-5 control-label">Seat</label>
                        <div class="col-xs-6">
                            <input type="text" id="su_seat" name="su_seat" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Seat" value="<?php echo @$measurementArray['su_seat']; ?>">
                            <span class="su_seat"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                </div>
              </div>

              <div id="pantScan">
                <div class="col-sm-12 form-group">
                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                    <div class="col-xs-10">  <label class="control-label"> Enter Pant Measurements</label> </div>
                <hr>
                </div>

                <div class="col-xs-12 col-sm-6" id="jacketScanSizes">
                    <div class="form-group">

                        <label for="pa_trouser_waist" class="col-xs-5 control-label">Trouser waist</label>
                        <div class="col-xs-6">
                            <input type="text" id="pa_trouser_waist" parent="Shirt" name="pa_trouser_waist" class="form-control scan_input scan_number"  value="<?php echo @$measurementArray['pa_trouser_waist']; ?>" placeholder="Trouser waist">
                            <span class="pa_trouser_waist"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>

                    <div class="form-group">
                        <label for="pa_seat" class="col-xs-5 control-label">Seat</label>

                        <div class="col-xs-6">
                            <input type="text" id="pa_seat" parent="Shirt" name="pa_seat" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['pa_seat']; ?>" placeholder="Seat">
                            <span class="pa_seat"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="pa_outseam" class="col-xs-5 control-label">Outseam</label>
                        <div class="col-xs-6">
                            <input type="text" id="pa_outseam" name="pa_outseam" parent="Shirt" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['pa_outseam']; ?>" placeholder="Outseam">
                            <span class="pa_outseam"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="pa_thigh" class="col-xs-5 control-label">Thigh</label>
                        <div class="col-xs-6">
                            <input type="text" id="pa_thigh" parent="Shirt" name="pa_thigh" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['pa_thigh']; ?>" placeholder="Thigh">
                            <span class="pa_thigh"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                </div>    
                <div class="col-xs-12 col-sm-6" id="jacketScanSizes">
                    <div class="form-group">
                        <label for="pa_knee" class="col-xs-5 control-label">Knee</label>
                        <div class="col-xs-6">
                            <input type="text" id="pa_knee" name="pa_knee" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Knee" value="<?php echo @$measurementArray['pa_knee']; ?>">
                            <span class="pa_knee"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="pa_ankle" class="col-xs-5 control-label">Ankle</label>
                        <div class="col-xs-6">
                            <input type="text" id="pa_ankle" name="pa_ankle" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Ankle" value="<?php echo @$measurementArray['pa_ankle']; ?>">
                            <span class="pa_ankle"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="pa_crotch" class="col-xs-5 control-label">Crotch</label>
                        <div class="col-xs-6">
                            <input type="text" id="pa_crotch" name="pa_crotch" parent="Shirt" class="form-control scan_input scan_number"  placeholder="Crotch" value="<?php echo @$measurementArray['pa_crotch']; ?>">
                            <span class="pa_crotch"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                </div>
              </div>

              <div id="waistScan">
                <div class="col-sm-12 form-group">
                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                    <div class="col-xs-10">  <label class="control-label"> Enter Waistcoat Measurements</label> </div>
                <hr>
                </div>

                <div class="col-xs-12 col-sm-6" id="jacketScanSizes">
                    <div class="form-group">

                        <label for="wc_chest" class="col-xs-5 control-label">Chest</label>
                        <div class="col-xs-6">
                            <input type="text" id="wc_chest" parent="Shirt" name="wc_chest" class="form-control scan_input scan_number"  value="<?php echo @$measurementArray['wc_chest']; ?>" placeholder="Chest">
                            <span class="wc_chest"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>

                    <div class="form-group">
                        <label for="wc_backlength" class="col-xs-5 control-label">Back length</label>

                        <div class="col-xs-6">
                            <input type="text" id="wc_backlength" parent="Shirt" name="wc_backlength" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['wc_backlength']; ?>" placeholder="Back length">
                            <span class="wc_backlength"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                    <div class="form-group">
                        <label for="wc_waist" class="col-xs-5 control-label">Waist</label>
                        <div class="col-xs-6">
                            <input type="text" id="wc_waist" name="wc_waist" parent="Shirt" class="form-control scan_input scan_number" value="<?php echo @$measurementArray['wc_waist']; ?>" placeholder="Waist">
                            <span class="wc_waist"></span>
                        </div>
                        <div class="col-xs-7"> </div>
                    </div>
                </div>
              </div>


          <?php } ?>                  



              <div class="form-group">
                  <div class="col-xs-12">
                      <hr>
                            <script>
                              var pType = '<?php echo $category_name; ?>';
                              var gName = '<?php echo $gender_name; ?>';
                            </script>

                      <a href="javascript:void(0);" class="btn btn-success pull-right " onclick="saveScanSizeData(pType,gName);">Save</a>
                  </div>
              </div>
          </form>
    </div>

    <div class="measurement col-xs-12" ng-show="stdSizeFlg" id="stdSizeFlgContainer" style="display:none;">
            <form class="form-horizontal">
              <input type="hidden" name="whole_standard_data" id="whole_standard_data" value='<?php echo json_encode($standard_data); ?>'>
                <div class="form-group">
                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                    <div class="col-xs-8 col-sm-3">
                        <label class="radio-inline">
                            <input type="radio" name="unitStdOptions" id="radioStdCm" ng-model="unitName" value="cm" checked="checked" onchange="changeStdUnit('cm');">
                            Cm </label>
                        <label class="radio-inline">
                            <input type="radio" name="unitStdOptions" id="radioStdInch" ng-model="unitName" value="inch"  onchange="changeStdUnit('inch');">
                            Inch </label>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div id="fit-holder">
                            <div class="row">
                                <label for="inputPassword3" class="col-xs-12 col-sm-6 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i>  Select Your Fit </label>
                                <div class="col-xs-12 col-sm-6">
                                  <div class="custom-dropper">
                                      <select class="form-control fit-select-box fit-select-box-default"  >
                                          <option class="size_option" value="">--Select--</option>
                                          <?php foreach ($standard_data as $key => $value) {
                                          ?>
                                          <option class="size_option" value="<?php echo $value['size_name']; ?>"><?php echo $value['size_name']; ?></option>
                                          <?php } ?>                                    


                                      </select>
                                      <span id="reqSize"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-xs-12">
                    <div class="table-responsive ">
                    <?php if($category_name == "Shirt") { ?>                  
                        <table class="table table-bordered size">
                            <thead>
                                <tr>
                                    <th style="font-weight:bold">Shirt</th>
                                </tr>
                                <tr>
                                    <th>SIZE</th>
                                    <?php foreach ($standard_data as $key => $value) {
                                    ?>
                                    <th><?php echo @$value['size_name']; ?></th>

                                    <?php } ?>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Collar</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_collar']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Shoulder</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_shoulder']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Back Length</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_backlength']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Chest</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_chest']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Sleeve</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_sleeve']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Stomach</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_stomach']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Seat</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_seat']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Bicep Width</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_bicepwidth']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Wrist Width</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['sh_wristwidth']; ?></td>
                                    <?php } ?>                                    
                                </tr>

                            </tbody>
                        </table>
              <?php } else if($category_name == "Suit") { ?>                  
                        <table class="table table-bordered size">

                            <thead>
                                <tr>
                                    <th style="font-weight:bold">Suit</th>
                                </tr>
                                <tr>
                                    <th>SIZE</th>
                                    <?php foreach ($standard_data as $key => $value) {
                                    ?>
                                    <th><?php echo @$value['size_name']; ?></th>

                                    <?php } ?>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Chest</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_chest']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Stomach</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_stomach']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Sleeve Length</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_sleevelength']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Shoulder</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_shoulder']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Front Jacket Length</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_front_jacket_length']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Back Jacket Length</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_back_jacket_length']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Bicep Width</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_bicep_width']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Wrist Width</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_wrist_width']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Seat</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['su_seat']; ?></td>
                                    <?php } ?>                                    
                                </tr>

                            </tbody>
                        </table>


                        <table class="table table-bordered size">

                            <thead>
                                <tr>
                                    <th style="font-weight:bold">Pant</th>
                                </tr>
                                <tr>
                                    <th>SIZE</th>
                                    <?php foreach ($standard_data as $key => $value) {
                                    ?>
                                    <th><?php echo @$value['size_name']; ?></th>

                                    <?php } ?>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Trouser Waist</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['pa_trouser_waist']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Seat</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['pa_seat']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Outseam</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['pa_outseam']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Thigh</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['pa_thigh']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Knee</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['pa_knee']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Ankle</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['pa_ankle']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Crotch</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['pa_crotch']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                            </tbody>
                        </table>

                        <table class="table table-bordered size">

                            <thead>
                                <tr>
                                    <th style="font-weight:bold">Waistcoat</th>
                                </tr>
                                <tr>
                                    <th>SIZE</th>
                                    <?php foreach ($standard_data as $key => $value) {
                                    ?>
                                    <th><?php echo @$value['size_name']; ?></th>

                                    <?php } ?>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Chest</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['wc_chest']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Back Length</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['wc_backlength']; ?></td>
                                    <?php } ?>                                    
                                </tr>
                                <tr>
                                    <td>Waist</td>
                                    <?php foreach ($standard_data as $key => $value){ ?>
                                    <td class="std_number"><?php echo @$value['wc_waist']; ?></td>
                                    <?php } ?>                                    
                                </tr>

                            </tbody>
                        </table>

              <?php } ?>                  

                    </div>

                    
                    <div class="form-group">
                        <div class="col-xs-12">
                            <hr>
                            <script>
                              var pType = <?php echo $category_name; ?>;
                              var gName = <?php echo $gender_name; ?>;
                            </script>
                            <a href="javascript:void(0);" class="btn btn-success pull-right " onclick="saveStdSizeData(pType,gName);" >Save</a>
                        </div>
                    </div>
                </div>
            </form>
      </div>
</div>



<script>
    require([
        'jquery',
        'priceBox'
    ], function($){
        var dataPriceBoxSelector = '[data-role=priceBox]',
            dataProductIdSelector = '[data-product-id=<?= $block->escapeHtml($_product->getId()) ?>]',
            priceBoxes = $(dataPriceBoxSelector + dataProductIdSelector);

        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });

        priceBoxes.priceBox({'priceConfig': <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>});
    });
</script>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'jquery/jquery.cookie',
            'domReady!'
          ],
        function($,modal) {
          $( document ).ready(function() {

            setTimeout(function(){
              var val = $('#measurement_details').val(); 
              if(val === '' || val=='null'){
                  $(".myModel").html("Add Measurements");
                  $('.tocart').attr("disabled", 'disabled');
                  $('.tocart').parent().append('<br><span id="add_measurement_msg" style="color:red">Add measurements first</span>');
              }else{
                  $.cookie("my_json", val);
                  $(".myModel").html("Edit Measurements");
              }
            },1000);



          });

            
        var options = {
        type: 'popup',
        responsive: true,
        innerScroll: true,
        title: 'Add measurement Details',
        buttons: [{
            text: $.mage.__('Close'),
            class: '',
            click: function () {
                this.closeModal();
            }
        }]
    };
    var id = '';
    var baseurl = BASE_URL;
    var popup = modal(options, $('#addMeasurement'));
    $(".myModel").on("click",function(){

       
        $('#addMeasurement').modal('openModal');

        if($('#measurement_details').val()!= ''){
         var data = jQuery.parseJSON($('#measurement_details').val());

        for (var key in data) {
          if(key!='size_name'){
              $("#"+key).val(data[key]);
          }
        }

        $(".fit-select-box").val(data.size_name);

                var radioValue = data.size_type;
                if(radioValue == "cm"){
                  document.getElementById("radioScanCm").checked = true;
                }else{
                  document.getElementById("radioScanInch").checked = true;
                }

         }

  });                           

});

</script>

<script>

    function changeScanUnit(unitVal) 
        {
            if (unitVal == "cm") {
                convertVal = 2.54;
                jQuery(".scan_number").each(function (e) {
                    if (jQuery(this).val() != "") {
                        var res = parseFloat(parseFloat(jQuery(this).val()) * convertVal).toFixed(1);
                        jQuery(this).val(res);
                    }
                });
            } else {
                convertVal = 0.393701;
                jQuery(".scan_number").each(function (e) {
                    if (jQuery(this).val() != "") {
                        var res = parseFloat(parseFloat(jQuery(this).val()) * convertVal).toFixed(2);
                        jQuery(this).val(res);
                    }
                });
            }

        } 

    function changeStdUnit(unitVal) 
        {
            if (unitVal == "cm") {
                convertVal = 2.54;
                jQuery(".std_number").each(function (e) {
                    if (jQuery(this).html() != "") {
                        var res = parseFloat(parseFloat(jQuery(this).html()) * convertVal).toFixed(1);
                        jQuery(this).html(res);
                    }
                });
            } else {
                convertVal = 0.393701;
                jQuery(".std_number").each(function (e) {
                    if (jQuery(this).html() != "") {
                        var res = parseFloat(parseFloat(jQuery(this).html()) * convertVal).toFixed(2);
                        jQuery(this).html(res);
                    }
                });
            }

        } 

    function showScanSize() 
        {
            var x = document.getElementById("scanSizeFlgContainer");
            var y = document.getElementById("stdSizeFlgContainer");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
            }
        } 

    function showStdSize() 
        {
            var x = document.getElementById("stdSizeFlgContainer");
            var y = document.getElementById("scanSizeFlgContainer");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
            }
        } 

    function saveScanSizeData(pType,gName) {
        jQuery('.tocart').removeAttr("disabled");
        jQuery('#add_measurement_msg').hide();

        var flg;
        var scanDataArray = {};
        if(pType == "Shirt" || pType=="shirt")
        {

          var keyArray = ["sh_collar","sh_shoulder","sh_backlength","sh_chest","sh_sleeve","sh_stomach","sh_seat","sh_bicepwidth","sh_wristwidth"];

          for(var key in keyArray){
              if (jQuery("#"+keyArray[key]).val() == "") {
                  jQuery('.'+keyArray[key]).show();
                  jQuery('.'+keyArray[key]).html("*This field is required.").css({"color": "red"});
                  flg = false;
              } else
              {
                  if(/^\d*\.?\d*$/.test(jQuery("#"+keyArray[key]).val())){
                        scanDataArray[keyArray[key]] = jQuery("#"+keyArray[key]).val();

                  jQuery('.'+keyArray[key]).hide();
                  }else{
                   jQuery('.'+keyArray[key]).show();
                  jQuery('.'+keyArray[key]).html("*This field is required and contain only Number.").css({"color": "red"});
                   flg = false;

                  }
              }

          }
      }

        else if(pType == "Suit" || pType=="suit")
        {

          if(jQuery('#product_suit').is(":checked")) {
            var keyArray = ["su_chest","su_stomach","su_sleevelength","su_shoulder","su_front_jacket_length","su_back_jacket_length","su_bicep_width","su_wrist_width","su_seat"];

            for(var key in keyArray){
                if (jQuery("#"+keyArray[key]).val() == "") {
                    jQuery('.'+keyArray[key]).show();
                    jQuery('.'+keyArray[key]).html("*This field is required.").css({"color": "red"});
                    flg = false;
                }else
                {
                    if(/^\d*\.?\d*$/.test(jQuery("#"+keyArray[key]).val())){
                          scanDataArray[keyArray[key]] = jQuery("#"+keyArray[key]).val();
                    jQuery('.'+keyArray[key]).hide();
                    }else{
                     jQuery('.'+keyArray[key]).show();
                    jQuery('.'+keyArray[key]).html("*This field is required and contain only Number.").css({"color": "red"});
                     flg = false;

                    }
                }

            }
          }

          if(jQuery('#product_pant').is(":checked")) {
            var keyArray = ["pa_trouser_waist","pa_seat","pa_outseam","pa_thigh","pa_knee","pa_ankle", "pa_crotch"];

            for(var key in keyArray){
                if (jQuery("#"+keyArray[key]).val() == "") {
                    jQuery('.'+keyArray[key]).show();
                    jQuery('.'+keyArray[key]).html("*This field is required.").css({"color": "red"});
                    flg = false;
                }else
                {
                    if(/^\d*\.?\d*$/.test(jQuery("#"+keyArray[key]).val())){
                          scanDataArray[keyArray[key]] = jQuery("#"+keyArray[key]).val();
                    jQuery('.'+keyArray[key]).hide();
                    }else{
                     jQuery('.'+keyArray[key]).show();
                    jQuery('.'+keyArray[key]).html("*This field is required and contain only Number.").css({"color": "red"});
                     flg = false;

                    }
                }

            }
          }

          if(jQuery('#product_waist').is(":checked")) {
            var keyArray = ["wc_chest","wc_backlength","wc_waist"];

            for(var key in keyArray){
                if (jQuery("#"+keyArray[key]).val() == "") {
                    jQuery('.'+keyArray[key]).show();
                    jQuery('.'+keyArray[key]).html("*This field is required.").css({"color": "red"});
                    flg = false;
                }else
                {
                    if(/^\d*\.?\d*$/.test(jQuery("#"+keyArray[key]).val())){
                          scanDataArray[keyArray[key]] = jQuery("#"+keyArray[key]).val();
                    jQuery('.'+keyArray[key]).hide();
                    }else{
                     jQuery('.'+keyArray[key]).show();
                    jQuery('.'+keyArray[key]).html("*This field is required and contain only Number.").css({"color": "red"});
                     flg = false;

                    }
                }
            }
          }

          scanDataArray['type'] = "Scan";

          if(gName=='Men' || gName=='men'){
            scanDataArray['product_type'] = "Suit";
          }
          if(gName=='Women' || gName=='women'){
            scanDataArray['product_type'] = "WomenSuit";
          }


      }
        scanDataArray['size_type'] = jQuery("input[name='unitScanOptions']:checked"). val();

        sizeStdFlg = false;
        jQuery("#measurement_details").val(JSON.stringify(scanDataArray));
        jQuery.cookie("my_json", JSON.stringify(scanDataArray));


        if(jQuery("#measurement_details").val() !="" && flg != false){
          alert("Measurement Details saved successfully");
          jQuery(".myModel").html("Edit Measurements");
          jQuery("#addMeasurement").modal('closeModal');
        }
    }

    function saveStdSizeData(pType,gName)
    {
        jQuery('#reqSize').html('');
        if (jQuery(".fit-select-box").val() == null || jQuery(".fit-select-box").val() == "") {
            jQuery('#reqSize').show();
            jQuery('#reqSize').html("*This field is required.").css({"color": "red"});
        } else{

        var cnt = 0;
        var sizeData = {};


        if(jQuery("#stdSizeFlgContainer .fit-select-box option:selected").val()!= null){
        var fit = jQuery("#stdSizeFlgContainer .fit-select-box option:selected").val().toLowerCase();
        }

        var jacketSizes = jQuery("#whole_standard_data").val().replace(/\s/g,'');
        var aData = jQuery.parseJSON(jacketSizes);
        var i,j;                 
        for (i = 0; i < Object.keys(aData).length; i++) {
            
            if ((aData[i].size_name).toLowerCase() == fit)
            {
                sizeData = aData[i];
            }
        }

        console.log(sizeData);

        var checkSizeType = jQuery("input[name='unitStdOptions']:checked").val();
        if(checkSizeType == "cm"){
            sizeData['size_type'] = jQuery("input[name='unitStdOptions']:checked").val();
            sizeData['type'] = "Standard";
              if((gName=='Men' || gName=='men') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "Shirt";
              }
              if((gName=='Men' || gName=='men') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "Suit";
              }
              if((gName=='Women' || gName=='women') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "WomenShirt";
              }
              if((gName=='Women' || gName=='women') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "WomenSuit";
              }
            jQuery("#measurement_details").val(JSON.stringify(sizeData));
            jQuery.cookie("my_json", JSON.stringify(sizeData));

          }else{

            for (var key in sizeData) {
              if(key!='size_name'){
                sizeData[key] = parseFloat(parseFloat(sizeData[key]) * 0.393701).toFixed(2);
              }
            }

            sizeData['size_type'] = jQuery("input[name='unitStdOptions']:checked").val();
            sizeData['type'] = "Standard";
              if((gName=='Men' || gName=='men') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "Shirt";
              }
              if((gName=='Men' || gName=='men') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "Suit";
              }
              if((gName=='Women' || gName=='women') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "WomenShirt";
              }
              if((gName=='Women' || gName=='women') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "WomenSuit";
              }
            jQuery("#measurement_details").val(JSON.stringify(sizeData));
            jQuery.cookie("my_json", JSON.stringify(sizeData));

          }
            if(jQuery("#measurement_details").val() != ''){
              alert("Measurement Details saved successfully");
              jQuery(".myModel").html("Edit Measurements");
              jQuery("#addMeasurement").modal('closeModal');
            }
      }
  }
</script>

<script>
    require(['jquery', 'jquery/ui'], function ($) {

        $('#lastorderdata').click(function (e)
        {

            if($(this).prop("checked") == true){
                var data = $.parseJSON($('.lastData').val());
                console.log(data);

                if('rtw_measurement' in data){

                  if(data['rtw_measurement']['size_type']=='cm'){
                      $("input[name=unitScanOptions][value=cm]").prop('checked', true);
                  }else if(data['rtw_measurement']['size_type']=='inch'){
                      $("input[name=unitScanOptions][value=inch]").prop('checked', true);
                  }

                  if(data!='' && (data['rtw_measurement']['product_type']=='Shirt' || data['rtw_measurement']['product_type']=='WomenShirt')){
                    if(data['rtw_measurement']['type']=='Scan'){
                        var size1 = data['rtw_measurement'];
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });
                    }
                    else if(data['rtw_measurement']['type']=='Standard'){
                        if(data['rtw_measurement']['size_type']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['rtw_measurement']['size_type']=='inch'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }
                        var size1 = data['rtw_measurement'];
                        $('.fit-select-box').val(size1['size_name']);
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });

                    }
                  } 

                  if(data!='' && (data['rtw_measurement']['product_type']=='Suit' || data['rtw_measurement']['product_type']=='WomenSuit')){

                      if(data['rtw_measurement']['type']=='Standard'){
                        $('.fit-select-box').val(data['rtw_measurement']['size_name']);
                        if(data['rtw_measurement']['size_type']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['rtw_measurement']['size_type']=='inch'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }
                      }

                      var size1 = data['rtw_measurement'];
                      $.each(size1, function (key, val) { 
                          $('#'+key).val(val);
                      });

                  } 

                }
                else{

                  if(data['style']['mesurementIn']=='cm'){
                      $("input[name=unitScanOptions][value=cm]").prop('checked', true);
                  }else if(data['style']['mesurementIn']=='in'){
                      $("input[name=unitScanOptions][value=inch]").prop('checked', true);
                  }

                  if(data!='' && (data['type']=='Shirt' || data['type']=='WomenShirt')){
                    if(data['size']['type']=='Scan'){
                        var size = data['size']['sizeData'];
                        var size1 = {};
                        size1['sh_chest'] = size['chest'];
                        size1['sh_collar'] = size['collar'];
                        size1['sh_shoulder'] = size['shoulder'];
                        size1['sh_sleeve'] = size['sleeve'];
                        size1['sh_stomach'] = size['stomach'];
                        size1['sh_seat'] = size['seat'];
                        size1['sh_bicepwidth'] = size['BicepWidth'];
                        size1['sh_wristwidth'] = size['Wristwidth'];
                        size1['sh_backlength'] = size['length'];
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });
                    }
                    else if(data['size']['type']=='Standard'){
                        if(data['style']['mesurementIn']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['style']['mesurementIn']=='in'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }
                        var size = data['size']['sizeData'][0];
                        $('.fit-select-box').val(size['size_name']);
                        var size1 = {};
                        size1['sh_chest'] = size['chest'];
                        size1['sh_collar'] = size['Collar'];
                        size1['sh_shoulder'] = size['shoulder'];
                        size1['sh_sleeve'] = size['sleeve'];
                        size1['sh_stomach'] = size['stomach'];
                        size1['sh_seat'] = size['seat'];
                        size1['sh_bicepwidth'] = size['Bicep_Width'];
                        size1['sh_wristwidth'] = size['Wrist_width'];
                        size1['sh_backlength'] = size['length'];
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });

                    }
                  } 

                  if(data!='' && (data['type']=='Suit' || data['type']=='WomenSuit')){

                    if(data['size']['type']=='Scan'){

                      var keys = ['chest','stomach','sleeve_length','shoulder','frontJacketLength','backJacketLength','bicepWidth','wristWidth','seat','trouser_waist','trouser_seat','outseam','thigh','knee','ankle','crotch','chest_circumf','back_length','waist'];

                      var size = data['size']['sizeData'];
                      var size1 = {};

                      size1['su_chest'] = (size['chest'])?size['chest']:'';
                      size1['su_stomach'] = (size['stomach'])?size['stomach']:'';
                      size1['su_sleevelength'] = (size['sleeve_length'])?size['sleeve_length']:'';
                      size1['su_shoulder'] = (size['shoulder'])?size['shoulder']:'';
                      size1['su_front_jacket_length'] = (size['frontJacketLength'])?size['frontJacketLength']:'';
                      size1['su_back_jacket_length'] = (size['backJacketLength'])?size['backJacketLength']:'';
                      size1['su_bicep_width'] = (size['bicepWidth'])?size['bicepWidth']:'';
                      size1['su_wrist_width'] = (size['wristWidth'])?size['wristWidth']:'';
                      size1['su_seat'] = (size['seat'])?size['seat']:'';
                      size1['pa_trouser_waist'] = (size['trouser_waist'])?size['trouser_waist']:'';
                      size1['pa_seat'] = (size['trouser_seat'])?size['trouser_seat']:'';
                      size1['pa_outseam'] = (size['outseam'])?size['outseam']:'';
                      size1['pa_thigh'] = (size['thigh'])?size['thigh']:'';
                      size1['pa_knee'] = (size['knee'])?size['knee']:'';
                      size1['pa_ankle'] = (size['ankle'])?size['ankle']:'';
                      size1['pa_crotch'] = (size['crotch'])?size['crotch']:'';
                      size1['wc_chest'] = (size['chest_circumf'])?size['chest_circumf']:'';
                      size1['wc_backlength'] = (size['back_length'])?size['back_length']:'';
                      size1['wc_waist'] = (size['waist'])?size['waist']:'';

                      $.each(size1, function (key, val) { 
                          $('#'+key).val(val);
                      });

                    }
                    else if(data['size']['type']=='Standard'){
                        if(data['style']['mesurementIn']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['style']['mesurementIn']=='in'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }

                        var size1 = {};

                        if('0' in data['size']['sizeData']){
                            var sizeJacket = data['size']['sizeData'][0];
                        }else{
                            size1['su_chest'] = "";
                            size1['su_stomach'] = "";
                            size1['su_sleevelength'] = "";
                            size1['su_shoulder'] = "";
                            size1['su_front_jacket_length'] = "";
                            size1['su_back_jacket_length'] = "";
                            size1['su_bicep_width'] = "";
                            size1['su_wrist_width'] = "";
                            size1['su_seat'] = "";

                        }

                        if('1' in data['size']['sizeData']){
                            var sizePant = data['size']['sizeData'][1];
                        }else{

                            size1['pa_trouser_waist'] = "";
                            size1['pa_seat'] = "";
                            size1['pa_outseam'] = "";
                            size1['pa_thigh'] = "";
                            size1['pa_knee'] = "";
                            size1['pa_ankle'] = "";
                            size1['pa_crotch'] = "";

                        }

                        if('2' in data['size']['sizeData']){
                            var sizeVest = data['size']['sizeData'][2];
                        }else{

                            size1['wc_chest'] = "";
                            size1['wc_backlength'] = "";
                            size1['wc_waist'] = "";

                        }

                        if(sizeJacket!= null){
                            $('.fit-select-box').val(sizeJacket['size_name']);
                            size1['su_chest'] = sizeJacket['Chest'];
                            size1['su_stomach'] = sizeJacket['Stomach'];
                            size1['su_sleevelength'] = sizeJacket['Sleeve Length'];
                            size1['su_shoulder'] = sizeJacket['Shoulder'];
                            size1['su_front_jacket_length'] = sizeJacket['Front Jacket Length'];
                            size1['su_back_jacket_length'] = sizeJacket['Back Jacket Length'];
                            if(data['type']=='Suit'){
                              size1['su_bicep_width'] = sizeJacket['Bicep Width'];
                              size1['su_wrist_width'] = sizeJacket['Wrist Width'];
                            }
                            if(data['type']=='WomenSuit'){
                              size1['su_bicep_width'] = sizeJacket['Bicep_Width'];
                              size1['su_wrist_width'] = sizeJacket['Wrist_Width'];
                            } 
                            size1['su_seat'] = sizeJacket['Seat'];
                        }
                        if(sizePant!= null){
                            $('.fit-select-box').val(sizePant['size_name']);
                            if(data['type']=='Suit'){
                             size1['pa_trouser_waist'] = sizePant['Trouser waist'];
                            }
                            if(data['type']=='WomenSuit'){
                             size1['pa_trouser_waist'] = sizePant['Trouser Waist'];
                            }
                            size1['pa_seat'] = sizePant['Seat'];
                            size1['pa_outseam'] = sizePant['Outseam'];
                            size1['pa_thigh'] = sizePant['Thigh'];
                            size1['pa_knee'] = sizePant['Knee'];
                            size1['pa_ankle'] = sizePant['Ankle'];
                            size1['pa_crotch'] = sizePant['Crotch'];
                        }
                        if(sizeVest!= null){
                            $('.fit-select-box').val(sizeVest['size_name']);
                            size1['wc_chest'] = sizeVest['Chest'];
                            size1['wc_backlength'] = sizeVest['Back Length'];
                            size1['wc_waist'] = sizeVest['Waist'];
                        }

                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });

                    }
                  }  



                } 

 

            }

            if($(this).prop("checked") == false){
                $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                var orderdata = $.parseJSON($('.lastData').val());

                if('rtw_measurement' in orderdata){
                  var type = orderdata['rtw_measurement']['product_type'];
                }else{
                  var type = orderdata['type'];
                }
                var data = $.parseJSON($('.custMsmtData').val());
                console.log(data);
                if(data!=''){
                    if(data['convert_type']=='cm'){
                        $("input[name=unitScanOptions][value=cm]").prop('checked', true);
                    }else if(data['convert_type']=='inch'){
                        $("input[name=unitScanOptions][value=inch]").prop('checked', true);
                    }

                    if(type=="Shirt" || type=="WomenShirt"){
                      $('.fit-select-box').val(37);
                      var size1 = {};
                      size1['sh_chest'] = data['sh_chest'];
                      size1['sh_collar'] = data['sh_collar'];
                      size1['sh_shoulder'] = data['sh_shoulder'];
                      size1['sh_sleeve'] = data['sh_sleeve'];
                      size1['sh_stomach'] = data['sh_stomach'];
                      size1['sh_seat'] = data['sh_seat'];
                      size1['sh_bicepwidth'] = data['sh_bicepwidth'];
                      size1['sh_wristwidth'] = data['sh_wristwidth'];
                      size1['sh_backlength'] = data['sh_backlength'];
                    }

                    if(type=="Suit" || type=="WomenSuit"){
                      $('.fit-select-box').val('46EU');
                      var size1 = {};
                      size1['su_chest'] = data['su_chest'];
                      size1['su_stomach'] = data['su_stomach'];
                      size1['su_sleevelength'] = data['su_sleevelength'];
                      size1['su_shoulder'] = data['su_shoulder'];
                      size1['su_front_jacket_length'] = data['su_front_jacket_length'];
                      size1['su_back_jacket_length'] = data['su_back_jacket_length'];
                      size1['su_bicep_width'] = data['su_bicep_width'];
                      size1['su_wrist_width'] = data['su_wrist_width'];
                      size1['su_seat'] = data['su_seat'];

                      size1['pa_trouser_waist'] = data['pa_trouser_waist'];
                      size1['pa_seat'] = data['pa_seat'];
                      size1['pa_outseam'] = data['pa_outseam'];
                      size1['pa_thigh'] = data['pa_thigh'];
                      size1['pa_knee'] = data['pa_knee'];
                      size1['pa_ankle'] = data['pa_ankle'];
                      size1['pa_crotch'] = data['pa_crotch'];

                      size1['wc_chest'] = data['wc_chest'];
                      size1['wc_backlength'] = data['wc_backlength'];
                      size1['wc_waist'] = data['wc_waist'];
                    }

                    $.each(size1, function (key, val) {
                        $('#'+key).val(val);
                    });
                }
            }

        });


        $('#product_suit').change(function() {
            if ($(this).is(":checked")) {
                $('#suitScan').show();
            } else {
                $('#suitScan').hide();
            }
        });

        $('#product_pant').change(function() {
            if ($(this).is(":checked")) {
                $('#pantScan').show();
            } else {
                $('#pantScan').hide();
            }
        });

        $('#product_waist').change(function() {
          if ($(this).is(":checked")) {
                $('#waistScan').show();
            } else {
                $('#waistScan').hide();
            }
        });
    });

</script>


<?php } ?>