@font-face {
  font-family: 'icomoon1';
  src:  url('../fabric-fonts/icomoon1.eot?44u6pe');
  src:  url('../fabric-fonts/icomoon1.eot?44u6pe#iefix') format('embedded-opentype'),
    url('../fabric-fonts/icomoon1.ttf?44u6pe') format('truetype'),
    url('../fabric-fonts/icomoon1.woff?44u6pe') format('woff'),
    url('../fabric-fonts/icomoon1.svg?44u6pe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Winter_Main_Icon-2:before {
  content: "\e90d";
  color: #fff;
}
.icon-Winter_Main_Icon:before {
  content: "\e900";
  color: #636363;
}
.icon-Winter_Main_Icon-1:before {
  content: "\e90c";
}
.icon-Premium_Main_Icon:before {
  content: "\e901";
  color: #636363;
}
.icon-All_Main_Icon:before {
  content: "\e902";
  color: #636363;
}
.icon-New_Main_Icon:before {
  content: "\e903";
  color: #636363;
}
.icon-Faves_Main_Icon:before {
  content: "\e904";
  color: #636363;
}
.icon-Filter_Main_Icon:before {
  content: "\e905";
  color: #636363;
}
.icon-Same_Fabrics:before {
  content: "\e906";
  color: #636363;
}
.icon-Diffrent_Fabrics:before {
  content: "\e907";
  color: #636363;
}
.icon-Woolmark:before {
  content: "\e908";
  color: #636363;
}
.icon-Basic:before {
  content: "\e909";
  color: #636363;
}
.icon-Info_Main_Icon:before {
  content: "\e90a";
  color: #636363;
}
.icon-Limited-Edition:before {
  content: "\e90b";
  color: #636363;
}
