@font-face {
  font-family: 'suit';
  src:  url('fonts/suit.eot?4ubhs6');
  src:  url('fonts/suit.eot?4ubhs6#iefix') format('embedded-opentype'),
    url('fonts/suit.ttf?4ubhs6') format('truetype'),
    url('fonts/suit.woff?4ubhs6') format('woff'),
    url('fonts/suit.svg?4ubhs6#suit') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-v2-"], [class*=" icon-v2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'suit' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-v2-Double_Breasted_6x1_Buttons:before {
  content: "\e900";
  color: #636363;
}
.icon-v2-Double_Breasted_4X1_Buttons:before {
  content: "\e901";
  color: #636363;
}
.icon-v2-Casual_Style:before {
  content: "\e902";
  color: #636363;
}
.icon-v2-Double_Breasted_4_Buttons:before {
  content: "\e903";
  color: #636363;
}
.icon-v2-Double_Breasted_2_Buttons:before {
  content: "\e904";
  color: #636363;
}
.icon-v2-Double_Breasted_6_Buttons:before {
  content: "\e905";
  color: #636363;
}
.icon-v2-Mandarin:before {
  content: "\e906";
  color: #636363;
}
.icon-v2-Single_Breasted_2_Button:before {
  content: "\e907";
  color: #636363;
}
.icon-v2-Main_Style_Icon:before {
  content: "\e908";
  color: #636363;
}
.icon-v2-Single_Breasted_3_Button:before {
  content: "\e909";
  color: #636363;
}
.icon-v2-Single_Breasted_1_Button:before {
  content: "\e90a";
  color: #636363;
}
.icon-v2-Fit_Main_Icon:before {
  content: "\e90b";
  color: #636363;
}
.icon-v2-Large_Fit:before {
  content: "\e90c";
  color: #636363;
}
.icon-v2-Regular:before {
  content: "\e90d";
  color: #636363;
}
.icon-v2-Slim_Fit:before {
  content: "\e90e";
  color: #636363;
}
.icon-v2-Wide:before {
  content: "\e90f";
  color: #636363;
}
.icon-v2-Slim_Lapel:before {
  content: "\e910";
  color: #636363;
}
.icon-v2-Shawl:before {
  content: "\e911";
  color: #636363;
}
.icon-v2-Peak:before {
  content: "\e912";
  color: #636363;
}
.icon-v2-Standard:before {
  content: "\e913";
  color: #636363;
}
.icon-v2-Notch:before {
  content: "\e914";
  color: #636363;
}
.icon-v2-Lapel_Main_Icon:before {
  content: "\e915";
  color: #636363;
}
.icon-v2-With_Flap_x3_Slanted:before {
  content: "\e916";
  color: #636363;
}
.icon-v2-Double_Welted_x3_Slanted:before {
  content: "\e917";
  color: #636363;
}
.icon-v2-With_Flap_Slanted:before {
  content: "\e918";
  color: #636363;
}
.icon-v2-Double_Welted_Slanted:before {
  content: "\e919";
  color: #636363;
}
.icon-v2-Patched:before {
  content: "\e91a";
  color: #636363;
}
.icon-v2-Double_Welted_x3:before {
  content: "\e91b";
  color: #636363;
}
.icon-v2-Double_Welted:before {
  content: "\e91c";
  color: #636363;
}
.icon-v2-No_Pockets:before {
  content: "\e91d";
  color: #636363;
}
.icon-v2-With_Flap_x3:before {
  content: "\e91e";
  color: #636363;
}
.icon-v2-With_Flap:before {
  content: "\e91f";
  color: #636363;
}
.icon-v2-Pockets_Main_Icon:before {
  content: "\e920";
  color: #636363;
}
.icon-v2-with_button_holes:before {
  content: "\e921";
  color: #636363;
}
.icon-v2-buttoned:before {
  content: "\e922";
  color: #636363;
}
.icon-v2-no_holes:before {
  content: "\e923";
  color: #636363;
}
.icon-v2-buttoned2:before {
  content: "\e924";
  color: #636363;
}
.icon-v2-Sleeve_Main_Icon:before {
  content: "\e925";
  color: #636363;
}
.icon-v2-buttoned3:before {
  content: "\e926";
  color: #636363;
}
.icon-v2-buttoned4:before {
  content: "\e927";
  color: #636363;
}
.icon-v2-Patch_Pocket_x2:before {
  content: "\e928";
  color: #636363;
}
.icon-v2-Patch_Pocket:before {
  content: "\e929";
  color: #636363;
}
.icon-v2-Yes:before {
  content: "\e92a";
  color: #636363;
}
.icon-v2-Main_Icon:before {
  content: "\e92b";
  color: #636363;
}
.icon-v2-Center_Vents:before {
  content: "\e92c";
  color: #636363;
}
.icon-v2-Ventless:before {
  content: "\e92d";
  color: #636363;
}
.icon-v2-Side_Vents:before {
  content: "\e92e";
  color: #636363;
}
.icon-v2-Main_Icon2:before {
  content: "\e92f";
  color: #636363;
}
.icon-v2-With_Pick_Stitch:before {
  content: "\e930";
  color: #636363;
}
.icon-v2-Main_Icon3:before {
  content: "\e931";
  color: #636363;
}
.icon-v2-No_Pick_Stitch:before {
  content: "\e932";
  color: #636363;
}
.icon-v2-With_Elbow_Patch:before {
  content: "\e933";
  color: #636363;
}
.icon-v2-Main_Icon4:before {
  content: "\e934";
  color: #636363;
}
.icon-v2-No_Elbow_Patch:before {
  content: "\e935";
  color: #636363;
}
.icon-v2-Straight:before {
  content: "\e936";
  color: #636363;
}
.icon-v2-Rounded:before {
  content: "\e937";
  color: #636363;
}
.icon-v2-Main_Icon5:before {
  content: "\e938";
  color: #636363;
}
.icon-v2-Slightly_Rounded:before {
  content: "\e939";
  color: #636363;
}
.icon-v2-Slim_Fit2:before {
  content: "\e93a";
  color: #636363;
}
.icon-v2-Main_Icon6:before {
  content: "\e93b";
  color: #636363;
}
.icon-v2-Regular_Fit:before {
  content: "\e93c";
  color: #636363;
}
.icon-v2-Double_Pleats:before {
  content: "\e93d";
  color: #636363;
}
.icon-v2-Main_Icon7:before {
  content: "\e93e";
  color: #636363;
}
.icon-v2-Pleated:before {
  content: "\e93f";
  color: #636363;
}
.icon-v2-Off_Centered_Buttonless:before {
  content: "\e940";
  color: #636363;
}
.icon-v2-No_Button:before {
  content: "\e941";
  color: #636363;
}
.icon-v2-Displaced:before {
  content: "\e942";
  color: #636363;
}
.icon-v2-Main_Icon8:before {
  content: "\e943";
  color: #636363;
}
.icon-v2-Centered:before {
  content: "\e944";
  color: #636363;
}
.icon-v2-No_Pant_Cuffs:before {
  content: "\e945";
  color: #636363;
}
.icon-v2-With_Pant_Cuffs:before {
  content: "\e946";
  color: #636363;
}
.icon-v2-Main_Icon9:before {
  content: "\e947";
  color: #636363;
}
.icon-v2-vertical-pocket-01:before {
  content: "\e948";
  color: #636363;
}
.icon-v2-rounded-pocket-01:before {
  content: "\e949";
  color: #636363;
}
.icon-v2-slanted-pocket-01:before {
  content: "\e94a";
  color: #636363;
}
.icon-v2-traditional-pocket-01:before {
  content: "\e94b";
  color: #636363;
}
.icon-v2-no-pocket-01:before {
  content: "\e94c";
  color: #636363;
}
.icon-v2-diaognal-pocket-01:before {
  content: "\e94d";
  color: #636363;
}
.icon-v2-coin-pocket-01:before {
  content: "\e94e";
  color: #636363;
}
.icon-v2-Slanted_Welt_Pocket-01:before {
  content: "\e94f";
  color: #636363;
}
.icon-v2-Double_Welted_Pocket_With_Button_x2:before {
  content: "\e950";
  color: #636363;
}
.icon-v2-Double_Welted_Pocket_With_Button:before {
  content: "\e951";
  color: #636363;
}
.icon-v2-Patched2:before {
  content: "\e952";
  color: #636363;
}
.icon-v2-Patched_x2:before {
  content: "\e953";
  color: #636363;
}
.icon-v2-Flap_Pocket_x2:before {
  content: "\e954";
  color: #636363;
}
.icon-v2-No_Pocket:before {
  content: "\e955";
  color: #636363;
}
.icon-v2-Flap_Pocket:before {
  content: "\e956";
  color: #636363;
}
.icon-v2-Rounded_Pocket:before {
  content: "\e957";
  color: #636363;
}
.icon-v2-Main_Icon10:before {
  content: "\e958";
  color: #636363;
}
.icon-v2-Double_breasted_6_buttons_new:before {
  content: "\e959";
  color: #636363;
}
.icon-v2-Single_Breasted_6_buttons:before {
  content: "\e95a";
  color: #636363;
}
.icon-v2-Double_breasted_6_buttons:before {
  content: "\e95b";
}
.icon-v2-Double_breasted_4_buttons:before {
  content: "\e95c";
  color: #636363;
}
.icon-v2-Single_breasted_4_buttons:before {
  content: "\e95d";
  color: #636363;
}
.icon-v2-Single_breasted_5_buttons:before {
  content: "\e95e";
  color: #636363;
}
.icon-v2-Single_breasted_3_buttons:before {
  content: "\e95f";
  color: #636363;
}
.icon-v2-Main_style_icon:before {
  content: "\e960";
  color: #636363;
}
.icon-v2-Rounded2:before {
  content: "\e961";
  color: #636363;
}
.icon-v2-Diagonal:before {
  content: "\e962";
  color: #636363;
}
.icon-v2-Straight2:before {
  content: "\e963";
  color: #636363;
}
.icon-v2-Main_Icon11:before {
  content: "\e964";
  color: #636363;
}
.icon-v2-Peak2:before {
  content: "\e965";
  color: #636363;
}
.icon-v2-Notched:before {
  content: "\e966";
  color: #636363;
}
.icon-v2-Main_Icon12:before {
  content: "\e967";
  color: #636363;
}
.icon-v2-shawl:before {
  content: "\e968";
  color: #636363;
}
.icon-v2-Without_Lapels:before {
  content: "\e969";
  color: #636363;
}
.icon-v2-Welted_Pocket_x3:before {
  content: "\e96a";
  color: #636363;
}
.icon-v2-Welted_Pocket:before {
  content: "\e96b";
  color: #636363;
}
.icon-v2-Main_Icon13:before {
  content: "\e96c";
  color: #636363;
}
.icon-v2-No_Pockets2:before {
  content: "\e96d";
  color: #636363;
}
.icon-v2-With_Flap_x32:before {
  content: "\e96e";
  color: #636363;
}
.icon-v2-With_Flap2:before {
  content: "\e96f";
  color: #636363;
}
.icon-v2-Double_Welted_x32:before {
  content: "\e970";
  color: #636363;
}
.icon-v2-Double_Welted2:before {
  content: "\e971";
  color: #636363;
}
.icon-v2-Breast_Pocket_Main_Icon:before {
  content: "\e972";
  color: #636363;
}
.icon-v2-Breast_Pocket_No:before {
  content: "\e973";
  color: #636363;
}
.icon-v2-Breast_Pocket_Yes:before {
  content: "\e974";
  color: #636363;
}
.icon-v2-Main_Icons:before {
  content: "\e975";
  color: #636363;
}
.icon-v2-Piece_Suit3:before {
  content: "\e976";
  color: #636363;
}
.icon-v2-Piece-suit:before {
  content: "\e977";
  color: #636363;
}
.icon-v2-Filter_Main_Icon:before {
  content: "\e978";
  color: #636363;
}
.icon-v2-All_Main_Icon:before {
  content: "\e979";
  color: #636363;
}
.icon-v2-Faves_Main_Icon:before {
  content: "\e97a";
  color: #636363;
}
.icon-v2-Premium_Main_Icon:before {
  content: "\e97b";
  color: #636363;
}
.icon-v2-New_Main_Icon:before {
  content: "\e97c";
  color: #636363;
}
.icon-v2-Diffrent_Fabrics:before {
  content: "\e97d";
  color: #636363;
}
.icon-v2-Multi_Main_Icon:before {
  content: "\e97e";
  color: #636363;
}
.icon-v2-Same_Fabrics:before {
  content: "\e97f";
  color: #636363;
}
.icon-v2-Limited-Edition:before {
  content: "\e980";
  color: #636363;
}
.icon-v2-Info_Main_Icon:before {
  content: "\e981";
  color: #636363;
}
.icon-v2-Basic:before {
  content: "\e982";
  color: #636363;
}
.icon-v2-Woolmark:before {
  content: "\e983";
  color: #636363;
}
.icon-v2-Premium:before {
  content: "\e984";
  color: #636363;
}
.icon-v2-Winter_Main_Icon:before {
  content: "\e985";
  color: #636363;
}
.icon-v2-No_Pocket_Square:before {
  content: "\e986";
  color: #636363;
}
.icon-v2-Main_Icon14:before {
  content: "\e987";
  color: #636363;
}
.icon-v2-Folded_Pocket_Square:before {
  content: "\e988";
  color: #636363;
}
.icon-v2-Plain_Pocket_Square:before {
  content: "\e989";
  color: #636363;
}
.icon-v2-Brass_Buttons:before {
  content: "\e98a";
  color: #636363;
}
.icon-v2-By_Default:before {
  content: "\e98b";
  color: #636363;
}
.icon-v2-Quilted_Lining:before {
  content: "\e98c";
  color: #636363;
}
.icon-v2-Understructures:before {
  content: "\e98d";
  color: #636363;
}
.icon-v2-Custom_Color:before {
  content: "\e98e";
  color: #636363;
}
.icon-v2-By_Default2:before {
  content: "\e98f";
  color: #636363;
}
.icon-v2-Main_Icon15:before {
  content: "\e990";
  color: #636363;
}
.icon-v2-Custom_Colour:before {
  content: "\e991";
  color: #636363;
}
.icon-v2-Default_Necklining:before {
  content: "\e992";
  color: #636363;
}
.icon-v2-Monogram_Main:before {
  content: "\e993";
  color: #636363;
}
.icon-v2-Lapel:before {
  content: "\e994";
  color: #636363;
}
.icon-v2-Cuffs:before {
  content: "\e995";
  color: #636363;
}
.icon-v2-All:before {
  content: "\e996";
  color: #636363;
}
.icon-v2-Main_Icon16:before {
  content: "\e997";
  color: #636363;
}
.icon-v2-By_Default3:before {
  content: "\e998";
  color: #636363;
}
.icon-v2-Thread:before {
  content: "\e999";
  color: #636363;
}
.icon-v2-elbow-patch---main:before {
  content: "\e99a";
  color: #636363;
}
.icon-v2-elbow-patch-01:before {
  content: "\e99b";
  color: #636464;
}
.icon-v2-without-elbow-patch-01:before {
  content: "\e99c";
  color: #636464;
}
.icon-v2-bottom-01:before {
  content: "\e99d";
  color: #636363;
}
.icon-v2-minus-01:before {
  content: "\e99e";
  color: #636363;
}
.icon-v2-Thread_Main_Icon:before {
  content: "\e99f";
  color: #636363;
}
.icon-v2-Hide_Jacket:before {
  content: "\e9a0";
  color: #636363;
}
.icon-v2-Show_Jacket:before {
  content: "\e9a1";
  color: #636363;
}
.icon-v2-Zoom_out:before {
  content: "\e9a2";
  color: #636363;
}
.icon-v2-Zoom_In:before {
  content: "\e9a3";
  color: #636363;
}
.icon-v2-Up:before {
  content: "\e9a4";
  color: #636363;
}
.icon-v2-Back:before {
  content: "\e9a5";
  color: #636363;
}
.icon-v2-Plus:before {
  content: "\e9a6";
  color: #636363;
}
.icon-v2-Show_fabric:before {
  content: "\e9a7";
  color: #636363;
}
.icon-v2-Filter:before {
  content: "\e9a8";
  color: #636363;
}
.icon-v2-hide_topcoat-01:before {
  content: "\e9a9";
  color: #636363;
}
.icon-v2-Style_04-01:before {
  content: "\e9aa";
  color: #636363;
}
.icon-v2-Style_03-01:before {
  content: "\e9ab";
  color: #636363;
}
.icon-v2-Top_Coat_Main_Icon:before {
  content: "\e9ac";
  color: #636363;
}
.icon-v2-Style_02-01:before {
  content: "\e9ad";
  color: #636363;
}
.icon-v2-Style_01-01:before {
  content: "\e9ae";
  color: #636363;
}
