@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x4qcsz');
  src:  url('fonts/icomoon.eot?x4qcsz#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?x4qcsz') format('truetype'),
  url('fonts/icomoon.woff?x4qcsz') format('woff'),
  url('fonts/icomoon.svg?x4qcsz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blazer:before {
  content: "\e900";
}
.icon-copy:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-fabric:before {
  content: "\e903";
}
.icon-hide:before {
  content: "\e904";
}
.icon-jersey-blazer:before {
  content: "\e905";
}
.icon-minus-symbol:before {
  content: "\e906";
}
.icon-oxford-wave-blazer:before {
  content: "\e907";
}
.icon-plus-symbol:before {
  content: "\e908";
}
.icon-redo:before {
  content: "\e909";
}
.icon-scissors-opened-tool:before {
  content: "\e90a";
}
.icon-trousers:before {
  content: "\e90b";
}
.icon-undo:before {
  content: "\e90c";
}
.icon-upload:before {
  content: "\e90d";
}
.icon-vest:before {
  content: "\e90e";
}


