@font-face {
  font-family: 'noFilter';
  src:  url('fonts/noFilter.eot?dr0neo');
  src:  url('fonts/noFilter.eot?dr0neo#iefix') format('embedded-opentype'),
    url('fonts/noFilter.ttf?dr0neo') format('truetype'),
    url('fonts/noFilter.woff?dr0neo') format('woff'),
    url('fonts/noFilter.svg?dr0neo#noFilter') format('svg');
  font-weight: normal;
  font-style: normal;
}

.filter-button2 {

    cursor: pointer;
    display: table;
    font-size: 35px;
    height: 40px;
    right: 35px;
    line-height: 63px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;

}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'noFilter' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-womens_db_jacket-01-icon:before {
  content: "\9001";
  color: #636363;
}
.icon-Womens_de_vest-icon:before {
  content: "\9011";
  color: #636363;
}
.icon-Button4x1-icon:before {
  content: "\900";
  color: #636464;
}
.icon-Button6x1-icon:before {
  content: "\901";
  color: #636464;
}
.icon-Button6x2-icon:before {
  content: "\902";
  color: #636464;
}
.icon-Formal_Pant-icon:before {
  content: "\1903";
  color: #636363;
}
.icon-Hide_Bow-icon:before {
  content: "\904";
  color: #636464;
}
.icon-Hide_Tie-icon:before {
  content: "\1905";
  color: #636363;
}
.icon-Jeans-icon:before {
  content: "\906";
  color: #636363;
}
.icon-no_filter-icon:before {
  content: "\2671";
  color: #636363;
}
.icon-Show_Bow-icon:before {
  content: "\908";
  color: #636464;
}
.icon-Show_Tie-icon:before {
  content: "\1909";
  color: #636363;
}
