.nor-btn {
    position: relative;
    width: 180px;
    color: #fff;
    background: none;
    font-size: 18px;
    border-radius: 0px;
    box-shadow: none;
    height: 50px;
    top: 100px;
    transition: 0.60s ease-in-out 0.9s;
    -ms-transition: 0.60s ease-in-out 0.9s;
    -moz-transition: 0.60s ease-in-out 0.9s;
    -webkit-transition: 0.60s ease-in-out 0.9s;
    opacity: 0;
}
.active .nor-btn {
    top: 0;
    opacity: 1;
}
.nor-btn .let-top, .nor-btn .righ-bot {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.nor-btn .let-top:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 70%;
    content: '';
    background: #fff;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.nor-btn .let-top:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 1px;
    content: '';
    background: #fff;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.nor-btn .righ-bot:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 70%;
    content: '';
    background: #fff;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.nor-btn .righ-bot:before {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 1px;
    content: '';
    background: #fff;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.nor-btn:hover {
    color: #fff;
}
.nor-btn:hover .righ-bot:before, .nor-btn:hover .let-top:before {
    height: 100%;
}
.nor-btn:hover .righ-bot:after, .nor-btn:hover .let-top:after {
    width: 100%;
}
.cust-btn-sml {
    width: 150px;
}
.cust-btn {
    position: relative;
    width: 200px;
    color: #D09B3C;
    background: none;
    font-size: 18px;
    border-radius: 0px;
    height: 45px;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.cust-btn .custlet-top, .cust-btn .custrigh-bot {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.cust-btn .custlet-top:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 70%;
    content: '';
    background: #D09B3C;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.cust-btn .custlet-top:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 1px;
    content: '';
    background: #D09B3C;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.cust-btn .custrigh-bot:after {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 70%;
    content: '';
    background: #D09B3C;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.cust-btn .custrigh-bot:before {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 1px;
    content: '';
    background: #D09B3C;
    transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
}
.cust-btn:hover {
    color: #D09B3C;
}
.cust-btn:hover .custrigh-bot:before, .cust-btn:hover .custlet-top:before {
    height: 100%;
}
.cust-btn:hover .custrigh-bot:after, .cust-btn:hover .custlet-top:after {
    width: 100%;
}
@media screen and (min-width : 1400px) {
}
@media screen and (max-width : 1200px) {
    .rt-txt2 h1 span {
        font-size: 34px;
    }	

    .rt-txt2 h1 {
        font-size: 28px;
    }

    .rt-txt1 h2 {
        font-size: 20px;
    }

    .rt-price {
        font-size: 26px;

    }
    #mainImageHolder img {
        width: 55%;
        left: auto !important;
        right: 110px;
        margin-top: 80px;
    }
}
@media screen and (max-width : 1024px) {
    #zoomButton a, #zoomOutButton a{
        display:none;
    }
    .leftMainNav ul li a{
        padding: 5px 0;
    }
}
@media screen and (min-width : 992px) and (max-width : 1199px) {

}
@media screen and (min-width : 768px) and (max-width : 991px) {
     .navigate-menu {
        right:0 !important;
        top:15%;
    }
        #mainImageHolder img{
        margin-top:-35px;
     }
}
@media screen and (max-width : 767px) {
    .left_menu-btn.ws-left-menu-btn{
        top:85px;
    }
    .leftPanel, .rightPanel {
        background: #333333 none repeat scroll 0 0;
        border-radius: 0px;
        color: #ffffff;
        display: inline-block;
        font-size: 18px;
        right: 2px;
        padding: 3px 10px;
        position: absolute;
        top: 63px;
        z-index: 5;
    }
    .leftPanel:hover, .rightPanel:hover {
        color: #d09b3c;
    }
    .leftPanel:focus, .rightPanel:focus {
        color: #d09b3c;
    }
    .leftPanel {
        left: 2px;
        top: 63px;
    }
    .rightPanel {
        right: 2px;
        top: 63px;
        display: none;
    }
    .left-slide {
        left: -285px;
        position: absolute;
        width: 280px;
        transition: all 0.4s linear 0s;
        -moz-transition: all 0.4s linear 0s;
        -webkit-transition: all 0.4s linear 0s;
        -ms-transition: all 0.4s linear 0s;
        -o-transition: all 0.4s linear 0s;
        background: #fff;
        margin: 10px -15px;
        line-height: 100%;
    }
    .right-slide {
        width: 100%;
        position: static;
        transition: all 0.4s linear 0s;
        -moz-transition: all 0.4s linear 0s;
        -webkit-transition: all 0.4s linear 0s;
        -ms-transition: all 0.4s linear 0s;
        -o-transition: all 0.4s linear 0s;
        background: #fff;
        margin: 0px
    }
    .leftpanel-open .left-slide {
        left: 0px;
        z-index: 1111;
    }
    /*.rightpanel-open .right-slide {
            right: 0px;
            z-index: 1111;
    }*/
    /*.rtldf {
            min-height: 360px;
    }*/
   /* .rtldf {
        min-height: 313px;
    }*/
	.rtldf {
        min-height: 393px; 
    }

    .lan-fix .right-navi {
        float: right;
        text-align: center;
        width: 100%;
    }

    .lan-fix .left-navi {
        float: left;
        text-align: center;
        width: 100%;
    }
    .lan-fix {
        padding: 5px 0;
    }
    .tool-navbar {
        padding: 0px 0;
    }
    .menuBtn {
        color: #fff;
        display: block;
        font-size: 26px;
    }
    .custom-nav {
        padding: 50px 10px 10px;
        transition: all 300ms linear 0s;
    }
    .menu-open .nav-navigations {
        background: #333;
        left: 0px;
    }
    .menu-open .nav-navigations {
        float: right;
        margin-top: 25px;
        text-align: left;
        transition: all 300ms linear 0s;
        width: 100%;
        left: 0px;
    }
    .menu-open .nav-navigations > ul > li {
        display: block;
        list-style-type: none;
        padding-bottom: 20px;
        position: relative;
    }
    .menu-open .nav-navigations > ul > li > .dropdown {
        position: relative;
        left: 0;
        top: 100%;
        min-width: 280px;
        max-width: 100%;
        background: rgba(0,0,0,0.8);
        border-top: 3px solid #FCD795;
        text-align: left;
        visibility: inherit;
        padding: 0;
        opacity: 1;
        display: none;
        transition: all 300ms linear 0s;
        -transition: all 300ms linear 0s;
        -moz-transition: all 300ms linear 0s;
        -webkit-transition: all 300ms linear 0s;
    }
    .menu-open .nav-navigations > ul > li:hover .dropdown {
        top: 100%;
        visibility: inherit;
        opacity: 1;
        display: block;
    }
    .sticky-header .custom-nav {
        background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
        border-bottom: 1px solid #fcd795;
        padding: 10px;
    }
    .toolpanel-nav {
        display: none;
    }
    .tool-navbar .container-fluid {
        padding: 0 15px;
    }
    .left-navset .toollogo {
        float: left;
        margin-right: 15px;
    }
    .left-navset ul li {
        float: left;
        margin-right: 10px;
    }
    .left-navset ul li a {
        font-size: 14px;
        padding: 2px 0px;
    }
    .toollogo > img {
        width: 50px;
    }
    .right-navset ul li a {
        padding: 1px 0;
    }
    .ToolSection .container-fluid {
        padding: 0 15px;
    }
    .leftTool-nav .nav-tabs.nav-justified > li {
        float: left;
        padding: 5px 0;
        width: 33.33%;
    }
    .navigate-menu {
	  margin: 0;
	  position: absolute;
	  right: 5%;
	  text-align: center;
	  top: 15%;
	  width: 60px;
    }
    .rightTool-nav {
        margin: 30px 0;
        text-align: left;
        padding-left: 20px;
    }
    .rt-txt2 {
        margin: 10px 0;
    }
    .rt-price {
        font-size: 32px;
        margin: 0 0 20px;
    }
    .ToolSection {
        padding: 48px 0px 0px;
    }
    .leftTool-nav .panel-default > .panel-heading {
        border-bottom: dashed 1px #dfdfdf;
        padding: 7px 0;
    }
    .leftTool-nav .panel-group {
        padding: 10px 15px 0;
    }
    .tabs-navs-sub ul li a {
        padding: 5px 0;
    }
    .tabs-navs-sub > ul {
        margin: 0 -10px;
    }
    .lan-fix .left-navi ul li a, .lan-fix .right-navi ul li a {
        font-size: 11px;
        padding: 0 5px;
    }
    .top-sale-main {
        width: 100%;
    }
    .logo {
        padding: 0px;
    }
    .banner-cont h1 {
        font-size: 20px;
    }
    .banner-cont h5 {
        font-size: 18px;
    }
    .sticky-header .nav-navigations, .sticky-header .cart-nav {
        margin: 0;
    }
    .menuBtns {
        background: #333 none repeat scroll 0 0;
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        font-size: 20px;
        height: 30px;
        line-height: 40px;
        position: absolute;
        text-align: center;
        width: 40px; z-index:2;
    }

    .sticky-header .logo {
        margin-top: 0;
        min-height: auto;
        padding: 0px 0 0 15px;
    }
    .menuBtns:hover, .menuBtns:focus {
        color: #d09b3c;
    }
    .manupanel-open .nav-navigations {
        display: block;
    }
    .nav-navigations {
        background: rgba(0, 0, 0, 0.77) none repeat scroll 0 0;
        display: none;
        height: 100%;
        left: 0;
        margin-top: -35px;
        padding: 15px 0;
        text-align: left;
        width: 100%;
    }
    .nav-navigations > ul > li {
        display: block; 
        padding-bottom:12px;
    }
    .nav-navigations > ul > li > a {
        font-size: 15px;
        padding: 0 7px;
    }
    .nav-navigations ul li ul.dropdown {
        background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
        z-index: 1;
    }
    .testi-main-tab .nav-tabs li {
        position: static !important;
    }
    .testi-main-tab ul {
        background: none !important;
    }
    .testi-main-tab .nav-tabs li {
        display: inline-block;
        margin: 0 5px;
    }
    .testi-main-tab .nav-tabs li a {
        height: 60px;
        width: 60px;
    }
    .testi-main-tab .nav-tabs {
        height: 100px;
        margin: 0 auto;
        width: 100%;
    }
    .about-sec p {
        font-size: 16px;
        line-height: 22px;
        width: 100%;
    }
    .sub-head {
        font-size: 32px;
    }
    .home-how-tab .nav-tabs > li {
        vertical-align: top;
        width: 90px;
    }
    .home-how-tab .nav-tabs > li > a span {
        font-size: 34px;
        height: 70px;
        line-height: 75px;
        width: 70px;
    }
    .testimonal-sec h3 {
        font-size: 24px;
    }
    .home-how-tab .nav-tabs > li > a {
        font-size: 12px;
    }
    .cateList-box ul li {
        width: 100%;
    }
    .priceBtn, .viewdtl {
        left: 0;
        margin: 0 auto;
        min-width: inherit;
        width: 220px;
    }
    .form-log {
        margin: 0 auto;
        padding: 20px;
        width: 100%;
    }
    .page-headings {
        font-size: 26px;
    }
    .social-Login ul li a {
        font-size: 14px;
        min-width: 80px;
        padding: 10px;
    }
    .social-Login {
        padding-bottom: 0px;
    }
    .cracc-text {
        text-align: center;
    }
    .cracc-btn {
        text-align: center;
    }
    .createNew-account-btm ul li {
        float: left;
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }
    .product-img-box {
        float: left;
        width: 100%;
    }
    .product-view .product-shop {
        width: 100%;
    }
    .page-title h1, .page-title h2, .product-name h1, .product-name .h1 {
        font-size: 20px;
        font-weight: 400;
    }
    .product-dtl {
        padding: 30px 0px;
    }
    .product-view .add-to-links {
        margin-right: 0px;
    }
    .product-shop .add-to-links a {
        padding: 6px 10px;
    }
    #addTagForm label {
        display: block;
    }
    .product-img-box .product-name {
        display: none;
    }
    .cart-section {
        padding: 30px 0px;
    }
    .sidebar-options.min .slde-in {
        width: 70px;
    }
    .min .box_option {
        border-left: 1px solid #e8e8e8;
        margin-left: 15px;
        padding: 0;
    }

    .rt-txt2 h1 span {
        font-size: 24px;
    }	

    .rt-txt2 h1 {
        font-size: 20px;
        line-height:20px;
    }

    .rt-txt1 h2 {
        font-size: 16px;
    }
    .rt-price {
        font-size: 25px;
        margin: 0 0 10px;
    }
    .rt-txt2 {
        margin: 5px 0;
    }
    .rt-txt1 p { font-size:14px;}
	section {
		overflow: hidden;
	}
	.fabvie {
	  width:100%;	
	}
	/*#measurement .fabric-bx fabricview {
  float: left;
  width: 33.33%;
}
.fabvie .start-view > img {
  width: 80%;
}
.start-view {
  height: 80px;
  margin: 0 auto;
  width: 100%;
}*/
.fabric-bx fabricview {
  float: left;
  width: 50%;
}
}

@media screen and (min-width : 992px) and (max-width :1170px) {
    .toolpanel-nav {
        display: none;
    }
    .tool-navbar .container-fluid {
        padding: 0 15px;
    }
    .left-navset .toollogo {
        float: left;
    }
    .left-navset ul li {
        float: left;
        margin-right: 10px;
    }
    .left-navset ul li a {
        font-size: 14px;
        padding: 5px 0px;
    }
    .toollogo > img {
        width: 100px;
    }
    .right-navset ul li a {
        padding: 5px 0;
    }
    .ToolSection .container-fluid {
        padding: 0 15px;
    }
    .leftTool-nav .nav-tabs.nav-justified > li {
        float: left;
        padding: 5px 0;
        width: 33.33%;
    }
    .navigate-menu {
        right: 25%;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 60px;
    }
    .rightTool-nav {
        margin: 30px 0;
        text-align: right;
    }
    .rt-txt2 {
        margin: 10px 0;
    }
    .rt-price {
        font-size: 32px;
        margin: 0 0 20px;
    }
    .ToolSection {
        padding: 100px 0 0 0;
    }
    .leftTool-nav .panel-default > .panel-heading {
        border-bottom: dashed 1px #dfdfdf;
        padding: 7px 0;
    }
    .leftTool-nav .panel-group {
        padding: 10px 15px 0;
    }
    .tabs-navs-sub ul li a {
        padding: 5px 0;
    }
    .tabs-navs-sub > ul {
        margin: 0 -10px;
    }
    .cateList-box ul li {
        width: 33.33%;
    }
    .custom-nav {
        padding: 44px 10px 10px;
    }
    .logo {
        max-width: 100px;
        min-height: 90px;
        padding: 20px 0px 0px 0px;
    }
    .set-banner-sec {
        height: 120px;
    }
    .nav-navigations > ul > li > a {
        font-size: 15px;
        padding: 0 10px;
    }
    .nav-navigations {
        margin: 30px 0px 0px 0px;
    }
    .sticky-header .custom-nav {
        padding: 5px 0px;
    }
    .cateList-box ul li {
        width: 33.333%;
    }
    .nav-navigations > ul > li > .dropdown {
        left: 0;
        width: 170px;
        right: inherit;
        max-width: 170px;
        min-width: 170px;
    }
    .nav-navigations > ul > li:last-child .dropdown {
        left: inherit;
        width: 170px;
        right: 0;
    }
    .catlist-custom {
        height: 300px;
    }
    .priceBtn, .viewdtl {
        left: 0;
        margin: 0 auto;
        min-width: inherit;
        width: 220px;
    }
    .form-log {
        margin: 0 auto;
        padding: 20px;
        width: 50%;
    }
    .cracc-text {
        text-align: center;
    }
    .cracc-btn {
        text-align: center;
    }
    .product-img-box .product-name {
        display: none;
    }
    .product-img-box {
        padding-right: 5px;
    }
    .cart-section {
        padding: 30px 0px;
    }
    .ToolSection {
        margin-bottom: 50px;
        padding-top: 55px;
    }
}
@media screen and (max-width : 992px){
/*.view-thumb {
  top: 566px;
}*/
}
@media screen and (max-width : 800px){
	#measurement .theViewM.ng-binding.ng-scope img {
	  margin-left: -45px !important;
	  width: 350px !important;
	}
}
@media screen and (min-width : 768px) and (max-width : 991px) {
    .toolpanel-nav {
        display: none;
    }
    .tool-navbar .container-fluid {
        padding: 0 15px;
    }
    .left-navset .toollogo {
        float: left;
    }
    .left-navset ul li {
        float: left;
        margin-right: 10px;
    }
    .left-navset ul li a {
        font-size: 14px;
        padding: 5px 0px;
    }
    .toollogo > img {
        width: 100px;
    }
    .right-navset ul li a {
        padding: 5px 0;
    }
    .ToolSection .container-fluid {
        padding: 0 15px;
    }
    .leftTool-nav .nav-tabs.nav-justified > li {
        float: left;
        padding: 5px 0;
        width: 33.33%;
    }
    .buttonPos {
    }
    .navigate-menu {
        right: 7%;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 60px;
    }
	.rightTool-nav {
        margin: 0;
        text-align: center;
        width: 40%;
        margin-left: 50%;
	}
    .rt-txt2 {
        margin: 10px 0;
    }
    .rt-price {
        font-size: 32px;
        margin: 0 0 20px;
    }
    .ToolSection {
        padding: 100px 0 0 0;
    }
    .leftTool-nav .panel-default > .panel-heading {
        border-bottom: dashed 1px #dfdfdf;
        padding: 7px 0;
    }
    .leftTool-nav .panel-group {
        padding: 10px 15px 0;
    }
    .tabs-navs-sub ul li a {
        padding: 5px 0;
    }
    .tabs-navs-sub > ul {
        margin: 0 -10px;
    }
    .rt-txt1, .rt-txt2, .rt-price, .rt-btn {
        display: inline-block;
        vertical-align: top;
        width: 49%
    }
    .rt-btn{
        width:100%;
    }
    .custom-nav {
        padding: 44px 10px 10px;
    }
    .logo {
        max-width: 100px;
        min-height: 90px;
        padding: 20px 0px 0px 0px;
    }
    .nav-navigations > ul > li > a {
        font-size: 15px;
        padding: 0 10px;
    }
    .nav-navigations {
        margin: 30px 0px 0px 0px;
    }
    .sticky-header .custom-nav {
        padding: 5px 0px;
    }
    .cateList-box ul li {
        width: 50%;
    }
    .nav-navigations > ul > li > .dropdown {
        left: 0;
        width: 170px;
        right: inherit;
        max-width: 170px;
        min-width: 170px;
    }
    .nav-navigations > ul > li:last-child .dropdown {
        left: inherit;
        width: 170px;
        right: 0;
    }
    .priceBtn, .viewdtl {
        left: 0;
        margin: 0 auto;
        min-width: inherit;
        width: 220px;
    }
    .form-log {
        margin: 0 auto;
        padding: 20px;
        width: 50%;
    }
    .cracc-text {
        text-align: center;
    }
    .cracc-btn {
        text-align: center;
    }
    .product-img-box .product-name {
        display: none;
    }
    .product-img-box {
        padding-right: 5px;
    }
    .cart-section {
        padding: 30px 0px;
    }
    .view-thumb {
        bottom: -10px !important;
        position: absolute !important;

    }

    .slde-in {
        height: 100%;
        z-index: 10;
    }

    .fabricInfo  { top:20% !important;}

    .set-banner-sec {
        height: 120px;
    }
	.rightTool-nav {
	  padding: 0px !important;
	}
	#messages > h3 {
	  text-align: center;
	}
	#profile > h3 {
	  text-align: center;
	}
}
@media only screen and (max-width:991px) {
    .leftMainNav {
        display: block;
        min-height: auto;
        padding-bottom: 0;
        padding-left: 50px;
        position: absolute;
        top: -35px;
        width: 100%;
    }
    .leftpanelsection {
        width: 100%;
    }
    .topmain-toolbar {
        padding: 10px 15px;
        height: auto;
    }
    .topmain-toolbar ul li a {
        font-size: 11px;
        padding: 0 7px;
    }
    .topmain-toolbar {
        padding: 0 15px 0 42px;
    }
    .box_option {
        width: 270px;
    }
    .box_option.active {
        left: 65px;
    }
    .slde-in {
        height: 400px;
        z-index: 10;
    }
    .min .box_option {
        border-left: 0px;
    }
    .sidebar-options {
        width: 300px;
    }
    #divOptionFilter{
        padding-top: 0;
    }
    #divOptionFilter .search-box{
        margin-left: 15px;
    }
    #divOptionFilter .search-box input{
        margin: 0 15px;
    }
    #divOptionFilter #accordian{
        margin-left: 15px;
    }
    .min .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }
    .activeUp{
        margin-top:-255px;
    }
    .box_option {
        width: 280px;
        top: 50px;
    }
    p.title {
        margin: 10px 10px 15px;
        padding-top: 15px;
    }
    .box_option p.title{
        padding:0;
    }
    .removemin {
        right: 15px;
        top: 0;
    }
    .slde-fabin {
        height: 450px;
    }
    .fabric-bx {
        width: 100%;
    }
    .custom-area {
        width: 100%;
    }
    .custom-area .maincstom img {
        max-width: 100%;
    }
    .leftpanelsection {
        position: absolute;
        left: -320px;
        z-index: 1;
        background: #fff;
        transition: all 0.4s ease-in 0s
    }
    .LeftpanemOpen .leftpanelsection {
        left: 0px;
        z-index: 111;
    }
    .left_menu-btn {
        background: #333333 none repeat scroll 0 0;
        border-radius: 0;
        color: #ffffff;
        display: inline-block;
        font-size: 18px;
        left: 6px;
        padding: 3px 10px;
        position: absolute;
        top: 44px;
        z-index: 999;
    }
    .left_menu-btn:hover, .left_menu-btn:focus {
        color: #fff;
    }
    .sidebar-options.Fabric {
        width: 98%;
    }
    .slde-fabin {
        padding: 10px;
    }
    .leftpanelsection {
        width: 360px;
    }
    .mCSB_inside > .mCSB_container {
        margin-right: 30px;
    }
    .leftpanelsection .activeDesign {
        /*border-bottom: 1px solid transparent !important;*/
        position: relative;
    }
    .option_icon i {
        font-size: 40px;
    }
    .leftMainNav ul li a span {
        font-size: 12px; display:inline-block;
        margin-left: 5px;
    }
    .leftMainNav ul li a i {
        font-size: 35px;
        margin-right: 0px;
    }
    .leftMainNav ul li::after {
        width: 88%;
        content: '';
        display: none;
    }
    .leftMainNav ul li::after {
    }
    .leftMainNav ul li {
        background: #ffffff none repeat scroll 0 0;
        display: inline-block;
        float: none;
        height: auto;
        margin: 0 5px;
        position: relative;
        vertical-align: middle;
        width: auto;
        z-index: 99999;
    }


}
@media screen and (min-width : 768px) and (max-width : 991px) {
    .botm-sect {
        padding: 0px;
    }
    .topmain-toolbar {
        padding: 5px 15px 5px 50px;
    }
    .topmain-toolbar ul li a {
        font-size: 14px;
        padding: 0 17px;
    }
    .sidebar-options{
        padding-top: 50px;
    }
    .Fabric.sidebar-options,
    .Accent.sidebar-options{
        padding-top: 0;
    }
    .Fabric .box_option, .Accent .box_option {
        top: 0;
    }
    .ToolSection {
        padding: 50px 0 0;
    }
    #arrowUP, #zoomOutButton, #zoomButton {
        display: none;
    }
    .leftpanelsection {
        top: -40px;
        width: 360px;
    }
    .slde-in {
        height: 400px;
       /* padding: 50px 0;*/
        z-index: 10;
    }
    .leftMainNav::after {
        content: '';
        display: none;
    }
    .sidebar-options.min .slde-in {
        width: 68px;
    }

    .leftpanelsection {
        left: 0px !important;
    }

    .left_menu-btn { display:none;}
    .leftMainNav {
        padding-left: 0;
    }
    .topmenu ul li a { font-size:16px;}

	.view-thumb {
	  bottom: 0 !important;
	  position: absolute;
	}
    .slde-in {
        height: 500px;
        z-index: 10;
    }
    .rtldf {
        min-height: 700px;
        position: relative;
    }
	.shirt_part.part {
	  width: 100%;/*
	  left: 50% !important;
	  position: absolute !important;
	  top: 50% !important;
	  transform: translate(-50%, -50%) !important;*/
	}
    /*20-7-18*/
    .leftMainNav ul li{
        margin:0;
    }
    .sidebar-options {
        width: 100%;
    }
    .rt-btn{
        width:100% !important;
        text-align:center;
    }
    .h-display{
        display:none;
    }
    .rightTool-nav .rt-txt1,.rightTool-nav .rt-txt2,.rightTool-nav .rt-price,.rightTool-nav .rt-btn{
        width:50%;
    }
}
@media only screen and (max-width:767px) {
    .box_option {
        width: 250px;
    }
    .leftpanelsection {
        left: -300px;
        top: -10px; 
        width: auto;
        z-index: 11;
        padding-top: 50px;
		padding-bottom: 0px;
    }
    /*.sidebar-options {
            width: 98%;
    }*/
    .LeftpanemOpen .leftpanelsection {
        left: 300px;
        z-index: 111;
    }
    .topmenu ul li a {
        padding: 0 10px;
        font-size: 14px;
    }
    .right-navset {
        display: none;
    }
    .menuOpen .menu-toggle {
        margin-right: 0;
        top: 0px;
    }
    .menu-toggle {
        margin-right: 0px;
    }
    .toollogo {
        display: none;
    }
    .slde-inoption .mCSB_scrollTools {
        right: 0;
    }
    .right-navset {
        display: none;
    }
    #arrowUP, #zoomOutButton, #zoomButton  {
        display: none;
    }

    .rt-txt1, .rt-txt2, .rt-price { display:block;}

    .leftMainNav::after {
        content: '';
        display: none;
    }
    .topmenu ul li::after {
        top: 3px;
    }
	.view-thumb {
	  bottom: -640px !important;
	  left: 0;
	  position: absolute !important;
	}
	.rightTool-nav {
	  margin: 90% 0 0 !important;
	  padding-left: 10px;
	  text-align: center;
	}

    .rt-btn a {

        font-size: 16px;
        min-width: auto;
        padding: 0 25px;

    }


    /*.landscape  .rtldf {
      min-height: 736px;
    }*/
    .fabricInfo  { top:20% !important;}
	
#measurement .modal-body {
  margin: 0 -15px;
  padding: 15px 0;
  position: relative;
}


#measurement .scansize .form-group {
  margin: 0 -15px 15px;
}

#measurement  .modal-dialog { margin:0px;}

#measurement .nav > li > a {
  display: block;
  font-size: 11px;
  padding: 10px 8px;
  position: relative;
}

.scansize.clearfix {
  padding: 15px 15px;
}

#measurementbackground .fabvie {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  float: left;
  font-size: 12px;
  font-weight: 300;
  height: 180px;
  margin: 0 0 10px;
  padding: 5px;
  text-align: center;
  width: 100%;
}
.info.fabric-detail {
  margin-top: 0 !important;
}
.fabric-bx fabricview {
  float: left;
  width: 50%;
}
.lefrmenuOpen .measuerleft {
  background: #ffffff none repeat scroll 0 0;
  left: 15px;
  opacity: 1;
  padding: 10px 0 15px;
  top: 0;
  width: 100%;
  z-index: 2;
  height:100%;
}


.rightmenuOpen  .measuerright{
  background: #ffffff none repeat scroll 0 0;
  left: 0px;
  opacity: 1;
  padding: 10px 0;
  top: 120px;
  width: 100%;
  z-index: 1;
  position:fixed;
  height: 100%;
}

.measuerleft, .measuerright {
	opacity: 0;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	position: absolute;
	left: 20px;
	top: 0;
	display:block;
}

.leftMenuBtn, .rightMenuBtn {
  display: block;
  float: left;
  margin: 2px;
  width: 43%;
}
.view-thumb {
  bottom: -550px !important;
}
.rightTool-nav {
  margin: 80% 0 0 !important;
}

#divaccent_4 .mCSB_container {
  height: auto;
  overflow: hidden;
  padding-bottom: 130px;
  width: auto;
}

/*-------------------------------harshad Css------------Second page*/
.modal-title.tool_image_menu_label_template {
  text-align: center;
}
#measurements > h3 {
  text-align: center;
  font-size:20px;
  margin-top:0px;
}
.nav-tabs{
  text-align:center;
}
#measurement .nav-tabs li {
  display: inline-block !important;
  float:none;
}
#measurement .tab-pane {
  padding: 0px !important;
}
#measurement02 > h4 {
  margin-top: 0;
  text-align: center;
}
.button-holder{
  text-align:center;
  padding:10px 0px;
}
.leftMenuBtn, .rightMenuBtn {
  display: inline-block;
  width: 48%;
}
.modal-footer {
  border:0px;
}
.mainToolareaM .view-thumb {
  bottom: -40px !important;
}
.sidebar-options .fabvie {
  width: 100% !important;
}
.info.fabric-detail div.faric-name {
  width: 100%;
}
.info.fabric-detail {
  display: table;
  margin-top: 10px !important;
  width: 100%;
}
.start-view {
  height: auto;
  margin: 0 auto !important;
  width: 100%; 
}
.buttonStyl {
  height: 20px !important;
  width: 20px !important;
}
.rightTool-nav {
  padding: 0px !important;
}
#measurement .theViewM.ng-binding.ng-scope img {
  margin-left:0px !important;
  width: 100% !important;
}
#messages > h3 {
  text-align: center;
}
#profile > h3 {
  text-align: center;
}
.info {
  margin-top: -10px !important;
}
.Fabric fabricview {
  cursor: pointer;
  float: left;
  width: 50%;
}
.LcrossMenu .fa-reorder:before, .RcrossMenu .fa-reorder:before {
  content:"\f00d";
  font-family:'FontAwesome';	
} 
.customSizesssss .radio-inline input {
  display: inline-block;
  margin: 3px 0 0;
  vertical-align: middle; 
}
#shopping-cart-totals-table .a-right {
  padding: 6px;
}
footer {
  padding:3% 0 15%;	
}
.sidebar-options ul li a span.option_title {
 padding-left:10px;	
}
#measurement .theViewM.ng-binding.ng-scope img {
  margin: 0 auto !important;
  width: 60% !important;
}
.btypebx ul {
  text-align: center;
}
.checkout-cart-index .col-main {
  margin: 0 auto;
  width: 97%;
}
#divaccent_4 .mCustomScrollBox {
  direction: ltr;
  height: 100%;
  max-width: 100%;
  outline: medium none;
  overflow: hidden;
  position: relative;
  width: 90%;
}
}
@media screen and (max-width : 640px) {
.view-thumb {
  bottom: -340px !important;
}
.rightTool-nav {
  margin: 60% 0 0 !important;
}
}
@media screen and (max-width : 600px) {
.view-thumb {
  bottom: -320px !important;
}
#measurement .theViewM.ng-binding.ng-scope img {
	  margin-left: 0px !important;
}
}

@media screen and (max-width : 400px){
.view-thumb {
  bottom: -118px !important;
}	
}
@media screen and (max-width : 360px) {
.view-thumb {
  bottom: -50px !important;
}
.rightTool-nav {
  margin: 20% 0 0 !important;
}
#mainMeasureImageHolder img {
  margin: 90px auto 0 !important;
}
#measurement .theViewM.ng-binding.ng-scope img {
  margin: 120px auto !important;
  width: 100% !important;
}
}
@media screen and (max-width : 320px) {
.view-thumb {
  bottom: -5px !important;
}
.rightTool-nav {
  margin: 5% 0 0 !important;
}
.button + .button {
  margin-left: 0px;
  margin-top: 5px;
}
.navigate-menu {
  top: 19%;
}
#mainMeasureImageHolder img {
  margin: 150px auto 0 !important;
}
#measurement .theViewM.ng-binding.ng-scope img {
  margin: 120px auto !important;
  width: 100% !important;
}
}
@media screen and (min-width :1281px) and (max-width :1365px) {
    .custom-area {
        width: 750px;
    }
}
@media screen and (min-width :1366px) and (max-width :1920px) {
    .custom-area {
        width: 835px;
    }
}
@media screen and (min-width : 992px) and (max-width : 1024px) {

    .slde-in {
        height: 400px;
        z-index: 10;
        padding-top: 0;
    }
    .leftpanelsection {
        top: -45px;
        width: 360px;
    }
    .leftpanelsection .sidebar-options{
        margin-top:55px;
    }
    .Fabric.sidebar-options,
    .Accent.sidebar-options{
        margin-top:0;
    }
    .Fabric .box_option,
    .Accent .box_option{
        top:0;
    }
    .leftMainNav {
        display: block;
        min-height: auto;
        padding-bottom: 0;
        padding-left: 50px;
        position: absolute;
        top: -20px;
        width: 100%;
    }
    .leftpanelsection {
        width: 100%;
    }
    .topmain-toolbar {
        padding: 10px 15px;
        height: auto;
    }
    .topmain-toolbar ul li a {
        font-size: 11px;
        padding: 0 7px;
    }
    .topmain-toolbar {
        padding: 5px 15px 5px 42px;
    }
    .box_option {
        width: 270px;
    }
    .box_option.active {
        left: 60px;
    }
    .slde-in {
        height: 400px;
        z-index: 10;
    }
    .min .box_option {
        border-left: 0px;
    }
    .sidebar-options {
        width: 320px
    }
    .min .mCSB_inside > .mCSB_container {
        margin-right: 0px;
    }
    .box_option {
        width: 280px;
        top: 0;
    }
    p.title {
        margin: 10px 10px 15px;
    }
    .removemin {
        right: 15px;
        top: 0;
    }
    .slde-fabin {
        height: 450px;
    }
    .fabric-bx {
        width: 100%;
    }
    .custom-area {
        width: 100%;
    }
    .custom-area .maincstom img {
        max-width: 100%;
    }
    .leftpanelsection {
        position: absolute;
        left: -320px;
        z-index: 1;
        background: #fff;
        transition: all 0.4s ease-in 0s
    }
    .LeftpanemOpen .leftpanelsection {
        left: 0px;
        z-index: 111;
    }
    .left_menu-btn {
        background: #333333 none repeat scroll 0 0;
        border-radius: 0;
        color: #ffffff;
        display: inline-block;
        font-size: 18px;
        left: 1px;
        padding: 3px 10px;
        position: absolute;
        top: 44px;
        z-index: 999;
    }
    .left_menu-btn:hover, .left_menu-btn:focus {
        color: #fff;
    }
    .sidebar-options.Fabric {
        width: 98%;
    }
    .slde-fabin {
        padding: 10px;
    }
    .leftpanelsection {
        width: 360px;
    }
    .mCSB_inside > .mCSB_container {
        margin-right: 30px;
    }
    .leftpanelsection .activeDesign {
        border-bottom: 1px solid transparent !important;
        position: relative;
    }
    .option_icon i {
        font-size: 40px;
    }
    .leftMainNav ul li a span {
        font-size: 12px;
        margin-left: 5px; 
        display:inline-block;
    }
    .leftMainNav ul li a i {
        font-size: 35px;
        margin-right: 0px;
    }
    .leftMainNav ul li::after {
        width: 88%;
        content: '';
        display: none;
    }
    .leftMainNav ul li::after {
    }
    .leftMainNav::after {
        content: '';
        display: none;
    }
    .leftMainNav ul li {
        background: #ffffff none repeat scroll 0 0;
        display: inline-block;
        float: none;
        height: 45px;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: auto;
        z-index: 99999;
    }
    .sidebar-options.min .slde-in {
        width: 70px;
    }

    .leftpanelsection {
        left: 0px;
    }
    .left_menu-btn { display:none;}

    .leftMainNav {
        padding-left: 0;
    }
    .topmenu ul li a { font-size:16px;}
    .slde-in {
        height: 500px;
        z-index: 10;
    }
    .rtldf {
        min-height: 868px;
        position: relative;
    }
    .fabricInfo  { top:20% !important;}
/*-------------------02.05.2017--------------*/
	.rightTool-nav {
	  padding: 40% 0;
	}
	
	.view-thumb {
	  bottom: 50px !important;
	  left: 0;
	  position: absolute !important;
	}

}
@media screen and (min-width :1025px) and (max-width : 1170px) {
    .leftMainNav {
        background: #ffffff none repeat scroll 0 0;
        float: left;
        margin-right: 0;
        min-height: 600px;
        padding: 30px 10px 30px 0;
        position: relative;
        width: 70px;
        z-index: 100;
        text-align: center;
    }
    .leftMainNav ul li.active a {
        color: #000000;
        font-size: 12px;
    }
    .leftMainNav ul li a span {
        display: block;
        vertical-align: calc(60%);
    }
    .box_option.active {
        left: 125px;
    }
}

@media screen and (min-width :414px) and (max-width : 736px) {
    .rtldf {
        min-height: 450px;
    }	 
}
@media screen and (max-width : 480px) {
    .view-thumb {
        bottom: -200px !important; 
    }
    .rightTool-nav {
        margin-top: 60% !important;
    }
    .button + .button {
        margin-left: 0px;
        margin-top: 5px;
    }
    .navigate-menu {
        top: 17%;
        right:2% !important;
    }
    #mainMeasureImageHolder img {
        margin: -24px auto 0 !important;
    }
    #measurement .theViewM.ng-binding.ng-scope img {
        margin: 0 auto !important;
        width: 95% !important;
    }
    .topmenu{
        padding:15px 0;
    }
    #mainImageHolder img {
        width: 100%;
        right: 0;
        padding: 0 90px;
        margin-top:0;
    }
    .left-slide{
        left: -100%;
        width:100%;
        top: 35px;
        padding:0;
        margin:0;
    }
    .leftMainNav{
        padding-left:0;
        top: -25px;
    }
    .leftMainNav ul li{
        margin:0;
    }
    .leftMainNav ul li a span {
        font-size: 10px;
    }
    .LeftpanemOpen .leftpanelsection {
        left: 100% !important;
    }
    .leftpanelsection{
        padding-top: 50px;
        width: 100%;
    }
    .sidebar-options.Accent,
    .sidebar-options.Fabric{
        margin-top:-45px;
    }
    .box_option {
        top: 0;
    }
    #divOptionFilter {
        width: 100%;
        padding: 0 15px;
        margin-top:-55px;
    }
    .search-box{
        padding:0 15px;
    }
    .search-box input{
        height:36px;
    }
    .search-btn{
        top:0;
    }
}
@media screen and (max-width : 360px){
    .view-thumb {
         bottom: -100px !important; 
    }
    .rightTool-nav {
        margin-top: 35% !important;
    }
}