<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */
$_item = $block->getItem();
$item_id = $_item->getId();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$product = $_item->getProduct();

$category_name = null;
$final_last_order_data = null;
$load_product = $objectManager->create('Magento\Catalog\Model\Product')->load($product->getId());

$product_type_id = $load_product->getProductType();
if($product_type_id!=''){
    $product_type_attributeId = $load_product->getResource()->getAttribute('product_type');
    if ($product_type_attributeId->usesSource()) {
        $cat_val = $product_type_attributeId->getSource()->getOptionText($product_type_id);
        if($cat_val=='Shirt' || $cat_val=='shirt' || $cat_val=='Suit' || $cat_val=='suit'){
            $category_name = $cat_val;
        }
    }
}

$product_gender_id = $load_product->getProductTypeGender();

if($product_gender_id!=''){
  $product_gender_attributeId = $load_product->getResource()->getAttribute('product_type_gender');
  if ($product_gender_attributeId->usesSource()) {
        $gender_name = $product_gender_attributeId->getSource()->getOptionText($product_gender_id);
  }
}

// var_dump($final_last_order_data);die;
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$helperDefault = $this->helper('Shirt\Tool\Helper\DefaultHelper');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);

$data = json_decode($_item->getData('json'), true);
if ($data == NULL || array_key_exists("rtw_measurement", $data)) {
    $product_url = $block->getProductUrl();
}
else{
     if ($data['type'] == 'Shirt') 
        $product_url = $baseUrl . "men-shirt/";
     else if ($data['type'] == 'Suit') 
        $product_url = $baseUrl . "men-suit/";
     else if ($data['type'] == 'WomenShirt') 
        $product_url = $baseUrl . "women-shirt/";
     else if ($data['type'] == 'WomenSuit') 
        $product_url = $baseUrl . "women-suit/";
}

?>
<tbody class="cart item">
    <tr class="item-info">
        <td data-th="<?= $block->escapeHtml(__('Item')) ?>" class="col item" id="imageCol">
            <?php if ($block->hasProductUrl()): ?>
                <a href="<?php echo $product_url; ?>"
                   title="<?php //$block->escapeHtml($block->getProductName())      ?>"
                   tabindex="-1"
                   class="product-item-photo">
                   <?php else: ?>
                    <span class="product-item-photo">
                    <?php endif; ?>
                    <div id="imageDiv"></div>
                    <?php
                    if ($_item->getData('json') != "") {
                        $data_array = json_decode($_item->getData('json'));
                    } else {
                        $data_array = array();
                    }
                    ?>

                    <?php if (is_null($_item->getData('json')) || array_key_exists("rtw_measurement", $data_array)): ?>
                        <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>

                    <?php else: ?>
                        <?php
                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                        ?>
                        <img src="<?= $storeManager->getStore()->getBaseUrl() . json_decode($_item->getData('json'))->product ?>" alt='prodImg'>

                    <?php endif; ?>

            <!-- <img src="<?php ?>" alt="img"> -->

                    <?php if ($block->hasProductUrl()): ?>
                        </a>
                    <?php else: ?>
                    </span>
                <?php endif; ?>
                <div class="product-item-details">
                    <strong class="product-item-name">
                        <?php if ($block->hasProductUrl()): ?>
                            <a href="<?php echo $product_url; ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                        <?php else: ?>
                            <?= $block->escapeHtml($block->getProductName()) ?>
                        <?php endif; ?>
                    </strong>

                    <?php if ($_options = $block->getOptionList()): ?>
                        <dl class="item-options">
                            <?php foreach ($_options as $_option) : ?>
                                <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                                <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                                <dd>
                                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                        <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                    <?php else: ?>
                                        <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                    <?php endif; ?>
                                </dd>
                            <?php endforeach; ?>
                        </dl>
                    <?php endif; ?>
                    <?php if ($messages = $block->getMessages()): ?>
                        <?php foreach ($messages as $message): ?>
                            <div class="cart item message <?= /* @escapeNotVerified */ $message['type'] ?>"><div><?= $block->escapeHtml($message['text']) ?></div></div>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                    <?php if ($addInfoBlock): ?>
                        <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                    <?php endif; ?>

                    <?php if (!is_null($_item->getData('json')) && !array_key_exists("rtw_measurement", $data_array) && !($this->getPrintStatus())) { ?>
                        <button type="button" id="openModel<?php echo $item_id; ?>" data-id="<?php echo $item_id; ?>" class="btn myModel btn-primary">View Details</button>
                    <?php }else if($category_name==null){ ?>
                            
                            <div style="width:150px;"></div>

                        <?php } else { /*?>
                        <button type="button" data-id="<?php echo $item_id; ?>" data-cName="<?php echo $category_name; ?>" data-Gname="<?php echo @$gender_name; ?>" class="btn addMeasurementButton btn-primary"><?php
                            if (array_key_exists("rtw_measurement", $data_array)) {
                                echo "Edit Measurements";
                            } else {
                                echo "Add Measurements";
                            }
                            ?></button>

                    <?php */ ?>

                    <button type="button" data-id="<?php echo $item_id; ?>" data-cName="<?php echo $category_name; ?>" data-Gname="<?php echo @$gender_name; ?>" class="btn addMeasurementButton-Cart btn-primary">Measurements</button>
                    <?php } ?>







                </div>
        </td>

        <?php if ($canApplyMsrp): ?>
            <td class="col msrp" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <span class="pricing msrp">
                    <span class="msrp notice"><?= /* @escapeNotVerified */ __('See price before order confirmation.') ?>
                    </span>
                    <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                    <a href="#" class="action help map" id="<?= /* @escapeNotVerified */ ($helpLinkId) ?>" data-mage-init='{"addToCart":{"helpLinkId": "#<?= /* @escapeNotVerified */ $helpLinkId ?>","productName": "<?= /* @escapeNotVerified */ $product->getName() ?>","showAddToCart": false}}'>
                        <span><?= /* @escapeNotVerified */ __("What's this?") ?></span>
                    </a>
                </span>
            </td>
        <?php else: ?>
            <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
                <?= $block->getUnitPriceHtml($_item) ?>
            </td>
        <?php endif; ?>
        <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
            <div class="field qty">
                <label class="label" for="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty">
                    <span><?= /* @escapeNotVerified */ __('Qty2') ?></span>
                </label>
                <div class="control qty">
                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                           name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                           data-cart-item-id="<?= $block->escapeHtml($_item->getSku()) ?>"
                           value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?= $block->escapeHtml(__('Qty')) ?>"
                           class="input-text qty"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"/>
                </div>
            </div>
        </td>

        <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
            <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal">--</span>
            <?php else: ?>
                <?= $block->getRowTotalHtml($_item) ?>
            <?php endif; ?>
        </td>       
        <td colspan="100">
            <div class="actions-toolbar">
                <?= $block->getActions($_item) ?>
            </div>
        </td>
    </tr>
</tbody>

<input type="hidden" name="measurement_hidden" data-itemid="" id="measurement_details" value='<?php echo $_item->getJson(); ?>' />



<style type="text/css">
    #myModel {
        margin:0px -15px;
    }
    #productImage, .style-table-sec, .measurement-table-sec {
        width: 33.33%;
        float:left;
        padding: 0% 15px;
    }
    /*#productImage{
      padding-top: 10%;
    }*/
    /*#myModel{
        text-align: left; 
        width:100%; 
        padding-left: 5%;
    }*/
    #imageDiv{
        width: 150px;    
    }
    #imageCol{
        padding-right: 0%;
        width: 150px;
    }
    #productImage img{
        padding-top:20px;
    }
    /*#measurementTable, #styleTable{
        width: 30%;
        float:right;
        font-family: arial, sans-serif;  
        border-collapse: collapse;
        margin-top: 80px;
        margin-right:10px;
    }*/
    #measurementTable td,#measurementTable th,#styleTable td,#styleTable th {  
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;  
    }
    #measurementTable tr:nth-child(even),#styleTable tr:nth-child(even) { 
        background-color: #dddddd; 
    }
    .modal-popup .modal-inner-wrap {
        margin: 4rem auto !important;
    }
    .modal-slide
    {
        overflow: auto !important;
    }
    .modal-inner-wrap
    {
        z-index: 99999999999999999 !important;
    }
    .page-header
    {
        /*z-index: 1 !important;*/
    }
    .modal-popup .modal-header {
        padding-bottom: 0.2rem !important;
        padding-top: 2rem !important;
        border-bottom :none !important;
    }
    .modal-footer {
        padding-bottom: 2rem !important;
        padding-top: 2rem !important;
    }
    .details{
        text-align: right !important;
    }
    .modal-header{
        background: #fff !important;
    }
</style>