<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
$items = $block->getItems();

 foreach ($items as $_item)
 {

    if($_item->getData('json')!=""){
        $data_array = json_decode($_item->getData('json'));
    }else{
        $data_array = array();
    }

 	// var_dump($_item->getData('json'));
  if (!is_null($_item->getData('json')) && !array_key_exists("rtw_measurement",$data_array)){


?>
<div class="block style-measurement" style="page-break-before:always; padding-top:50px;">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Measurement details of : '.$_item->getName())) ?></strong></div>
    <div class="block-content">
        <?php $json = json_decode($_item->getJson(),true); 
            $arr['styles'] = $json['style'];

            $type = $json['size']['type'];
            $p_type = $json['type'];

          ?>
      <table id="detailsTable1">
        <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Measurement Details </strong></td></tr>
      <?php if($type == 'Standard' && ($p_type == "Shirt" || $p_type == "WomenShirt")){ 
          $measurementVal = $json['size']['sizeData'][0];
      ?>
        <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Shirt </strong></td></tr>
          <tr><td>Size</td><td><?php echo $measurementVal['size_name']; ?></td></tr>
          <tr><td>Collar</td><td><?php echo $measurementVal['Collar']; ?></td></tr>
          <tr><td>Shoulder</td><td><?php echo $measurementVal['shoulder']; ?></td></tr>
          <tr><td>Length</td><td><?php echo $measurementVal['length']; ?></td></tr>
          <tr><td>Sleeve</td><td><?php echo $measurementVal['sleeve']; ?></td></tr>
          <tr><td>Chest</td><td><?php echo $measurementVal['chest']; ?></td></tr>
          <tr><td>Stomach</td><td><?php echo $measurementVal['stomach']; ?></td></tr>
          <tr><td>Seat</td><td><?php echo $measurementVal['seat']; ?></td></tr>
          <tr><td>Bicep Width</td><td><?php echo $measurementVal['Bicep_Width'];?></td></tr>
          <tr><td>Wrist Width</td><td><?php echo $measurementVal['Wrist_width'];?></td></tr>

      <?php }else if($type == 'Scan' && ($p_type == "Shirt" || $p_type == "WomenShirt")){ 
          $measurementVal = $json['size']['sizeData'];
      ?>
        <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Shirt </strong></td></tr>
          <tr><td>Collar</td><td><?php echo $measurementVal['collar']; ?></td></tr>
          <tr><td>Shoulder</td><td><?php echo $measurementVal['shoulder']; ?></td></tr>
          <tr><td>Length</td><td><?php echo $measurementVal['length']; ?></td></tr>
          <tr><td>Sleeve</td><td><?php echo $measurementVal['sleeve']; ?></td></tr>
          <tr><td>Chest</td><td><?php echo $measurementVal['chest']; ?></td></tr>
          <tr><td>Stomach</td><td><?php echo $measurementVal['stomach']; ?></td></tr>
          <tr><td>Seat</td><td><?php echo $measurementVal['seat']; ?></td></tr>
          <tr><td>Bicep Width</td><td><?php echo $measurementVal['BicepWidth']; ?></td></tr>
          <tr><td>Wrist Width</td><td><?php echo $measurementVal['Wristwidth']; ?></td></tr>

      <?php }elseif($type == 'Standard' && ($p_type == "Suit" || $p_type == "WomenSuit")){
          $measurementJacket = $json['size']['sizeData'][0];
      ?>
        <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Jacket </strong></td></tr>

        <?php foreach ($measurementJacket as $jkey => $jval) {
                  if($jkey=='id' || $jkey=='parent' || $jkey=='product_type' || $jkey=='gender'){

                  }elseif($jkey=='size_name'){
                      echo "<tr><td> Size </td><td>".$measurementJacket['size_name']."</td></tr>";
                  }else{
                      echo "<tr><td>".$jkey."</td><td>".$jval."</td></tr>";
                  }
              }

          $measurementPant = $json['size']['sizeData'][1];
        ?>
          <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Pant </strong></td></tr>

        <?php foreach ($measurementPant as $pkey => $pval) {
                  if($pkey=='id' || $pkey=='parent' || $pkey=='product_type' || $pkey=='gender'){

                  }elseif($pkey=='size_name'){
                      echo "<tr><td> Size </td><td>".$measurementPant['size_name']."</td></tr>";
                  }else{
                      echo "<tr><td>".$pkey."</td><td>".$pval."</td></tr>";
                  }
              }

          $measurementVest = $json['size']['sizeData'][2];
        ?>
          <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Vest </strong></td></tr>

        <?php foreach ($measurementVest as $vkey => $vval) {
                  if($vkey=='id' || $vkey=='parent' || $vkey=='product_type' || $vkey=='gender'){

                  }elseif($vkey=='size_name'){
                      echo "<tr><td> Size </td><td>".$measurementVest['size_name']."</td></tr>";
                  }else{
                      echo "<tr><td>".$vkey."</td><td>".$vval."</td></tr>";
                  }
              }
        }

        else if($type == 'Scan' && ($p_type == "Suit" || $p_type == "WomenSuit")){
            $measurementData = $json['size']['sizeData'];
        ?>
          <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Jacket </strong></td></tr>

        <?php  
            echo "<tr><td>Chest</td><td>".$measurementData['chest']."</td></tr>";
            echo "<tr><td>Stomach</td><td>".$measurementData['stomach']."</td></tr>";
            echo "<tr><td>Sleeve Length</td><td>".$measurementData['sleeve_length']."</td></tr>";
            echo "<tr><td>Shoulder</td><td>".$measurementData['shoulder']."</td></tr>";
            echo "<tr><td>Front Jacket Length</td><td>".$measurementData['frontJacketLength']."</td></tr>";
            echo "<tr><td>Back Jacket Length</td><td>".$measurementData['backJacketLength']."</td></tr>";
            echo "<tr><td>Bicep Width</td><td>".$measurementData['bicepWidth']."</td></tr>";
            echo "<tr><td>Wrist Width</td><td>".$measurementData['wristWidth']."</td></tr>";
            echo "<tr><td>Seat</td><td>".$measurementData['seat']."</td></tr>";

            echo "<tr><td colspan=2 style='text-align: center;text-transform: uppercase;'><strong> Pant </strong></td></tr>";

            echo "<tr><td>Trouser Waist</td><td>".$measurementData['trouser_waist']."</td></tr>";
            echo "<tr><td>Trouser Seat</td><td>".$measurementData['trouser_seat']."</td></tr>";
            echo "<tr><td>Outseam</td><td>".$measurementData['outseam']."</td></tr>";
            echo "<tr><td>Thigh</td><td>".$measurementData['thigh']."</td></tr>";
            echo "<tr><td>Knee</td><td>".$measurementData['knee']."</td></tr>";
            echo "<tr><td>Ankle</td><td>".$measurementData['ankle']."</td></tr>";
            echo "<tr><td>Crotch</td><td>".$measurementData['crotch']."</td></tr>";

            echo "<tr><td colspan=2 style='text-align: center;text-transform: uppercase;'><strong> Vest </strong></td></tr>";
            echo "<tr><td>Chest</td><td>".$measurementData['chest_circumf']."</td></tr>";
            echo "<tr><td>Back Length</td><td>".$measurementData['back_length']."</td></tr>";
            echo "<tr><td>Waist</td><td>".$measurementData['waist']."</td></tr>";

        }
    ?>
  </table>
  <table id="detailsTable">
        <tr><td colspan=2 style="text-align: center;text-transform: uppercase;"><strong> Style Details </strong></td></tr>
      <?php 
        $type = $json['type'];
        $tempStyles = $json['display_style'];

        foreach ($tempStyles as $key => $styles) {
            echo "<tr><td colspan=2 style='text-align: center;text-transform: uppercase;'><strong>". $key ."</strong></td></tr>";
            if (isset($styles)) {
                foreach ($styles as $key => $style) {
                  echo "<tr>";
                      if ($key == "fabric") {
                        $label = $style['label'];
                        $fabricId = $style['value']['id'];
                        $fabricName = $style['value']['name'];
                        $fabricImage = $style['value']['image'];
                            }elseif ($key == "accent"){
                              if ($type == "Suit") {
                                foreach ($style as $accent) {
                                  echo "<tr>";
                                    $label = $accent['label'];
                                    $value = $accent['value'];
                                    echo "<td>".$label."</td><td>".$value."</td>";
                                    echo "</tr>";
                                    }
                              }elseif ($type == "Shirt") {
                                  foreach ($style as $key => $accent) {
                                    if ($key == "monogram") {
                                      echo "<tr>";
                                        $label = $accent['label'];
                                        $value = $accent['value'];
                                        echo "<td>".$label."</td><td><strong>Text : </strong>".$value['Text'].""."<br><strong>Color : </strong>".$value['Color'].""."<br><strong>Font : </strong>".$value['Font'].""."<br><strong>Position : </strong>".$value['Position'].""."</td>";
                                          echo "</tr>";
                                        } else {
                                            echo "<tr>";
                                            $label = $accent['label'];
                                            $value = $accent['value'];
                                            echo "<td>" . $label . "</td><td>" . $value . "</td>";

                                            echo "</tr>";
                                        }
                                    }
                                }
                            } else {
                                $label = $style['label'];
                                $value = $style['value'];
                                echo "<td>" . $label . "</td><td>" . $value . "</td>";
                            }
                            echo "</tr>";
                        }
                    }
                }
            ?>

    </table>
  </div>
</div>

<?php  } } ?>
<div style="page-break-after:always">&nbsp;</div> 

<style type="text/css">
    .style-measurement{
      width:100% !important;
    }
    #detailsTable, #detailsTable1{
        width: 47%;
        float:left;
        font-family: arial, sans-serif;  
        border-collapse: collapse;
        margin: 10px !important;
    }
    #detailsTable td,#detailsTable th,#detailsTable1 td,#detailsTable1 th {  
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;  
    }
    #detailsTable tr:nth-child(even),#detailsTable1 tr:nth-child(even) { 
        background-color: #dddddd; 
    }
</style>