<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$basePath = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);



// $blockScan= $block->getLayout()->createBlock('Shirt\Tool\Block\Shirt');
// if($blockScan->isWholesaler() == "customer"){
//      $Measure_data = $blockScan->getBodyMeasurements();
//      $measurementArray = json_decode($Measure_data['json'],true);
// }

// if($measurementArray['convert_type']=="inch"){
//   $convert_inch = "checked='checked'";
// }else{
//   $convert_cm = "checked='checked'";
// }

$mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'
      class="form form-cart">
          <?= $block->getBlockHtml('formkey') ?>
    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar" data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>
            <thead>
                <tr>
                    <th class="col item" scope="col">
                        <span><?= __('Item') ?></span>
                    </th>
                    <th class="col price" scope="col">
                        <span><?= __('Price') ?></span>
                    </th>
                    <th class="col qty" scope="col">
                        <span><?= __('Qty') ?></span>
                    </th>
                    <th class="col subtotal" scope="col">
                        <span><?= __('Subtotal') ?></span>
                    </th>
                    <th class="col price" scope="col">
                        <span><?= __('Action') ?></span>
                    </th>                    
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?= $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
    </div>
    <div class="cart main actions">
        <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?= $block->escapeHtml(__('Continue Shopping')) ?>">
                <span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span>
            </a>
        <?php endif; ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                class="action clear" id="empty_cart_button">
            <span><?= /* @escapeNotVerified */ __('Clear Shopping Cart') ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?= $block->escapeHtml(__('Update Shopping Cart')) ?>"
                class="action update">
            <span><?= /* @escapeNotVerified */ __('Update Shopping Cart') ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
</form>

<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>

<div id="myModel">     
    <div id="productImage">
    </div>  

    <div class="style-table-sec">       
        <table id="styleTable">
        </table>
    </div>

    <div class="measurement-table-sec">
        <table id="measurementTable">
        </table>
    </div>
</div>




<!-- add measurement start-->
<div id="addMeasurement" style="display:none;">
  <div class="measurement col-xs-12">
      <div class="row" >
          <div class="col-xs-12 col-sm-6  offset-bottom-15 size-opt" onclick="showScanSize();">
              <div class="scnsize">
                  <h3> Scan Size</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <p> <a href="javascript:void(0);"> <i class="fa fa-arrow-circle-down fa-2x"> </i></a></p>
                  <p><img src="<?= $basePath ?>pub/media/shirt-tool/tool_data/img/measurement-sc.png" class="img-responsive" /></p>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 offset-bottom-15 size-opt" onclick="showStdSize();">
              <div class="scnsize">
                  <h3>Standard Size</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                  <p> <a href="javascript:void(0);"> <i class="fa fa-arrow-circle-down fa-2x"> </i></a></p>
                  <p><img src="<?= $basePath ?>pub/media/shirt-tool/tool_data/img/SML.png" class="img-responsive">
                  </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-6  offset-bottom-15 size-opt" id="orderData" style="display:none;">
            <input type="checkbox" name="lastorderdata" id="lastorderdata"> Use last measurements  <br>
            <input type="hidden" class="lastData" value="">
            <input type="hidden" class="custMsmtData" value="">
          </div>
      </div>
  </div>

  <div class="measurement col-xs-12" id="scanSizeFlgContainer" style="display:none;">

          <form class="form-horizontal">

            <div class="col-xs-12 col-sm-12">  
              <div class="form-group">
                  <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                  <div class="col-xs-10" id="radioRow">


                  </div>
              </div>
            </div>  

            <div class="col-xs-12 col-sm-12" id= "scanForm">  

            </div>  
              <div class="form-group">
                  <div class="col-xs-12" id="scanSave">



                  </div>
              </div>
          </form>





  </div>

  <div class="measurement col-xs-12" id="stdSizeFlgContainer" style="display:none;">
            <form class="form-horizontal">
              <input type="hidden" name="whole_standard_data" id="whole_standard_data" value=''>
                <div class="form-group">
                    <label for="inputPassword3" class="col-xs-2 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i> &nbsp; </label>
                    <div class="col-xs-10">
                        <label class="radio-inline">
                            <input type="radio" name="unitStdOptions" id="radioStdCm" ng-model="unitName" value="cm" checked="checked" onchange="changeStdUnit('cm');">
                            Cm </label>
                        <label class="radio-inline">
                            <input type="radio" name="unitStdOptions" id="radioStdInch" ng-model="unitName" value="inch"  onchange="changeStdUnit('inch');">
                            Inch </label>
                    </div>
                </div>
                <div class="col-xs-12">

                    <div class="table-responsive" id="stdTable">
                 

                    </div>

                    <div id="fit-holder">
                        <div class="row">
                            <label for="inputPassword3" class="col-xs-12 col-sm-3 control-label"> <i class="fa fa-arrow-circle-right text-success"> </i>  Select Your Fit </label>
                            <div class="col-xs-12 col-sm-3">
                              <div class="custom-dropper">
                                  <select class="form-control fit-select-box fit-select-box-default" id="sizeSelect">



                                  </select>
                                  <span id="reqSize"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12" id="stdSave">






                        </div>
                    </div>
                </div>
            </form>
  </div>

</div>

<script>
require(
  [
      'jquery',
      'Magento_Ui/js/modal/modal'
  ],
  function ($, modal) {

      $(".myModel").on("click", function () {
          var options = {
              type: 'popup',
              responsive: true,
              innerScroll: true,
              title: 'Details of products',
              buttons: [{
                      text: $.mage.__('Continue'),
                      class: '',
                      click: function () {
                          this.closeModal();
                      }
                  }]
          };
          var id = '';
          var baseurl = BASE_URL;
          var popup = modal(options, $('#myModel'));

          $('#styleTable').html('');
          $('#measurementTable').html('');
          $('#productImage').html('');

          id = $(this).attr('data-id');


          $('#myModel').modal('openModal');

          $.ajax({
              type: 'POST',
              url: baseurl + "c_customer/Designdata/Designdata/",
              data: {id: id, reqType: 'cart'},
              showLoader: true,
              success: function (data) {

                  var img = '';
                  img = "<img src='" + data.img + "' width='250' height='250'>";
                  var mTableTh = "<tr><th colspan='2'>Measurement Details </th></tr>"
                  var mTable = '';

                  var sTableTh = "<tr><th colspan='2'>Style Details </th></tr>"
                  var sTable = '';

                  $("#styleTable").html(sTableTh + data.styles);
                  $("#measurementTable").html(mTableTh + data.measurement);
                  $("#productImage").html(img);

              }

          });
      });

      $(".addMeasurementButton-Cart").on("click", function () {
          $('#productImage').hide();
          $(".measurement-table-sec").css("width","100%");
          var options = {
              type: 'popup',
              responsive: true,
              innerScroll: true,
              title: 'Measurement Details',
              buttons: [{
                      text: $.mage.__('Continue'),
                      class: '',
                      click: function () {
                          this.closeModal();
                      }
                  }]
          };
          var id = '';
          var baseurl = BASE_URL;
          var popup = modal(options, $('#myModel'));

          // $('#styleTable').html('');
          $('#measurementTable').html('');
          // $('#productImage').html('');

          id = $(this).attr('data-id');

          $('#myModel').modal('openModal');

          $.ajax({
              type: 'POST',
              url: baseurl + "c_customer/Designdata/Designdata/",
              data: {id: id, reqType: 'cart_measurement'},
              showLoader: true,
              success: function (data) {

                  var img = '';
                  img = "<img src='" + data.img + "' width='250' height='250'>";
                  var mTableTh = "<tr><th colspan='2'>Measurement Details </th></tr>"
                  var mTable = '';

                  // var sTableTh = "<tr><th colspan='2'>Style Details </th></tr>"
                  // var sTable = '';

                  // $("#styleTable").html(sTableTh + data.styles);
                  $("#measurementTable").html(mTableTh + data.measurement);
                  // $("#productImage").html(img);
              }

          });
      });

      $(".addMeasurementButton").on("click",function(){
        var options = {
        type: 'popup',
        responsive: true,
        innerScroll: true,
        title: 'Add Measurements',
        buttons: [{
            text: $.mage.__('Continue'),
            class: '',
            click: function () {
                this.closeModal();
            }
        }]
        };
        var popup = modal(options, $('#addMeasurement'));
        $('#addMeasurement').modal('openModal');

        id = $(this).attr('data-id');
        cName = $(this).attr('data-cName');
        gName = $(this).attr('data-gName');

        $('#measurement_details').attr('data-itemid',id);

        $.ajax({
            type: 'POST',
            url: BASE_URL + "c_customer/Designdata/Designdata/",
            data: {id: id, cName:cName, gName:gName, reqType: 'std_cart'},
            showLoader: true,
            success: function (data) {
              $("#whole_standard_data").val(JSON.stringify(data.measurement_data));
                $("#stdTable").html(data.measurement_html);
                $("#sizeSelect").html(data.size_html);
                $("#stdSave").html(data.saveStd_html);
                $("#scanSave").html(data.saveScan_html);
                $("#scanForm").html(data.scanForm_html);
                $("#radioRow").html(data.radioRow_html);

                if(data.rtw_measurement!=null){

                final_data = data.rtw_measurement.rtw_measurement;
                console.log(final_data);
                
                  for (var key in final_data) {
                    if(key!='size_name'){
                      console.log(key,final_data[key]);
                         $("#"+key).val(final_data[key]);
                    }
                  }

                  $(".fit-select-box").val(final_data.size_name);

                  var radioValue = final_data.size_type;
                  if(radioValue == "cm"){
                    document.getElementById("radioScanCm").checked = true;
                  }else{
                    document.getElementById("radioScanInch").checked = true;
                  }
                }
                if(data.final_last_order_data!=''){
                  $("#orderData").css({'display':'block'});
                  $(".lastData").val(JSON.stringify(data.final_last_order_data));
                  $(".custMsmtData").val(JSON.stringify(data.body_measurements));
                }

            }

        });

      });    

      jQuery('#lastorderdata').on("click", function () {

          if($(this).prop("checked") == true){
              var data = $.parseJSON($('.lastData').val());

                if('rtw_measurement' in data){

                  if(data['rtw_measurement']['size_type']=='cm'){
                      $("input[name=unitScanOptions][value=cm]").prop('checked', true);
                  }else if(data['rtw_measurement']['size_type']=='inch'){
                      $("input[name=unitScanOptions][value=inch]").prop('checked', true);
                  }

                  if(data!='' && (data['rtw_measurement']['product_type']=='Shirt' || data['rtw_measurement']['product_type']=='WomenShirt')){
                    if(data['rtw_measurement']['type']=='Scan'){
                        var size1 = data['rtw_measurement'];
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });
                    }
                    else if(data['rtw_measurement']['type']=='Standard'){
                        if(data['rtw_measurement']['size_type']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['rtw_measurement']['size_type']=='inch'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }
                        var size1 = data['rtw_measurement'];
                        $('.fit-select-box').val(size1['size_name']);
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });

                    }
                  } 

                  if(data!='' && (data['rtw_measurement']['product_type']=='Suit' || data['rtw_measurement']['product_type']=='WomenSuit')){

                      if(data['rtw_measurement']['type']=='Standard'){
                        $('.fit-select-box').val(data['rtw_measurement']['size_name']);
                        if(data['rtw_measurement']['size_type']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['rtw_measurement']['size_type']=='inch'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }
                      }

                      var size1 = data['rtw_measurement'];
                      $.each(size1, function (key, val) { 
                          $('#'+key).val(val);
                      });

                  } 

                }
                else{
                  if(data['style']['mesurementIn']=='cm'){
                      $("input[name=unitScanOptions][value=cm]").prop('checked', true);
                  }else if(data['style']['mesurementIn']=='in'){
                      $("input[name=unitScanOptions][value=inch]").prop('checked', true);
                  }

                  if(data!='' && (data['type']=='Shirt' || data['type']=='WomenShirt')){
                    if(data['size']['type']=='Scan'){
                        var size = data['size']['sizeData'];
                        var size1 = {};
                        size1['sh_chest'] = size['chest'];
                        size1['sh_collar'] = size['collar'];
                        size1['sh_shoulder'] = size['shoulder'];
                        size1['sh_sleeve'] = size['sleeve'];
                        size1['sh_stomach'] = size['stomach'];
                        size1['sh_seat'] = size['seat'];
                        size1['sh_bicepwidth'] = size['BicepWidth'];
                        size1['sh_wristwidth'] = size['Wristwidth'];
                        size1['sh_backlength'] = size['length'];
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });
                    }
                    else if(data['size']['type']=='Standard'){
                        if(data['style']['mesurementIn']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['style']['mesurementIn']=='in'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }
                        var size = data['size']['sizeData'][0];
                        $('.fit-select-box').val(size['size_name']);
                        var size1 = {};
                        size1['sh_chest'] = size['chest'];
                        size1['sh_collar'] = size['Collar'];
                        size1['sh_shoulder'] = size['shoulder'];
                        size1['sh_sleeve'] = size['sleeve'];
                        size1['sh_stomach'] = size['stomach'];
                        size1['sh_seat'] = size['seat'];
                        size1['sh_bicepwidth'] = size['Bicep_Width'];
                        size1['sh_wristwidth'] = size['Wrist_width'];
                        size1['sh_backlength'] = size['length'];
                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });

                    }
                  } 

                  if(data!='' && (data['type']=='Suit' || data['type']=='WomenSuit')){

                    if(data['size']['type']=='Scan'){

                      var keys = ['chest','stomach','sleeve_length','shoulder','frontJacketLength','backJacketLength','bicepWidth','wristWidth','seat','trouser_waist','trouser_seat','outseam','thigh','knee','ankle','crotch','chest_circumf','back_length','waist'];

                      var size = data['size']['sizeData'];
                      var size1 = {};

                      size1['su_chest'] = (size['chest'])?size['chest']:'';
                      size1['su_stomach'] = (size['stomach'])?size['stomach']:'';
                      size1['su_sleevelength'] = (size['sleeve_length'])?size['sleeve_length']:'';
                      size1['su_shoulder'] = (size['shoulder'])?size['shoulder']:'';
                      size1['su_front_jacket_length'] = (size['frontJacketLength'])?size['frontJacketLength']:'';
                      size1['su_back_jacket_length'] = (size['backJacketLength'])?size['backJacketLength']:'';
                      size1['su_bicep_width'] = (size['bicepWidth'])?size['bicepWidth']:'';
                      size1['su_wrist_width'] = (size['wristWidth'])?size['wristWidth']:'';
                      size1['su_seat'] = (size['seat'])?size['seat']:'';
                      size1['pa_trouser_waist'] = (size['trouser_waist'])?size['trouser_waist']:'';
                      size1['pa_seat'] = (size['trouser_seat'])?size['trouser_seat']:'';
                      size1['pa_outseam'] = (size['outseam'])?size['outseam']:'';
                      size1['pa_thigh'] = (size['thigh'])?size['thigh']:'';
                      size1['pa_knee'] = (size['knee'])?size['knee']:'';
                      size1['pa_ankle'] = (size['ankle'])?size['ankle']:'';
                      size1['pa_crotch'] = (size['crotch'])?size['crotch']:'';
                      size1['wc_chest'] = (size['chest_circumf'])?size['chest_circumf']:'';
                      size1['wc_backlength'] = (size['back_length'])?size['back_length']:'';
                      size1['wc_waist'] = (size['waist'])?size['waist']:'';

                      $.each(size1, function (key, val) { 
                          $('#'+key).val(val);
                      });

                    }
                    else if(data['size']['type']=='Standard'){
                        if(data['style']['mesurementIn']=='cm'){
                            $("input[name=unitStdOptions][value=cm]").prop('checked', true);
                        }else if(data['style']['mesurementIn']=='in'){
                            $("input[name=unitStdOptions][value=inch]").prop('checked', true);
                        }

                        var size1 = {};

                        if('0' in data['size']['sizeData']){
                            var sizeJacket = data['size']['sizeData'][0];
                        }else{
                            size1['su_chest'] = "";
                            size1['su_stomach'] = "";
                            size1['su_sleevelength'] = "";
                            size1['su_shoulder'] = "";
                            size1['su_front_jacket_length'] = "";
                            size1['su_back_jacket_length'] = "";
                            size1['su_bicep_width'] = "";
                            size1['su_wrist_width'] = "";
                            size1['su_seat'] = "";

                        }

                        if('1' in data['size']['sizeData']){
                            var sizePant = data['size']['sizeData'][1];
                        }else{

                            size1['pa_trouser_waist'] = "";
                            size1['pa_seat'] = "";
                            size1['pa_outseam'] = "";
                            size1['pa_thigh'] = "";
                            size1['pa_knee'] = "";
                            size1['pa_ankle'] = "";
                            size1['pa_crotch'] = "";

                        }

                        if('2' in data['size']['sizeData']){
                            var sizeVest = data['size']['sizeData'][2];
                        }else{

                            size1['wc_chest'] = "";
                            size1['wc_backlength'] = "";
                            size1['wc_waist'] = "";

                        }

                        if(sizeJacket!= null){
                            $('.fit-select-box').val(sizeJacket['size_name']);
                            size1['su_chest'] = sizeJacket['Chest'];
                            size1['su_stomach'] = sizeJacket['Stomach'];
                            size1['su_sleevelength'] = sizeJacket['Sleeve Length'];
                            size1['su_shoulder'] = sizeJacket['Shoulder'];
                            size1['su_front_jacket_length'] = sizeJacket['Front Jacket Length'];
                            size1['su_back_jacket_length'] = sizeJacket['Back Jacket Length'];
                            if(data['type']=='Suit'){
                              size1['su_bicep_width'] = sizeJacket['Bicep Width'];
                              size1['su_wrist_width'] = sizeJacket['Wrist Width'];
                            }
                            if(data['type']=='WomenSuit'){
                              size1['su_bicep_width'] = sizeJacket['Bicep_Width'];
                              size1['su_wrist_width'] = sizeJacket['Wrist_Width'];
                            } 
                            size1['su_seat'] = sizeJacket['Seat'];
                        }
                        if(sizePant!= null){
                            $('.fit-select-box').val(sizePant['size_name']);
                            if(data['type']=='Suit'){
                             size1['pa_trouser_waist'] = sizePant['Trouser waist'];
                            }
                            if(data['type']=='WomenSuit'){
                             size1['pa_trouser_waist'] = sizePant['Trouser Waist'];
                            }
                            size1['pa_seat'] = sizePant['Seat'];
                            size1['pa_outseam'] = sizePant['Outseam'];
                            size1['pa_thigh'] = sizePant['Thigh'];
                            size1['pa_knee'] = sizePant['Knee'];
                            size1['pa_ankle'] = sizePant['Ankle'];
                            size1['pa_crotch'] = sizePant['Crotch'];
                        }
                        if(sizeVest!= null){
                            $('.fit-select-box').val(sizeVest['size_name']);
                            size1['wc_chest'] = sizeVest['Chest'];
                            size1['wc_backlength'] = sizeVest['Back Length'];
                            size1['wc_waist'] = sizeVest['Waist'];
                        }

                        $.each(size1, function (key, val) {
                            $('#'+key).val(val);
                        });

                    }
                  }

                }  
          }

          if($(this).prop("checked") == false){
              $("input[name=unitStdOptions][value=cm]").prop('checked', true);
              var orderdata = $.parseJSON($('.lastData').val());
              if('rtw_measurement' in orderdata){
                var type = orderdata['rtw_measurement']['product_type'];
              }else{
                var type = orderdata['type'];
              }

              var data = $.parseJSON($('.custMsmtData').val());
              if(data!=''){
                  if(data['convert_type']=='cm'){
                      $("input[name=unitScanOptions][value=cm]").prop('checked', true);
                  }else if(data['convert_type']=='inch'){
                      $("input[name=unitScanOptions][value=inch]").prop('checked', true);
                  }

                  if(type=="Shirt" || type=="WomenShirt"){
                    $('.fit-select-box').val(37);
                    var size1 = {};
                    size1['sh_chest'] = data['sh_chest'];
                    size1['sh_collar'] = data['sh_collar'];
                    size1['sh_shoulder'] = data['sh_shoulder'];
                    size1['sh_sleeve'] = data['sh_sleeve'];
                    size1['sh_stomach'] = data['sh_stomach'];
                    size1['sh_seat'] = data['sh_seat'];
                    size1['sh_bicepwidth'] = data['sh_bicepwidth'];
                    size1['sh_wristwidth'] = data['sh_wristwidth'];
                    size1['sh_backlength'] = data['sh_backlength'];
                  }

                  if(type=="Suit" || type=="WomenSuit"){
                    $('.fit-select-box').val('46EU');
                    var size1 = {};
                    size1['su_chest'] = data['su_chest'];
                    size1['su_stomach'] = data['su_stomach'];
                    size1['su_sleevelength'] = data['su_sleevelength'];
                    size1['su_shoulder'] = data['su_shoulder'];
                    size1['su_front_jacket_length'] = data['su_front_jacket_length'];
                    size1['su_back_jacket_length'] = data['su_back_jacket_length'];
                    size1['su_bicep_width'] = data['su_bicep_width'];
                    size1['su_wrist_width'] = data['su_wrist_width'];
                    size1['su_seat'] = data['su_seat'];

                    size1['pa_trouser_waist'] = data['pa_trouser_waist'];
                    size1['pa_seat'] = data['pa_seat'];
                    size1['pa_outseam'] = data['pa_outseam'];
                    size1['pa_thigh'] = data['pa_thigh'];
                    size1['pa_knee'] = data['pa_knee'];
                    size1['pa_ankle'] = data['pa_ankle'];
                    size1['pa_crotch'] = data['pa_crotch'];

                    size1['wc_chest'] = data['wc_chest'];
                    size1['wc_backlength'] = data['wc_backlength'];
                    size1['wc_waist'] = data['wc_waist'];
                  }

                  $.each(size1, function (key, val) {
                      $('#'+key).val(val);
                  });
              }
          }

      });

  });

require(['jquery', 'jquery/ui'], function ($) {
  $('.action-delete').click(function (e)
  {
    if (confirm('Do you want to remove this product?'))
      return true;
    else
      return false;
  });

});
</script>

<script>
      function changeScanUnit(unitVal) 
          {
              if (unitVal == "cm") {
                  convertVal = 2.54;
              jQuery(".scan_number").each(function (e) {
                  if (jQuery(this).val() != "") {
                      var res = parseFloat(parseFloat(jQuery(this).val()) * convertVal).toFixed(1);
                      jQuery(this).val(res);
                  }
              });


              } else {
                  convertVal = 0.393701;

              jQuery(".scan_number").each(function (e) {
                  if (jQuery(this).val() != "") {
                      var res = parseFloat(parseFloat(jQuery(this).val()) * convertVal).toFixed(2);
                      jQuery(this).val(res);
                  }
              });

              }

          } 

      function changeStdUnit(unitVal) 
          {
              if (unitVal == "cm") {
                  convertVal = 2.54;

              jQuery(".std_number").each(function (e) {
                  if (jQuery(this).html() != "") {
                      var res = parseFloat(parseFloat(jQuery(this).html()) * convertVal).toFixed(1);
                      jQuery(this).html(res);
                  }
              });


              } else {
                  convertVal = 0.393701;

              jQuery(".std_number").each(function (e) {
                  if (jQuery(this).html() != "") {
                      var res = parseFloat(parseFloat(jQuery(this).html()) * convertVal).toFixed(2);
                      jQuery(this).html(res);
                  }
              });


              }

          } 

      function showScanSize() 
          {
              var x = document.getElementById("scanSizeFlgContainer");
              var y = document.getElementById("stdSizeFlgContainer");
              if (x.style.display === "none") {
                  x.style.display = "block";
                  y.style.display = "none";
              } else {
                  x.style.display = "none";
              }
          } 

      function showStdSize() 
          {
              var x = document.getElementById("stdSizeFlgContainer");
              var y = document.getElementById("scanSizeFlgContainer");
              if (x.style.display === "none") {
                  x.style.display = "block";
                  y.style.display = "none";
              } else {
                  x.style.display = "none";
              }
          } 

      function saveScanSizeData(pType,gName) {
          var flg;
          var scanDataArray = {};

        if(pType == "Shirt" || pType=="shirt")
        {

          var keyArray = ["sh_collar","sh_shoulder","sh_backlength","sh_chest","sh_sleeve","sh_stomach","sh_seat","sh_bicepwidth","sh_wristwidth"];

          for(var key in keyArray){
              if (jQuery("#"+keyArray[key]).val() == "") {
                  jQuery('.'+keyArray[key]).show();
                  jQuery('.'+keyArray[key]).html("*This field is required.").css({"color": "red"});
                  flg = false;
              } else
              {
                  if(/^\d*\.?\d*$/.test(jQuery("#"+keyArray[key]).val())){
                        scanDataArray[keyArray[key]] = jQuery("#"+keyArray[key]).val();
                  jQuery('.'+keyArray[key]).hide();
                  }else{
                   jQuery('.'+keyArray[key]).show();
                  jQuery('.'+keyArray[key]).html("*This field is required and contain only Number.").css({"color": "red"});
                   flg = false;

                  }
              }

           }
          scanDataArray['type'] = "Scan";
          if(gName=='Men' || gName=='men'){
            scanDataArray['product_type'] = "Shirt";
          }
          if(gName=='Women' || gName=='women'){
            scanDataArray['product_type'] = "WomenShirt";
          }
        }

        else if(pType == "Suit" || pType=="suit")
        {

          var keyArray = ["su_chest","su_stomach","su_sleevelength","su_shoulder","su_front_jacket_length","su_back_jacket_length","su_bicep_width","su_wrist_width","su_seat","pa_trouser_waist","pa_seat","pa_outseam","pa_thigh","pa_knee","pa_ankle", "pa_crotch","wc_chest","wc_backlength","wc_waist"];

          for(var key in keyArray){
              if (jQuery("#"+keyArray[key]).val() == "") {
                  jQuery('.'+keyArray[key]).show();
                  jQuery('.'+keyArray[key]).html("*This field is required.").css({"color": "red"});
                  flg = false;
              } else
              {
                  if(/^\d*\.?\d*$/.test(jQuery("#"+keyArray[key]).val())){
                        scanDataArray[keyArray[key]] = jQuery("#"+keyArray[key]).val();
                  jQuery('.'+keyArray[key]).hide();
                  }else{
                   jQuery('.'+keyArray[key]).show();
                  jQuery('.'+keyArray[key]).html("*This field is required and contain only Number.").css({"color": "red"});
                   flg = false;

                  }
              }

           }

          scanDataArray['type'] = "Scan";

          if(gName=='Men' || gName=='men'){
            scanDataArray['product_type'] = "Suit";
          }
          if(gName=='Women' || gName=='women'){
            scanDataArray['product_type'] = "WomenSuit";
          }

        }


          scanDataArray['size_type'] = jQuery("input[name='unitScanOptions']:checked"). val();

          sizeStdFlg = false;
          jQuery("#measurement_details").val(JSON.stringify(scanDataArray));
          if(jQuery("#measurement_details").val() !="" && flg != false){

          id = jQuery('#measurement_details').attr('data-itemid');
          data = jQuery("#measurement_details").val().replace(/\s/g,'');
          var jsonObj = jQuery.parseJSON(data);

              jQuery.ajax ({
              type:'POST',
              url: BASE_URL + "c_customer/Designdata/Designdata/",
              data: { id : id, jsonData : jsonObj , reqType :'rtw_cart' },
              success: function(data) {
              }

          });

            alert("Measurement Details saved successfully");
            jQuery("#addMeasurement").modal('closeModal');
            window.location.reload();

          }

      }

      function saveStdSizeData(pType,gName)
      {

          jQuery('#reqSize').html('');
          if (jQuery(".fit-select-box").val() == null) {
              jQuery('#reqSize').show();
              jQuery('#reqSize').html("*This field is required.").css({"color": "red"});
          } else{

          var cnt = 0;
          var sizeData = {};

          var fit = jQuery("#stdSizeFlgContainer .fit-select-box option:selected").val().toLowerCase();

          var jacketSizes = jQuery("#whole_standard_data").val().replace(/\s/g,'');
          var aData = jQuery.parseJSON(jacketSizes);
          var i;                 
          for (i = 0; i < Object.keys(aData).length; i++) {

              if ((aData[i].size_name).toLowerCase() == fit)
              {
                  sizeData = aData[i];
              }
          }

          var checkSizeType = jQuery("input[name='unitStdOptions']:checked").val();
          if(checkSizeType == "cm"){
              sizeData['size_type'] = jQuery("input[name='unitStdOptions']:checked").val();
              sizeData['type'] = "Standard";
              if((gName=='Men' || gName=='men') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "Shirt";
              }
              if((gName=='Men' || gName=='men') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "Suit";
              }
              if((gName=='Women' || gName=='women') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "WomenShirt";
              }
              if((gName=='Women' || gName=='women') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "WomenSuit";
              }
              jQuery("#measurement_details").val(JSON.stringify(sizeData));
            }else{

              for (var key in sizeData) {
                if(key!='size_name'){
                  sizeData[key] = parseFloat(parseFloat(sizeData[key]) * 0.393701).toFixed(2);
                }
              }
              sizeData['size_type'] = jQuery("input[name='unitStdOptions']:checked").val();
              sizeData['type'] = "Standard";
              if((gName=='Men' || gName=='men') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "Shirt";
              }
              if((gName=='Men' || gName=='men') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "Suit";
              }
              if((gName=='Women' || gName=='women') && (pType=='Shirt' || pType=='shirt')){
                sizeData['product_type'] = "WomenShirt";
              }
              if((gName=='Women' || gName=='women') && (pType=='Suit' || pType=='suit')){
                sizeData['product_type'] = "WomenSuit";
              }
              jQuery("#measurement_details").val(JSON.stringify(sizeData));
            }


          if(jQuery("#measurement_details").val !=""){

          id = jQuery('#measurement_details').attr('data-itemid');
          data = jQuery("#measurement_details").val().replace(/\s/g,'');
          var jsonObj = jQuery.parseJSON(data);

              jQuery.ajax ({
              type:'POST',
              url: BASE_URL + "c_customer/Designdata/Designdata/",
              data: { id : id, jsonData : jsonObj , reqType :'rtw_cart' },
              success: function(data) {


              }

          });
            alert("Measurement Details saved successfully");
            jQuery("#addMeasurement").modal('closeModal');


          }
            window.location.reload();

      }

    }
</script>


