<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>

<div class="table-wrapper order-items">
    <table class="data table table-order-items" id="my-orders-table" summary="<?= /* @escapeNotVerified */ __('Items Ordered') ?>">
        <caption class="table-caption"><?= /* @escapeNotVerified */ __('Items Ordered') ?></caption>
        <thead>
            <?php if ($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="5" data-block="order-items-pager-top" class="order-pager-wrapper order-pager-wrapper-top">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <tr>
                <th class="col name"><?= /* @escapeNotVerified */ __('Product Name') ?></th>
                <th class="col sku"><?= /* @escapeNotVerified */ __('SKU') ?></th>
                <th class="col price"><?= /* @escapeNotVerified */ __('Price') ?></th>
                <th class="col qty"><?= /* @escapeNotVerified */ __('Qty') ?></th>
                <th class="col subtotal"><?= /* @escapeNotVerified */ __('Subtotal') ?></th>
            </tr>
        </thead>
        <?php $items = $block->getItems();
        ?>

        <script>
            require(
                    [
                        'jquery',
                        'Magento_Ui/js/modal/modal'
                    ],
                    function ($, modal) {


                        var options = {
                            type: 'popup',
                            responsive: true,
                            innerScroll: true,
                            title: 'Details of products',
                            buttons: [{
                                    text: $.mage.__('Continue'),
                                    class: '',
                                    click: function () {
                                        this.closeModal();
                                    }
                                }]
                        };
                        var id = '';
                        var baseurl = BASE_URL;
                        var popup = modal(options, $('#myModel'));
                        $(".myModel").on("click", function () {

                            $("#productImage").css("display","block");
                            $(".style-table-sec").css("display","block");
                            $(".measurement-table-sec").css("width","33.33%");

                            $('#styleTable').html('');
                            $('#measurementTable').html('');
                            $('#productImage').html('');

                            id = $(this).attr('data-id');


                            $('#myModel').modal('openModal');

                            $.ajax({
                                type: 'POST',
                                url: baseurl + "c_customer/Designdata/Designdata/",
                                data: {id: id, reqType: 'order'},
                                showLoader: true,
                                success: function (data) {
                                    var img = '';
                                    img = "<img src='" + data.img + "' width='250' height='250'>";
                                    var mTableTh = "<tr><th colspan='2'>Measurement Details </th></tr>"
                                    var mTable = '';

                                    var sTableTh = "<tr><th colspan='2'>Style Details </th></tr>"
                                    var sTable = '';

                                    $("#styleTable").html(sTableTh + data.styles);
                                    $("#measurementTable").html(mTableTh + data.measurement);
                                    $("#productImage").html(img);

                                }
                            });

                        });


                        $(".myModelrtw").on("click", function () {
                            $("#productImage").css("display","none");
                            $(".style-table-sec").css("display","none");
                            $(".measurement-table-sec").css("width","100%");
                            $('#measurementTable').html('');

                            id = $(this).attr('data-id');


                            $('#myModel').modal('openModal');

                            $.ajax({
                                type: 'POST',
                                url: baseurl + "c_customer/Designdata/Designdata/",
                                data: {id: id, reqType: 'order'},
                                showLoader: true,
                                success: function (data) {
                                    var mTableTh = "<tr><th colspan='2'>Measurement Details </th></tr>"
                                    var mTable = '';
                                    $("#measurementTable").html(mTableTh + data.measurement);
                                }
                            });

                        });


                    });
        </script>
        <?php $giftMessage = '' ?>
        <?php foreach ($items as $item): ?>
            <?php if ($item->getParentItem()) continue; ?>
            <tbody>
                <?= $block->getItemHtml($item) ?>
                <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order_item', $item) && $item->getGiftMessageId()): ?>
                    <?php $giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessageForEntity($item); ?>
                    <tr>
                        <td class="col options" colspan="5">
                            <a href="#"
                               id="order-item-gift-message-link-<?= /* @escapeNotVerified */ $item->getId() ?>"
                               class="action show"
                               aria-controls="order-item-gift-message-<?= /* @escapeNotVerified */ $item->getId() ?>"
                               data-item-id="<?= /* @escapeNotVerified */ $item->getId() ?>">
                                   <?= /* @escapeNotVerified */ __('Gift Message') ?>
                            </a>
                            <?php $giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessageForEntity($item); ?>
                            <div class="order-gift-message" id="order-item-gift-message-<?= /* @escapeNotVerified */ $item->getId() ?>" role="region" aria-expanded="false" tabindex="-1">
                                <a href="#"
                                   title="<?= /* @escapeNotVerified */ __('Close') ?>"
                                   aria-controls="order-item-gift-message-<?= /* @escapeNotVerified */ $item->getId() ?>"
                                   data-item-id="<?= /* @escapeNotVerified */ $item->getId() ?>"
                                   class="action close">
                                       <?= /* @escapeNotVerified */ __('Close') ?>
                                </a>
                                <dl class="item-options">
                                    <dt class="item-sender"><strong class="label"><?= /* @escapeNotVerified */ __('From') ?></strong><?= $block->escapeHtml($giftMessage->getSender()) ?></dt>
                                    <dt class="item-recipient"><strong class="label"><?= /* @escapeNotVerified */ __('To') ?></strong><?= $block->escapeHtml($giftMessage->getRecipient()) ?></dt>
                                    <dd class="item-message"><?= /* @escapeNotVerified */ $this->helper('Magento\GiftMessage\Helper\Message')->getEscapedGiftMessage($item) ?></dd>
                                </dl>
                            </div>
                        </td>
                    </tr>
                <?php endif ?>
            </tbody>
        <?php endforeach; ?>
        <tfoot>
            <?php if ($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="5" data-block="order-items-pager-bottom" class="order-pager-wrapper order-pager-wrapper-bottom">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <?= $block->getChildHtml('order_totals') ?>
        </tfoot>
    </table>
</div>
<?php if ($giftMessage): ?>
    <script type="text/x-magento-init">
        {
            "a.action.show, a.action.close": {
            "giftMessage": {}
            }
        }
    </script>


<?php endif; ?>


<div id="myModel">     
    <div id="productImage">
    </div>  

    <div class="style-table-sec">       
        <table id="styleTable">
        </table>
    </div>

    <div class="measurement-table-sec">
        <table id="measurementTable">
        </table>
    </div>
</div>




