<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

?>
<?php
/**
 * @var \Magento\Sales\Block\Adminhtml\Order\View\Items $block
 */
$_order = $block->getOrder() ?>
<div class="admin__table-wrapper">
    <table class="data-table admin__table-primary edit-order-table">
        <thead>
            <tr class="headings">
                <?php $i = 0;
                $columns = $block->getColumns();
                $lastItemNumber = count($columns) ?>
                <?php foreach ($columns as $columnName => $columnTitle):?>
                    <?php $i++; ?>
                    <th class="col-<?= /* @noEscape */ $columnName ?><?= /* @noEscape */ ($i === $lastItemNumber ? ' last' : '') ?>"><span><?= /* @noEscape */ $columnTitle ?></span></th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <?php $_items = $block->getItemsCollection();?>
        <?php $i = 0; foreach ($_items as $_item):?>
            <?php if ($_item->getParentItem()) {
                continue;
            } else {
                $i++;
            }?>
            <tbody class="<?= /* @noEscape */ $i%2 ? 'even' : 'odd' ?>">
                <?= $block->getItemHtml($_item) ?>
                <?= $block->getItemExtraInfoHtml($_item) ?>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>


<script>
            require(
                    [
                            'jquery',
                            'Magento_Ui/js/modal/modal'
                        ],
                        function($,modal) {

                            
                        var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: true,
                        title: 'Details of products',
                        buttons: [{
                            text: $.mage.__('Continue'),
                            class: '',
                            click: function () {
                                this.closeModal();
                            }
                        }]
                    };
                    var id = '';
                    var popup = modal(options, $('#myModel'));
                    $('#styleTable').html('');
                    $('#measurementTable').html('');
                    $('#productImage').html('');

                    $(".myModel").on("click",function(){

                        id = $(this).attr('data-id');
                        var baseurl = $(this).attr('data-baseUrl');
                        
                        
                        $('#myModel').modal('openModal');

                        $.ajax ({
                            type:'POST',
                            url: baseurl+"c_customer/Designdata/Designdata/",
                            data: { id : id,reqType :'order' },
                            showLoader:true,
                            success: function(data) {
                                    console.log(data);
                                    var img = '';
                                    img = "<img src='" + data.img + "' width='250' height='250'>";
                                    var mTableTh = "<tr><th colspan='2'>Measurement Details </th></tr>"
                                    var mTable = '';

                                    var sTableTh = "<tr><th colspan='2'>Style Details </th></tr>"
                                    var sTable = '';

                                    $("#styleTable").html(sTableTh + data.styles);
                                    $("#measurementTable").html(mTableTh + data.measurement);
                                    $("#productImage").html(img);

                    }

                });

            });


            $(".myModelrtw").on("click", function () {
                $("#productImage").css("display","none");
                $("#styleTable").css("display","none");
                $("#measurementTable").css("width","100%");
                $('#measurementTable').html('');

                id = $(this).attr('data-id');
                var baseurl = $(this).attr('data-baseUrl');


                $('#myModel').modal('openModal');

                $.ajax({
                    type: 'POST',
                    url: baseurl + "c_customer/Designdata/Designdata/",
                    data: {id: id, reqType: 'order'},
                    showLoader: true,
                    success: function (data) {
                        var mTableTh = "<tr><th colspan='2'>Measurement Details </th></tr>"
                        var mTable = '';
                        $("#measurementTable").html(mTableTh + data.measurement);
                    }
                });

            });
                           

        });
</script>

<div id="myModel">
              
    <table id="measurementTable">
                
    </table>
    <table id="styleTable">
                 
    </table>

    <div id="productImage">
                     
    </div>

</div>

<style type="text/css">
    #myModel{
        text-align: left; 
        width:100%; 
        padding-left: none !important;
    }
    #imageDiv{
        width: 150px;    
    }
    #imageCol{
        padding-right: 0%;
        width: 150px;
    }
    #productImage img{
      padding-top:20px;
      height:100%;
    }

    #productImage{
      width: 33.33%;
      float:left;
      /*padding: 0% 15px;*/
    }

    #styleTable, #measurementTable{
        width: 32%;
        float:right;
        font-family: arial, sans-serif;  
        border-collapse: collapse;
        margin-top: 40px;
        margin-right:10px;
    }
    #styleTable td,#styleTable th,#measurementTable td,#measurementTable th {  
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;  
    }
    #styleTable tr:nth-child(even),#measurementTable tr:nth-child(even) { 
        background-color: #dddddd; 
    }
    .modal-popup .modal-inner-wrap {
       margin: 8rem auto !important;
   }
   .modal-popup .modal-header {
    padding-bottom: 0.2rem !important;
    padding-top: 2rem !important;
    border-bottom :none !important;
   }
   .modal-footer {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
  }
  .details{
    text-align: right !important;
  }
</style>