@font-face {
  font-family: 'icomoonV4';
  src:  url('../fonts/icomoonV4.eot?rjwlbe');
  src:  url('../fonts/icomoonV4.eot?rjwlbe#iefix') format('embedded-opentype'),
    url('../fonts/icomoonV4.ttf?rjwlbe') format('truetype'),
    url('../fonts/icomoonV4.woff?rjwlbe') format('woff'),
    url('../fonts/icomoonV4.svg?rjwlbe#icomoonV4') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-V4"], [class*=" icon-V4"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonV4' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-v1"], [class*=" icon-v1"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-v1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'icomoon' !important;*/
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-V3"], [class*=" icon-V3"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonV3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-V4measuring:before {
  content: "\e955";
}
