@font-face {
  font-family: 'icomoonV3';
  src:  url('../fonts/icomoonV3.eot?yv6jt5');
  src:  url('../fonts/icomoonV3.eot?yv6jt5#iefix') format('embedded-opentype'),
    url('../fonts/icomoonV3.ttf?yv6jt5') format('truetype'),
    url('../fonts/icomoonV3.woff?yv6jt5') format('woff'),
    url('/fonts/icomoonV3.svg?yv6jt5#icomoonV3') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-V3"], [class*=" icon-V3"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonV3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-v1"], [class*=" icon-v1"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'icomoon-v1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;*/

  /* Better Font Rendering =========== */
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /*font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;*/

  /* Better Font Rendering =========== */
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

.icon-V3anatomy:before {
  content: "\e991";
}
.icon-V3bag:before {
  content: "\e992";
}
.icon-V3fashion:before {
  content: "\e993";
}
.icon-V3online-shop .path1:before {
  content: "\e994";
  color: rgb(155, 201, 255);
}
.icon-V3online-shop .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(155, 201, 255);
}
.icon-V3online-shop .path3:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(155, 201, 255);
}
.icon-V3online-shop .path4:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(155, 201, 255);
}
.icon-V3online-shop .path5:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(30, 129, 206);
}
.icon-V3online-shop .path6:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(30, 129, 206);
}
.icon-V3online-shop .path7:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(30, 129, 206);
}
.icon-V3online-shop .path8:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(30, 129, 206);
}
.icon-V3online-shop .path9:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(30, 129, 206);
}
.icon-V3online-shop .path10:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(30, 129, 206);
}
.icon-V3online-shop .path11:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(30, 129, 206);
}
.icon-V3sewing-machine:before {
  content: "\e995e";
}
.icon-V3table:before {
  content: "\e996f";
}
