@font-face {
  font-family: 'icomoon-v1';
  src:  url('../fonts/icomoon-v1.eot?20iw6k');
  src:  url('../fonts/icomoon-v1.eot?20iw6k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-v1.ttf?20iw6k') format('truetype'),
    url('../fonts/icomoon-v1.woff?20iw6k') format('woff'),
    url('../fonts/icomoon-v1.svg?20iw6k#icomoon-v1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-v1"], [class*=" icon-v1"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-v1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-V3"], [class*=" icon-V3"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonV3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-v1shop:before {
  content: "\e111";
}
.icon-v1star-outline-of-favourites:before {
  content: "\e112";
}
.icon-v1quality:before {
  content: "\e113";
}
.icon-v1shield:before {
  content: "\e114";
}
.icon-v1customer-1:before {
  content: "\e115";
  color: #fff;
}
