@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nbbhwh');
  src:  url('../fonts/icomoon.eot?nbbhwh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nbbhwh') format('truetype'),
    url('../fonts/icomoon.woff?nbbhwh') format('woff'),
    url('../fonts/icomoon.svg?nbbhwh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-v1"], [class*=" icon-v1"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-v1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-V3"], [class*=" icon-V3"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoonV3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e900";
}
.icon-google-plus:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e902";
  color: #686868;
}
.icon-block:before {
  content: "\e903";
  color: #686868;
}
.icon-cloth:before {
  content: "\e904";
}
.icon-down-arrow:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-error:before {
  content: "\e907";
}
.icon-facebook-logo:before {
  content: "\e908";
  color: #686868;
}
.icon-guarantee:before {
  content: "\e909";
}
.icon-half-filled-rating-star:before {
  content: "\e90a";
  color: #bfa16b;
}
.icon-left-quote:before {
  content: "\e90b";
  color: #fff;
}
.icon-linkedin-logo:before {
  content: "\e90c";
  color: #fff;
}
.icon-magnifying-glass:before {
  content: "\e90d";
}
.icon-mark-as-favorite-star:before {
  content: "\e90e";
  color: #bfa16b;
}
.icon-metre:before {
  content: "\e90f";
}
.icon-notes:before {
  content: "\e910";
}
.icon-phone-receiver:before {
  content: "\e911";
}
.icon-placeholder:before {
  content: "\e912";
}
.icon-play-button:before {
  content: "\e913";
  color: #bfa16b;
}
.icon-right-arrow-1:before {
  content: "\e914";
  color: #686868;
}
.icon-supermarket-bag:before {
  content: "\e915";
  color: #ff5758;
}
.icon-two-left-arrows:before {
  content: "\e916";
  color: #fff;
}
.icon-united-states-of-america .path1:before {
  content: "\e917";
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-states-of-america .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-states-of-america .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-states-of-america .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(216, 0, 39);
}
.icon-united-states-of-america .path6:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(46, 82, 178);
}
.icon-united-states-of-america .path7:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path8:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path9:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path10:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path11:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path12:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path13:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path14:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path15:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path16:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path17:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.icon-united-states-of-america .path18:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
