﻿arset "utf-8";
/* CSS Document */
body {
    font-family: 'Open Sans', sans-serif !important;
}
a:focus, .btn:focus {
    outline: none !important;
    outline-offset: 0px; 
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
}
.breadcrumbs a:hover{
    text-decoration: none;
}
.breadcrumbs .items {
    padding: 10px 15px;
    background-color: #fafafa;
}
ul {
    padding: 0px;
    margin: 0px;
}
ul li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0 !important;
} 
.custom-page-wrapper {
    margin:0px !important;
}
.custom-page-wrapper .columns .column.main {
    padding-bottom: 0px !important;
}
section {
    position: relative; 
    overflow: hidden;
    padding: 80px 0;
}
.relative{
    position: relative;
}
.owl-theme .owl-controls {
    margin-top: 0px;
}
.btn{
    box-shadow: none !important;
}
/*---------------Hack css for Safari-----------*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

}
/*---------------Hack css for Google Chrome-----------*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {

}
/*--------------modals--------------*/
.cust-modal ::-webkit-input-placeholder { 
    color: #ff;
}
.cust-modal ::-moz-placeholder { 
    color: #fff;
}
.cust-modal :-ms-input-placeholder { 
    color: #fff;
}
.cust-modal :-moz-placeholder { 
    color: #fff;
}
#loginModal .modal-dialog, #forgot-pass-Modal .modal-dialog {
    margin: 150px auto 0;
}
.cust-modal .modal-content {
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    overflow: hidden;
}
.cust-modal .modal-content::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: '';
}
.cust-modal .modal-header {
    border-bottom:0;
    position:relative;  
    z-index:1;
}
.modal-header::before {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 70%;
}
.cust-modal .modal-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}
.cust-modal .modal-dialog {
    margin: 30px auto;
    width: 440px;
}
.cust-input .cust-icon {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    display: block;
    font-size: 18px;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
}
.cust-input {
    position:relative;  
}
.cust-input .form-control {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    color: #ffffff;
    font-size: 14px;
    height: 40px; 
    padding-left: 50px;
}
.cust-input .form-control:focus {
    background: rgba(255, 255, 255, 0.3);
}
.modal-social {
    margin: 0 0 40px;
    text-align:center;
}
.modal-social ul li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
.social-icon {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    display: block;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 36px;
}
.btn-facebook {
    color: #344d85;
}
.btn-twitter {
    color:#3EA0EB;  
    height:48px;
    width:48px;
    line-height:48px;
    font-size:24px;
}
.btn-google {
    color:#D7396D;  
}
.cust-modal .modal-body {
    padding: 40px 40px 15px;
    position: relative;
    z-index: 1;
}
.cust-modal .modal-footer {
    text-align:center;
    border-top:0; 
    position: relative;
    z-index: 1;
}
.btn.cust-btn {
    background: #ffffff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 30px;
    color: #d93f21;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 20px;
    text-transform: uppercase;
}
.forget-line li {
    float: left;
    text-align: left;
    width: 50%;
    color: #fff;
}
.forget-line li:last-child {
    text-align: right;
}
.forget-line li:last-child a {
    color: #e5e5e5;
    font-weight: 700;
    text-transform: capitalize;
}
.sign-up-link {
    color: #e5e5e5;
    display: block;
    font-weight: 700;
    margin: 20px 30px 10px;
}
.sign-up-link:hover {
    color: #ffffff;
}
.cust-modal .close {
    background: rgba(16, 131, 181, 0.2) none repeat scroll 0 0;
    border-radius: 50%;
    height: 30px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 17px;
    width: 30px;
}
.cust-modal .close:hover {
    opacity:1;  
}
.close > img {
    padding: 10px;
    width: 100%;
}
/*-------------header--------------*/
header.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    margin: 0 !important;
}
.banner-sec {
    padding: 0;
    margin-top: 124px;
}
.banner-sec .item {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-caption {
    color: #ffffff;
    left: 0;
    margin: 0 auto;
    padding: 0 60px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%);
    width: 80%;
    z-index: 1;
}
.banner-sec .item::after {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.ban-hed {
    font-family: Vidaloka;
    /*font-size: 65px;*/
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
}
.sign-up-btn {
    margin: 22px 0 0;
}
.sub-hed {
    font-size: 20px;
}
.sign-up-btn .btn {
    background: #b38d4a none repeat scroll 0 0;
    border-radius: 25px;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 15px;
    min-width: 150px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.sign-up-btn .icon-two-left-arrows {
    display: inline-block;
    font-size: 12px;
    transform: rotate(180deg) translateX(-3px);
    -moz-transform: rotate(180deg) translateX(-3px);
    -ms-transform: rotate(180deg) translateX(-3px);
    -webkit-transform: rotate(180deg) translateX(-3px);
    -o-transform: rotate(180deg) translateX(-3px);
    vertical-align: middle;
    margin-top: -3px;
}
.sign-up-btn .btn:hover {
    background: #353535;
    color: #fff;
}
.sign-up-btn .btn:hover .icon-two-left-arrows{

}
.sub-hed > span {
    display: block;
    line-height: 35px;
    width: 50%;
}
.banner-sec .owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    margin: 0px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.banner-sec .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .ready-to-waer .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
    background: #af9a73;
}
.banner-sec .owl-prev {
    left: 7%;
}
.banner-sec .owl-next {
    right: 7%;
}
.banner-sec .owl-dots {
    bottom: 2%;
    position: absolute;
    width: 100%;
}
.banner-sec .owl-theme .owl-dots .owl-dot.active span, .banner-sec .owl-theme .owl-dots .owl-dot:hover span {
    background: #b38d4a;
    border-color: #b38d4a;
}
.banner-sec .owl-theme .owl-dots .owl-dot span {
    background: #fff;
    border-radius: 0;
    height: 15px;
    transform: rotate(45deg);
    width: 15px;
    margin: 8px;
}
header.page-header .block-search form#search_mini_form {
    margin-bottom: 0;
}
/*---  common heading css  --*/

.page-header .panel.wrapper {
    transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;
}
.sticky-header .page-header .panel.wrapper {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
}
.common-heading {
    color: #333333;
    font-size: 35px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.common-heading span {
    position: relative;
}
.common-heading > span {
    padding-bottom: 10px;
}
.common-heading span::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 37px;
    height: 1px;
    background: #B38D4A;
    content: '';
}
/*-- how it works --*/
.rect-shape {
    border: 1px solid #bfa16b;
    border-radius: 30px;
    font-size: 50px;
    height: 120px;
    line-height: 120px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 120px;
    color: #a47d37;
}
.rect-shape::after {
    border: 1px solid #bfa16b;
    border-radius: 30px;
    content: "";
    height: 120px;
    left: -4px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 125px;
}
h3.middle-heading {
    font-size: 16px;
    font-weight: 600;
    padding: 60px 0 40px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
h3.middle-heading::after {
    background: #bfa16b none repeat scroll 0 0;
    bottom: 25px;
    content: "";
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 37px;
}
.common-holder {
    padding: 68px 0 0;
}
.desp {
    color: #686868;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
/*--about us sec--*/
/*.about-us {
    background: #f3f3f3;
}*/
.about-video {
    position: relative;
}
.about-video > img {
    width: 100%;
}
.play-video {
    font-size: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.about-content {
    padding: 0 0 0 60px;
    font-size: 17px;
    line-height: 30px;
}
.about-desp {
    padding: 50px 0 0;
}
.about-desp p {
    margin-bottom: 22px;
    color: #686868;
}
.about-desp p:last-child {
    margin-bottom: 0;
}
/*-- testimonials sec --*/
.testimonials-sec {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials-sec::after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: -moz-linear-gradient(90deg, rgba(191,161,107,0.5) 0%, rgba(57,46,26,0.5) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(57,46,26,0.5)), color-stop(100%, rgba(191,161,107,0.5))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(191,161,107,0.5) 0%, rgba(57,46,26,0.5) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(191,161,107,0.5) 0%, rgba(57,46,26,0.5) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(191,161,107,0.5) 0%, rgba(57,46,26,0.5) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(191,161,107,0.5) 0%, rgba(57,46,26,0.5) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#392e1a', endColorstr='#bfa16b',GradientType=0 ); /* ie6-9 */ 
}
.testimonials-sec .common-heading > span {
    color: #ffffff;
}
.testimonials-sec .common-heading span::after {
    background: #ffffff;
}
.test-img {
    border: 5px solid #af9462;
    border-radius: 50%;
    height: 95px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    width: 95px;
}
.test-img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.test-desc::after {
    content: "";
    font-family: "icomoon" !important;
    font-size: 25px;
    left: 0;
    position: absolute;
    right: 0;
    top: -34px;
}
.test-desc {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    position: relative;
}
.test-writer {
    color: #f7d495;
    margin: 10px 0;
}
.test-designation {
    font-size: 13px;
}
.testimonials-sec .owl-theme .owl-dots .owl-dot span {
    height: 5px;
    width: 40px;
    background: #fff;
}
.testimonials-sec .owl-dots {
    margin: 30px 0 0;
}
.testimonials-sec .owl-theme .owl-dots .owl-dot.active span {
    background: #bfa16b;
    border-color: #bfa16b;
}
/*-- ready to waer --*/
.product-slider {
    margin: 68px 0 0;
}
.ready-to-waer{
    background:#f1f1f1;
}
.product-hold {
    /*border: 1px solid #d0d0d0;
    border-radius: 10px 10px 20px 20px;*/
    background-color: #fff;
    overflow: hidden;
    margin: 15px 0;
    padding: 0 0 30px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.test-desc::after {
    content: "";
    font-family: icomoon;
    font-size: 25px;
    left: 0;
    position: absolute;
    right: 0;
    top: -30px;
}
/*.product-hold:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}*/
.prod-img {
    padding: 15px 0;
}
.product-slider .item .prod-name {
    color: #333333;
    font-size: 16px;
    margin: 15px 0;
    overflow: hidden;
    padding: 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-slider .item .prod-name a {
    color: #333333;
}
.product-slider .item .prod-name a:focus, .product-slider .item .prod-name a:hover {
    color: #bfa16b !important;    
}

.ratings {
    font-size: 22px;
    margin: 0 0 15px;
}
.price-blk {
    font-size: 16px;
}
.price-blk {
    font-size: 16px;
    margin-bottom: 15px;
    color: #686868;
}
.btn.common-btn {
    background: #bfa16b;
    border-radius: 25px;
    padding: 6px 25px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.btn.common-btn:hover {
    background: #151515;
    color: #bfa16b;
}
.ready-to-waer .owl-theme .owl-controls .owl-nav [class*="owl-"] {
    background: #a5a5a5;
    border-radius: 50%;
    font-size: 25px;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 45px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ready-to-waer .owl-prev {
    left: -6%;
}
.ready-to-waer .owl-next {
    right: -6%;
}

/*----CMS pages start here-----*/
.cms-banner .breadcrumb > li + li::before {
    color: #fff;
    content: "";
    font-family: fontawesome;
    padding: 0 15px;
}
.cms-banner .breadcrumb li {
    font-size: 15px;
}
.cms-banner .breadcrumb a {
    color: #ffffff;
}
.cms-banner .breadcrumb li.active {
    color:#b38d4a;
}
.cms-banner .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    bottom: 6%;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    text-transform: uppercase;
} 
.cms-banner {
    height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.cms-banner::after {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.cms-caption {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); 
    -o-transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}
.cms-banner .common-heading {
    color: #b38d4a;
    font-size: 60px;
    font-weight: 900;
}
.cms-about-info {
    border-top: 1px solid #e5e5e5;
}
.cms-banner .common-heading span::after {
    background: #ffffff;
}
.cms-desp {
    color: #686868;
    font-size: 17px;
    line-height: 35px;
    padding: 68px 0 0;
    text-align: center;
}
.clr-brown {
    color: #b38d4a;
}
.cms-cust-blk {
    border: 1px solid #b38d4a;
    border-radius: 7px;
    overflow: hidden;
}
.cms-cust-blk h3 {
    background: #b38d4a none repeat scroll 0 0;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
}
.cms-cust-desp {
    padding: 30px 15px;
}
.design-image {
  height: auto !important;
  margin: 0 0 20px;
}
.cms-cust-desp p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
}
.cms-cust-desp ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}
.cms-cust-desp ul li::after {
    position: absolute;
    left: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #b38d4a;
    content: "";
    top: 50%;
    margin-top: -5px;
}
.cms-cust-blk.style-none{
    border: 0px;
}
.cms-cust-blk.style-none > h3 {
    background: transparent none repeat scroll 0 0;
    color: #333333;
}
.cms-cust-desp > a {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
}
.counter-blk{
    background-size: cover;
    background-position: center center;
}
.counter-blk::after {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.counter-holder {
    position: relative;
    z-index: 1;
}
.counter-holder::after {
    position: absolute;
    right: -7.5px;
    width:1px;
    height: 64px;
    top: 50%;
    background: #ffffff;
    content: "";
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.counter-holder.text-center.no-after::after {
    content: none;
}
.icon-bk {
    background: rgba(151,112,43,0.5);
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    height: 40px;
    line-height: 40px !important;
    margin: 0 auto;
    text-align: center;
    width: 40px;
}
.count-blk {
    color: #bfa16b;
    font-size: 32px;
    font-weight: 600;
    padding: 15px 0;
}
.count-head {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*-- contact us --*/
.contact-map {
    height: 600px;
    overflow: inherit;
}
.map-blk {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.contact-form-blk .common-heading {
    font-size: 20px;
    text-transform: uppercase;
}
.contact-form-blk .common-heading span::after {
    bottom: 5px;
}
/*.contact-form-blk {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 0;
    margin: 0 auto;
    padding: 50px 30px;
    position: absolute;
    right: 0;
    top: -80px;
    width: 60%;
}*/
.left-info {
    float: left;
    padding:0 15px 0 0;
    width: 60%;
}
.right-form {
    float: left;
    padding: 0 0 0 15px;
    width: 40%;
}
.contact-form-blk .common-heading {
    text-align: left;
}
.left-desp {
    padding: 35px 0 0;
}
.left-desp p {
    font-size: 14px;
    line-height: 25px;
}
.cont-info-details .media {
    margin-top: 30px;
}
.cont-info-details .media-left i {
    border: 1px solid #b38d4a;
    border-radius: 50%;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    color: #686868;
}
.cont-info-details .media-body, .cont-info-details .media-left, .cont-info-details .media-right {
    vertical-align: middle;
}
.form-group {
    margin-bottom: 30px;
}
.cont-form .form-control {
    border-color: #bdbdbd;
    border-radius: 0;
    border-width: 0 0 1px;
    box-shadow: none !important;
    padding: 0;
}
/*-- FAQ Start --*/
.faq-section {
    overflow: inherit;
    padding: 80px 0 0;
}
.faq-section .common-heading {
    font-size: 25px;
    margin: 0 0 35px;
    text-align: left;
}
.faqs-blk {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: -150px auto 0;
    padding: 50px 30px;
    width: 60%;
}
.faqs-blk .panel-group .panel + .panel {
    margin-top: 15px;
}
.faqs-blk .panel-body p {
    margin-bottom: 25px;
    word-wrap: break-word;
}
.faqs-blk .panel-body p:last-child {
    margin-bottom: 0;
}
.faqs-blk .panel-default > .panel-heading {
    background-color: #bfa16b;
    border-color: #bfa16b;
    padding: 0;
}
.panel-heading a {
    color: #fff;
    display: block;
    padding: 10px 15px;
    position: relative;
}
.plus-minus {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    color: #bfa16b;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
    width: 20px;
}
.faqs-blk .panel-body {
    border: 1px solid #a0a0a0 !important;
    padding: 15px;
}
.faqs-blk .panel-group a .fa-plus::before{
    content: "\f068";
}
.faqs-blk .panel-group a.collapsed .fa-plus::before{
    content: "\f067";
}
/*-- How it works --*/
.border-bottom {
    border-bottom: 1px solid #bdbdbd;
}
h4.how-heading {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 42px;
}
.how-desp p {
    line-height: 32px;
    text-align: justify;
}
.how-desp p {
    line-height: 32px;
    margin: 0 0 15px;
    text-align: justify;
}
.points.clr-org {
    color: #be9667;
}
/*-- Terms & condition page start --*/
.terms-desp {
    margin: 0 0 30px;
}
h5.terms-head {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
.terms-desp p {
    font-size: 14px;
    line-height: 30px;
}
/*-- Terms & condition page end --*/
/*-- CMS Pages End--*/


/*---- header ---*/
.page-wrapper .page-header {
    border-bottom: 0 none !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
    z-index: 899 !important;
}
.page-wrapper .page-header .panel.wrapper {
    background-color: #ffffff;
    /*border-bottom: 0 none;*/
    color: #686868;
    border-radius: 0;
    max-width : 100%;
}
.page-wrapper  .page-header .header.content {
    max-width: 100%;
}
.page-header .panel.wrapper {
    background: #fff;
    color: #686868;
    border-radius: 0;
    background: #fff !important;
}
.page-wrapper .panel {
    margin-bottom: 0px !important;
}
.panel.header {
    text-align: right;
}
.header.panel > .header.links {
    float: inherit !important;
    list-style: outside none none;
    margin: 0 0 0 auto;
    padding: 0;
    vertical-align: middle;
}
.all_links {
    float: inherit !important;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin:0 0 0 30px;
}
.page-wrapper .header.panel > .header.links > li > a {
    color: #686868;
    text-transform: uppercase;
}
.page-wrapper .panel.wrapper {
    padding: 0 100px;
}
.page-wrapper .panel {
    margin-bottom: 0;
}
.header.content {
    padding: 0;
}
header{
    transition: all 0.3s linear;-o-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-webkit-transition: all 0.3s linear;
}
span.custLink_btn {
    display: block;
    cursor: pointer;
}
.all_links .header.links > li {
    margin: 5px 0;
}
.all_links .header.links > li:last-child {
    margin: 0;
}
.all_links ul.header.links {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50px;
    visibility: hidden;
    width: 250px;
    z-index: 7;
    overflow: hidden;
}
.all_links .header.links a {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    font-size: 14px;
    padding: 8px 15px;
    text-align: right;
}
.all_links:hover ul.header.links{
    opacity: 1;
    visibility: visible;
    top: 22px;
} 
.header.links a {
    color: #686868;
    text-decoration: none;
}
.custom_navigations {
    width: 40%;
}
/*--cms layout--*/
.page-wrapper .navigation, .page-wrapper .breadcrumbs, .page-wrapper .page-header .header.panel, .page-wrapper .header.content, .page-wrapper .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .page-wrapper .block.category.event, .page-wrapper .top-container, .page-wrapper .page-main {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.page-wrapper .navigation,.page-wrapper .breadcrumbs, .page-wrapper .page-header .header.panel, .page-wrapper .header.content, .page-wrapper .footer.content, .page-wrapper .page-wrapper > .widget,.page-wrapper .page-wrapper > .page-bottom,.page-wrapper .block.category.event,.page-wrapper .top-container {
    min-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.custom-page-wrapper .navigation, .custom-page-wrapper .breadcrumbs, .custom-page-wrapper .page-header .header.panel, .custom-page-wrapper .header.content, .custom-page-wrapper .footer.content, .custom-page-wrapper .page-wrapper > .widget, .custom-page-wrapper .page-wrapper > .page-bottom, .custom-page-wrapper .block.category.event, .custom-page-wrapper .top-container, .custom-page-wrapper .page-main {
    min-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.custom-page-wrapper #maincontent {
    margin-top: auto !important;
}
.page-wrapper.custom-page-wrapper  #maincontent {
    margin-top: 124px !important;
}
.cms-home .page-wrapper.custom-page-wrapper #maincontent {
    margin-top: 0px !important;
}
.page-wrapper  #maincontent {
    margin-top: 200px !important;
}

/*********magento header css**********/
.header.content {
    background: #fff;
    position: relative;
    padding: 0 100px !important;
}
.sections.nav-sections {
    background: #fff none repeat scroll 0 0 !important;
    float: left;
    width: 40%;
}
/*.logo {
    float: left;
    margin: 0 !important;
    width: 20%;
    text-align: center;
}*/
.logo {
    float: left;
    left: 50%;
    margin: 0 auto !important;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-50%);
    width: auto;
    z-index: 1;
}
.logo img {
    margin: 0 auto;
    width: 155px;
}
.header.content {
    padding: 15px 100px !important;
    width: 100% !important;
}
.nav-sections {
    margin-bottom: 0 !important;
}
.navigation{
    background: #fff !important;
    font-weight: 600 !important;
}
.ui-widget.ui-widget-content {
    border: 1px solid #fff !important;
}
.navigation ul {
    padding: 0px !important;
}
.navigation .level0 > .level-top {
    color: #333333;
    line-height: 25px;
    padding: 0px 12px !important;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: uppercase !important;
    transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}
.navigation .level0 > .level-top:hover{
    color: #a57a6a;
}
.level-top.ui-corner-all.ui-state-focus{
    border: none !important;
    background: #fff !important;
    padding: 0 10px !important;
    margin: 0 !important;
    position: relative;
    font-family: 'Open Sans', sans-serif !important;
}
.navigation ul li a{
    outline: none !important;
}
.header.content {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2) !important;
}
.page-wrapper .header.content {
    padding: 15px 100px !important;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: all 0.3s linear;-o-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-webkit-transition: all 0.3s linear;
}
.block-search {
    margin-top: 5px;
    width: 320px !important;
}
.minicart-wrapper{
    margin-top: 5px;
}
.catalog-category-view .header.content{
    max-width: 100% !important;
}
.faq-index-index .header.content{
    max-width: 100% !important;
}
.header.links li a{
    color: #555 !important;
}
.block-search input {
    border-radius: 20px;
    padding: 0 20px !important;
}
.block-search input:focus{
    border: 1px solid #555 !important;
    box-shadow: none !important;
}


/********* footer **********/
.page-footer {
    background: #0a0808 none repeat scroll 0 0 !important;
   /* margin: 200px 0 0 !important;*/
    padding: 30px 100px;
    margin: 0px 0 0 !important;
}
.page-footer .block.newsletter {
    /*background: #caa86d none repeat scroll 0 0 !important;*/
    background: transparent none repeat scroll 0 0 !important;
    border-radius: 7px 7px 0 0;
    padding: 10px 10px;
    width: 100% !important;
}
.page-footer .block.newsletter .form.subscribe {
    width: 100%;
}
.page-footer .footer.content .block{
    float: none;  
}
.page-footer .field.newsletter input {
    height: 40px;
    border-radius: 5px 0 0 5px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff !important;
    font-size: 12px;
    border-right: 0px;
}
.newsletter input:focus{
    box-shadow: none !important;
    outline: none !important;
}
.page-footer .actions button {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #fff !important;
    color: #000 !important;
    height: 40px;
    margin-left: -2px !important;
    text-transform: uppercase;
    border-radius: 0px 5px 5px 0px;
    line-height: 12px;
    padding: 6px;
}
.block.newsletter .field .control::before{
    display: none;
}
.custom_footerlinks {
    margin-top: 0px;
    float: left;
    width: 33.33%;
    position: relative;
}
.custom_footerlinks::after, .block.address-bar::after {
    background: #2d2d2d;
    bottom: 0;
    content: "";
    height: 200px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    z-index: 6;
}
.page-footer .block.quick-links {
    float: right !important;
    margin-top: 0px;
    padding-left: 10px !important;
    width: 33.33%;
}
.custom_footerlinks .footer.links {
    padding: 0;
    width: 100%;
}
.footer.why-shop p, .footer li a {
    color: #a1a1a1 !important;
}
.footer.links li a {
    color: #747474 !important;
    text-decoration: none !important;
}
footer .title strong{
    color: #f9f9f9 !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
}
.footer.address-bar p {
    color: #747474;
    padding-left: 40px !important;
}
.quick-links .nav.item a{
    color: #747474 !important;
}
.block.address-bar {
    display: inline-block;
}


ul.footer.why-shop{
    position: relative;
}

ul.footer.links {
    position: relative;
}
.copyright {
    background-color: #000;
    color: #bfa16b;
    border-top: 1px solid #424040;
    padding: 20px 10px;
}
.navigation .level0 > .level-top, .ui-state-active {
    padding: 0 10px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: transparent !important;
    border: 0 !important;
}
.navigation > ul > li > a :hover {
    color: #b38d4a !important;
}
/********* end footer **********/

.faq-index-index section.faq-section {
    min-height: 400px;
}
.faq-accordion .panel-heading{
    background: #bfa16b !important;
}
.faq-accordion .panel-heading a{
    padding: 0 !important;
}
.faq-accordion {
    margin-bottom: 20px;
}
.faq-accordion a:focus {
    outline: none !important;
}
.panel-default{
    border: none !important;
}
.cms-privacy-policy-cookie-restriction-mode .breadcrumbs{
    margin: 0 !important
}

.faq-index-index .page-main{
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.faq-index-index .panel.wrapper {
    padding: 0 100px !important;
}
.newsletter-section {
    position: relative;
}
.newsletter-head {
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
    margin: 15px 0px !important;
    color: #f9f9f9 !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
}
.newsletter-head > span {
    color: #996c1c;
    font-size: 12px;
    font-weight: 700;
    vertical-align: calc(-1%);
}
.block.address-bar {
    float: left !important;
    margin-top: 0px;
    padding: 0 5%;
    width: 33.33%;
    position: relative;
}
.newsletter ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff !important;
}
.newsletter *::-moz-placeholder {
    color: #fff !important;
    font-weight: 600;
    opacity: 1;
    text-transform: uppercase;
}
.newsletter :-ms-input-placeholder { /* IE 10+ */
    color: #fff !important;
    font-weight: 600;
    opacity: 1;
    text-transform: uppercase;
}
.newsletter :-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
    font-weight: 600;
    opacity: 1;
    text-transform: uppercase;
}
.read-more{
    color: #fff !important;
}
.block.newsletter input {
    padding: 10px 15px;
}
p.address-ling {
    margin-bottom: 40px !important;
    padding: 0;
}
.footer.social-links {
    margin: 0 -10px !important;
}
.footer-add p, .social-links .title {
    color: #bfa16b !important;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer-add > p a {
    color: #bfa16b !important;
    text-decoration: none;
}
.footer.social-links li a.fa {
    color: #000 !important;
    text-decoration: none;
}
.footer-add p {
    color: #a1a1a1 !important;
    padding: 0 0 10px;
}
.social-links li{
    padding: 0 10px !important; 
    float: left;
}
.social-links li a {
    background: #999999;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.navigation ul.submenu a {
  border: 0 none !important;
  outline: 0 none !important;
  padding: 10px !important;
}
.navigation ul.submenu a:hover, .navigation ul.submenu a.ui-state-focus {
    background: transparent !important;
    color: #be9667 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: transparent !important;
    border: 0 none !important;
}
.navigation ul.ui-menu li a {
    position: relative;
}
.navigation ul.ui-menu li a::after {
    position: absolute;
    left: 9px;
    width: 0px;
    height: 1px;
    background: #be9667;
    content: "";
    bottom: 8px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.navigation ul.ui-menu li a:hover::after {
    width: 20px;
}
.top-arrow {
    bottom: 10px;
    line-height: 46px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 80px;
    z-index: 1;
}
#toTop > a {
    bottom: 0;
    color: #ffffff;
    display: block;
    font-size: 33px;
    height: 100%;
    left: 0;
    line-height: 50px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}
.cont-form .primary .form-control.submit {
    background: #b38d4a none repeat scroll 0 0;
    border: 1px solid #b38d4a;
    box-shadow: none !important;
    height: auto;
    padding: 8px 34px;
}
.cont-info-details {
    margin-top: 50px;
}
.faq-accordion .panel-heading a {
    color: #ffffff !important;
    text-decoration: none !important;
}
.navigation .submenu a {
    text-transform: uppercase;
}
.ui-dialog {
    height: 100%;
    left: inherit !important;
    outline: 0 none;
    overflow: hidden;
    padding: 15px !important;
    position: fixed !important;
    right: 0 !important;
    top: 0px !important;
    width: 400px;
}
.minicart-wrapper .block-minicart {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #bbb;
    box-shadow: none;
    box-sizing: border-box;
    display: none;
    list-style: outside none none;
    margin: 0;
    min-width: 100%;
    padding: 0 !important;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 101;
    max-height: 100%;
    overflow: auto;
}
.minicart-items-wrapper{
    margin: 0px !important;
}
.minicart-wrapper .product .actions {
    margin: -24px 10px 0 0;
}
.minicart-wrapper .action.close {
    top: -10px !important;
}
.faq-section .group-title {
    color: #353535;
    font-size: 14px;
    margin: 15px 0;
}
.faq-section .faq-accordion .panel-heading::first-child {
    margin-top: 0px !important;
}
.faq-section .faq-accordion .panel-heading {
    margin-top: 15px !important;
}
.faq-section .group-title i{
    display: none;
}
.quick-links .social-links {
    margin-top: 30px;
}
.page-with-filter.page-products .product-item-info, .catalogsearch-result-index .product-item-info {
    /*border: 1px solid #e5e5e5;*/
    /*padding: 8px 9px !important;*/
    padding: 0;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active, .catalogsearch-result-index .products-grid .product-item-info:hover, .catalogsearch-result-index .products-grid .product-item-info.active {
    border: 0px !important;
    box-shadow: none !important;
}
.product.details.product-item-details, .catalogsearch-result-index .product.details.product-item-details {
    padding: 0 15px;
    text-align: center;
}
.catalog-category-view .products-grid .product-item-inner, .catalogsearch-result-index  .products-grid .product-item-inner {
    align-items: center;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    display: flex !important;
    height: auto;
    justify-content: center;
    margin-top: 0;
    top: 50%;
    transition: all 0.3s ease-in 0s;
    width: 100% !important;
    left: 0;
    right: 0;
    border: 0px;
    transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%);
    padding: 0;
    margin: 0;
    -webkit-transition: all 0.3s ease-in 0s; -moz-transition: all 0.3s ease-in 0s; -ms-transition: all 0.3s ease-in 0s; -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.catalog-category-view .products-grid .product-item-actions, .catalogsearch-result-index .catalog-category-view .products-grid .product-item-actions {
    margin: 0;
}
.catalog-category-view .products-grid .product-item-inner:before, .catalogsearch-result-index .catalog-category-view .products-grid .product-item-inner:before {
    content: none;
}
.catalog-category-view .products.wrapper.grid.products-grid .product.name.product-item-name h4, .catalogsearch-result-index .grid.products-grid .product.name.product-item-name h4 {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    line-height: 25px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.8px;
}
.catalog-category-view .products-grid .product-item-info:hover, .catalog-category-view .products-grid .product-item-info.active, .catalogsearch-result-index .products-grid .product-item-info:hover, .catalogsearch-result-index .products-grid .product-item-info.active {
    margin: 0;
}
.abs-actions-addto::before, .bundle-options-container .block-bundle-summary .product-addto-links > .action::before, .product-item-actions .actions-secondary > .action::before, .product-social-links .action.tocompare::before, .wishlist.split.button > .action.split::before, .product-social-links .action.mailto.friend::before, .product-social-links .action.towishlist::before, .block-bundle-summary .action.towishlist::before, .product-item .action.towishlist::before, .table-comparison .action.towishlist::before, .minicart-wrapper .action.showcart::before, .sorter-action::before, .filter-options-title::after,
.catalogsearch-result-index .abs-actions-addto::before, .catalogsearch-result-index .bundle-options-container .block-bundle-summary .product-addto-links > .action::before, .catalogsearch-result-index .product-item-actions .actions-secondary > .action::before, .catalogsearch-result-index .product-social-links .action.tocompare::before, .catalogsearch-result-index .wishlist.split.button > .action.split::before, .catalogsearch-result-index .product-social-links .action.mailto.friend::before, .catalogsearch-result-index .product-social-links .action.towishlist::before, .catalogsearch-result-index .table-comparison .action.towishlist::before, .catalogsearch-result-index .minicart-wrapper .action.showcart::before, .catalogsearch-result-index .sorter-action::before, .catalogsearch-result-index .filter-options-title::after,
 {
    color: #bfa16b !important;
}
.action.primary, .product-item-actions .actions-primary+.actions-secondary>.action  {
    background: #0A0808;
    border: 1px solid #0A0808;
}
.action.primary:hover, .product-item-actions .actions-primary+.actions-secondary>.action:hover, .action.primary:focus, .action.primary:active {
    background: #bfa16b;
    border-color: #bfa16b;
}
.product-item-actions .actions-primary+.actions-secondary>.action::before{
    color: #fff !important;
}
.product-item-actions .actions-primary+.actions-secondary>.action:hover::before{
    color: #fff !important;
}
.page-with-filter.page-products .product-item-actions .actions-primary+.actions-secondary>.action, .catalogsearch-result-index .product-item-actions .actions-primary+.actions-secondary>.action {
    width: 34px;
    height: 34px;
    line-height: 30px;
    text-align: center;
    margin: 0 5px 5px 0;
}
.navigation .level0.active>.level-top, .navigation .has-active>.level-top{
    border: 0px !important;
}
.item a.page, .pages strong.page, .pages .action.next, .pages .action.previous {
    padding: 0;
    border-radius: 50% !important;
    background-color: #e5e5e5;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #353535;
    margin-left:0;
}
.pages .action.next::before{
    font-size: 14px;
}
.fotorama__stage {
   /* background: #e5e5e5;*/
    margin: 0 0 20px;
}
.fotorama__stage {
    background: none;
}

/****** common css all pages *******/
.control input {
    height: 40px;
    border-radius: 25px;
}
.control select {
    height: 40px;
    border-radius: 25px;
}
.control textarea {
    border-radius: 25px;
}
.label{
    color: #000 !important;
    font-size: 14px !important;
}   
.control input:focus{
    box-shadow: none !important;
    /*border: 1px solid #333 !important;*/
}
.control select:focus{
    box-shadow: none !important;
    border: 1px solid #333 !important;
}
.control textarea:focus{
    box-shadow: none !important;
    /*border: 1px solid #333 !important;*/
}
.block-collapsible-nav .item .delimiter {
    border-top: 1px solid #fff;
}
.block-search .action.search {
    top:4px !important;
}
.page-title-wrapper .page-title {
    font-size: 26px !important;
    margin-bottom: 15px !important;
}
.action.primary.checkout {
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    height: 45px;
    line-height: 45px;
    border-radius: 25px;
    padding: 0 !important;
}
.action.primary.checkout:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}
/*.minicart-wrapper .block-minicart {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3)!important;
}*/
.block-minicart .subtotal {
    margin-top: 30px !important;
}
.checkbox, .radio {
    display: inline-block !important;
}
input[type="checkbox"]:focus{
    outline: none !important;
}

/************ login page *************/
.primary button, .action.create.primary, .box-order-customer-details button.action.updateButton {
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px!important;
    color: #ffffff !important;
    font-size: 18px !important;
    padding: 8px 10px !important;
    width: 200px !important;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.customer-account-login .page-title {
    font-size: 24px !important;
    margin-bottom: 15px !important;
}

.primary button:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}
.action.create.primary:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}

.login-container .block:nth-child(1){
    float: right !important;
}
.login-container .block:nth-child(2){
    float: left !important;
} 

.block.block-customer-login {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    min-height: 400px;
}

/*********** register page ***********/
.customer-account-create .page-title {
    font-size: 24px !important;
    margin-bottom: 15px !important;
}
.customer-account-create .label{
    color: #000 !important;
    font-size: 14px !important;
}
.customer-account-create .form.create.account {
    margin: 0 auto !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    padding: 20px 15px !important;
}
.customer-account-create .page-title {
    text-align: center;
    display: block !important;
}
.customer-account-create .actions-toolbar .primary {
    float: none !important;
}
.customer-account-create .actions-toolbar {
    text-align: center !important;
}

.customer-account-login .fieldset.login .actions-toolbar .secondary a.action {
    margin-top: 14px;
}


/*********** forget password  page ***********/
.customer-account-forgotpassword .page-title {
    font-size: 24px !important;
    margin-bottom: 15px !important;
}
.customer-account-forgotpassword .label{
    color: #000 !important;
    font-size: 14px !important;
}
.customer-account-forgotpassword .form.password.forget {
    margin: 0 auto !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    padding: 20px 15px !important;
}
.customer-account-forgotpassword .page-title {
    text-align: center;
    display: block !important;
}
.customer-account-forgotpassword .actions-toolbar .primary {
    float: none !important;
}
.customer-account-forgotpassword .actions-toolbar {
    text-align: center !important;
}

/*********** my account  page ***********/
.block-collapsible-nav .content {
    background: #fff !important;
    padding: 15px 0;
}
.block-collapsible-nav .item.current > strong {
    border-color: #fff;
}
.block-collapsible-nav .item a:hover {
    background: #fff;
    color: #b38d4a;
}
.block-collapsible-nav .item.current > strong{
    color: #b38d4a;
}
.block-collapsible-nav .item.current a{
    border-color: #fff;
}
.nav.item.current a strong{
    color: #b38d4a;
}
.block.block-dashboard-info{
    border: 1px solid #CCC;
    padding: 20px 15px;
    border-radius: 10px;
}
.multishipping-checkout-addresses.page-layout-checkout .action.update, .action.add{
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    padding: 6px 10px !important;
    width: 200px !important;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.multishipping-checkout-addresses.page-layout-checkout .action.update:hover, .action.add:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}

/*********** my account edit  page ***********/
.customer-account-edit .form.form-edit-account{
    margin: 0 auto !important;
    border: 1px solid #ccc !important;
    border-radius: 10px !important;
    padding: 20px 15px !important;
}
.customer-account-edit .page-title {
    text-align: center;
    display: block !important;
}

.form-address-edit {
    border: 1px solid #CCC;
    padding: 20px 15px;
    border-radius: 10px;
}
.block-dashboard-addresses{
    border: 1px solid #CCC;
    padding: 20px 15px;
    border-radius: 10px;
}
.password-strength-meter {
    background-color: #fff;
}


.checkout-shipping-address {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px 15px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.mage-dropdown-dialog{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3) !important;
    z-index: 1050;
}

.minicart-wrapper .action.showcart .counter.qty {
    background: #ff5501;
    color: #fff;
    height: 18px;
    line-height: 18px;
    border-radius: 50px;
    margin: 0px 0 0;
    min-width: 18px;
    padding: 0 0px;
    font-size: 13px;
}

/********** checkout page************/
.checkout-index-index header{
    display: none !important;
}
.action.action-show-popup{
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    font-size: 18px !important;
    padding: 6px 10px !important;
    width: 200px !important;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.action.action-show-popup:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}

/********** account newsletter index ************/
.account.newsletter-manage-index .form.form-newsletter-manage{
    border: 1px solid #ccc;
    border-radius: 10px !important;
    padding: 15px;
}


.cart-discount #block-discount-heading{
    color: #353535 !important;
}

/************* .multishipping-checkout-addresses ******************/
.multishipping-checkout-addresses.page-layout-checkout .primary button, .action.create.primary {
    font-size: 14px !important;
    width: 220px !important;
}
.multishipping-checkout-addresses.page-layout-checkout .checkout_multishipping_form .title strong{
    color: #353535 !important;
}

.checkout-index-index.page-layout-checkout._has-modal .modal-inner-wrap .modal-content{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 15px 20px !important;
    background-color:transparent;
}
.checkout-index-index .action.primary.action-save-address{
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    font-size: 18px !important;
    padding: 6px 10px !important;
    width: 200px !important;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.checkout-index-index .action.primary.action-save-address:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}

.checkout-onepage-success .page-main {
    border: 1px solid #ccc;
    border-radius: 10px !important;
    padding: 15px;
    margin-bottom: 20px;
    width: 50% !important;
    margin: 0 auto !important;
    margin-top: 150px !important;
}
.checkout-onepage-success .action.primary.continue{
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    font-size: 18px !important;
    padding: 6px 10px !important;
    width: 200px !important;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    margin-top: 30px !important;
}
.checkout-onepage-success .action.primary.continue:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}

.checkout-cart-index .cart.main.actions .action.update{
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    padding: 6px 10px !important;
    width: 200px !important;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    margin-top: 30px !important;
}
.checkout-cart-index .cart.main.actions .action.update:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}

.checkout-cart-index .product-item-name{
    font-size: 16px !important;
}

.catalog-product-view .review-form {
    max-width: 60%;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
}
.catalog-product-view .review-form .action.submit.primary {
    font-size: 16px !important;
    padding: 10px !important; 
}
.catalog-product-view .box-tocart .action.primary.tocart {
    width: 200px !important;
}
.catalog-product-view .box-tocart .action.primary.tocart, .wishlist-shared-index .form.shared.wishlist .action.tocart, .wishlist-shared-index .form.shared.wishlist .action.towishlist{
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    padding: 6px 10px !important;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    margin-top: 30px !important;
    box-shadow: none;
}
.wishlist-shared-index .form.shared.wishlist .action.tocart, .wishlist-shared-index .form.shared.wishlist .action.towishlist{
    width: auto !important;
    padding-right: 30px;
    margin-top: 0 !important;
}
.catalog-product-view .box-tocart .action.primary.tocart:hover{
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}
.multishipping-checkout-addresses .multicheckout.address.form .action.delete {
    padding-top: 8px;
}
.multishipping-checkout-addresses .actions-toolbar .secondary a.action {
    margin-top: 0px !important;
}

.product-items.product-items-names .product-item .field.item.choice .control input{
    height: 10px !important;
}
.field.required.review-field-ratings .label {
    text-align: left !important;
    padding-bottom: 10px !important;
}


.checkout-index-index .modal-custom.opc-sidebar .modal-inner-wrap .modal-content{
    box-shadow: none !important;
}
.checkout-index-index .opc-sidebar{
    margin-top: 0 !important;
}
.toolbar-sorter.sorter select {
    border-radius: 25px;
}
.toolbar-sorter.sorter select:focus{
    box-shadow:  none;
    border: 1px solid #555;
}
.product.name.product-item-name {
    font-size: 16px !important;
}
.order-details-items .col.price .price-excluding-tax{
    font-size: 16px ! important;
}
.order-details-items .col.subtotal .price-excluding-tax{
    font-size: 16px ! important;
}
/*product listing*/
.page-with-filter .filter.block {
    border: 1px solid #e5e5e5;
}
.page-with-filter .block.block-compare, .page-with-filter .block.block-wishlist {
    border: 1px solid #e5e5e5;
    padding: 10px;
}
.page-with-filter .filter-options-content a {
    display: block;
    background: #e5e5e5;
    border-radius: 5px;
    padding: 5px 10px;
    color: #353535;
}
.page-with-filter .filter-options-content a:hover {
    color: #b38d4a;
}
.page-with-filter .toolbar.toolbar-products {
    background: #f1f1f1;
    padding: 10px 15px;
    border-radius: 5px;
}
.category-image {
    margin-bottom: 20px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.category-image::after {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    content:"";
}
.category-image .categories-banner-btn {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
    z-index: 1;
}
.category-image .categories-banner-btn button.custom-edit-btn {
    font-size: 16px;
    text-transform: uppercase;
    background: #b38d4a;
    border-color: #b38d4a;
    box-shadow: none;
    color: #fff;
}
.products-list .product-item-info {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}
.products-list .product-item-photo {
    padding: 0 30px 0px 0;
}
.product.description.product-item-description a {
    color: #353535;
    font-weight: 600;
}
.breadcrumbs a {
    color: #353535 !important;
    text-transform: uppercase;
    font-weight: 600 !important;
}
.breadcrumbs .item strong {
    margin: 0;
    color: #b38d4a;
    text-transform: uppercase;
    font-weight: 600;
}
.filter-actions a.action.clear.filter-clear {
    color: #353535;
}
.filter-content .item {
    margin: 10px 0;
    background-color: #e5e5e5;
    padding: 5px 15px 5px 20px;
    border-radius: 5px;
}
.filter-current .action.remove:before {
    line-height: 32px;
    margin-left: 7px;
}
a.action.clear.filter-clear {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    background: #e5e5e5;
}
.reviews-actions a.action.view {
    color: #353535;
}
.tool-index-index .columns .column.main {
    padding-bottom: 0 !important;
}
/*--product details slider images center align--*/
.catalog-product-view .fotorama__nav.fotorama__nav--thumbs{
    text-align: center !important;
}
.catalog-product-view .fotorama__arr.fotorama__arr--next, .catalog-product-view .fotorama__arr.fotorama__arr--prev {
    display: block !important;
}
.catalog-product-view .fotorama__caption {
    display: none;
}
/*---22.11.2018----*/
.sidebar .product-items .product-item-info {
    background: #f1f1f1;
    padding: 10px;
}
.sidebar .product-items .product-item-info .product-item-photo {
    left: 10px !important;
    top: 10px !important;
}
.block-compare .block-title, .block-reorder .block-title, .widget .block-title, .block-wishlist .block-title {
    margin: 0 0 20px;
    background: #e5e5e5;
    padding: 10px;
    color: #353535;
    text-transform: uppercase;
}
.block-compare .block-title strong, .block-reorder .block-title strong, .widget .block-title strong, .block-wishlist .block-title strong {
    font-size: 14px;
    font-weight: 600;
}
.sidebar-additional .block-wishlist .product-item-actions .actions-primary+.actions-secondary>.action {
    width: 20px;
    height: 20px;
    line-height: 16px;
    margin: 0;
}
.box-actions a.action.edit span {
    color: #353535 !important;
    border-bottom: 1px solid #808080 !important;
}
.sidebar-additional .block-wishlist .product-item-actions {
  position: inherit !important;
} 
.form-wishlist-items .products-grid .product-item-info:hover, .form-wishlist-items .products-grid .product-item-info.active {
    margin: 0;
}
.form-wishlist-items .product-item-actions a.action.edit, .form-wishlist-items .product-item-actions a.btn-remove.action.delete {
    padding: 3px 15px;
    margin: 0px !important;
    background: #0A0808;
    border-radius: 5px;
    color: #ffffff;
}
.form-wishlist-items .product-item-actions a.action.edit:hover, .form-wishlist-items .product-item-actions a.btn-remove.action.delete:hover {
    background:#b38d4a;
}
.cell.label {
    display: table-cell;
    background: #f1f1f1;
    position: sticky;
    left: -1px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #dddddd;
}
.table-comparison .cell.label .attribute.label {
    text-align: left;
}
.table-comparison .cell {;
    border: 1px solid #dddd;
}
/*strong.product-item-name {
    min-height: 60px;
}*/
.table-comparison .cell.remove {
    padding: 0 !important;
}
.catalog-product-compare-index .table-comparison a.action.towishlist {
    height: 34px;
    line-height: 32px;
    width: 34px;
    text-align: center;
    border-radius: 3px;
}
.customer-account-logoutsuccess .columns {
    display: table;
    height: 300px;
    width: 100%;
    text-align: center;
} 
.customer-account-logoutsuccess .column.main {
    display: table-cell;
    vertical-align: middle;
} 
.customer-account-logoutsuccess .page-title-wrapper {
    display: none;
}
.checkout-cart-index .page-title-wrapper, .checkout-cart-index .columns .cart-empty {
    text-align: center;
}
.checkout-index-index .fieldset.address legend.label {
    text-align: left;
    border-bottom: 0;
}
.customer-account-index .block-dashboard-info .box-actions a::after {
    margin: 0 !important;
}
.cms-page-view .page-main .breadcrumbs { 
    display:none;
}
.catalog-category-view .product-reviews-summary a.action.add {
    text-transform: capitalize;
}
.modal-popup {
    z-index:1000 !important;
}
.modals-overlay {
  z-index: 999 !important;
}
.modal-content {
    border: 0 none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 15px !important;
}
.modal-footer {
    padding: 15px !important;
}
.modal-popup .action-secondary.action-dismiss, .modal-popup .action-primary.action-accept {
    background-color: #353535;
    border: 0 none;
    box-shadow: none;
    color: #fff;
}
/*------for icon only ---*/
i.fa {
    line-height: inherit;
}
[class^="icon-"], [class*=" icon-"]{
    line-height: inherit !important;
}
.product-item-actions .actions-primary+.actions-secondary>.action::before {
    line-height: inherit;
}
.catalog-category-view .product-item-info .product-item-actions .actions-primary+.actions-secondary{
    vertical-align: top;
}
.checkout-cart-index .form.form-cart .btn.myModel.btn-primary {
    background: #353535;
    border-color: #353535;
    box-shadow: none;
    border-radius: 0;
}
#productImage {
    text-align: center;
    display: flex;
    align-items: center;
    height: 482px;
}
#productImage img {
    width: 100%;
    padding:0px;
}
.modal-footer button {
    background: #353535;
    color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    border-color: #353535;
}
/*---checkout process-------*/
.checkout-index-index .page-wrapper #maincontent {
    margin-top: 50px !important;
}
.page-layout-checkout .authentication-wrapper {
    margin-top: 0;
}
.block-cart-failed .actions.main .continue, .block-cart-failed .actions.main .clear, .cart-container .form-cart .actions.main .continue, .cart-container .form-cart .actions.main .clear {
    display: block;
} 
.product-image-photo {
    border-bottom: 1px solid #e5e5e5;
}
.prod-img img {
    border-bottom: 1px solid #e5e5e5;
}
.product-slider .prod-color .prod-label {
    padding-bottom: 10px;
}
.prod-color .prod-label {
    padding:5px;
}
.contact-form-blk .left-info .media-body a {
    color: #b38d4a;
}
/*---28.11.2018------*/
.cms-middle-heading {
  color: #fff;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
}
.how-it-worked-sec .cms-middle-heading {
  color: #fff;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
}
.how-it-worked-sec .about-desp {
  display: table;
  height: 350px;
  padding: 50px 0 0;
}
.how-it-worked-sec .about-desp p { 
  display: table-cell;
  vertical-align: middle;
}
.mid-content {
  display: table;
  height: 150px;
}
.v-center{
  display: table-cell;
  vertical-align: middle;
}
.v-center .common-heading span {
    display: block;
    position: relative;
    text-align: left;
}
.about-us.how-it-worked-sec .cms-middle-heading.text-center {
    color: #353535;
}
.icon-bk span {
    line-height: 40px !important;
}
.stock.unavailable {
    font-size: 13px;
    padding: 8px 7px;
    background: #f75050;
    width: 92px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}
.catalog-product-view .stock.unavailable {
  background: transparent;
  color: #f75050;
  width: auto;
  text-align: right;
}
.wishlist-shared-index .product.name > a {
    color: #b38d4a !important;
}
.wishlist-shared-index .product.name {
    display: inline-block;
    font-weight: 700;
    padding: 15px 0 0 !important;
    vertical-align: top;
}

.wishlist-shared-index .price-as-configured .price {
    display: inline-block;
    font-weight: 600;
    min-width: 110px;
    padding: 10px 0 0;
    text-align: center;
}
..catalog-product-view .product-info-stock-sku .product.attribute.sku {
    display: flex;
    text-align: left;
}
.catalog-product-view .product-info-stock-sku .product-info-main .product.attribute.sku .type {
    width: 80px;
}
/*VN-3-12-18*/
.page-products .products-grid .product-item-inner:before {
    display: none;
}

.page-wrapper.custom-page-wrapper .page-title-wrapper {
    display: none;
}
@media print 
{
  a[href]:after { content: none !important; }
  img[src]:after { content: none !important; }
} 
/*----------Newsletter pop design----------*/
/*.popup-newsletter {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}*/
.popup-newsletter .modal-content {
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    overflow: hidden;
}
.popup-newsletter .modal-content {
    background-color: transparent;
}
.popup-newsletter .modal-header::before {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 70%;
}
.popup-newsletter .modal-content::after, .popup-newsletter  .modal-header::after {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.popup-newsletter .close {
    background: rgba(16, 131, 181, 0.2) none repeat scroll 0 0;
    border-radius: 50%;
    height: 30px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 17px;
    width: 30px;
}
.popup-newsletter .cust-input {
  position: relative;
}
.popup-newsletter .btn.cust-btn {
  background: #b38d4a;
  border: 0 none;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 20px;
  text-transform: uppercase;
}
.popup-newsletter  .modal-body {
    padding: 40px 40px 15px;
    position: relative;
    z-index: 1;
}
.popup-newsletter .modal-header {
    border-bottom: 0 !important;
    text-align: center;
    position: relative;
    background-color: transparent !important;
}
.modal-popup.popup-newsletter .modal-inner-wrap {
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    background-image: url('../images/newsletter/newsletter.jpg') !important;
}
.popup-newsletter .modal-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    border-bottom: 0px;
    text-transform: capitalize;
}
.popup-newsletter .intro {
    color: #fff;
}
.popup-newsletter .cust-input .form-control {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    color: #ffffff;
    font-size: 14px;
    height: 40px;
    padding-left: 50px;
}
.popup-newsletter .user-msg {
    color: #fff;
    margin-top: 30px;
}
.popup-newsletter .intro h5.modal-title {
    margin: 15px 0 !important;
    text-transform: uppercase;
    font-size: 20px;
}
.navigation a {
    font-family: 'Open Sans', sans-serif !important;
}
.modal-custom .action-close::before, .modal-popup .action-close::before, .modal-slide .action-close::before {
    color: #757575 !important;
}

.page-layout-cmscolumn .page.messages {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    width: 80%;
    margin: 0px auto;
    top: 15px;
    text-align: center;
}
.ui-widget {
    font-family: 'Open Sans', sans-serif !important;    
} 
#my-orders-table td.amount {
    text-align: right;
}
/*--------Measurement popup--------*/
#openModel.action.myModel.primary {
    background: #b38d4a;
    border-color: #b38d4a;
    border-radius: 25px;
}
.catalog-product-view .product-add-form {
    position: relative;
    min-height: 50px;
}
.catalog-product-view .product-add-form button#openModel {
    position: absolute;
    right: 0;
    bottom: 15px;
}
.measurement {
    border: 1px solid #939393;
    padding: 10px;
}
.scnsize {
    background-color: #e0e3ec;
    min-height: 293px;
    padding: 10px;
    cursor:pointer;
}
.scnsize h3 {
    color: #676767;
    text-align: center;
}
.scnsize p {
    color: #676767;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.scnsize p img {
    display: inline-block;
}
.catalog-product-view #product-attribute-specs-table td {
    vertical-align: baseline;
}
/*--------Customer confirmation page ------------*/
.customer-account-confirmation .action.send.primary {
    padding: 7px 30px !important;
    width: auto !important;
}
.customer-account-confirmation #form-validate .field.email.required label {
    padding: 15px 0 5px;
}
/*-----------Newsletter display none 21.12.2018-----------*/
#minicart-content-wrapper .minicart-items .item-qty {
    margin-right: 5px !important;
    width: 45px !important;
    font-size: 12px !important;
    padding: 2px !important;
}
.minicart-wrapper .action.showcart .counter.qty {
    height: 25px !important;
    line-height: 25px !important;
    min-width: 25px !important;
    font-size: 10px !important;
    margin-top: -10px;
}
/*---------Wholseller Css Start here - 31.12.2018----------*/
.ccustomer-wholesaler-login .block.block-customer-login {
    min-height: auto;
}
.ccustomer-wholesaler-login .page-main {
    width: 40%;
    margin:0px auto;
}
.ccustomer-wholesaler-login .page-wrapper /*.customer-account-forgotpassword.page-layout-1column .page-wrapper*/ {
    background-image: url('../images/contact-bg.jpg') !important;
    background-size: cover;
    background-position: center center;
}
.ccustomer-wholesaler-login .page-wrapper #maincontent /*.customer-account-forgotpassword .page-wrapper #maincontent*/ {
    margin-top: 200px !important;
    background: rgba(0,0,0,.2);
    padding: 20px 20px;
    border-radius: 5px;
    color: #fff;
}
.ccustomer-wholesaler-login .fieldset>.field>.label, .ccustomer-wholesaler-login .fieldset>.fields>.field>.label
/*.customer-account-forgotpassword .fieldset>.fields>.field>.label,*/ /*.customer-account-forgotpassword .fieldset>.field>.label*/ {
    color: #ffffff !important;
}
.ccustomer-wholesaler-login .form.form-login a.action.remind /*.customer-account-forgotpassword .form.form-login a.action.remind*/ {
    color: #fff;
}
.ccustomer-wholesaler-login .form.form-login .control input /*.customer-account-forgotpassword .form.form-login .control input*/ {
    background:rgba(0,0,0,0.1);
}
.ccustomer-wholesaler-login .newsletter-head /*.customer-account-forgotpassword .newsletter-head*/ {
    color: #fff;
}
.account.sales-order-history #order-filter select#order-status, .account.manage-wholesaler-order-filter #order-filter select#order-status {
    height: 32px;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
}
/*.account.sales-order-history #order-filter .actions button.action.search-btn, .account.manage-wholesaler-order-filter #order-filter .actions button.action.search-btn, .action.reset {
    margin-top: 18px;
    background: #b38d4a none repeat scroll 0 0;
    border-radius: 25px;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 10px;
    width: 150px;
    -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}*/
.account.sales-order-history #order-filter .actions button.action.search-btn, .account.manage-wholesaler-order-filter #order-filter .actions button.action.search-btn, .account.manage-wholesaler-order-filter .action.reset, table td button {
  background: #b38d4a none repeat scroll 0 0;
  border-radius: 25px;
  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-top: 18px;
  padding: 4px 6px;
  text-transform: capitalize !important;
  transition: all 0.3s ease-in 0s;
  width: 125px;
}
table td button {
  background: #b38d4a none repeat scroll 0 0 !important;
}
.account.sales-order-history span.field-row, .account.manage-wholesaler-order-filter span.field-row {
    width: 48% !important;
    float: left;
    margin-right: 15px;
}
.account.sales-order-history span.field-row:last-child, .account.manage-wholesaler-order-filter span.field-row:last-child {
    margin-right: 0 !important;
}
/*---------Drop icon for select box----------*/
.custom-dropper{
    position: relative;
}
.custom-dropper::after {
    position: absolute;
    top: 0;
    right: 5px;
    height: 30px;
    line-height: 30px;
    content: "\f0d7";
    font-family: fontawesome;
    pointer-events: none;
}
.customer-account-forgotpassword button.action.reload.captcha-reload, .addMeasurementButton.btn-primary, .checkout-cart-index .action.clear {    
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px!important;
    box-shadow: none !important;
    color: #ffffff !important;
    font-size: 14px !important;
    padding: 5px 10px !important;
    width: auto !important;
    -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
.customer-account-forgotpassword .form.password.forget .fieldset:after {
    margin-top: 10px;
}
/*----------minicart css----------*/
.minicart-items-wrapper {
    height:auto !important;
}
.minicart-items-wrapper .product-image-photo {
    width: 100% !important;
    height: auto !important;
    border:0;
} 
.checkout-cart-index #form-validate .product-image-wrapper .product-image-photo{
    border:0;
}
.checkout-cart-index #cart-totals .totals.shipping.excl .label {
    padding: .2em .0em .3em;
}
.minicart-items-wrapper .minicart-items .update-cart-item {
    border-radius: 25px;
    background: #b38d4a !important;
    box-shadow: none;
    color: #fff;
    border-color: #b38d4a;
}
/*--wholesaler customer management--*/
.manage-wholesaler-customer-index form#order-filter, .manage-wholesaler-quickorder-index form#order-filter {
	display: flex;
	justify-content: space-between; 
}
/*form#order-filter label, form#order-filter #text_search, form#order-filter div<.btn_search {
    flex: 1;
}*/
.manage-wholesaler-customer-index form#order-filter .input-text.search, .manage-wholesaler-customer-index form#order-filter .input-text.search, 
.manage-wholesaler-quickorder-index form#order-filter .input-text.search {
    margin: 0 15px;
}
.manage-wholesaler-customer-index .orders-history table a.action.view > span, .manage-wholesaler-customer-index .orders-history table a.action.delete > span,
.manage-wholesaler-quickorder-index .orders-history table a.click-me > span {
    background: #b38d4a none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    padding: 2px 10px;
    font-size: 12px;
}
/*.active-performance {
    margin: 0 -15px;
}*/
.click-action {
    display: inline-block;
    height: 200px;
    width: 25%;
    margin: 0 0 5px;
    vertical-align: top;
    position: relative;  
    background-image: url("../images/newsletter/newsletter.jpg") !important;
    background-position: center center;
    background-size: cover;
    border: 5px solid #b38d4a;
}
.perform-act {
    height: 100%;
}
.holdingLi {
    position: relative;
    z-index: 1;
    height: 100%;
}
ul.holdingLi li {
    float: left;
    width: 50%;
    height: 50%;
    margin: 0;
    position: relative;
    border-right: 1px solid #b38d4a;
}
ul.holdingLi li::last-child(), ul.holdingLi li::first-child() {
    border-right: 0px;
}
ul.holdingLi li.clickingHead {
    text-align: center;
    width: 100% !important;
    display: block !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #b38d4a;
}
.click-action::after {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}
li.clickingButton a.actions-bttn, li.clickingButton button.actions-bttn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    border: 0 !important;
}
li.clickingButton a.actions-bttn:hover {
    background:transparent !important;
    border-color: transparent !important;
}
/*-------14.01.2019---*/
.manage-wholesaler-account-info .panel-group .panel-heading, .customer-account-index .panel-group .panel-heading {
  padding: 0;
}
.manage-wholesaler-account-info .box.box-newsletter, .manage-wholesaler-account-info .container, .manage-wholesaler-account-info .panel-default,
.customer-account-index .box.box-newsletter, .customer-account-index .container, .customer-account-index .panel-default {
    width: 100% !important;
}
.manage-wholesaler-account-info .panel-group .panel-heading a.collapsed, .customer-account-index .panel-group .panel-heading a.collapsed {
    background: #ccc !important;
    color: #353535;
    font-size: 14px;
}
.manage-wholesaler-account-info .panel-group .panel-heading a, .customer-account-index .panel-group .panel-heading a, 
.customer-account-index .panel-group .panel-heading a, .customer-account-index .panel-group .panel-heading a {
    background: #caa86d;
    color: #ffffff;
}
.manage-wholesaler-measurement-index .form-edit-measurement .product.data.items>.item.content,
.manage-wholesaler-measurement-measurementcurrent .form-edit-measurement .product.data.items>.item.content {
    margin-top: 39px;
    border: 1px solid #ccc;
}
.manage-wholesaler-measurement-index .form-edit-measurement .data.item.title a, 
.manage-wholesaler-measurement-measurementcurrent .form-edit-measurement .data.item.title a {
    border-bottom: 1px solid #ccc !important;
}
.manage-wholesaler-measurement-index .form-edit-measurement .data.item.title.active a, 
.manage-wholesaler-measurement-measurementcurrent .data.item.title.active a {
    border-bottom: 0 !important;
}
.ct-filter-btn {
    display: flex;
}
.ct-filter-btn button {
    height: 30px;
    font-size: 14px !important;
    font-weight: 600;
    margin-right: 5px;    
    padding: 6px 10px !important;
}
.modal-inner-wrap .modal-content < #tool_modal {
    width: 50%;
}
.id-record-inp {
    margin-bottom: 15px;
}
.image_div_section {
    margin: 0 -10px;
    text-align: center;
}
.primary.choose-op {
    display: inline-block;
    padding: 0 10px;
}
a.choose-categories {
    border: 4px solid #808080;
    display: block;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
a.choose-categories img {
    -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
span.cat-name {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background: rgba(202,168,109,0.9);
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;transition: all 0.3s ease-in 0s;
}
a.choose-categories:hover .cat-name {
    left: 0;
}
a.choose-categories:hover img {
    transform: scale(1.2);
}
.perform-act:hover::after {
    background: rgba(202,168,109,0.5);
}
.design-display {
  border-radius: 0 !important;
}
/*----------wholseller order button status change-----------*/
.box-order-customer-details button.action.updateButton {
  margin-top:15px;
  width:auto !important;
  padding: 5px 30px !important;
  font-size: 12px !important; 
}
.sales-order-history #order-filter #order-status.form-control {
    width: 240px;
}
.abs-status-desktop, .return-status {
    padding: 3px 15px !important;
    border-radius: 25px;
    font-size: 12px;
    display: inline-block;
    margin-left: 15px;
    background: orange;
    border-color: orange;
    margin-top: 0 !important;
}
.order-status{
    padding: 3px 15px !important;
    border-radius: 25px;
    font-size: 12px;
    display: inline-block;
    background: orange;
    border-color: orange;
    margin-top: 0 !important;
}
/*--------design list----------*/
.row.customRow {
    margin-left: -19px;
    margin-right: -19px;
} 
.customManageDesign #productImage {
  width:35%;
}
.customManageDesign #styleTable {
  width:60%;
}
.manage-wholesaler-customer-design .design-image {
  height: 290px !important;
}
.manage-wholesaler-customer-design .design-image img {
  height: 100% !important;
  width: auto !important;
}
.manage-wholesaler-order-filter ul {
  margin:0 -15px;
}
.manage-wholesaler-order-filter ul.keywordFound li {
    float: left;
    padding: 0 15px;
}
.manage-wholesaler-order-filter span.label {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 13px !important;
    vertical-align: middle;
}
/*-----------Close button modal----------*/
.modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close {
    z-index: 10;
}
/*-----------header login button----------*/
ul.header.links > li {
    position: relative;
}
header .panel.header button.btn.dropdown-toggle {
    border: 0px !important;
    background: transparent !important;
    text-transform: uppercase;
}
header .panel.header .dropdown-menu {
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid #ddd;
    border-radius: 0;
}
header .panel.header .dropdown-menu li {
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
}
header .panel.header .dropdown-menu>li>a {
    padding: 10px 10px;
}

/*-----------Printing quantity managed - invoice----------*/

.sales-order-printinvoice .qty {
    text-align: right !important;
}
.shipping-tracking-popup .page-wrapper #maincontent {
    margin-top:30px !important;
}
.shipping-tracking-popup th.label {
    display: block;
    border-right: 0px solid #ccc;
    text-align: right;
}
.sales-order-printcreditmemo .qty {
    text-align: center !important;
}
/*----------export btn-------*/
a.exportBtn{
    width: auto !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    background: #353535 !important;
    border-color: #353535 !important;
    text-transform: uppercase;
    border-radius: 25px !important;
}
.sales-order-history a.exportBtn , .manage-wholesaler-finance-index a.exportBtn{
    margin-top: -40px !important;
}
/*---discount coupon-------*/
.cart-container {
  position: relative;
}
.cart-discount {
  position: absolute;
  left:0;
}
.page-with-filter .filter .block-subtitle {
    text-transform: uppercase !important;
}
.page-with-filter .filter-options-title {
    text-transform: capitalize !important;
}
/*-------------apply coupan code-----------*/
.checkout-cart-index .cart-discount {
    display: none;
}
/*---------------------7/5/2019-------------------------*/
.subscribe span {
    font-size: 10px;
}
.mark, mark {
    background-color: inherit!important;
}
.cart .continue,.cart-summary .action.multicheckout {
    display: inline-block !important;
    background: #b38d4a !important;
    border: 1px solid #b38d4a !important;
    color: #ffffff !important;
    border-radius: 25px !important;
    font-size: 14px !important;
    padding: 6px 10px !important;
    box-shadow: none;
    transition: all 0.3s ease-in 0s;-webkit-transition: all 0.3s ease-in 0s;-ms-transition: all 0.3s ease-in 0s;-moz-transition: all 0.3s ease-in 0s;-o-transition: all 0.3s ease-in 0s;
}
.cart .continue:hover,.cart-summary .action.multicheckout:hover {
    background: #353535 !important;
    border: 1px solid #353535 !important;
    color: #fff !important;
}
/*.page-products.page-layout-1column .products-grid .product-item {
    width: 33.33% !important;
    padding: 0 10px;
}
.page-products.page-layout-1column .products-grid .product-item .product-item-info {
    width: 100% !important;
}
.page-products.page-layout-1column .products-grid .product-item .product-item-info a.product.photo.product-item-photo {
    width: 100% !important;
    display: block;
    text-align: center;
}
.page-products.page-layout-1column .products-grid .product-item .product-item-info a.product.photo.product-item-photo img.photo.image {
    width: 100%;
}*/
.page-products.page-layout-1column .product-item-info {
  width: 100%;
}
.page-products.page-layout-1column .products-grid .product-item {
    width: 33.33% !important;
    padding: 5px 15px;
}
.products-grid .product-item-info a.product-item-photo {
    display: block;
    position: relative;
    height: 320px;
    background: #f5f5f5;
}
.products-grid .product-item-info a.product-item-photo img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.actions-secondary a {
  height: 34px;
  width: 34px;
  line-height: 34px;
  text-align: center;
}
.products-grid .product-item-info .product-item-details {
    margin-top: 20px;
}
.products-grid .product-item-info .product-item-details .product-item-name {
    line-height: 16px;
    margin-bottom: 5px;
}
.products-grid .product-item-info:hover, .products-grid .product-item-info.active  {
    padding: 0;
}
.price-box .price {
    color: #555;
    font-weight: 700;
    font-size: 16px;
}
.product-item .price-box {
  padding: 5px;
  margin: 0;
}
.page-products .products-grid .product-items {
  margin: 0 -15px;
}
/* Hide Category filter */
.catalog-category-view #layered-filter-block{
    display:none;
}