<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);


?>
<div class="actions">
    <?php  $_order = $block->getOrder() ?>
    <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
        <a href="#" data-post='<?php /* @escapeNotVerified */ echo
        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
            ->getPostData($block->getReorderUrl($_order))
        ?>' class="action order reorder_same" data-dir="<?php echo $_order->getWholesalersCustomerId();?>">
            <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
        </a>
    <?php endif ?>
    <a class="action print"
       href="<?= /* @escapeNotVerified */ $block->getPrintUrl($_order) ?>"
       onclick="this.target='_blank';">
        <span><?= /* @escapeNotVerified */ __('Print Order') ?></span>
    </a>
    <?= $block->getChildHtml() ?>
</div>


    <script>
        require([
            "jquery",
            "mage/calendar"
        ], function ($) {

            $(".reorder_same").on('click',function(){
            var record_id = $(this).attr('data-dir'); 
            var baseurl = "<?php echo $baseUrl; ?>";
                $.ajax ({
                    type:'POST',
                    url: baseurl+ "manage_wholesaler/quickorder/customerdata/",
                    data: { cust_id : record_id},
                    success: function(data) {
                    
                    }
                });
            });

        }



        );
    </script>