<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */
$_item = $block->getItem();
$item_id = $_item->getId();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

?>
<tr id="order-item-row-<?= /* @escapeNotVerified */ $_item->getId() ?>">
    <td class="col name" data-th="<?= $block->escapeHtml(__('Product Name')) ?>">
        <strong class="product name product-item-name"><?= $block->escapeHtml($_item->getName()) ?></strong>
        <?php if ($_options = $block->getItemOptions()): ?>
        <dl class="item-options">
        <?php foreach ($_options as $_option) : ?>
            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
            <?php if (!$block->getPrintStatus()): ?>
                <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                <dd>
                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                        <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                    <?php else: ?>
                        <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                    <?php endif; ?>
                </dd>
            <?php else: ?>
                <dd>
                    <?= nl2br($block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                </dd>
            <?php endif; ?>
        <?php endforeach; ?>
        </dl>
        <?php endif; ?>
        <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addtInfoBlock) :?>
            <?= $addtInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>

            <?php
                if($_item->getData('json')!=""){
                    $data_array = json_decode($_item->getData('json'));
                }else{
                    $data_array = array();
                }
            ?>

          <?php if (!is_null($_item->getData('json')) && !array_key_exists("rtw_measurement",$data_array) && !($this->getPrintStatus())):?>
              <button type="button" id="openModel<?php echo $item_id; ?>" data-id="<?php echo $item_id; ?>" class="btn myModel btn-primary">View Details</button>
          <?php endif; ?>

          <?php if (!is_null($_item->getData('json')) && array_key_exists("rtw_measurement",$data_array) && !($this->getPrintStatus())):?>
              <button type="button" id="openModel<?php echo $item_id; ?>" data-id="<?php echo $item_id; ?>" class="btn myModelrtw btn-primary">View Details</button>
          <?php endif; ?>


    </td>
    <td class="col sku" data-th="<?= $block->escapeHtml(__('SKU')) ?>"><?= /* @escapeNotVerified */ $block->prepareSku($block->getSku()) ?></td>
    <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
        <?= $block->getItemPriceHtml() ?>
    </td>
    <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <ul class="items-qty">
        <?php if ($block->getItem()->getQtyOrdered() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Ordered') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyOrdered()*1 ?></span>
            </li>
        <?php endif; ?>
        <?php if ($block->getItem()->getQtyShipped() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Shipped') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyShipped()*1 ?></span>
            </li>
        <?php endif; ?>
        <?php if ($block->getItem()->getQtyCanceled() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Canceled') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyCanceled()*1 ?></span>
            </li>
        <?php endif; ?>
        <?php if ($block->getItem()->getQtyRefunded() > 0): ?>
            <li class="item">
                <span class="title"><?= /* @escapeNotVerified */ __('Refunded') ?></span>
                <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyRefunded()*1 ?></span>
            </li>
        <?php endif; ?>
        </ul>
    </td>
    <td class="col subtotal" data-th="<?= $block->escapeHtml(__('Subtotal')) ?>">
        <?= $block->getItemRowTotalHtml() ?>
    </td>
    
</tr>





<style type="text/css">
#myModel {
  margin:0px -15px;
}
#productImage, .style-table-sec, .measurement-table-sec {
  width: 33.33%;
  float:left;
  padding: 0% 15px;
}


/*    #myModel{
        text-align: left; 
        width:100%; 
        padding-left: 5%;
    }*/
    #imageDiv{
        width: 150px;    
    }
    #imageCol{
        padding-right: 0%;
        width: 150px;
    }
    #productImage img{
      padding-top:20px;
    }
/*    #styleTable, #measurementTable{
        width: 30%;
        float:right;
        font-family: arial, sans-serif;  
        border-collapse: collapse;
        margin-top: 80px;
        margin-right:10px;
    }*/
    #styleTable td,#styleTable th,#measurementTable td,#measurementTable th {  
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;  
    }
    #styleTable tr:nth-child(even),#measurementTable tr:nth-child(even) { 
        background-color: #dddddd; 
    }
    .modal-popup .modal-inner-wrap {
       margin: 4rem auto !important;
    }
   .modal-slide
    {
       overflow: auto !important;
    }
   .modal-inner-wrap
    {
       z-index: 99999999999999999 !important;
    }
    .page-header
    {
      /*z-index: 1 !important;*/
    }
   .modal-popup .modal-header {
    padding-bottom: 0.2rem !important;
    padding-top: 2rem !important;
    border-bottom :none !important;
   }
   .modal-footer {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
  }
  .details{
    text-align: right !important;
  }
  .modal-header{
    background: #fff !important;
  }
</style>
