<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
$limit = $block->getLimit();
$page_num = $block->getPagenum();

?>
<?php $_orders = $block->isWholesaler() ? $block->getWholesalerOrders() : $block->getOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($block->isWholesaler()): ?>
    <?php
    $applyedFilter = $block->getApplyedFilters();
    ?>
    <form method="POST" name="order_filter" id="order-filter" action="<?= /* @escapeNotVerified */ $block->getFormAction() ?>">

        <table class="data table">
            <tr>        
                <td>
                    <div class="field overview required" data-role="filter-form" id="date_range">
                        <span class="field-row">
                            <label for="date_from">
                                <span><?= /* @escapeNotVerified */ __('Order Date From') ?>:</span>
                            </label>
                            <input class="input-text date date-field"
                                   type="text"
                                   id="date_from"
                                   name="date_from"
                                   value="<?= /* @escapeNotVerified */!empty($applyedFilter['date_from']) ? $applyedFilter['date_from'] : "" ?>"
                                   />
                            <span id="date_from_advice"></span>
                        </span>
                        <span class="field-row">
                            <label for="date_to">
                                <span><?= /* @escapeNotVerified */ __('To') ?>:</span>
                            </label>
                            <input class="input-text date date-field"
                                   type="text"
                                   id="date_to"
                                   name="date_to"
                                   value="<?= /* @escapeNotVerified */!empty($applyedFilter['date_to']) ? $applyedFilter['date_to'] : "" ?>"
                                   />
                            <span id="date_to_advice"></span>
                        </span>  
                    </div>
                </td>
                <td class="col"> 
                    <label for="order-status"><?= /* @escapeNotVerified */ __('Order Status') ?>:</label>                          
                    <select name="order_status" class="form-control order-status" id="order-status">
                        <option value=""><?= /* @escapeNotVerified */ __('Select Status') ?></option>                    
                        <?php foreach ($block->getStatusOptions() as $status): ?>                                        
                            <option <?= /* @escapeNotVerified */(!empty($applyedFilter['order_status']) && $status['value'] == $applyedFilter['order_status']) ? "selected" : "" ?> value="<?= /* @escapeNotVerified */ $status['value'] ?>"><?= /* @escapeNotVerified */ __($status['label']) ?></option>
                        <?php endforeach; ?>
                    </select>
                </td> 
                <td class="col">
                    <label for="order-status"><?= /* @escapeNotVerified */ __('Keyword Search') ?>:</label>                          
                    <input type="text" value="<?= /* @escapeNotVerified */!empty($applyedFilter['key_word']) ? $applyedFilter['key_word'] : "" ?>" name="key_word" class="input-text search">
                    <div class="actions">
                        <button type="submit"
                                value="submit"
                                name="submit"
                                placeholder="Customer Name"
                                title="<?= $block->escapeHtml(__('Search')) ?>"
                                class="action search-btn">
                            <span><?= /* @escapeNotVerified */ __('Search') ?></span>
                        </button>
                        <?php if (!is_null($applyedFilter)) : ?>
                            <button type="submit" 
                                    value="1"
                                    name="reset"
                                    title="<?= $block->escapeHtml(__('Reset Filter')) ?>"
                                    class="action reset">
                                <span><?= /* @escapeNotVerified */ __('Reset Filter') ?></span>
                            </button>
                        <?php endif; ?>
                    </div>

                </td>       
            </tr>  
        </table>
    </form>
    <?php if (!is_null($applyedFilter)) : ?>
        <ul class="keywordFound clearfix">
            <li><label>Filter By :</label></li>
            <li>
                <?php foreach ($applyedFilter as $key => $value): ?>
                    <?php if (!empty($value)): ?>
                        <span class="label label-warning"><?= /* @escapeNotVerified */ __($value) ?></span>
                    <?php endif; ?>
                <?php endforeach; ?>
            </li>
        </ul>
    <?php endif; ?>
<?php endif; ?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Orders') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                    <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Date') ?></th>
                    <?php if ($block->isWholesaler()): ?>
                        <th scope="col" class="col customer"><?= /* @escapeNotVerified */ __('CL Name') ?></th>
                    <?php endif; ?>
                    <?= /* @noEscape */ $block->getChildHtml('extra.column.header') ?>
                    <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Ship To') ?></th>
                    <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Order Total') ?></th>
                    <th scope="col" class="col status"><?= /* @escapeNotVerified */ __('Status') ?></th>
                    <th scope="col" class="col actions"><?= /* @escapeNotVerified */ __('Action') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_orders as $_order): ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                        <?php if ($block->isWholesaler()): ?>
                            <td data-th="<?= $block->escapeHtml(__('CL Name')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->getWholesalersCustomerName($_order->getWholesalersCustomerId()) ?></td>
                        <?php endif; ?>
                        <?php $extra = $block->getChildBlock('extra.container'); ?>
                        <?php if ($extra): ?>
                            <?php $extra->setOrder($_order); ?>
                            <?= /* @noEscape */ $extra->getChildHtml() ?>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                                <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                            </a>
                            <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                <a href="#" data-post='<?php
                                /* @escapeNotVerified */ echo
                                        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                        ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order reorder_same" data-dir="<?php echo $_order->getWholesalersCustomerId();?>">
                                    <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
                                </a>
                            <?php endif ?>
                            <?php if ($block->isWholesaler()): ?>                               
                                <a href="#" class="action action-delete" data-id="<?php echo $_order->getId(); ?>" data-pagenum="<?php echo $page_num; ?>" data-limit="<?php echo $limit; ?>">
                                    <span><?= /* @escapeNotVerified */ __('Delete') ?></span>
                                </a>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
        <?php endif ?>
        <?php if ($block->isWholesaler()): ?>

    <script>
        require([
            "jquery",
            "mage/calendar"
        ], function ($) {

            $("#date_range").dateRange({
                buttonText: "<?php echo __('Select Date') ?>",
                dateFormat: "yy-mm-dd",
                from: {
                    id: "date_from"
                },
                to: {
                    id: "date_to"
                }
            });

            $(".reorder_same").on('click',function(){
            var record_id = $(this).attr('data-dir'); 
            var baseurl = BASE_URL;
                $.ajax ({
                    type:'POST',
                    url: baseurl+ "manage_wholesaler/quickorder/customerdata/",
                    data: { cust_id : record_id},
                    success: function(data) {
                    
                    }
                });
            });

        });


    require(['jquery', 'jquery/ui','Magento_Ui/js/modal/confirm'], function($,jqueryui, confirmation){ 

        $(document).ready(function(){
            $('.action-delete').click(function(e)
            {
            var oid = $(this).attr('data-id');
            var pn = $(this).attr('data-pagenum');
            var lm = $(this).attr('data-limit');

            var param =  (lm!='') ? 'limit='+lm+'&' :''; 
            param+=(pn!='') ? 'p='+pn :''; 



            confirmation({
               title: '',
               content: 'Are you sure you want to delete this order?',
               actions:{
                confirm:function(){
                    $.ajax ({
                    type:'POST',
                    url: BASE_URL + "manage_wholesaler/order/index/",
                    data: { id : oid},
                    success: function(data) {
                        window.location.href = BASE_URL + "sales/order/history/?"+param;
                    }
                  });
                },
                cancel:function(){},
                always:function(){},
               } 
           });
         });
       });
    });

</script>
<?php endif; ?>

<style type="text/css">

  .limiter{
    float:right !important;
  }
</style>
