<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() 
?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?= /* @escapeNotVerified */ __('Order Information') ?></strong>
    </div>
    <?php if ($block->isWholesaler()): 
            $cl_name = $block->getCustomerName($_order->getWholesalersCustomerId());
            if($cl_name !=" "){
    ?>
        <div class="block-content">
            <div class="box box-order-customer-details">
                <strong class="box-title"><span><?= /* @escapeNotVerified */ __('Client Details') ?></span></strong>
                <div class="box-content">
                    <address><?= /* @escapeNotVerified */ $cl_name ?></address>
                </div>
            </div>
        </div>
    <?php }?>

    <?php endif; ?>
    <div class="block-content">
        <?php if (!$_order->getIsVirtual()): ?>
            <div class="box box-order-shipping-address">
                <strong class="box-title"><span><?= /* @escapeNotVerified */ __('Shipping Address') ?></span></strong>
                <div class="box-content">
                    <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
                </div>
            </div>

            <div class="box box-order-shipping-method">
                <strong class="box-title">
                    <span><?= /* @escapeNotVerified */ __('Shipping Method') ?></span>
                </strong>
                <div class="box-content">
                    <?php if ($_order->getShippingDescription()): ?>
                        <?= $block->escapeHtml($_order->getShippingDescription()) ?>
                    <?php else: ?>
                        <?= /* @escapeNotVerified */ __('No shipping information available') ?>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Payment Method') ?></span>
            </strong>
            <div class="box-content">
                <?= $block->getPaymentInfoHtml() ?>
            </div>
        </div>
    </div>
</div>
<?php if ($block->isWholesaler()): 

$statusArray = $block->getStatusOptions($_order->getStatus());
?>
    <form method="POST" name="order_filter" id="order-filter" action="<?= /* @escapeNotVerified */ $block->getFormAction() ?>">
        <div class="block block-order-details-view">
            <div class="block-title">
                <strong><?= /* @escapeNotVerified */ __('Update Order Status') ?></strong>
            </div>
            <div class="block-content">
                <div class="box box-order-customer-details">                
                    <div class="box-content">
                        <input type="hidden" name="order_id" value="<?= /* @escapeNotVerified */ $_order->getRealOrderId() ?>">                        
                        <select name="order_status" class="form-control order-status" id="order-status">
                            <?php foreach ($statusArray as $status): ?>                                        
                                <option <?= /* @escapeNotVerified */$_order->getStatus() == $status['value'] ? "selected" : ""; ?> value="<?= /* @escapeNotVerified */ $status['value'] ?>"><?= /* @escapeNotVerified */ __($status['label']) ?></option>
                            <?php endforeach; ?>
                        </select>

                        <button type="submit"                                
                                title="<?= $block->escapeHtml(__('Update')) ?>"
                                class="action updateButton">
                            <span><?= /* @escapeNotVerified */ __('Update') ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
<?php endif; ?>