<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);


?>
<div class="block block-dashboard-orders">
    <?php
    $_orders = $block->getOrders();
    $count = count($_orders);
    ?>
    <div class="block-title order">
        <strong><?= /* @escapeNotVerified */ __('Recent Orders') ?></strong>
        <?php if ($count > 0): ?>
            <a class="action view" href="<?= /* @escapeNotVerified */ $block->getUrl('sales/order/history') ?>">
                <span><?= /* @escapeNotVerified */ __('View All') ?></span>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">
        <?= $block->getChildHtml() ?>
        <?php if ($count > 0): ?>
            <div class="table-wrapper orders-recent">
                <table class="data table table-order-items recent" id="my-orders-table">
                    <caption class="table-caption"><?= /* @escapeNotVerified */ __('Recent Orders') ?></caption>
                    <thead>
                        <tr>
                            <th scope="col" class="col id"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                            <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Date') ?></th>
                            <?php if ($block->isWholesaler()): ?>
                                <th scope="col" class="col customer"><?= /* @escapeNotVerified */ __('CL Name') ?></th>
                            <?php endif; ?>
                            <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Ship To') ?></th>
                            <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Order Total') ?></th>
                            <th scope="col" class="col status"><?= /* @escapeNotVerified */ __('Status') ?></th>
                            <th scope="col" class="col actions"><?= /* @escapeNotVerified */ __('Action') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($_orders as $_order): ?>
                            <tr>
                                <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                                <?php if ($block->isWholesaler()): ?>
                                    <td data-th="<?= $block->escapeHtml(__('CL Name')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->getWholesalersCustomerName($_order->getWholesalersCustomerId()) ?></td>
                                <?php endif; ?>
                                <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= /* @escapeNotVerified */ $_order->getStatusLabel() ?></td>
                                <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                    <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                                        <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                                    </a>
                                    <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                        <a href="#" data-post='<?php
                                        /* @escapeNotVerified */ echo
                                                $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                                ->getPostData($block->getReorderUrl($_order))
                                        ?>' class="action order reorder_same" data-dir="<?php echo $_order->getWholesalersCustomerId();?>">
                                            <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
                                        </a>
                                        <?php if ($block->isWholesaler()): ?>                                           
                                        <a href="#" class="action action-delete" data-id="<?php echo $_order->getId(); ?>">
                                            <span><?= /* @escapeNotVerified */ __('Delete') ?></span>
                                        </a>
                                        <?php endif; ?>
                                    <?php endif ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        <?php else: ?>
            <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
                <?php endif; ?>
    </div>
</div>

    <script>
        require([
            "jquery"
        ], function ($) {

            $(".reorder_same").on('click',function(){
            var record_id = $(this).attr('data-dir'); 
            var baseurl = "<?php echo $baseUrl; ?>";
                $.ajax ({
                    type:'POST',
                    url: baseurl+ "manage_wholesaler/quickorder/customerdata/",
                    data: { cust_id : record_id},
                    success: function(data) {
                    
                    }
                });
            });

        });

    require(['jquery', 'jquery/ui','Magento_Ui/js/modal/confirm'], function($,jqueryui, confirmation){ 

        $(document).ready(function(){
            $('.action-delete').click(function(e)
            {
            var oid = $(this).attr('data-id');
            confirmation({
               title: '',
               content: 'Are you sure you want to delete this order?',
               actions:{
                confirm:function(){
                    $.ajax ({
                    type:'POST',
                    url: BASE_URL + "manage_wholesaler/order/index/",
                    data: { id : oid},
                    success: function(data) {
                        window.location.href = BASE_URL + "customer/account/";
                    }
                  });
                },
                cancel:function(){},
                always:function(){},
               } 
           });
         });
       });
    });
    </script>