<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<!-- <div class="newsletter-section">
  <h3 class="newsletter-head">Sign up for our newsletters and get <span>15%</span> off on your first order</h3>
  <div class="block newsletter">
      <div class="title"><strong><?= $block->escapeHtml(__('Newsletter')) ?></strong></div>
      <div class="content">
          <form class="form subscribe"
                novalidate
                action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                method="post"
                data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                id="newsletter-validate-detail">
              <div class="field newsletter">
                  <label class="label" for="newsletter"><span><?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?></span></label>
                  <div class="control">
                      <input name="email" type="email" id="newsletter"
                             placeholder="<?= $block->escapeHtml(__('Enter your email address')) ?>"
                             data-validate="{required:true, 'validate-email':true}"/>
                  </div>
              </div>
              <div class="actions">
                  <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                      <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div> -->