<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_category = $block->getCurrentCategory();
$_imgHtml = '';
if ($_imgUrl = $_category->getImageUrl()) {
    if ($_category->getIsProductCustomizable()) {
        $url = $this->getBaseUrl() . $_category->getCustomizableUrl();
        ?>
        <div class="category-image" style="background-image:url('<?php echo $_imgUrl ?> ')">
            <div class="categories-banner-btn">
                <button type="button" class="custom-edit-btn"  onclick="window.location.href = ' <?php echo $url ?> ';"><?= /* @escapeNotVerified */ __('Design Your Own') ?></button>
            </div>
        </div>
        <?php
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
        /* @escapeNotVerified */ echo $_imgHtml;
    }
}
?>
