<div class="block address-bar">
    <div class="title"><strong>Address</strong></div>
    <div class="content">
        <div class="footer-add">
            <p class="address-ling">Room 20A Kiu Fu Commercial Building <br> 300 Lockhart Road <br> Wan Chai <br> Hong Kong</p>
            <p><a href="tel:+6494461709"><i class="fa fa-phone"></i> + 44 (0) 2352634 000</a></p>
            <p><a href="mailto:info@thetailoringco.co" target="_blank"><i class="fa fa-envelope"></i> info@thetailoringco.co</a></p>
        </div>
    </div>
</div>
