<?php $mediaPath = $block->getMediaPath(); ?>
<?php $sliderCollection = $block->getSlider(); ?>
<!--Slider Section Start-->
<section class="banner-sec">
    <div class="banner-slider owl-carousel owl-theme">
        <?php foreach ($sliderCollection as $slider): ?>
            <div class="item fullHt" style="background-image: url(<?php echo $mediaPath . $slider->getImage() ?>);">
                <div class="banner-caption">
                    <div class="ban-hed"><?php echo $slider->getTitle() ?></div> 
                    <div class="sub-hed">
                        <span><?php echo $slider->getSubTitle() ?></span>                         
                    </div> 
                    <div class="sign-up-btn"><a href="<?php echo $slider->getButtonLink() != '' ? $slider->getButtonLink() : 'javascript:void(0)' ?>" class="btn"><?php echo $slider->getButtonTitle() ?><span class="icon-two-left-arrows"></span></a></div>
                </div>
            </div>
        <?php endforeach; ?>   
    </div>	
</section>
<!--Slider Section End-->

<!-- How it works section Start -->
<!--<section class="how-it-works">
    <div class="common-heading">
        <span>How It Works</span>
    </div>
    <div class="container">
        <div class="common-holder">
            <div class="row">
                <div class="col-sm-3">
                    <div class="how-work-blk">
                        <div class="rect-shape">
                            <span class="icon-notes"></span>
                        </div>
                        <h3 class="middle-heading">Sed ut perspiciatis</h3>
                        <div class="desp">
                            Sed ut perspiciatis unde omnis
                            error omnis iste
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="how-work-blk">
                        <div class="rect-shape">
                            <span class="icon-cloth"></span>
                        </div>
                        <h3 class="middle-heading">Sed ut perspiciatis</h3>
                        <div class="desp">
                            Sed ut perspiciatis unde omnis
                            error omnis iste
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="how-work-blk">
                        <div class="rect-shape">
                            <span class="icon-metre"></span>
                        </div>
                        <h3 class="middle-heading">Sed ut perspiciatis</h3>
                        <div class="desp">
                            Sed ut perspiciatis unde omnis
                            error omnis iste
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="how-work-blk">
                        <div class="rect-shape">
                            <span class="icon-guarantee"></span>
                        </div>
                        <h3 class="middle-heading">Sed ut perspiciatis</h3>
                        <div class="desp">
                            Sed ut perspiciatis unde omnis
                            error omnis iste
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>		
</section>	
<!-- How it works section End -->
<section class="how-it-works border-bottom">
<div class="common-heading"><span>How It Works</span></div>
<div class="container">
<div class="common-holder">
<div class="row">
<div class="col-sm-3">
<div class="how-work-blk">
<div class="rect-shape"><span class="icon-V3fashion"></span></div>
<h3 class="middle-heading">DESIGN</h3>
<div class="desp">Custom Design. Choose from a wide range of fabric and style options</div>
</div>
</div>
<div class="col-sm-3">
<div class="how-work-blk">
<div class="rect-shape"><span class="icon-metre"></span></div>
<h3 class="middle-heading">GET MEASURED</h3>
<div class="desp">Follow our step by step measurement instructions or download our guide to take to your local tailor.</div>
</div>
</div>
<div class="col-sm-3">
<div class="how-work-blk">
<div class="rect-shape"><span class="icon-V3sewing-machine"></span></div>
<h3 class="middle-heading">WORKSHOP</h3>
<div class="desp">Confirm your order and let our tailors craft you your MTM order.</div>
</div>
</div>
<div class="col-sm-3">
<div class="how-work-blk">
<div class="rect-shape"><span class="icon-V3bag"></span></div>
<h3 class="middle-heading">SHIPPING</h3>
<div class="desp">Our full process takes 3-4 weeks. This includes world wide shipping.</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!--About Us Section Start-->
<section class="about-us">
    <div class="container">		
        <div class="row">
            <div class="col-sm-6">
                <div class="about-video">
                    <img src="<?php echo $mediaPath ?>homepage/img/about-video.png" alt="video">
                    <span class="play-video"><i class="icon-play-button"></i></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-content">
                    <div class="common-heading text-left">
                        <span>About Us</span>
                    </div>
                    <div class="about-desp">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam</p>
                        <div class="sign-up-btn"><a href="javascript:void()" class="btn">Buy Now <span class="icon-two-left-arrows"></span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About Us Section End-->

<!--Ready To Wear Section Start-->
<?php $readyToWearCollection = $block->getReadyToWearCollection(); ?>
<section class="ready-to-waer">
    <div class="container">
        <div class="common-heading">
            <span>Ready To Wear</span>
        </div>
        <div class="product-slider owl-carousel owl-theme">
            <?php foreach ($readyToWearCollection as $product): ?>
                <?php $_ratingSummary = $block->getRatingSummary($product); ?>
                <div class="item">
                    <div class="product-hold text-center">
                        <div class="prod-img">
                            <a href="<?php echo $product->getProductUrl() ?>"><img src="<?php echo $block->getProductImage($product, 'product_base_image', 168, 243)->getUrl() ?>" alt="image"></a>
                        </div>
                        <div class="prod-name"><a href="<?php echo $product->getProductUrl() ?>"><?php echo $product->getName() ?></a></div>
                        <div class="prod-color"> 
                            <div class="prod-label">
                                <?php echo $product->getResource()->getAttribute('color')->getFrontend()->getValue($product) ?>
                            </div>                            
                        </div>
                        <div class="price-blk"><?php echo $block->getProductPrice($product->getPrice()) ?></div>
                        <div class="common-btn-blk">
                            <form data-role="tocart-form" action="<?php echo $block->getAddToCartUrlForProduct($product) ?>" method="post"> 
                                <?php echo $block->getBlockHtml('formkey') ?>
                                <div class="btn">
                                    <button type="submit" title="Add to Cart" class="btn common-btn">
                                        <span><?php echo __('Add to Cart') ?></span>
                                    </button>
                                </div>   
                            </form>                            
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>         
        </div>
    </div>
</section>
<!--Ready To Wear Section End-->

<!--Testimonial Section Start-->
<?php $testimonialCollection = $block->getTestimonials(); ?>
<section class="testimonials-sec" style="background-image: url('<?php echo $mediaPath ?>homepage/img/testmon.png');">
    <div class="container">
        <div class="common-heading">
            <span>Happy Customers</span>
        </div>
        <div class="testimonials-slider owl-carousel owl-theme">
            <?php foreach ($testimonialCollection as $testimonial): ?>
                <div class="item">
                    <div class="test-holder">
                        <div class="test-img">
                            <img src="<?php echo $block->getProfileImageUrl($testimonial); ?>" alt="test image"/>
                        </div>
                        <div class="test-desc">
                            <p><?php echo $testimonial->getMessage() ?></p>
                            <div class="test-writer"><?php echo $testimonial->getName() ?></div>
                            <div class="test-designation"><?php echo $testimonial->getCompany() ?></div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>           
        </div>
    </div>
</section>
<!--Testimonial Section End-->
