<div class="block quick-links">
    <div class="quick-links">    
        <div class="title"><strong>Quick Links</strong></div>
        <div class="content">
            <ul class="footer links">
                <li class="nav item">
                    <a href="<?php echo $block->getbaseUrl() ?>contact-us/">Contact Us</a>
                </li>
                <li class="nav item">
                    <a href="<?php echo $block->getbaseUrl() ?>terms-and-conditons/">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
<!--     <div class="social-links">    
        <div class="title">Social Media Links</div>
        <div class="content">
            <ul class="footer social-links">
                <li class="nav item">                    
                    <a href="javascript:void(0)" class="fa fa-facebook"></a>
                </li>
                <li class="nav item">
                    <a href="javascript:void(0)" class="fa fa-twitter"></a>
                </li>
                <li class="nav item">
                    <a href="javascript:void(0)" class="fa fa-linkedin"></a>
                </li>
            </ul>
        </div>
    </div> -->


    <div class="newsletter-section">
      <h3 class="newsletter-head">Sign up for our newsletters</h3>
      <div class="block newsletter">
          <div class="title"><strong><?= $block->escapeHtml(__('Newsletter')) ?></strong></div>
          <div class="content">
              <form class="form subscribe"
                    novalidate
                    action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
                    method="post"
                    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                    id="newsletter-validate-detail">
                  <div class="field newsletter">
                      <label class="label" for="newsletter"><span><?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?></span></label>
                      <div class="control">
                          <input name="email" type="email" id="newsletter"
                                 placeholder="<?= $block->escapeHtml(__('Enter your email address')) ?>"
                                 data-validate="{required:true, 'validate-email':true}"/>
                      </div>
                  </div>
                  <div class="actions">
                      <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                          <span><?= $block->escapeHtml(__('Subscribe')) ?></span>
                      </button>
                  </div>
              </form>
          </div>
      </div>
    </div>

















</div>