    <div class="social-links">    
        <div class="title">Social Media Links</div>
        <div class="content">
            <ul class="footer social-links">
                <li class="nav item">                    
                    <a href="javascript:void(0)" class="fa fa-facebook"></a>
                </li>
                <li class="nav item">
                    <a href="javascript:void(0)" class="fa fa-twitter"></a>
                </li>
                <li class="nav item">
                    <a href="javascript:void(0)" class="fa fa-linkedin"></a>
                </li>
            </ul>
        </div>
    </div>
