<div class="top-arrow" id="toTop" style="display: none;">
    <img src="<?php echo $block->getViewFileUrl('images/uparrow.png') ?>" alt="">
    <a href="javascript:void(0);"><i class="fa fa-angle-up"></i></a>
</div>