<div class="block why-shop">
    <div class="title"><strong>Why Shop With Us?</strong></div>
    <div class="content">
        <ul class="footer why-shop">
            <p>laudantium, totam rem aperiam, eaque quae ab illo inventore 
            <!-- <a href="javascript:void(0);" class="read-more">Read more...</a></p> -->
        </ul>
    </div>
</div>