<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$_item = $block->getItem();
$itemId = $_item->getId();
$product = $_item->getProduct();
$prod_id = $product->getId();

$data = json_decode($_item->getData('json'), true);

if (isset($data['type'])) {
    if ($data['type'] == 'Shirt') {
        $designUrl = $baseUrl . "men-shirt/index/index/item_id/" . $itemId;
    } else if ($data['type'] == 'Suit') {
        $designUrl = $baseUrl . "men-suit/index/index/item_id/" . $itemId;
    } else if ($data['type'] == 'WomenShirt') {
        $designUrl = $baseUrl . "women-shirt/index/index/item_id/" . $itemId;
    } else if ($data['type'] == 'WomenSuit') {
        $designUrl = $baseUrl . "women-suit/index/index/item_id/" . $itemId;
    }
}
?>

<?php if ($block->isProductVisibleInSiteVisibility()): ?>


    <?php if (is_null($data) || array_key_exists('rtw_measurement', $data)) { ?>

        <a class="action action-edit"
           href="<?= /* @escapeNotVerified */ $block->getConfigureUrl() ?>"
           title="<?= $block->escapeHtml(__('Edit item parameters')) ?>">
            <span>
                <?= /* @escapeNotVerified */ __('Edit') ?>
            </span>
        </a>


    <?php } else { ?>

        <a class="action action-edit"
           href="<?= /* @escapeNotVerified */ $designUrl ?>"
           title="<?= $block->escapeHtml(__('Edit item parameters')) ?>">
            <span>
                <?= /* @escapeNotVerified */ __('Edit') ?>
            </span>
        </a>

    <?php } ?>

    <?php


 endif ?>