<p>{{template config_path="design/email/header_template"}}</p>
<h3 style="color: #073763;">Hi {{var custname}},</h3>
<p>{{var desc}}</p>

<a href="{{var loginUrl}}"> {{var message}} </a>

<p>{{template config_path="design/email/footer_template"}}</p>